Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Remove the book-covers composition example from the carousel demo page
  openlibrary/templates/design/components/carousel.html.jinja
  static/css/page-design.css
Due: none

Clamp ol-carousel drag release to the page adjacent to the grab
  openlibrary/components/lit/OlCarousel.js
  tests/e2e/ol-carousel.spec.ts
  tests/unit/js/OlCarousel.test.js
Due: none

Merge pull request #13314 from Sadashii/13308/fix/move-preview-options-above-read-for-open-access
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  static/css/components/read-panel.css
Due: generate-pot, detect-missing-i18n

Add script that backfills store_index IDs
  scripts/backfill_store_index.py
Due: generate-pot

Remove stray pytest debug output
  openlibrary/core/stats.py
  openlibrary/plugins/openlibrary/tests/conftest.py
Due: generate-pot

Back up /opt/openlibrary to openlibrary_previous before deploy swap
  scripts/deployment/deploy.sh
Due: none

Drop solr_next fallback for author name sort now that reindex is complete
  openlibrary/plugins/worksearch/schemes/authors.py
Due: generate-pot

Add a keyboard-focus demo with tabbable cards to the carousel docs
  openlibrary/templates/design/components/carousel.html.jinja
  static/css/page-design.css
Due: none

Keep ol-markdown-editor from widening past its container
  openlibrary/components/lit/OLMarkdownEditor.js
  static/css/page-design.css
Due: none

Align header control heights and group avatar with menu in a ghost button
  openlibrary/templates/lib/browse_popover.html
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar--desktop.css
  static/css/components/header-bar--tablet.css
  static/css/components/header-bar.css
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

e2e: cover logged-in state; fix rating-button contrast and login-page JS error (#13366)
  docker/mockservices/main.py
  docker/mockservices/tests/test_e2e.py
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/templates/login.html
  static/css/components/rating-form.css
  tests/e2e/README.md
  tests/e2e/a11y.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/home.spec.ts
  tests/e2e/login.spec.ts
  tests/e2e/my-books.spec.ts
  tests/e2e/work.spec.ts
Due: generate-pot, detect-missing-i18n

Take author name sort out of beta (#13487)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/templates/search/sort_options.html
Due: generate-pot, detect-missing-i18n

Preserve Currently Reading / Stopped Reading when rating a book
  openlibrary/core/ratings.py
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/plugins/openlibrary/js/star-ratings/index.js
  openlibrary/tests/core/test_ratings.py
Due: generate-pot

Rename ol-book-actions to ol-shelf-actions
  openlibrary/components/lit/OlBookCover.js
  openlibrary/components/lit/OlShelfActions.js
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/shelf-actions.html.jinja
  openlibrary/templates/design/components/shelf-button.html.jinja
  tests/unit/js/OlShelfActions.test.js
  tests/unit/js/OlShelfButton.test.js
Due: generate-pot

Clear the check-in date when a book leaves its shelf
  openlibrary/components/lit/OlShelfActions.js
  tests/unit/js/OlShelfActions.test.js
Due: none

Add a Clear date action to the check-in pane
  openlibrary/components/lit/OlShelfActions.js
  openlibrary/components/lit/utils/books-api.js
  openlibrary/templates/design/components/shelf-actions.html.jinja
  tests/unit/js/OlShelfActions.test.js
Due: none

Restore the Preview button for preview-only books outside book pages
  openlibrary/macros/LoanStatus.html
Due: generate-pot, detect-missing-i18n

Freeze LoanStatus's state x surface behaviour in a golden matrix
  openlibrary/tests/snapshots/loan_status_matrix.txt
  openlibrary/tests/test_loan_status_matrix.py
Due: generate-pot

Make snapshot regeneration impossible to miss
  openlibrary/tests/test_loan_status_matrix.py
Due: generate-pot

fix: make /account/otp failures visible (real status codes + logging)
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/tests/test_account.py
Due: generate-pot

Open the search modal trigger's drop target only on drop, not dragover
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  tests/unit/js/searchModalTriggerDrag.test.js
Due: none

fix: drop unusable url template from itan_technologies identifier
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

Write the matrix down by hand instead of generating it
  openlibrary/tests/snapshots/loan_status_matrix.txt
  openlibrary/tests/test_loan_status_matrix.py
Due: generate-pot

fix: preserve search state in advanced search
  openlibrary/macros/SearchNavigation.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/search/advancedsearch.html
  openlibrary/tests/test_templates.py
Due: generate-pot, detect-missing-i18n

fix(css): style 'Add to List' button to match reading-log btn on orphaned editions
  static/css/components/mybooks-dropper.css
Due: none

refactor(bookworm): address review feedback (typing, harvest split, cleanups)
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/opds.py
  openlibrary/bookworm/registry.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book_acquisitions.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/import_validator.py
  scripts/bookworm_harvest.py
Due: generate-pot

perf(lending): reuse loan in sync_loan
  openlibrary/plugins/upstream/models.py
Due: generate-pot

fix(lint): add explicit type to 'features' prop in BookRoom.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

fix: resolve remaining Vue lint warnings
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/LibraryExplorer/components/FlatBookCover.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/ObservationForm/components/CategorySelector.vue
  openlibrary/components/ObservationForm/components/OLChip.vue
Due: none

perf(lending): avoid duplicate Archive.org loan lookups
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

refactor(bookworm): address adversarial + clarity review of the refactor
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/opds.py
  openlibrary/bookworm/registry.py
  openlibrary/catalog/add_book/__init__.py
  scripts/bookworm_harvest.py
Due: generate-pot

Fix tar-index cache never hitting due to float shard key
  openlibrary/coverstore/code.py
Due: generate-pot

Filter Search Inside by language with the FTS lang param
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextResults.html
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/inside/tests/test_code.py
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/templates/search/inside.html
  openlibrary/tests/fastapi/test_search.py
  tests/unit/js/searchFilterBar.test.js
Due: generate-pot, detect-missing-i18n

Fix audience field naming
  openlibrary/plugins/openlibrary/types/work.type
  openlibrary/schemata/work.schema.json
Due: none

Potential fix for pull request finding
  scripts/backfill_store_index.py
Due: generate-pot

Stop the FTS wire format at one boundary; decide empty pages in Python
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/macros/FulltextSnippet.html
  openlibrary/macros/FulltextSuggestionSnippet.html
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/inside/tests/test_code.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/search/inside.html
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot, detect-missing-i18n

Move the search modal's fulltext band into its own controller
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltextBand.js
  tests/unit/js/searchModalFulltext.test.js
Due: none

Update for CI/CD checks
  scripts/backfill_store_index.py
Due: generate-pot

Drop the test fixture for the deleted sync fulltext_search
  openlibrary/tests/fastapi/conftest.py
Due: generate-pot

Sharpen the fulltext band's two gating heuristics
  openlibrary/plugins/openlibrary/js/search-modal/fulltext.js
  tests/unit/js/searchModalFulltext.test.js
Due: none
