Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Fix book byline including spaces around commas
  openlibrary/macros/BookByline.html
Due: generate-pot, detect-missing-i18n

Issue #8911: Initial commit with updated files
  openlibrary/templates/type/edition/advanced_options.html
  openlibrary/templates/viewpage.html
Due: generate-pot, detect-missing-i18n

Issue #8911: Move revert button to advanced_options.html
  openlibrary/templates/type/edition/admin_bar.html
  static/css/components/work.less
Due: generate-pot, detect-missing-i18n

Fix: Increase spacing between source record links for accessibility
  openlibrary/templates/type/edition/view.html
  static/css/components/work.less
Due: generate-pot, detect-missing-i18n

added key interception to prevent form submission on enter key
  openlibrary/plugins/openlibrary/js/edit.js
Due: none

Speed up `npm ci` ~55% by creating separate package.json for storybook stories (#10612)
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  stories/.npmrc
  stories/.storybook/main.js
  stories/.storybook/preview.js
  stories/README.md
  stories/package.json
Due: none

Avoid redirect when clicking on books in search results by including title slug in URL
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

Make Want to Read also edition-specific to avoid language confusion
  openlibrary/core/bookshelves.py
Due: generate-pot

Fix list querying case when out of results
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Make QueryCarousel use edition-aware search
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

Make MoreLikeThis carousels require user language
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/books/RelatedWorksCarousel.html
Due: generate-pot, detect-missing-i18n

Checking solution to the carousel not loading.
  openlibrary/templates/books/RelatedWorksCarousel.html
Due: generate-pot, detect-missing-i18n

Forward lang param to partials endpoint
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/js/carousels_partials.js
Due: generate-pot, detect-missing-i18n

Fixed misc errors, removed incomplete 'require_user_lang' functionality.
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/js/carousels_partials.js
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

Revert "Make MoreLikeThis carousels require user language"
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/books/RelatedWorksCarousel.html
Due: generate-pot, detect-missing-i18n

Handle redirect docs which don't have a title
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

fix mybooks my lists carousels
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

handle case where user inputs too many pipes
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

Update openlibrary/plugins/upstream/table_of_contents.py
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

create TocParseError and throw error when toc values don't match their expected type
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

suggested changes
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

remove import
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

Apply suggestions from code review
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

Add descriptive error for malformed TOC entry (#10574)
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/table_of_contents.py
Due: generate-pot

Make creating/editing global lists public
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/type/list/edit.html
Due: generate-pot, detect-missing-i18n

Add new carousel read button definition
  openlibrary/macros/ReadButton.html
Due: generate-pot, detect-missing-i18n

Fix docker compose build not running during deploy
  scripts/deployment/deploy.sh
Due: none

Make creating/editing global lists public (#10629)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/type/list/edit.html
Due: generate-pot, detect-missing-i18n

Avoid redirect when clicking on books in search results by including title slug in URL (#10621)
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

Update import API to use key/remote_ids instead of ol_id/identifiers to match type schema
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  scripts/providers/import_wikisource.py
Due: generate-pot

Have Author.merge_remote_ids error on conflict for now
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/core/models.py
Due: generate-pot

feat: use author identifiers in import API (#10110)
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/core/models.py
  openlibrary/plugins/importapi/import_edition_builder.py
  openlibrary/plugins/importapi/import_validator.py
  requirements.txt
  requirements_scripts.txt
  scripts/providers/import_wikisource.py
Due: generate-pot

Small fixes to wikisource import
  scripts/providers/import_wikisource.py
Due: generate-pot

Fix issue #2723: Improve list search functionality
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/templates/search/lists.html
Due: generate-pot, detect-missing-i18n

CR feedback/refactorings for list search
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/templates/search/lists.html
Due: generate-pot, detect-missing-i18n

Fix global lists not rendering name in preview
  openlibrary/templates/lists/preview.html
Due: generate-pot, detect-missing-i18n

Fix npm install hanging in jenkins
  docker/Dockerfile.oldev
Due: none

Add Wikidata table export to data dumps (#10383)
  scripts/dump-wikidata.sql
  scripts/oldump.sh
Due: none

Some small CR fixes
  scripts/oldump.sh
Due: none

Make messages.pot order deterministic
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
Due: generate-pot
