Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

TMP
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Add OBFI_LOG_DIR env var
  scripts/obfi.sh
Due: none

Small tweaks/fixes to trending-updater
  scripts/obfi.sh
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Replace logger with print statements
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Small fixes
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Add --dry-run options to all trending_updater scripts
  scripts/solr_updater/trending_updater_daily.py
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

Fix obfi_range at file boundaries
  scripts/obfi.sh
Due: none

Add solr_updater --no-trending-updater flag
  scripts/solr_updater/solr_updater.py
Due: generate-pot

Mount www0_1 to solr-next-updater
  compose.production.yaml
Due: none

Fix obfi_find_log edge case when one day before access.log
  scripts/obfi.sh
Due: none

Small tweaks
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Add trending_update_init start timestamp option
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

[trending] handle nginx log outages
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

[trending] fix trending init start/edge cases
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

[obfi] Fix obfi_range lexicographically comparing bug + fix obfi_find_log edge cases
  scripts/obfi.sh
Due: none

[obfi] Make obfi_previous_minute faster with tac
  scripts/obfi.sh
Due: none

[obfi] Fix erroring in non-docker environments
  scripts/obfi.sh
Due: none

[obfi] Update docs
  scripts/obfi.sh
Due: none

Add S3 authentication support for import API endpoints
  openlibrary/accounts/model.py
  openlibrary/plugins/importapi/code.py
Due: generate-pot

[trending] fix trending init stopping too early
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

[trending] fix obfi_range bugs + add method to apply after greps for better perf
  scripts/obfi.sh
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Update check-in POST handler
  openlibrary/plugins/upstream/checkins.py
Due: generate-pot

Populate check-in dialog from template
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadDateComponents.js
  openlibrary/templates/check_ins/check_in_form.html
  openlibrary/templates/check_ins/check_in_prompt.html
  openlibrary/templates/my_books/check_ins/check_in_form.html
  openlibrary/templates/my_books/check_ins/check_in_prompt.html
  openlibrary/templates/my_books/dropper.html
Due: generate-pot, detect-missing-i18n

Add some tests
  scripts/monitoring/utils.py
  scripts/solr_updater/tests/test_trending_updater_init.py
  scripts/tests/sample_nginx_access.log
  scripts/tests/test_obfi_sh.py
Due: generate-pot

fix css naming
  openlibrary/templates/covers/external_image.html
  static/css/components/cbox.less
Due: generate-pot, detect-missing-i18n

remove old comment
  openlibrary/templates/covers/external_image.html
Due: generate-pot, detect-missing-i18n

remove unneeded test
  openlibrary/tests/core/test_wikidata.py
Due: generate-pot

fix string bug
  openlibrary/templates/covers/external_image.html
Due: generate-pot, detect-missing-i18n

create loading gradient file
  openlibrary/plugins/openlibrary/js/index.js
Due: none

create loading gradient file
  openlibrary/plugins/openlibrary/js/loading-gradient.js
Due: none

add once:true to event handlers
  openlibrary/plugins/openlibrary/js/loading-gradient.js
Due: none

greatly improve loading gradient code
  openlibrary/plugins/openlibrary/js/loading-gradient.js
Due: none

make fetchPartials async
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Due: none

init loading gradient after partials load
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Due: none

add border-radius and slower animation
  static/css/base/common.less
Due: none

appease bundlesize
  bundlesize.config.json
Due: none

slick carousels now pre-load on hover
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Due: none

Turn off IA cover upload button if it is found the most recent cover upload was from IA
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Experiment with including page views in trending score calculation
  scripts/obfi.sh
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot
