Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

docs: create roadmap (4 phases)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(01-quickstart): create phase 1 plan - Quickstart & Authentication Foundation
  .planning/ROADMAP.md
  .planning/phases/01-quickstart/01-quickstart-01-PLAN.md
Due: none

feat(01-quickstart): add getting started and authentication documentation
  docs/api/authentication.md
  docs/api/getting-started.md
Due: none

docs(01-quickstart): complete phase 1 - update summary and state
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-quickstart/01-quickstart-01-SUMMARY.md
Due: none

refactor: add response model and Path annotation to ratings endpoints
  openlibrary/fastapi/internal/api.py
Due: generate-pot

docs(api): add core API reference documentation
  docs/api/authors.md
  docs/api/books.md
  docs/api/covers.md
  docs/api/search.md
  docs/api/subjects.md
Due: none

add BEM CSS for subject tags
  openlibrary/macros/SubjectTags.html
Due: generate-pot, detect-missing-i18n

docs(02-api-reference): complete Phase 2 API reference plan
  .planning/phases/02-api-reference/02-api-reference-01-SUMMARY.md
Due: none

chore(planning): update state after Phase 2 completion
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(03): create phase plan for code examples
  .planning/ROADMAP.md
  .planning/phases/03-code-examples/03-code-examples-01-PLAN.md
Due: none

feat(03-01): add JS and Python code examples to Search API docs
  docs/api/search.md
Due: none

feat(03-01): add JS and Python code examples to Books API docs
  docs/api/books.md
Due: none

feat(03-01): add JS and Python code examples to Authors API docs
  docs/api/authors.md
Due: none

feat(03-01): add JS and Python code examples to Subjects API docs
  docs/api/subjects.md
Due: none

feat(03-01): add JS and Python code examples to Covers API docs
  docs/api/covers.md
Due: none

docs(03-01): complete Phase 3 - API Code Examples summary and state updates
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/03-code-examples/03-code-examples-01-SUMMARY.md
Due: none

docs(04): create phase plan for error handling and troubleshooting
  .planning/ROADMAP.md
  .planning/phases/04-error-handling/04-error-handling-01-PLAN.md
Due: none

docs(04-01): create error handling and rate limiting guide
  docs/api/errors.md
Due: none

docs(04-01): link error guide in getting started and auth docs
  docs/api/authentication.md
  docs/api/getting-started.md
Due: none

docs(04-01): complete error handling and troubleshooting guide
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/04-error-handling/04-error-handling-01-SUMMARY.md
Due: none

docs: add API reference plan for major endpoints documentation
  .planning/config.json
  .planning/phases/02-api-reference/02-api-reference-01-PLAN.md
Due: none

style: update color variables in custom CSS for improved theme consistency
  docs-site/src/css/custom.css
Due: none

style: clean up dark theme color variables for consistency
  docs-site/src/css/custom.css
Due: none

Update docs-site/docs/api/getting-started.md
  docs-site/docs/api/getting-started.md
Due: none

Update OLChip styles: change font family to button and adjust line height for better alignment
  openlibrary/components/lit/OLChip.js
  static/css/tokens/line-heights.css
Due: none

Add chip-label prop to OLChip for accessible facet context
  openlibrary/components/lit/OLChip.js
  openlibrary/templates/search/work_search_selected_facets.html
Due: generate-pot, detect-missing-i18n

Update stylelint configuration and CSS files
  .stylelintrc.json
  static/css/base/headings.css
  static/css/page-user.css
Due: none

fix PR based on feedback
  openlibrary/macros/SubjectTags.html
  static/css/components/tagging-menu.css
Due: generate-pot, detect-missing-i18n

Wrap chip demo labels in design.html with i18n calls
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

fix: preserve spaces around inline HTML tags in reformat_html
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Address feedbacks: remove try/except, fix work_id type, resolve merge conflict
  openlibrary/fastapi/internal/api.py
  openlibrary/tests/fastapi/test_booknotes.py
Due: generate-pot

Migrate trending books API to FastAPI
  openlibrary/fastapi/internal/api.py
  openlibrary/tests/fastapi/test_trending.py
  tests/integration/temporary/test_trending_comparison.sh
Due: generate-pot

Add Pre-commit suggestions
  scripts/migrations/int_to_bigint.sh
Due: none

Add actions where needed
  openlibrary/accounts/model.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/models.py
  openlibrary/olbase/events.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/bulk_tag.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/addtag.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/covers.py
  scripts/copydocs.py
  scripts/update_stale_ocaid_references.py
Due: generate-pot

use @cache instead of @web.memoize for i18n
  openlibrary/i18n/__init__.py
Due: generate-pot

suggested approach for fixing utcnow() deprecation
  openlibrary/utils/bulkimport.py
Due: generate-pot

replace hacky custom Infogami date converter
  openlibrary/core/helpers.py
Due: generate-pot

remove deprecated utcnow() from waitinglist.py
  openlibrary/core/waitinglist.py
Due: generate-pot
