Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

improved docker documentation (#10374)
  docker/README.md
Due: none

Fixed rendering of ISBN to phone numer in Safari
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Refactor: make parameter name match variable
  openlibrary/core/vendors.py
Due: generate-pot

Imports: use http proxy on coverstore
  openlibrary/coverstore/code.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Imports: add books.google.com as allowed cover host
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

Refactor: remove unused import
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Imports: consolidate `load()` cover logic
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

Imports: allow imports via BookWorm again
  openlibrary/core/vendors.py
  scripts/affiliate_server.py
Due: generate-pot

Imports: export HTTP_PROXY value in `add_book.__init__()`
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

Imports: only process covers from supported hosts in `load()`
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
Due: generate-pot

Refactor: remove unused variable and use py3 requests call
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

Refactor: move setup_requests because of circular imports
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/upstream/utils.py
  scripts/affiliate_server.py
  scripts/partner_batch_imports.py
Due: generate-pot

Docs: add a comment to help people find code for /load
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Fix spelling error in README
  docker/README.md
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

add back rule and add noqa statements
  openlibrary/data/dump.py
  pyproject.toml
  scripts/obfi/mktable.py
Due: generate-pot

Update mybooks-menu.less
  static/css/components/mybooks-menu.less
Due: none

Fix copy authors/subjects when moving edition to new work
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_addbook.py
Due: generate-pot

Only load polyfills once per all vue component
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Always clear build directory when creating components
  Makefile
Due: none

abolish get_title
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

checkout master of merge conflict files
  .pre-commit-config.yaml
Due: none

Add `response` to Sentry logs
  openlibrary/accounts/model.py
  openlibrary/utils/sentry.py
Due: generate-pot

add webp support to coverstore
  openlibrary/plugins/upstream/covers.py
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

type hint fix
  openlibrary/plugins/worksearch/autocomplete.py
Due: generate-pot

fixed type hint
  openlibrary/plugins/worksearch/autocomplete.py
Due: generate-pot

fixed type hint
  scripts/partner_batch_imports.py
Due: generate-pot

fix bug/type
  openlibrary/core/booknotes.py
  openlibrary/core/follows.py
  openlibrary/core/models.py
  openlibrary/core/observations.py
  openlibrary/core/processors/readableurls.py
  openlibrary/core/ratings.py
  openlibrary/plugins/upstream/forms.py
Due: generate-pot

ruff RUF012
  openlibrary/tests/core/test_db.py
Due: generate-pot

RUF012
  openlibrary/tests/core/test_db.py
Due: generate-pot

RUF012
  openlibrary/utils/schema.py
Due: generate-pot

RUF012
  openlibrary/plugins/worksearch/schemes/editions.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
