Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

chore: remove remaining deprecated web.py endpoints migrated to FastAPI (#13383)
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/upstream/checkins.py
  openlibrary/plugins/upstream/tests/test_checkins.py
  openlibrary/tests/fastapi/test_hide_banner.py
  openlibrary/tests/fastapi/test_link.py
  openlibrary/tests/fastapi/test_monthly_logins.py
  openlibrary/tests/fastapi/test_qrcode.py
  openlibrary/tests/fastapi/test_work_bookshelves.py
  openlibrary/tests/fastapi/test_work_editions_author_works.py
Due: generate-pot

fix: move blocking I/O from templates to Python handlers (8 of 16 easy migrations)
  BLOCKING_IO_MIGRATION_REPORT.md
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/authors.py
  openlibrary/plugins/upstream/covers.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/admin/imports_by_date.html
  openlibrary/templates/admin/index.html
  openlibrary/templates/authors/index.html
  openlibrary/templates/covers/saved.html
  openlibrary/templates/showia.html
  openlibrary/templates/showmarc.html
  openlibrary/views/showmarc.py
Due: generate-pot, detect-missing-i18n

feat(search): implement minimal Solr editions table view
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/templates/type/work/editions_datatable.html
  openlibrary/templates/type/work/solr_editions_table.html
  openlibrary/tests/plugins/worksearch/test_solr_editions_table.py
  openlibrary/utils/solr.py
Due: generate-pot, detect-missing-i18n

Fix list grid view alignment
  openlibrary/i18n/messages.pot
  openlibrary/macros/BookPreview.html
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

subjects: add a subject-scoped search box above the carousel
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/graphs/plot.js
  openlibrary/templates/subjects.html
  static/css/components/subject-masthead.css
Due: generate-pot, detect-missing-i18n

subjects: cache the publishing history off the page's query
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
Due: generate-pot

Add books-display JSON endpoints for the ol-books-display component
  openlibrary/asgi_app.py
  openlibrary/core/bookshelves.py
  openlibrary/core/ratings.py
  openlibrary/fastapi/books_display.py
  openlibrary/fastapi/services/books_display.py
  openlibrary/tests/fastapi/test_books_display.py
Due: generate-pot

Proxy books-display endpoints in dev; prefer the work's cover
  compose.yaml
  openlibrary/fastapi/services/books_display.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/tests/fastapi/test_books_display.py
Due: generate-pot

Wire the book demos to the signed-in reader
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design.html
  openlibrary/templates/design/components/_books_display_data.html.jinja
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/books-display.html.jinja
Due: generate-pot, detect-missing-i18n

fix: remove blocking I/O fallbacks from migrated templates
  openlibrary/plugins/upstream/covers.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/admin/imports_by_date.html
  openlibrary/templates/authors/index.html
  openlibrary/templates/covers/saved.html
  openlibrary/templates/showia.html
  openlibrary/templates/showmarc.html
Due: generate-pot, detect-missing-i18n

refactor: remove now-unused params from migrated templates
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/imports_by_date.html
  openlibrary/templates/showia.html
  openlibrary/templates/showmarc.html
  openlibrary/views/showmarc.py
Due: generate-pot, detect-missing-i18n

refactor: remove random_author_search from template globals
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Delete BLOCKING_IO_MIGRATION_REPORT.md
  BLOCKING_IO_MIGRATION_REPORT.md
Due: none

Fix search facets fallback when partial loading fails (#13380)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/search.js
  openlibrary/templates/search/work_search_facets.html
  tests/unit/js/search.test.js
Due: generate-pot, detect-missing-i18n

Add --skip-ia-metadata flag to solr_builder
  scripts/solr_builder/solr_builder/solr_builder.py
Due: generate-pot

Add a parallel FastAPI /borrow endpoint alongside the legacy web.py one
  openlibrary/asgi_app.py
  openlibrary/fastapi/borrow.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/tests/test_borrow.py
  openlibrary/tests/fastapi/test_borrow.py
Due: generate-pot

Make the /borrow helper and its httpx-backed lending calls async
  openlibrary/accounts/model.py
  openlibrary/core/lending.py
  openlibrary/fastapi/borrow.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/tests/test_borrow.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/fastapi/test_borrow.py
Due: generate-pot

Fix --skip-ia-metadata to actually skip IA metadata fetches
  openlibrary/solr/data_provider.py
  openlibrary/tests/solr/test_data_provider.py
  scripts/solr_builder/solr_builder/solr_builder.py
Due: generate-pot

Add integration tests for skip_ia_metadata through update_key
  openlibrary/tests/solr/updater/test_work.py
Due: generate-pot

Drop the cover badges
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/fastapi/services/books_display.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/BooksDisplay.html
  openlibrary/templates/design/components/_books_display_data.html.jinja
  openlibrary/tests/fastapi/test_books_display.py
  static/css/components/ol-books-display.css
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot, detect-missing-i18n

Fix get_s3_keys() crashing for logged-in users via the borrow async bridge
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/tests/test_borrow.py
  openlibrary/tests/accounts/test_models.py
Due: generate-pot

Tighten the book actions popover and narrow-width book rows
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OLMarkdownEditor.js
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/books-display.html.jinja
  static/css/components/ol-books-display.css
  tests/unit/js/OlBookActions.test.js
Due: none

Reword a comment that narrated the diff instead of stating a durable fact
  openlibrary/tests/accounts/test_models.py
Due: generate-pot

Use the configured request timeout for the s3 loan/availability httpx calls
  openlibrary/core/lending.py
Due: generate-pot

Move ol-books-display into the shadow DOM
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/utils/analytics.js
  openlibrary/components/lit/utils/books-api.js
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/books-display.html.jinja
  static/css/components/ol-books-display.css
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot

Compose ol-button for the books-display CTA
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/utils/book-icons.js
  tests/unit/js/OlBooksDisplay.test.js
Due: none

Reuse ol.analytics trackEvent in ol-books-display
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/utils/analytics.js
Due: none

Explain the tooltip's scroll-parent walk without shadow DOM jargon
  openlibrary/components/lit/OlTooltip.js
Due: none

Code review feedback: simplify S3 key handling, rename the borrow core
  openlibrary/accounts/model.py
  openlibrary/fastapi/borrow.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/tests/test_borrow.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/fastapi/test_borrow.py
Due: generate-pot

Give the FastAPI interstitial page its own inline style and countdown script
  openlibrary/fastapi/borrow.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/interstitial.html
Due: generate-pot, detect-missing-i18n

Add a parallel /borrow/ia/{ocaid} FastAPI endpoint
  openlibrary/fastapi/borrow.py
  openlibrary/tests/fastapi/test_borrow.py
Due: generate-pot

Add pinned, code-defined Jenkins controller for solr_builder
  scripts/solr_builder/compose.yaml
  scripts/solr_builder/jenkins/Dockerfile
  scripts/solr_builder/jenkins/PROGRESS.md
  scripts/solr_builder/jenkins/RUNNING.md
  scripts/solr_builder/jenkins/init.groovy.d/seed-solr-builder-job.groovy
  scripts/solr_builder/jenkins/jenkins.yaml
  scripts/solr_builder/jenkins/plugins.txt
Due: none

Wire SKIP_IA_METADATA through the full solr_builder pipeline
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/compose.yaml
  scripts/solr_builder/index-type.sh
  scripts/solr_builder/jenkins/PROGRESS.md
  scripts/solr_builder/jenkins/RUNNING.md
Due: none

Make solr-builder seed job branch configurable via SEED_BRANCH
  scripts/solr_builder/compose.yaml
  scripts/solr_builder/jenkins/init.groovy.d/seed-solr-builder-job.groovy
Due: none

Fix pipeline failure: don't require ADMIN_PASSWORD in compose interpolation
  scripts/solr_builder/compose.yaml
  scripts/solr_builder/jenkins/init.groovy.d/seed-solr-builder-job.groovy
Due: none

Fix solr_builder db for postgres 18+ data layout
  scripts/solr_builder/compose.yaml
Due: none

Fix borrow AsyncBridge deadlock with async lending twins and re-entrancy guard
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/models.py
  openlibrary/utils/async_utils.py
  openlibrary/utils/tests/test_async_utils.py
Due: generate-pot

lending: add Loan.delete_async for async contexts
  openlibrary/core/lending.py
Due: generate-pot

fix: address PR feedback on blocking I/O migrations
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/sidebar.html
Due: generate-pot, detect-missing-i18n

Move safe imports to top-level for PLC0415 compliance
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/coverstore/tests/test_coverstore.py
  openlibrary/plugins/openlibrary/tests/test_verification.py
  pyproject.toml
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
