Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Add async psycopg3 pool support
  .pre-commit-config.yaml
  openlibrary/asgi_app.py
  openlibrary/core/async_db.py
  openlibrary/tests/core/test_async_db.py
  requirements.txt
Due: generate-pot

Associate the notes textarea with its label
  openlibrary/macros/NotesModalDialog.html
  static/css/components/metadata-form.css
Due: generate-pot, detect-missing-i18n

fix(mybooks): populate docs[loans] alongside continuereading for test and template compatibility
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

fix(mybooks): protect active loans from overwriting by read history and support both loans and continuereading keys
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/books/custom_carousel_card.html.jinja
Due: generate-pot

fix(borrow): only record read history on action=read and bump active loans to top when read
  openlibrary/i18n/messages.pot
  openlibrary/macros/ReadButton.html
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
Due: generate-pot, detect-missing-i18n

Add a danger tone to ol-button, replacing variant="destructive"
  openlibrary/components/lit/OLButton.js
  openlibrary/templates/design/components/button.html.jinja
  openlibrary/templates/design/components/dialog.html.jinja
  static/css/components/ol-button.css
Due: none

Fix the notes dialog's focus, mobile sizing, and delete emphasis
  openlibrary/macros/NotesModalDialog.html
  static/css/components/metadata-form.css
Due: generate-pot, detect-missing-i18n

Tidy the notes dialog field and quiet its delete button
  openlibrary/components/lit/OLButton.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/NotesModalDialog.html
  static/css/components/metadata-form.css
Due: generate-pot, detect-missing-i18n

Give the notes textarea a roomier inner padding
  static/css/components/metadata-form.css
Due: none

Rename confirm.js to alert-dialog.js
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/alert-dialog.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/js/design-system/index.js
  openlibrary/templates/design/components/dialog.html.jinja
  tests/browser/alertDialog.browser.test.js
Due: none

Add olConfirm() and olAlert() dialog helpers
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/confirm.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/js/design-system/index.js
  openlibrary/templates/design/components/dialog.html.jinja
  tests/browser/olConfirm.browser.test.js
Due: none

Confirm note deletion through olConfirm()
  openlibrary/components/lit/alert-dialog.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/NotesModalDialog.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/design/components/dialog.html.jinja
  openlibrary/templates/type/edition/notes_modal_i18n.html
  tests/browser/alertDialog.browser.test.js
Due: generate-pot, detect-missing-i18n

Move the notes privacy note below the field, with an eye-off icon
  openlibrary/i18n/messages.pot
  openlibrary/macros/NotesModalDialog.html
  static/css/components/metadata-form.css
Due: generate-pot, detect-missing-i18n

Reflect ol-dialog's width so the presets survive a JS-set property
  openlibrary/components/lit/OlDialog.js
  openlibrary/templates/design/components/dialog.html.jinja
  tests/browser/alertDialog.browser.test.js
Due: none

Point the danger-tone snippet at olConfirm()
  openlibrary/templates/design/components/button.html.jinja
Due: none

Label the notes field with the book, styled like a search result
  openlibrary/i18n/messages.pot
  openlibrary/macros/NotesModalDialog.html
  static/css/components/metadata-form.css
Due: generate-pot, detect-missing-i18n

Let the danger-tone example generate its own snippet
  openlibrary/templates/design/components/button.html.jinja
Due: none

Trim the danger-tone note to the two decisions it has to make
  openlibrary/templates/design/components/button.html.jinja
Due: none

Shorten the notes field and settle its spacing
  openlibrary/macros/NotesModalDialog.html
  static/css/components/metadata-form.css
Due: generate-pot, detect-missing-i18n

Close the notes dialog after deleting the note
  openlibrary/plugins/openlibrary/js/modals/index.js
Due: none

Put the sticky-note icon in the Notes dialog title
  openlibrary/components/lit/OlDialog.js
  openlibrary/macros/NotesModalDialog.html
  openlibrary/templates/design/components/dialog.html.jinja
Due: generate-pot, detect-missing-i18n

Drop Delete Note to a ghost button
  openlibrary/macros/NotesModalDialog.html
Due: generate-pot, detect-missing-i18n

Mark the Notes link when the patron has a note
  openlibrary/macros/NotesModalDialog.html
  openlibrary/macros/databarWork.html
  openlibrary/templates/type/edition/modal_links.html
  static/css/components/modal-links.css
  static/css/tokens/colors.css
  static/icons/src/custom/sticky-note-text.svg
Due: generate-pot, detect-missing-i18n

Keep the Notes link, and the dialog's buttons, in step with the note
  openlibrary/plugins/openlibrary/js/modals/index.js
  static/css/components/modal-links.css
  static/css/tokens/colors.css
Due: none

Drop the success toasts from the notes dialog
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/type/edition/notes_modal_i18n.html
  tests/unit/js/notesModalStrings.test.js
Due: generate-pot, detect-missing-i18n

Document the dialog helpers and the fullscreen-on-mobile trap
  .github/instructions/ui.instructions.md
  docs/ai/design.md
  docs/ai/web-components.md
Due: none

Hide ol-dialog until Lit upgrades it
  docs/ai/web-components.md
  static/css/ol-components.css
Due: none

Pin the dialog pre-upgrade guard, and state the keyboard rule by cause
  docs/ai/web-components.md
  openlibrary/components/lit/OlDialog.js
  tests/browser/olComponentsPreUpgrade.browser.test.js
Due: none

Draw the carousel's return button from the icon sprite
  openlibrary/templates/books/custom_carousel_card.html.jinja
  static/css/components/carousel.css
  static/icons/src/lucide/undo-2.svg
Due: none

fix: move import to top level and update pot for pre-commit
  openlibrary/i18n/messages.pot
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
Due: generate-pot

Shorten the long comment blocks this branch added
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/alert-dialog.js
  openlibrary/macros/NotesModal.html
  openlibrary/macros/NotesModalDialog.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/type/edition/notes_modal_i18n.html
  static/css/components/carousel.css
  static/css/components/ol-button.css
  static/css/ol-components.css
  tests/browser/alertDialog.browser.test.js
  tests/browser/olComponentsPreUpgrade.browser.test.js
Due: generate-pot, detect-missing-i18n

Scope the focusable selector to links, not every [href]
  openlibrary/components/lit/utils/focus-utils.js
  tests/browser/OlDialog.browser.test.js
  tests/unit/js/focusUtils.test.js
Due: none

Auto-promote high-volume crawlers and API partners out of `other`
  scripts/monitoring/monitor.py
  scripts/monitoring/promotion.py
  scripts/monitoring/tests/sample_unknown_bots_nginx_logs.log
  scripts/monitoring/tests/test_promotion.py
  scripts/monitoring/tests/test_utils_sh.py
  scripts/monitoring/utils.sh
Due: generate-pot

refactor: replace the My Book Notes modal with ol-dialog (#13671)
  .github/instructions/ui.instructions.md
  docs/ai/design.md
  docs/ai/web-components.md
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/alert-dialog.js
  openlibrary/components/lit/index.js
  openlibrary/components/lit/utils/focus-utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/NotesModal.html
  openlibrary/macros/NotesModalDialog.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/design-system/index.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/books/custom_carousel_card.html.jinja
  openlibrary/templates/design/components/button.html.jinja
  openlibrary/templates/design/components/dialog.html.jinja
  openlibrary/templates/type/edition/modal_links.html
  openlibrary/templates/type/edition/notes_modal_i18n.html
  static/css/components/carousel.css
  static/css/components/metadata-form.css
  static/css/components/modal-links.css
  static/css/components/ol-button.css
  static/css/ol-components.css
  static/icons/src/custom/sticky-note-text.svg
  static/icons/src/lucide/undo-2.svg
  tests/browser/OlDialog.browser.test.js
  tests/browser/alertDialog.browser.test.js
  tests/browser/olComponentsPreUpgrade.browser.test.js
  tests/unit/js/focusUtils.test.js
  tests/unit/js/notesModalStrings.test.js
Due: generate-pot, detect-missing-i18n

Assert the `other` metric path, not just the promoter's `other` key
  scripts/monitoring/monitor.py
  scripts/monitoring/promotion.py
  scripts/monitoring/tests/test_promotion.py
  scripts/monitoring/tests/test_utils_sh.py
Due: generate-pot

Fix the defects an adversarial review found
  scripts/monitoring/monitor.py
  scripts/monitoring/promotion.py
  scripts/monitoring/tests/sample_unknown_bots_nginx_logs.log
  scripts/monitoring/tests/test_monitor.py
  scripts/monitoring/tests/test_promotion.py
  scripts/monitoring/tests/test_utils_sh.py
  scripts/monitoring/utils.py
  scripts/monitoring/utils.sh
Due: generate-pot

Fix duplicate series, the non_bot/other partition, and two smaller defects
  scripts/monitoring/promotion.py
  scripts/monitoring/tests/test_monitor.py
  scripts/monitoring/tests/test_promotion.py
  scripts/monitoring/utils.py
  scripts/monitoring/utils.sh
Due: generate-pot

fix: surface preserved facets in advanced search
  openlibrary/templates/search/advancedsearch.html
  openlibrary/templates/work_search.html
  openlibrary/tests/test_templates.py
Due: generate-pot, detect-missing-i18n

Move the jQuery UI confirmations onto ol-dialog
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/confirm-template.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/jquery-ui-dialog.js
  openlibrary/plugins/openlibrary/js/lists/ListViewBody.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/merge.js
  openlibrary/plugins/openlibrary/js/waitlist.js
  openlibrary/templates/account/loans.html
  openlibrary/templates/lists/lists.html
  openlibrary/templates/merge/authors.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/ui-dialog.css
  static/css/js-all.css
  static/css/legacy-jquery-ui.css
  static/css/tokens/z-index.css
  tests/unit/js/jquery-ui-wrappers.test.js
  tests/unit/js/my-books.test.js
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
