Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

unify fastapi file formatting
  .pre-commit-config.yaml
  openlibrary/fastapi/account.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/languages.py
  openlibrary/fastapi/models.py
  openlibrary/fastapi/partials.py
  openlibrary/fastapi/search.py
  openlibrary/fastapi/services/subject_service.py
  openlibrary/fastapi/yearly_reading_goals.py
Due: generate-pot

migrate mybooks to fastapi
  openlibrary/asgi_app.py
  openlibrary/fastapi/public_my_books.py
  openlibrary/plugins/upstream/mybooks.py
  test_mybooks_comparison.sh
Due: generate-pot

change import order for merge conflicts
  openlibrary/asgi_app.py
Due: generate-pot

allow new authors to use more fields from import data relates to #11877
  openlibrary/catalog/add_book/load_book.py
Due: generate-pot

simplify site for fastapi
  docs/ai/migrations/webpy_site_migration.md
  openlibrary/accounts/__init__.py
  openlibrary/core/fulltext.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/request_context.py
  openlibrary/utils/tests/test_site_proxy.py
Due: generate-pot

better naming
  openlibrary/mocks/mock_infobase.py
  openlibrary/utils/request_context.py
  openlibrary/utils/tests/test_site_proxy.py
Due: generate-pot

raise AttributeError
  openlibrary/utils/request_context.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

address pr feedback
  openlibrary/core/lists/model.py
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Fix: Sort language autocomplete results alphabetically with prefix matches first
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Add sorting function for autocomplete
  openlibrary/plugins/openlibrary/js/autocomplete.js
Due: none

fix invalid list keys being added to lists (#11749)
  openlibrary/core/lists/model.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/tests/core/test_lists_model.py
Due: generate-pot

remove old tests
  test_mybooks_comparison.sh
Due: none

403 for reading log
  openlibrary/fastapi/public_my_books.py
Due: generate-pot

404
  openlibrary/fastapi/public_my_books.py
Due: generate-pot

migrate `/people/{username}/books/{key}.json` to fastapi (#11926)
  openlibrary/asgi_app.py
  openlibrary/fastapi/public_my_books.py
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

cleanup 'old_plugins' code to have explicit imports (#11762)
  openlibrary/code.py
  openlibrary/plugins/admin/tests/test_code.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/models.py
Due: generate-pot

update submodule
  .gitmodules
Due: none

simplify setup_site to not use cookies
  openlibrary/utils/request_context.py
Due: generate-pot

use pagination model for mybooks
  openlibrary/fastapi/public_my_books.py
Due: generate-pot

enable FAST (FastAPI) Ruff rule
  openlibrary/fastapi/languages.py
  openlibrary/fastapi/partials.py
  openlibrary/fastapi/public_my_books.py
  openlibrary/fastapi/search.py
  pyproject.toml
Due: generate-pot

add params from path
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/public_my_books.py
  openlibrary/fastapi/publishers.py
  openlibrary/fastapi/subjects.py
  openlibrary/fastapi/yearly_reading_goals.py
Due: generate-pot

Remove 1thingdb` as source for patron preferences
  openlibrary/core/models.py
Due: generate-pot

Remove `thingdb` as source for patron preferences (#11933)
  openlibrary/core/models.py
Due: generate-pot

Add OL_MOUNT_DIR support to compose.override.yaml for git worktree development (#11921)
  compose.override.yaml
Due: none

Add Solr auto-rebuild health check for local dev (#11902)
  Makefile
  compose.override.yaml
  compose.yaml
  docker/ol-home-start.sh
  docker/ol-local-solr-start.sh
  docs/ai/README.md
Due: none

Don't copy compose.override.yaml during deploy
  scripts/deployment/deploy.sh
Due: none

extend test to confirm alternate_names are saved
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

failing test demonstrating incoming alternate_names are not used for author matching
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

Edit subjects from book page
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Use pencil icon for editing
  openlibrary/i18n/messages.pot
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/type/edition/view.html
  static/css/components/link-box.less
Due: generate-pot, detect-missing-i18n

11719/book page subject editing fix (#11936)
  openlibrary/i18n/messages.pot
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/type/edition/view.html
  static/css/components/link-box.less
Due: generate-pot, detect-missing-i18n

making solr start +x
  docker/ol-local-solr-start.sh
Due: none

Update openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

enable ruff check for a few folders
  .pre-commit-config.yaml
  openlibrary/api.py
  openlibrary/app.py
  openlibrary/asgi_app.py
  openlibrary/book_providers.py
  openlibrary/code.py
  openlibrary/config.py
  openlibrary/conftest.py
  openlibrary/data/__init__.py
  openlibrary/data/db.py
  openlibrary/data/dump.py
  openlibrary/data/sitemap.py
  openlibrary/fastapi/account.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/languages.py
  openlibrary/fastapi/models.py
  openlibrary/fastapi/partials.py
  openlibrary/fastapi/public_my_books.py
  openlibrary/fastapi/search.py
  openlibrary/fastapi/services/subject_service.py
  openlibrary/fastapi/yearly_reading_goals.py
  openlibrary/i18n/__init__.py
  openlibrary/i18n/test_po_files.py
  openlibrary/i18n/validators.py
  openlibrary/mocks/mock_ia.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/mocks/tests/test_mock_infobase.py
  openlibrary/olbase/events.py
  openlibrary/olbase/tests/test_ol_infobase.py
  openlibrary/views/loanstats.py
  openlibrary/views/showmarc.py
Due: generate-pot

add BEM CSS for subject tags
  openlibrary/macros/SubjectTags.html
  static/css/components/tagging-menu.less
Due: generate-pot, detect-missing-i18n

bring back LESS vars as css custom properties
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.css
  static/css/components/carousel.css
  static/css/components/chart.css
  static/css/components/compact-title.css
  static/css/components/work.css
  static/css/layout/index.css
Due: none

enable ruff check on fastapi api files
  .pre-commit-config.yaml
  openlibrary/api.py
  openlibrary/app.py
  openlibrary/asgi_app.py
  openlibrary/code.py
  openlibrary/config.py
  openlibrary/conftest.py
Due: generate-pot
