Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Fix: Validate that the publisher exists before writing to the follows table
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/tests/test_followsapi.py
Due: generate-pot

fix: use return_value instead of side_effect for web.notfound and web.seeother mocks
  openlibrary/plugins/openlibrary/tests/test_followsapi.py
Due: generate-pot

Update actions where needed (#12226)
  openlibrary/accounts/model.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/models.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/bulk_tag.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/addtag.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/covers.py
  scripts/update_stale_ocaid_references.py
Due: generate-pot

fix comment
  static/css/components/generic-dropper.css
Due: none

Reuse session in vendors.py
  openlibrary/core/vendors.py
Due: generate-pot

Fix link-box.css selector to target .clamp as descendant
  static/css/components/link-box.css
Due: none

Fix unit tests
  openlibrary/tests/core/test_vendors.py
Due: generate-pot

Localize `title` attribute in template (#12358)
  openlibrary/i18n/messages.pot
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

Moves `removeAttribute` outside the if guard
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
Due: none

Set BWB request timeout
  openlibrary/core/vendors.py
Due: generate-pot

Add solr haproxy prometheus exporter + fix ping path
  conf/solr/haproxy.cfg
Due: none

Adopt ol-chip to subject highlights, WorkInfo, tag page, and list page subjects
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/WorkInfo.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/type/tag/view.html
Due: generate-pot, detect-missing-i18n

Adopt ol-chip to subject tags, author page, and publisher page
  openlibrary/macros/SubjectTags.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/type/author/view.html
  static/css/components/link-box.css
Due: generate-pot, detect-missing-i18n

Fix clamper link detection, add chip group examples, and chip spacing in link-box
  openlibrary/plugins/openlibrary/js/clampers.js
  openlibrary/templates/design.html
  static/css/components/link-box.css
Due: generate-pot, detect-missing-i18n

Fix #12042: Disable 'Want to Read' button until JS loads to prevent JSON dead end
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/templates/my_books/primary_action.html
  static/css/components/generic-dropper.css
Due: generate-pot, detect-missing-i18n

Remove debug alert from WorkInfo macro
  openlibrary/macros/WorkInfo.html
Due: generate-pot, detect-missing-i18n

Remove --limit argument and fix mypy type error
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Fix history page pagination off-by-one (#12398, #12420)
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/templates/history.html
Due: generate-pot, detect-missing-i18n

feat: interactive testing environment dashboard on /status (#11506)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  scripts/make-integration-branch.sh
Due: generate-pot, detect-missing-i18n

Document legacy ?page=0 clamp and has_next fetch pattern
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/templates/history.html
Due: generate-pot, detect-missing-i18n

Add more api users
  scripts/monitoring/monitor.py
Due: generate-pot

fix: add FastAPI route alias for `.json` check-in POSTs to match legacy web.py behavior. (#12394)
  openlibrary/fastapi/checkins.py
Due: generate-pot

Merge pull request #12436 from cdrini/fix/add-api-partners
  scripts/monitoring/monitor.py
Due: generate-pot

refactor(css): replace raw em values with tokens in headings.css (#12374)
  static/css/base/headings.css
Due: none

Handle object and list field shapes in get_field_updates
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Apply code review feedback
  scripts/monitoring/olspy.sh
Due: none

Update `wrap_jsonp` to handle lists (#12397)
  openlibrary/fastapi/models.py
  openlibrary/tests/fastapi/test_models.py
Due: generate-pot

Apply code review feedback
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

build: remove tests and partials.py from ruff/black formatting denylist (#12405)
  .pre-commit-config.yaml
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/tests/test_templates.py
  scripts/conftest.py
  scripts/monitoring/tests/test_fail2ban_monitor.py
Due: generate-pot

Fix bug in test
  openlibrary/plugins/books/tests/test_dynlinks.py
Due: generate-pot

Bump bundlesizes to fix CI
  bundlesize.config.json
Due: none

Change graphite bucket for .other to .other.other to be consistent
  scripts/monitoring/olspy.sh
  scripts/monitoring/tests/test_olspy_sh.py
Due: generate-pot

Fix affiliate server generate undefined
  openlibrary/fastapi/partials.py
Due: generate-pot

Add bulk search link to advanced search (#12396)
  openlibrary/i18n/messages.pot
  openlibrary/templates/search/advancedsearch.html
Due: generate-pot, detect-missing-i18n

Support non .json paths in fastapi deprecated handler
  openlibrary/code.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

Don't show trap links to recognized bots
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

Fix mypy error: use Optional type for limit parameter
  scripts/fix_unicode_html_entities.py
Due: generate-pot

Refactor advanced search form strufix: remove duplicate legend in Advanced Search form (#12381)cture
  openlibrary/templates/search/advancedsearch.html
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
