Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

feat: global intent preservation for unauthenticated users
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/view.html
  openlibrary/templates/site/banner.html
Due: generate-pot, detect-missing-i18n

feat: intent preservation for modals and star ratings
  openlibrary/macros/StarRatings.html
  openlibrary/plugins/openlibrary/js/star-ratings/index.js
  openlibrary/templates/type/edition/modal_links.html
Due: generate-pot, detect-missing-i18n

feat: intent preservation for reading logs in dropper
  openlibrary/templates/my_books/dropper.html
  openlibrary/templates/my_books/primary_action.html
Due: generate-pot, detect-missing-i18n

feat: intent preservation for follow, borrow, and waitlist
  openlibrary/macros/Follow.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
Due: generate-pot, detect-missing-i18n

style: use CSS tokens for pending action banner
  static/css/components/mybooks-details.css
Due: none

feat: enhance pending action banner styling and structure
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/view.html
  static/css/components/mybooks-details.css
Due: generate-pot, detect-missing-i18n

Add image template: Generalise wording to apply to authors also (#12744)
  openlibrary/i18n/messages.pot
  openlibrary/templates/covers/external_image.html
Due: generate-pot, detect-missing-i18n

Add solr replica to ol-solr2 (#12706)
  compose.near-prod.yaml
  compose.production.yaml
  conf/solr/conf/solrconfig.xml
  conf/solr/haproxy.cfg
  scripts/deployment/deploy.sh
  scripts/monitoring/monitor.py
  scripts/solr_builder/compose.yaml
  scripts/solr_builder/dump-solr.sh
Due: generate-pot

Remove unused cache engines (#12735)
  openlibrary/core/cache.py
Due: generate-pot

Read recaptcha URL from configuration file
  conf/openlibrary.yml
  openlibrary/plugins/recaptcha/recaptcha.py
Due: generate-pot

Read recaptcha URL from configuration file (#12766)
  conf/openlibrary.yml
  openlibrary/plugins/recaptcha/recaptcha.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

feat: implement intent preservation for follow, borrow, and waitlist actions
  openlibrary/macros/Follow.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  openlibrary/plugins/openlibrary/js/star-ratings/index.js
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot, detect-missing-i18n

9409/pre-commit modifications
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

9409/Potential fix for pull request finding
  openlibrary/plugins/openlibrary/js/index.js
Due: none

feat: enhance queueAction functionality and add tests for cookie handling
  openlibrary/macros/ReadButton.html
  openlibrary/plugins/openlibrary/js/star-ratings/index.js
  tests/unit/js/utils.test.js
Due: generate-pot, detect-missing-i18n

Fix #12755: Return 400 Bad Request for malformed cover image input
  openlibrary/plugins/upstream/covers.py
Due: generate-pot

Remove unused cache engines (#12765)
  openlibrary/core/cache.py
Due: generate-pot

refactor: polish OlPopover and OlSelectPopover behavior (#12680)
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSelectPopover.js
Due: none

Build modsecurity to avoid it being outdated
  docker/Dockerfile.olbase
  docker/nginx.conf
  scripts/build_modsecurity.sh
  scripts/install_nginx.sh
Due: none

fix(i18n): resolve Babel PO parsing warnings
  openlibrary/i18n/as/messages.po
  openlibrary/i18n/bn/messages.po
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/hi/messages.po
Due: none

feat: add font-size and font-weight design tokens
  openlibrary/i18n/messages.pot
  openlibrary/templates/design.html
  static/css/page-design.css
  static/css/tokens.css
  static/css/tokens/font-families.css
  static/css/tokens/font-sizes.css
  static/css/tokens/font-weights.css
Due: generate-pot, detect-missing-i18n

chore(deps): bump aiofiles from 23.2.1 to 25.1.0
  requirements.txt
Due: none

chore(deps): bump pydantic from 2.13.3 to 2.13.4
  requirements.txt
Due: none

Add CSS to new `page-user` file
  static/css/page-user.css
Due: none

Add TODO note
  openlibrary/templates/books/edit/edition.html
Due: generate-pot, detect-missing-i18n

refactor(footer): migrate font-size em values to --font-size-meta
  static/css/components/footer.css
Due: none

Remove illegal character from selector
  static/css/page-user.css
Due: none

fix(css): rewrite classification responsive block as valid plain CSS
  static/css/page-user.css
Due: none

Update #11578 -- Fix: Classification dropdown overflow on mobile view (#12773)
  openlibrary/templates/books/edit/edition.html
  static/css/page-user.css
Due: generate-pot, detect-missing-i18n

chore(deps): bump requests from 2.33.1 to 2.34.0
  requirements.txt
  scripts/gh_scripts/requirements.txt
Due: none

chore(deps): bump python-multipart from 0.0.27 to 0.0.28
  requirements.txt
Due: none

chore(deps): bump vue from 3.5.33 to 3.5.34
  package-lock.json
  package.json
Due: none

chore(deps): bump slick-carousel from 1.6.0 to 1.8.1
  package-lock.json
  package.json
Due: none

chore(deps): bump jest monorepo from 30.0.5 to 30.4.2
  package-lock.json
  package.json
Due: none

fix: stable data-action key for reading-log intent resume; fix queueAction test
  openlibrary/templates/my_books/primary_action.html
  tests/unit/js/utils.test.js
Due: generate-pot, detect-missing-i18n

fixed some buggy behaviour
  openlibrary/plugins/openlibrary/js/history.js
  openlibrary/templates/history.html
Due: generate-pot, detect-missing-i18n

refactor(tokens): drop duplicate --font-size-body-large alias
  static/css/tokens/font-sizes.css
Due: none

simplify code
  openlibrary/fastapi/lists.py
  openlibrary/tests/fastapi/test_lists_json.py
Due: generate-pot

move new code to vendor.py
  openlibrary/core/affiliate_links.py
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/tests/core/test_vendors.py
  openlibrary/utils/tests/test_isbn.py
Due: generate-pot
