Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Merged Krisha's changes, added alt text, and moved owner_username up
  openlibrary/templates/lists/list_follow.html
Due: generate-pot, detect-missing-i18n

Created a function for async follow
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

update toast message and remove complete
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

Testing
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

Added alt text to images to improve accessibility
  openlibrary/i18n/messages.pot
  openlibrary/templates/lists/list_follow.html
Due: generate-pot, detect-missing-i18n

Moved owner_username to top of the method
  openlibrary/templates/lists/list_follow.html
Due: generate-pot, detect-missing-i18n

clean templates
  openlibrary/fastapi/templates/author/view.html.jinja
  openlibrary/fastapi/templates/body.html.jinja
  openlibrary/fastapi/templates/footer.html.jinja
  openlibrary/fastapi/templates/head.html.jinja
  openlibrary/fastapi/templates/site.html.jinja
Due: none

add dev css
  openlibrary/fastapi/templates/head.html.jinja
Due: none

mergeUI checks for 429 to retry
  openlibrary/components/MergeUI/utils.js
Due: none

Update utils.js
  openlibrary/components/MergeUI/utils.js
Due: none

Update openlibrary/accounts/model.py
  openlibrary/accounts/model.py
Due: generate-pot

Merge pull request #11074 from internetarchive/ruff-upgrade/12.5
  .pre-commit-config.yaml
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/types_generator.py
  openlibrary/utils/__init__.py
  pyproject.toml
  scripts/solr_builder/tests/test_fn_to_cli.py
  scripts/tests/test_obfi_sh.py
Due: generate-pot

remove pip outdated checks (#11091)
  .github/workflows/codegen_api_docs.yml
  .github/workflows/python_tests.yml
  docker/Dockerfile.olbase
  docker/Dockerfile.oldev
Due: none

fix: mergeUI checks for 429 before retrying (#11134)
  openlibrary/components/MergeUI/utils.js
Due: none

add typehints to wikidata, reading goals, and waitinglist (#10999)
  openlibrary/accounts/model.py
  openlibrary/core/waitinglist.py
  openlibrary/core/wikidata.py
  openlibrary/core/yearly_reading_goals.py
  pyproject.toml
Due: generate-pot

add typehints to memcache_memoize (#11092)
  openlibrary/core/cache.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/tests/core/test_cache.py
Due: generate-pot

fix/standardize font variables (#11097)
  static/css/base/common.less
  static/css/base/headings.less
  static/css/base/helpers-common.less
  static/css/base/helpers-misc.less
  static/css/components/buttonCta.less
  static/css/components/cbox.less
  static/css/components/check-in.less
  static/css/components/diff.less
  static/css/components/form.olform.less
  static/css/components/header-bar.less
  static/css/components/iaBar.less
  static/css/components/illustration.less
  static/css/components/jquery.autocomplete.less
  static/css/components/list-follow.less
  static/css/components/listLists.less
  static/css/components/manage-covers.less
  static/css/components/merge-request-table.less
  static/css/components/metadata-form.less
  static/css/components/modal-links.less
  static/css/components/notes-view.less
  static/css/components/observationStats.less
  static/css/components/read-panel.less
  static/css/components/reading-goal.less
  static/css/components/sort-dropper.less
  static/css/components/tagging-menu.less
  static/css/components/wmd-prompt-dialog--js.less
  static/css/components/work.less
  static/css/legacy-datatables.less
  static/css/legacy.less
  static/css/page-admin.less
  static/css/page-edit.less
  static/css/page-plain.less
  static/css/page-signup.less
Due: none

get solr url
  openlibrary/fastapi/authors.py
Due: generate-pot

auth working
  openlibrary/fastapi/authors.py
Due: generate-pot

address type issue caught by mypy in waiting list
  openlibrary/core/lending.py
Due: generate-pot

use decorator for cache
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

add caching to /random (#11116)
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Convert source record logic to a dataclass
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/history/comment.html
  openlibrary/templates/history/source_record_link.html
  openlibrary/templates/history/sources.html
  openlibrary/templates/showmarc.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Fix comment not rendering import link correctly
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/history/comment.html
Due: generate-pot, detect-missing-i18n

update test_models.py to use get_by_*
  openlibrary/tests/accounts/test_models.py
Due: generate-pot

update test_code to use get_by_*
  openlibrary/plugins/admin/tests/test_code.py
Due: generate-pot

fix bug internal audit account bug
  openlibrary/plugins/upstream/account.py
Due: generate-pot

update account.py to use get_by_*
  openlibrary/plugins/upstream/account.py
Due: generate-pot

update lending.py to use get_by_*
  openlibrary/core/lending.py
Due: generate-pot

update model.py to use get_by_*
  openlibrary/accounts/model.py
Due: generate-pot

update and replace get with get_or_raise
  openlibrary/accounts/model.py
  openlibrary/core/waitinglist.py
Due: generate-pot

make pytest run in parallel in gh actions
  .github/workflows/python_tests.yml
  Makefile
Due: none

fix tag_release
  scripts/deployment/deploy.sh
Due: none

fix -d
  scripts/deployment/deploy.sh
Due: none

try with -n 1
  Makefile
Due: none

set asyncio_default_fixture_loop_scope
  pyproject.toml
Due: none

-n auto
  Makefile
Due: none

set lang for commify test
  openlibrary/tests/core/test_helpers.py
Due: generate-pot

remove figure loop scope
  pyproject.toml
Due: none

Add script to write preferences to the store
  scripts/write_prefs_to_store.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
