Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Update class name in new template
  openlibrary/templates/cards/multi_image_card.html
  static/css/components/multi-image-card.less
Due: generate-pot, detect-missing-i18n

allow cors
  openlibrary/asgi_app.py
Due: generate-pot

add max_age
  openlibrary/asgi_app.py
Due: generate-pot

add get an options
  openlibrary/asgi_app.py
Due: generate-pot

remove allow headers
  openlibrary/asgi_app.py
Due: generate-pot

add support for languages
  openlibrary/asgi_app.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Update openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

_handle_shutdown
  openlibrary/utils/async_utils.py
Due: generate-pot

set workers to 1 for now
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
  openlibrary/utils/async_utils.py
Due: generate-pot

remove timeout and limit max requests
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
Due: none

fix: handle EXIF orientation for uploaded images
  openlibrary/coverstore/coverlib.py
Due: generate-pot

small comment edit to retrigger pre-build checks
  static/css/less/font-families.less
Due: none

removed unnecessary changes
  openlibrary/coverstore/coverlib.py
Due: generate-pot

removed Exception
  openlibrary/coverstore/coverlib.py
Due: generate-pot

Update identifiers.yml
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

Render multi-image cards on book pages
  openlibrary/templates/cards/multi_image_card.html
  openlibrary/templates/lists/list_follow.html
  static/css/components/list-follow.less
  static/css/page-book.less
Due: generate-pot, detect-missing-i18n

Update static/js/preferences-handler.js
  static/js/preferences-handler.js
Due: none

Update openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Update openlibrary/templates/site/alert.html
  openlibrary/templates/site/alert.html
Due: generate-pot, detect-missing-i18n

fix eslint errors
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
  static/js/preferences-handler.js
Due: generate-pot

fix eslint error 2
  static/js/preferences.js
Due: none

fix case where ctx is none
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

fix max requests for compose config
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
Due: none

Fix list queries erroring
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Add support for solr highlighting with subjects
  openlibrary/i18n/messages.pot
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/work_search.html
  static/css/components/search-result-item.less
Due: generate-pot, detect-missing-i18n

Exclude stopword-only highlights from appearing as matches
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Sort highlights by most matches
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Small tweaks + rebase fixes
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Small style tweaks
  openlibrary/i18n/messages.pot
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.less
Due: generate-pot, detect-missing-i18n

Code review feedback
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/code.py
  static/css/components/search-result-item.less
Due: generate-pot, detect-missing-i18n

Added functions for searching lists by Solr
  openlibrary/core/models.py
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Implemented fetching lists for editions from Solr.
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/lists/widget.html
Due: generate-pot, detect-missing-i18n

Incorporated feedback from code review.
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Further changes to partials and widgets, still in testing.
  openlibrary/templates/lists/widget.html
Due: generate-pot, detect-missing-i18n

Fixed missing quotation mark, other formatting.
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/lists/widget.html
  openlibrary/utils/solr.py
Due: generate-pot, detect-missing-i18n

Add chapters to solr work/editions
  conf/solr/conf/managed-schema.xml
  openlibrary/i18n/messages.pot
  openlibrary/macros/ReadMore.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
  static/css/components/search-result-item.less
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

Fix solr highlights error if irrelevant query
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/query_utils.py
Due: generate-pot

Try to fix searching for subjects in default field
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/query_utils.py
Due: generate-pot

Remove unused TableRow file
  openlibrary/components/BulkSearch/components/TableRow.vue
Due: none
