Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Adding OLID macro for books (#10555)
  openlibrary/i18n/messages.pot
  openlibrary/macros/OLID.html
Due: generate-pot, detect-missing-i18n

Remove some dead code in book edit view
  openlibrary/templates/books/edit/edition.html
Due: generate-pot, detect-missing-i18n

fix analytics_attr
  openlibrary/macros/BookPreview.html
Due: generate-pot, detect-missing-i18n

Merge pull request #10556 from Angel-Ozz Spanish README translations
  Readme_es.md
Due: none

Update pm_stale_ticket_labeler.yml
  .github/workflows/pm_stale_ticket_labeler.yml
Due: none

mark upstream only github workflows
  .github/workflows/olbase.yaml
  .github/workflows/pm_stale_ticket_labeler.yml
  .github/workflows/pr_update_labeler.yml
  .github/workflows/weekly_status_report.yml
Due: none

correct conditional level in YAML
  .github/workflows/pr_update_labeler.yml
Due: none

remove out of date list communication strings from translation file
  openlibrary/i18n/te/messages.po
Due: none

remove unsused support template this is creating many unused translations strings which are never displayed on the live site.
  openlibrary/templates/support.html
Due: generate-pot, detect-missing-i18n

remove unlinked static image
  static/images/george/ade-screenshot.png
Due: none

remove more unused images
  static/images/internet_explorer/borderBottomCenter.png
  static/images/internet_explorer/borderBottomLeft.png
  static/images/internet_explorer/borderBottomRight.png
  static/images/internet_explorer/borderMiddleLeft.png
  static/images/internet_explorer/borderMiddleRight.png
  static/images/internet_explorer/borderTopCenter.png
  static/images/internet_explorer/borderTopLeft.png
  static/images/internet_explorer/borderTopRight.png
Due: none

remove duplicate rose icon
  static/images/categories/christianity.svg
Due: none

remove redundant og: tags
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

remove link to defunct social media
  openlibrary/templates/lib/nav_foot.html
  static/images/tweet.svg
Due: generate-pot, detect-missing-i18n

Added Spanish translation for README.md
  Readme.md
Due: none

nonworking prototype of trusted book provider interstitial
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/interstitial.html
Due: generate-pot, detect-missing-i18n

Change "Classic Books" carousel on homepage to not link to /read
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

add in default url
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Change "Classic Books" carousel on homepage to not link to /read (#10572)
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

add lexile to solr
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
Due: generate-pot

make multValued for work-level rollup
  conf/solr/conf/managed-schema.xml
Due: none

switch to int
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
Due: generate-pot

Adding db schema and models for best book awards
  openlibrary/core/bestbook.py
  openlibrary/core/models.py
  openlibrary/core/schema.sql
Due: generate-pot

Adding best book awards count API
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Adds best book models and APIs
  openlibrary/core/bestbook.py
  openlibrary/core/bookshelves.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/tests/test_bestbookapi.py
Due: generate-pot

Tidy templatestrings, rm deprecated support page (#10565)
  openlibrary/i18n/messages.pot
  openlibrary/i18n/te/messages.po
  openlibrary/templates/support.html
Due: generate-pot, detect-missing-i18n

Mark upstream only github workflows (#10564)
  .github/workflows/olbase.yaml
  .github/workflows/pm_stale_ticket_labeler.yml
  .github/workflows/pr_update_labeler.yml
  .github/workflows/weekly_status_report.yml
Due: none

Tidy unused images (#10566)
  static/images/categories/christianity.svg
  static/images/george/ade-screenshot.png
  static/images/internet_explorer/borderBottomCenter.png
  static/images/internet_explorer/borderBottomLeft.png
  static/images/internet_explorer/borderBottomRight.png
  static/images/internet_explorer/borderMiddleLeft.png
  static/images/internet_explorer/borderMiddleRight.png
  static/images/internet_explorer/borderTopCenter.png
  static/images/internet_explorer/borderTopLeft.png
  static/images/internet_explorer/borderTopRight.png
Due: none

Dry up rendering of Ebook Read Button for Standard Book Providers
  openlibrary/book_providers.py
  openlibrary/templates/book_providers/standard_ebooks_read_button.html
Due: generate-pot, detect-missing-i18n

Script to archive books using SPN2
  scripts/archive_book.py
Due: generate-pot

Initialize archive_book.py to capture 3K5 books to Wayback machine
  scripts/archive_book.py
Due: generate-pot

Add capture_outlinks and capture screenshot fields
  scripts/archive_book.py
Due: generate-pot

Add capture_outlinks and capture screenshot fields handlers
  scripts/archive_book.py
Due: generate-pot

Fix broken homepage
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Restructure folders and create fetch raw data from Ebook Foundation function
  scripts/providers/EbookFoundationFPB/archive_book.py
  scripts/providers/EbookFoundationFPB/process.py
Due: generate-pot

Extract carousel card into dedicated template
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html
Due: generate-pot, detect-missing-i18n

Move main pertials code into a new file
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot
