Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

100 limit set for series list and added a note if size of list passes 100
  openlibrary/core/lists/model.py
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

include sortable, pluralize ratings, move user up
  openlibrary/fastapi/internal/api.py
Due: generate-pot

Migrate browse endpoint to FastAPI
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  tests/integration/temporary/test_browse_migration.sh
Due: generate-pot

Update FastAPI route to browse.json
  openlibrary/fastapi/internal/api.py
  tests/integration/temporary/test_browse_migration.sh
Due: generate-pot

Add description, simplify response, and remove threading
  openlibrary/fastapi/internal/api.py
Due: generate-pot

Use Pagination model, add Request, Response model
  openlibrary/fastapi/internal/api.py
Due: generate-pot

Backup
  openlibrary/fastapi/internal/api.py
  tests/integration/temporary/test_browse_migration.sh
Due: generate-pot

Fix web.ctx.site and update parse_fields_string for consistency
  openlibrary/fastapi/internal/api.py
  openlibrary/fastapi/models.py
Due: generate-pot

Refactor on the code added for better practices and better structured
  openlibrary/core/lists/model.py
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Fix reading goal link not restored after unsetting goal
  openlibrary/plugins/openlibrary/js/reading-goals/index.js
Due: none

fix for pull request finding
  openlibrary/plugins/openlibrary/js/reading-goals/index.js
Due: none

Add index on 'created' column in bookshelves_books
  openlibrary/core/schema.sql
Due: none

Add indexes on bookshelves_books.created and community_edits_queue.updated (#12107)
  openlibrary/core/schema.sql
Due: none

Review fixes: rename chip-label to accessible-label, drop aria-current and will-change, scope p rule
  openlibrary/components/lit/OLChip.js
  openlibrary/templates/search/work_search_selected_facets.html
  static/css/page-design.css
Due: generate-pot, detect-missing-i18n

Remove legacy-header.css and dead header selectors
  static/css/legacy-header.css
  static/css/legacy.css
  static/css/page-admin.css
  static/css/page-edit.css
  static/css/page-plain.css
  static/css/page-user.css
Due: none

feat: separate i18n language mappings and use full Accept-Language header
  openlibrary/asgi_app.py
  openlibrary/core/wikidata.py
  openlibrary/i18n/__init__.py
  openlibrary/i18n/language_negotiation.py
  openlibrary/macros/WorkInfo.html
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/authors/infobox.html
  openlibrary/tests/core/test_language_negotiation.py
  openlibrary/tests/core/test_wikidata.py
  openlibrary/utils/request_context.py
Due: generate-pot, detect-missing-i18n

Potential fix for pull request finding
  openlibrary/core/wikidata.py
Due: generate-pot

Refactor _most_used to use collections.Counter for efficiency
  openlibrary/core/lists/engine.py
Due: generate-pot

Apply code review feedback
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Merge head.html and neck.html into a single template
  openlibrary/templates/site.html
  openlibrary/templates/site/head.html
  openlibrary/templates/site/neck.html
Due: generate-pot, detect-missing-i18n

Limit for series list (#12099)
  openlibrary/core/lists/model.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Remove outdated meta tags and XHTML remnants from head.html
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Add some types to OLConnection
  openlibrary/plugins/openlibrary/connection.py
Due: generate-pot

Remove unused page parameter and dead sent_head guard
  openlibrary/templates/site.html
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Add cross-ip UA limits
  docker/nginx.conf
  docker/web_nginx.conf
Due: none

Small tweaks to nginx protections
  docker/web_nginx.conf
Due: none

Merge pull request #12115 from cdrini/fix/prod-fixes
  docker/nginx.conf
  docker/web_nginx.conf
Due: none

Fix get_language_name missing language parameter
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/language/repr.html
Due: generate-pot, detect-missing-i18n

Add tests for detect_missing_i18n + fix some bugs
  openlibrary/templates/native_dialog.html
  scripts/detect_missing_i18n.py
  scripts/tests/test_detect_missing_i18n.py
Due: generate-pot, detect-missing-i18n

Code review feedback
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Improve OlPopover with mobile support and refactor design page
  openlibrary/components/lit/OlLanguageEdit.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/templates/design.html
  openlibrary/templates/design/autocomplete.html
  openlibrary/templates/design/language_edit.html
  openlibrary/templates/design/pagination.html
  openlibrary/templates/design/popover.html
  openlibrary/templates/design/read_more.html
  static/css/page-design.css
Due: generate-pot, detect-missing-i18n

Fix detect-i18n error
  openlibrary/templates/type/language/repr.html
Due: generate-pot, detect-missing-i18n

Fix some edge cases in detect-i18n + more tests
  scripts/detect_missing_i18n.py
  scripts/tests/test_detect_missing_i18n.py
Due: generate-pot

Fix newly surfaced i18n issues
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/templates/admin/block.html
  openlibrary/templates/admin/sync.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/books/edit/excerpts.html
  openlibrary/templates/merge/authors.html
Due: generate-pot, detect-missing-i18n

Fix broken test for reduce_seeds function
  openlibrary/tests/core/test_lists_engine.py
Due: generate-pot

Avoid consuming list sequence number on spam + use standard error page
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Potential fix for pull request finding
  openlibrary/tests/core/test_lists_engine.py
Due: generate-pot

fix: add spam filtering for lists (closes #11905) (#12045)
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/worksearch/schemes/lists.py
Due: generate-pot

Add endpoint for single-duplicate merge reversion
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/plugins/upstream/tests/test_models.py
Due: generate-pot

unused notifications
  .github/workflows/config/new_comment_digest.json
  .github/workflows/config/weekly_status_report_openlibrary_leads_g.json
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
