Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Clamp list-follow card notes to 3 lines to prevent overflow (#11174)
  static/css/list-follow.less
Due: none

fix import
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

Fix: resolved stylelint descending specificity errors for list-follow card notes (issue #11174)
  static/css/list-follow.less
Due: none

Update reading log help link on patron exports page (#11340)
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

fix: accessibility and styling issues in reading goal modal
  openlibrary/templates/reading_goals/reading_goal_form.html
  static/css/components/reading-goal.less
Due: generate-pot, detect-missing-i18n

cleanup unnecessary change
  openlibrary/plugins/openlibrary/js/index.js
Due: none

Create template for multi-image card
  openlibrary/templates/cards/multi_image_card.html
  static/css/components/multi-image-card.less
Due: generate-pot, detect-missing-i18n

Render multi-image cards in "My Books" lists section
  openlibrary/templates/lists/showcase.html
  static/css/components/list-showcase.less
Due: generate-pot, detect-missing-i18n

fix import
  openlibrary/plugins/openlibrary/js/index.js
Due: none

address PR comments and import issue
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

separate follow form initialization from list section initialization
  openlibrary/plugins/openlibrary/js/index.js
Due: none

fix: improve homepage accessibility for screen readers
  openlibrary/templates/home/about.html
  openlibrary/templates/home/categories.html
  openlibrary/templates/home/onboarding_card.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/site/body.html
Due: generate-pot, detect-missing-i18n

add initAsyncFollowing to book-page-lists.js inside initListsSection function
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

async finally working for homepage
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/async_utils.py
  openlibrary/utils/solr.py
Due: generate-pot

mostly dissolve execute_solr_query
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

fix subjects types
  openlibrary/plugins/worksearch/subjects.py
Due: generate-pot

add facet_counts typing
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

fix path in CI
  openlibrary/asgi_app.py
Due: generate-pot

ignore path in CI
  openlibrary/asgi_app.py
Due: generate-pot

am use httpx types and fix other types
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

fix requirements.txt
  requirements.txt
Due: none

Update openlibrary/utils/async_utils.py
  openlibrary/utils/async_utils.py
Due: generate-pot

Update openlibrary/asgi_app.py
  openlibrary/asgi_app.py
Due: generate-pot

fix fields type
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

remove unneeded check
  openlibrary/utils/async_utils.py
Due: generate-pot

add wrap to asyncBridge
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/async_utils.py
Due: generate-pot

Update compose.production.yaml
  compose.production.yaml
Due: none

setup sentry
  openlibrary/asgi_app.py
  requirements.txt
Due: generate-pot

set_tag for fastapi
  openlibrary/asgi_app.py
Due: generate-pot

Fix fast_web volume mounts
  compose.production.yaml
  compose.staging.yaml
Due: none

support any args
  openlibrary/fastapi/search.py
Due: generate-pot

Move pytest import inside CI check
  openlibrary/asgi_app.py
Due: generate-pot

fix pre-commit
  openlibrary/asgi_app.py
Due: generate-pot

fix: improve UX and clarity for Bulk Search
  openlibrary/components/BulkSearch/components/BookCard.vue
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/BulkSearch/components/TableRow.vue
Due: none

tmp survey for umich
  openlibrary/templates/site/body.html
Due: generate-pot, detect-missing-i18n

Fix announcement link in body.html
  openlibrary/templates/site/body.html
Due: generate-pot, detect-missing-i18n

Fix background color syntax in BookCard.vue
  openlibrary/components/BulkSearch/components/BookCard.vue
Due: none

Update survey link in announcement message
  openlibrary/templates/site/body.html
Due: generate-pot, detect-missing-i18n

4 workers for production
  compose.production.yaml
Due: none

remove _fast from health
  openlibrary/asgi_app.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
