Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Add trending badge to book pages when trending score > 5
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/edition/view.html
  static/css/components/search-result-item.less
Due: generate-pot, detect-missing-i18n

Add safety checks for trending data handling
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Address Copilot feedback
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

fix: Provide a default 'start' value in search response if the key is missing.
  openlibrary/fastapi/search.py
Due: generate-pot

Remove commented-out ValueError exception handler.
  openlibrary/asgi_app.py
Due: generate-pot

Update messages.po
  openlibrary/i18n/bn/messages.po
Due: none

Update cron monitor script (#11632)
  scripts/cron_wrapper.py
Due: generate-pot

move all search endpoints to fastapi (#11634)
  openlibrary/core/fulltext.py
  openlibrary/fastapi/models.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/fastapi/conftest.py
  openlibrary/tests/fastapi/test_api_contract.py
Due: generate-pot

Merge pull request #11668 from jimchamp/update-preference-migration-script
  scripts/migrations/README.md
  scripts/migrations/write_prefs_to_store.py
Due: generate-pot

Add markdown files to workflow file patterns (#11547)
  .github/workflows/python_tests.yml
Due: none

feat: Add ability to add works to existing list from Bulk Search (#11348)
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/utils/classes.js
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Remove active step highlighting from bulk search progress cards and an instruction paragraph.
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
Due: none

Step 2 of #11620; don't load matomo/plausible for bots (#11621)
  docker/web_nginx.conf
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Make rate limits less aggressive
  docker/nginx.conf
  docker/web_nginx.conf
Due: none

Update docker/web_nginx.conf
  docker/web_nginx.conf
Due: none

Appease linters
  openlibrary/core/helpers.py
  static/css/components/activity-feed.less
Due: generate-pot

feat: enable adding seeds to a list via URL parameter on the edit page and update list add link to edit.
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Update login username in copydocs.py
  scripts/copydocs.py
Due: generate-pot

Avoid following redirects when logging in with `OpenLibrary` API
  openlibrary/api.py
Due: generate-pot

Remove is_blessed_ip from repo
  docker/nginx.conf
Due: none

Update build configuration for Lit components
  Makefile
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  package.json
Due: none

Refactor OLReadMore component to enhance toggle functionality and styling
  openlibrary/components/lit/OLReadMore.js
Due: none

Enhance accessibility of OLReadMore component by adding aria-hidden attribute to chevron icon
  openlibrary/components/lit/OLReadMore.js
Due: none

Remove `@here` from deployment announcements
  scripts/deployment/deploy.sh
Due: none

Refactor Table of Contents display in edition view for improved user experience
  openlibrary/templates/type/edition/view.html
  static/css/components/toc.less
Due: generate-pot, detect-missing-i18n

Refactor work description display in edition view to use ol-read-more component
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Refactor chapter display in search results to utilize ol-read-more component
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

Remove ol-read-more component and associated styles
  openlibrary/macros/ReadMore.html
  static/css/components/read-more.less
  static/css/page-book.less
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

Remove ReadMore component and associated functionality
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/readmore.js
  openlibrary/templates/site/head.html
  openlibrary/templates/type/edition/view.html
  static/css/components/search-result-item.less
  static/css/components/work.less
  tests/unit/js/readmore.test.js
Due: generate-pot, detect-missing-i18n

Remove commented line for line-height in Table of Contents styles
  static/css/components/toc.less
Due: none

Update Table of Contents styles to use a lighter grey for the border of dots for improved visual consistency
  static/css/components/toc.less
Due: none

Remove ReadMore functionality from bundlesize configuration and HTML template
  bundlesize.config.json
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

11377/fix/blank cover on edit book positioning (#11378)
  openlibrary/templates/books/edit/edition.html
  static/css/components/illustration.less
Due: generate-pot, detect-missing-i18n

remove method_memoize to DRY caching
  openlibrary/core/cache.py
  openlibrary/core/models.py
  openlibrary/tests/core/test_cache.py
Due: generate-pot

use cached_property
  openlibrary/core/models.py
Due: generate-pot

remove olmemcache and use new MemcacheClient
  openlibrary/core/cache.py
  openlibrary/coverstore/oldb.py
  openlibrary/data/db.py
  openlibrary/olbase/events.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/compress.py
  openlibrary/utils/olcompress.py
  openlibrary/utils/olmemcache.py
Due: generate-pot

use python-memcache directly everywhere
  openlibrary/core/cache.py
  openlibrary/coverstore/oldb.py
  openlibrary/data/db.py
  openlibrary/olbase/events.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Removing unnecessary changes
  openlibrary/macros/databarView.html
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/merge-request-table/MergeRequestEditPage.js
  openlibrary/plugins/openlibrary/js/merge-request-table/MergeRequestEditPageAuthor.js
  openlibrary/plugins/openlibrary/js/merge-request-table/index.js
  openlibrary/plugins/upstream/addbook.py
  openlibrary/templates/books/edit.html
  openlibrary/templates/merge_request_table/table_header.html
  openlibrary/templates/type/author/edit.html
Due: generate-pot, detect-missing-i18n

Removed commit errors
  openlibrary/templates/type/author/edit.html
Due: generate-pot, detect-missing-i18n

Restored unrelated changes
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
