Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

sort-dropper.less
  static/css/components/sort-dropper.less
Due: none

tagging.less
  static/css/components/tagging-menu.less
Due: none

Toast.less
  static/css/components/toast.less
Due: none

ui-tabs.less
  static/css/components/ui-tabs.less
Due: none

work.less
  static/css/components/work.less
Due: none

v2.less
  static/css/layout/v2.less
Due: none

legacy.less
  static/css/legacy-tools.less
  static/css/legacy.less
Due: none

page-admin.less
  static/css/page-admin.less
Due: none

page-user.less
  static/css/page-user.less
Due: none

2nd try
  static/css/page-user.less
Due: none

carousel.less
  static/css/components/carousel.less
Due: none

mybooks.less
  static/css/components/mybooks-details.less
Due: none

page-history.less
  static/css/components/page-history.less
Due: none

editions.less
  static/css/components/author-infobox.less
  static/css/components/borrowTable.less
  static/css/components/chart-stats.less
  static/css/components/diff.less
  static/css/components/editions.less
  static/css/legacy-borrowTable-adminUser.less
  static/css/legacy-datatables.less
  static/css/legacy.less
  static/css/page-plain.less
  static/css/page-signup.less
Due: none

All borders done
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  static/css/base/headings.less
  static/css/components/fulltext-search-suggestion-item.less
  static/css/components/fulltext-search-suggestion.less
  static/css/components/fulltext-snippet.less
  static/css/components/header-bar--desktop.less
  static/css/components/home.less
  static/css/components/illustration.less
  static/css/components/language.less
  static/css/components/listLists.less
  static/css/components/manage-covers.less
  static/css/components/merge-form.less
  static/css/components/nav-bar.less
  static/css/components/notes-view.less
  static/css/components/page-banner.less
  static/css/components/read-statuses.less
  static/css/components/reading-goal.less
  static/css/components/sort-dropper.less
  static/css/components/toc.less
  static/css/legacy-jquery-ui.less
Due: none

Refactor: Unify book provider download options template
  openlibrary/book_providers.py
  openlibrary/templates/book_providers/cita_press_download_options.html
  openlibrary/templates/book_providers/download_options.html
  openlibrary/templates/book_providers/gutenberg_download_options.html
  openlibrary/templates/book_providers/ia_download_options.html
  openlibrary/templates/book_providers/librivox_download_options.html
  openlibrary/templates/book_providers/openstax_download_options.html
  openlibrary/templates/book_providers/runeberg_download_options.html
  openlibrary/templates/book_providers/standard_ebooks_download_options.html
  openlibrary/templates/book_providers/wikisource_download_options.html
Due: generate-pot, detect-missing-i18n

Fix: Address PR review comments
  openlibrary/book_providers.py
  openlibrary/templates/book_providers/download_options.html
Due: generate-pot, detect-missing-i18n

Apply suggestions from code review
  static/css/components/work-title-and-author.less
Due: none

feat: Add line-heights.less import to index.less for improved styling management
  static/css/less/index.less
  static/css/less/line-heights.less
Due: none

changes in css
  static/css/page-user.less
Due: none

chore: Update line-height variables for improved typography consistency
  static/css/less/line-heights.less
Due: none

refactor: Enhance line-height definitions for better semantic usage and readability
  static/css/less/line-heights.less
Due: none

Enhance build process by adding support for lit-components in Makefile and package.json; update package-lock.json to include lit dependencies.
  Makefile
  openlibrary/components/lit-vite.config.js
  openlibrary/components/lit/index.js
  package-lock.json
  package.json
Due: none

fix: Add ARIA attributes and roles to print disability dynamic section on the registration page
  openlibrary/plugins/openlibrary/js/signup.js
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

fix: update ARIA IDs to kebab-case and remove unnecessary guards
  openlibrary/plugins/openlibrary/js/signup.js
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

Step 2 of #11620; don't load matomo for bots
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Add Bluesky link to footer
  openlibrary/templates/lib/nav_foot.html
Due: generate-pot, detect-missing-i18n

Add bsky.svg image file
  static/images/bsky.svg
Due: none

feat: Add Book Talks carousel to the homepage with new data fetching and caching.
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/home/book_talks_carousel.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Check for sitemaps.log instead of sitemaps directory
  scripts/oldump.sh
Due: none

Remove dead code handling missing dependencies
  openlibrary/core/helpers.py
Due: generate-pot

fix(copydocs): Handle login failures with clear error messages
  openlibrary/api.py
  scripts/copydocs.py
Due: generate-pot

Add language-aware filtering to random book feature
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Refactor SelectionManager to integrate merge request functionality and enhance action handling
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/merge-request-table/MergeRequestService.js
  openlibrary/plugins/upstream/edits.py
Due: generate-pot

Implement merge request handling and UI updates for editing and deleting records
  openlibrary/macros/databarView.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/merge-request-table/MergeRequestEditPage.js
  openlibrary/plugins/openlibrary/js/merge-request-table/index.js
  openlibrary/plugins/upstream/addbook.py
  openlibrary/templates/books/edit.html
  openlibrary/templates/merge_request_table/table_row.html
Due: generate-pot, detect-missing-i18n

Remove gitpod link and configuration
  .gitpod.yml
  Readme.md
Due: none

Remove remaining gitpod references from codebase
  Readme.md
  Readme_chinese.md
  Readme_es.md
  Readme_vn.md
  docker/README.md
  openlibrary/plugins/openlibrary/js/service-worker-matchers.js
  openlibrary/plugins/upstream/code.py
  scripts/setup_gitpod.sh
  tests/unit/js/service-worker-matchers.test.js
  vue.config.js
Due: generate-pot

Use `openlibrary.yml` to configure script
  scripts/cron_wrapper.py
Due: generate-pot

Replace `job_name` with `monitor_slug`
  scripts/cron_wrapper.py
Due: generate-pot

Add Sentry cron monitoring
  scripts/cron_wrapper.py
Due: generate-pot
