Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

updated test_fn_to_cli.py
  scripts/solr_builder/tests/test_fn_to_cli.py
Due: generate-pot

Update requirements_test.txt
  requirements_test.txt
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update test_fn_to_cli.py
  scripts/solr_builder/tests/test_fn_to_cli.py
Due: generate-pot

Last Update test_fn_to_cli.py
  scripts/solr_builder/tests/test_fn_to_cli.py
Due: generate-pot

Changed "typing.Optional[int]" to "int | None" in test_fn_to_cli.py
  scripts/solr_builder/tests/test_fn_to_cli.py
Due: generate-pot

change_details
  static/css/components/search-result-item.less
Due: none

Create messages.po
  openlibrary/i18n/bn/messages.po
Due: none

Avoid showing personalized loan status in cached homepage carousel
  openlibrary/templates/books/custom_carousel_card.html
Due: generate-pot, detect-missing-i18n

chore(pre-commit): run hooks on pre-push instead of pre-commit
  .pre-commit-config.yaml
Due: none

Add Goodreads data extractor script for coverage analysis
  scripts/goodreads_coverage_analysis/goodreads_extractor_enhanced.js
Due: none

Enhance build process by adding support for lit-components in Makefile and package.json; update package-lock.json to include lit dependencies.
  Makefile
  openlibrary/components/lit-vite.config.js
  openlibrary/components/lit/index.js
  package-lock.json
  package.json
Due: none

Add OLReadMore component for expandable/collapsible content
  openlibrary/components/lit/OLReadMore.js
  openlibrary/components/lit/index.js
Due: none

Add OL components and update book description rendering
  openlibrary/templates/site/footer.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Remove `statsd` from cron wrapper script
  scripts/cron_wrapper.py
Due: generate-pot

Update OLReadMore component text for consistency
  openlibrary/components/lit/OLReadMore.js
Due: none

Update capitalization of OLReadMore component text for consistency
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Refactor OLReadMore component to use <details> and <summary> for improved accessibility and functionality
  openlibrary/components/lit/OLReadMore.js
Due: none

Fix 'ThreadedDict' object has no attribute 'site' in web.py fulltext search
  openlibrary/core/fulltext.py
Due: generate-pot

refactor: Define primitive and semantic border LESS variables (#11602)
  static/css/components/home.less
  static/css/components/mybooks-menu.less
  static/css/less/borders.less
  static/css/less/colors.less
  static/css/less/index.less
Due: none

refactor: Utilize semantic font family LESS vars (#11556)
  static/css/base/headings.less
  static/css/components/category-item.less
  static/css/components/compact-title.less
  static/css/components/flash-messages.less
  static/css/components/fulltext-snippet.less
  static/css/components/home.less
  static/css/components/lists-page-cta.less
  static/css/components/mybooks-list.less
  static/css/components/navEdition.less
  static/css/components/search-result-item.less
  static/css/components/work-title-and-author.less
  static/css/legacy-wmd.less
  static/css/legacy.less
  static/css/less/font-families.less
  static/css/page-book-widget.less
Due: none

refactor: Define Line Height LESS vars (#11619)
  static/css/less/index.less
  static/css/less/line-heights.less
Due: none

Fix is bot header
  docker/nginx.conf
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

fixup!
  docker/nginx.conf
  docker/web_nginx.conf
Due: none

fixup!
  docker/web_nginx.conf
Due: none

refactor: update border-radius usage across components to new variable
  static/css/components/buttonBtn.less
  static/css/components/buttonCta.less
  static/css/components/buttonGhost.less
  static/css/components/buttonLink.less
  static/css/components/cbox.less
  static/css/components/check-in.less
  static/css/components/generic-dropper.less
  static/css/components/header-bar.less
  static/css/components/language.less
  static/css/components/merge-request-table.less
  static/css/components/mybooks-details.less
  static/css/components/page-banner.less
  static/css/components/page-heading-search-box.less
  static/css/components/searchbox.less
  static/css/components/toc.less
  static/css/components/ui-dialog.less
  static/css/components/wmd-prompt-dialog--js.less
  static/css/legacy-jquery-ui.less
  static/css/legacy.less
  static/css/page-list-edit.less
  static/css/page-user.less
Due: none

refactor: use border-radius-input var
  static/css/components/merge-request-table.less
  static/css/components/reading-goal.less
  static/css/legacy-datatables.less
  static/css/legacy.less
  static/css/page-list-edit.less
  static/css/page-signup.less
Due: none

refactor: standardize button border-radius across components
  static/css/components/buttonBtn.less
  static/css/components/buttonCta.less
  static/css/components/buttonGhost.less
  static/css/components/buttonLink.less
  static/css/components/cbox.less
  static/css/components/check-in.less
  static/css/components/generic-dropper.less
  static/css/components/header-bar.less
  static/css/components/language.less
  static/css/components/merge-request-table.less
  static/css/components/mybooks-details.less
  static/css/components/page-banner.less
  static/css/components/page-heading-search-box.less
  static/css/components/searchbox.less
  static/css/components/toc.less
  static/css/legacy-jquery-ui.less
  static/css/less/border-radius.less
Due: none

refactor: correct border-radius values in components to align with updated variable
  static/css/components/cbox.less
  static/css/components/ui-dialog.less
  static/css/less/border-radius.less
Due: none

refactor: update border-radius values in SelectionManager and buttonBtn stylesheets
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  static/css/components/buttonBtn.less
Due: none

refactor: enhance border-radius.less with improved documentation and semantic token usage
  static/css/less/border-radius.less
Due: none

refactor: update border-radius values across multiple components to use new variables
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  static/css/components/footer.less
  static/css/components/header-bar.less
  static/css/components/home.less
  static/css/components/illustration.less
  static/css/components/language.less
  static/css/components/list-follow.less
  static/css/components/mybooks-dropper.less
  static/css/components/mybooks-menu.less
  static/css/components/mybooks.less
  static/css/components/native-dialog.less
  static/css/components/search-result-item.less
  static/css/components/tagging-menu.less
  static/css/components/team.less
  static/css/page-book-widget.less
  static/css/page-design.less
  static/css/page-dev.less
  static/css/page-user.less
Due: none

feat: add border-radius.less import to page-book-widget stylesheet
  static/css/page-book-widget.less
Due: none

Updates script to write all preferences to `store`
  scripts/migrations/README.md
  scripts/migrations/write_prefs_to_store.py
Due: generate-pot

refactor: Update line-height hardcoded values with variables
  static/css/base/common.less
  static/css/components/footer.less
  static/css/components/home.less
  static/css/components/mybooks-list.less
  static/css/components/nav-bar.less
  static/css/components/search-result-item.less
  static/css/components/work-title-and-author.less
  static/css/legacy.less
  static/css/less/line-heights.less
  static/css/page-design.less
Due: none

refactor: Update line-height for links and search result items to use defined variables
  static/css/components/search-result-item.less
  static/css/legacy.less
  static/css/less/line-heights.less
Due: none

refactor: Update SearchResultsWork layout and enhance styling for book notes
  openlibrary/macros/SearchResultsWork.html
  static/css/legacy.less
  static/css/less/line-heights.less
Due: generate-pot, detect-missing-i18n

integration test for solr
  openlibrary/tests/solr/integration/__init__.py
  openlibrary/tests/solr/integration/conftest.py
  openlibrary/tests/solr/integration/helpers.py
  openlibrary/tests/solr/integration/test_author_search.py
Due: generate-pot
