Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Temporarily disable author page facets to see perf impact
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

Implement user agent monitoring for Graphite
  scripts/monitoring/monitor.py
Due: generate-pot

fix: Improve Yearly Reading Goal modal for better usability and clarity (#11343)
  openlibrary/templates/reading_goals/reading_goal_form.html
  static/css/components/reading-goal.less
Due: generate-pot, detect-missing-i18n

fix header passing
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
  openlibrary/utils/async_utils.py
Due: generate-pot

migrate search inside to fastapi
  openlibrary/asgi_app.py
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/async_utils.py
Due: generate-pot

set fast_web workers to 2
  compose.yaml
Due: none

rename async_fulltext_search to fulltext_search_async
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
Due: generate-pot

fix tests
  openlibrary/tests/core/test_fulltext.py
Due: generate-pot

Refine TODO comment in get_languages function
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

feat: add install prompt manager with auto integration for borrow/login flows
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/pwa-integration.js
  openlibrary/plugins/openlibrary/js/pwa-prompt.js
  openlibrary/plugins/openlibrary/js/service-worker-init.js
  static/css/components/pwa-prompt.less
  static/css/js-all.less
Due: none

Set explicit timeout parameters to Solr requests
  openlibrary/utils/solr.py
Due: generate-pot

set fastapi workers to 2
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
Due: none

add served by header for fastapi
  openlibrary/asgi_app.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Merge pull request #11448 from MarcCoquand/remove-emoji
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Add fetchpriority to preload metatag for cover image
  openlibrary/templates/covers/book_cover.html
Due: generate-pot, detect-missing-i18n

Remove unused Solr field name_str
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
Due: generate-pot

Fix author work collation by work title
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/types_generator.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Rebase solrconfig on Solr 9.9 default
  conf/solr/conf/solrconfig.xml
Due: none

Fix author search name collating order
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/solr/solr_types.py
Due: generate-pot

Configure analysis-extras module consistently across all configs
  compose.override.yaml
  compose.production.yaml
  compose.yaml
Due: none

Add fetchpriority attribute to main book cover image (#11444)
  openlibrary/templates/covers/book_cover.html
Due: generate-pot, detect-missing-i18n

Fix edition availability: attach to work docs instead of editions
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

Fix: Handle editions as both list and dict format
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

fix: handle HTML encoding issues in importer (e.g. Ukrainian titles)
  openlibrary/plugins/upstream/utils.py
  scripts/import_open_textbook_library.py
  scripts/partner_batch_imports.py
  scripts/promise_batch_imports.py
Due: generate-pot

refactor: use entity_decode in sanitize_book_title
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Update Stakeholders section header in design proposal
  .github/ISSUE_TEMPLATE/design_proposal.md
Due: none

fix: make update_in_place accept _timeout and only disable timeout at callers
  openlibrary/utils/solr.py
  scripts/solr_updater/trending_updater_daily.py
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

fix: fixed the background cover for excerpt checkbox field
  static/css/legacy.less
Due: none

simplify history comments closes #1381 * No longer re-writes comments based on other fields * No longer makes arbitrary comment differences for logged in vs. guest viewers
  openlibrary/templates/history/comment.html
  openlibrary/templates/recentchanges/default/comment.html
Due: generate-pot, detect-missing-i18n

simplify further this message adds nothing and only appears for non-logged in users
  openlibrary/templates/recentchanges/default/comment.html
Due: generate-pot, detect-missing-i18n

fix(data): Correct wikidata dump format to raw TSV
  scripts/dump-wikidata.sql
Due: none

feat/add-lit-web-component-support
  Makefile
  openlibrary/components/lit-vite.config.js
  openlibrary/components/lit/OlHeading.js
  openlibrary/components/lit/index.js
  openlibrary/templates/home/about.html
  openlibrary/templates/site/footer.html
  package-lock.json
  package.json
Due: generate-pot, detect-missing-i18n

upgrade to vue 3's native web component support
  openlibrary/components/rollupInputCore.js
Due: none

Add counter link
  openlibrary/templates/lib/nav_foot.html
Due: generate-pot, detect-missing-i18n

feat: add ol-button, remove ol-heading
  openlibrary/components/lit/OlButton.js
  openlibrary/components/lit/OlHeading.js
  openlibrary/components/lit/index.js
  openlibrary/templates/account/notes.html
  openlibrary/templates/home/about.html
  static/css/components/notes-view.less
Due: generate-pot, detect-missing-i18n

Remove unused title_suggest field
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
Due: generate-pot

refactor: remove mixins.less. flex browser-prefixes not needed
  static/css/components/buttonCta.less
  static/css/components/carousel.less
  static/css/components/footer.less
  static/css/components/fulltext-search-suggestion-item.less
  static/css/components/fulltext-search-suggestion.less
  static/css/components/generic-dropper.less
  static/css/components/header-bar--desktop.less
  static/css/components/header-bar.less
  static/css/components/home.less
  static/css/components/iaBar.less
  static/css/components/listLists.less
  static/css/components/search-result-item.less
  static/css/components/search-results-container.less
  static/css/components/shareLinks.less
  static/css/legacy.less
  static/css/less/index.less
  static/css/less/mixins.less
  static/css/page-admin.less
  static/css/page-design.less
  static/css/page-edit.less
  static/css/page-form.less
  static/css/page-list-edit.less
  static/css/page-plain.less
  static/css/page-user.less
Due: none

feat(admin): Add quick links to memcache dashboard for common issues
  openlibrary/i18n/messages.pot
  openlibrary/templates/admin/inspect/memcache.html
Due: generate-pot, detect-missing-i18n

fix(data): Correct wikidata dump format to raw TSV
  scripts/dump-wikidata.sql
  scripts/oldump.sh
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
