Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Fix header buttons on Create List page (#11301) (#11320)
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/list/edit.html
Due: generate-pot, detect-missing-i18n

Increase metadata fetch timeout
  openlibrary/core/vendors.py
Due: generate-pot

Fix button label translation for follow/unfollow
  openlibrary/macros/Follow.html
Due: generate-pot, detect-missing-i18n

Revert docstring removal
  openlibrary/catalog/add_book/load_book.py
Due: generate-pot

Revert change to unused file
  openlibrary/core/infobase_schema.sql
Due: none

Revert docstring change
  openlibrary/data/db.py
Due: generate-pot

Update openlibrary/admin/numbers.py
  openlibrary/admin/numbers.py
Due: generate-pot

Fix SQL injection vulnerability (#11212)
  openlibrary/admin/numbers.py
Due: generate-pot

Fix button label translation for "Follow" buttons (#11328)
  openlibrary/i18n/messages.pot
  openlibrary/macros/Follow.html
Due: generate-pot, detect-missing-i18n

Removed error
  openlibrary/templates/account/mybooks.html
Due: generate-pot, detect-missing-i18n

Made changes in the function
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

removed build errors
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

Ensure default IP set in preference update script
  scripts/migrations/update_legacy_preferences.py
Due: generate-pot

Apply code changes from review
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Remove old CSV functions
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Raise error on unauthenticated export
  openlibrary/plugins/upstream/account.py
Due: generate-pot

goto button for existing book
  openlibrary/templates/books/works-autocomplete.html
Due: generate-pot, detect-missing-i18n

complete all features for global book filter
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/site/alert.html
  static/js/preferences-handler.js
  static/js/preferences.js
Due: generate-pot, detect-missing-i18n

add carousel loading
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Due: none

final touch to UI and add debugging logs
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/site/alert.html
Due: generate-pot, detect-missing-i18n

set timeout for Image.info check to avoid site going down if covers is slow
  openlibrary/core/models.py
Due: generate-pot

Experiment with acquisition field in solr
  conf/solr/conf/managed-schema.xml
  openlibrary/book_providers.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
Due: generate-pot

Fix handling of edition-only fields
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

add type quoting
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Merge pull request #11322 from jimchamp/11233/bug/fix-reading-log-exports
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Refactor error handling in update_legacy_preferences.py
  scripts/migrations/update_legacy_preferences.py
Due: generate-pot

Further changes to partials and widgets, still in testing.
  openlibrary/templates/lists/widget.html
Due: generate-pot, detect-missing-i18n

Update scripts/migrations/update_legacy_preferences.py
  scripts/migrations/update_legacy_preferences.py
Due: generate-pot

Refactor error handling in `update_legacy_preferences.py` (#11339)
  scripts/migrations/update_legacy_preferences.py
Due: generate-pot

Update text for reading log explanation
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

Patron exports: disable buttons, show Downloading…, fetch+Blob, min duration. Fixes #123
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/patron_exports.js
Due: none

Improve Yearly Reading Goal modal for better usability and clarity
  openlibrary/templates/reading_goals/reading_goal_form.html
  static/css/components/reading-goal.less
Due: generate-pot, detect-missing-i18n

added some changes in css
  static/css/components/reading-goal.less
Due: none

fixed css lint issue
  static/css/components/reading-goal.less
Due: none

fixed css lint issue 2
  static/css/components/reading-goal.less
Due: none

Final solr tweaks from running solr deploy
  compose.production.yaml
  scripts/solr_builder/deploy-solr-next.sh
Due: none

Final rendering done
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

extract initAsyncFollowing into separate follows.js file; load conditionally when in the book-page-lists file; pass in all .follow-form elements
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/plugins/openlibrary/js/following.js
  openlibrary/plugins/openlibrary/js/index.js
Due: none
