Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix(nginx): keep the main access log alive alongside the challenge log
  docker/web_nginx.conf
Due: none

feat(nginx): write the verify_human challenge log for the fail2ban jail
  docker/web_nginx.conf
  scripts/verify_human/vh_sweep.py
Due: generate-pot

fix(nginx): drop the include for a file that no longer exists
  docker/web_nginx.conf
Due: none

style(nginx): trim the comment, drop the sweep script
  docker/web_nginx.conf
  scripts/verify_human/vh_sweep.py
Due: generate-pot

fix(nginx): log the challenge, not the challenge page
  docker/web_nginx.conf
Due: none

Translation Fixes
  openlibrary/macros/ShareModal.html
  openlibrary/plugins/openlibrary/js/modals/index.js
Due: generate-pot, detect-missing-i18n

Address lint errors and Copilot feedback on trigger ARIA and FadingToast
  openlibrary/macros/ShareModal.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  static/css/components/share-popover.css
Due: generate-pot, detect-missing-i18n

Update MAINTAINERS.md
  MAINTAINERS.md
Due: none

simplify login method
  openlibrary/accounts/model.py
Due: generate-pot

Apply pre-commit formatting fixes
  static/css/components/copy-button.css
  static/css/components/wikipedia-citation.css
  static/css/legacy.css
  static/css/page-design.css
Due: none

Replace Wikipedia citation dialog with popover
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/wikipedia-citation.js
  openlibrary/templates/design/icons.html.jinja
  openlibrary/templates/lib/exports.html
  static/css/components/copy-button.css
  static/css/components/wikipedia-citation.css
  static/css/legacy.css
  static/css/page-book.css
  static/css/page-design.css
  tests/unit/js/wikipedia-citation.test.js
Due: generate-pot, detect-missing-i18n

Update translation template
  openlibrary/i18n/messages.pot
Due: none

perf(nginx): reuse connections to haproxy
  docker/web_nginx.conf
Due: none

perf(nginx): issue the challenge redirect without the app
  docker/web_nginx.conf
Due: none

Move the jQuery UI confirmations onto ol-dialog (#13675)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/confirm-template.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/jquery-ui-dialog.js
  openlibrary/plugins/openlibrary/js/lists/ListViewBody.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/merge.js
  openlibrary/plugins/openlibrary/js/waitlist.js
  openlibrary/templates/account/loans.html
  openlibrary/templates/lists/lists.html
  openlibrary/templates/merge/authors.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/ui-dialog.css
  static/css/js-all.css
  static/css/legacy-jquery-ui.css
  static/css/tokens/z-index.css
  tests/unit/js/jquery-ui-wrappers.test.js
  tests/unit/js/my-books.test.js
Due: generate-pot, detect-missing-i18n

feat(nginx): write the verify_human challenge log for the fail2ban jail (#13674)
  docker/web_nginx.conf
Due: none

feat(search): expose acquisitions as editions.opds_acquisitions
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

feat(core): read provider acquisitions and coerce them to OPDS2 links
  openlibrary/core/acquisitions.py
Due: generate-pot

fix(search): three HIGH defects from the second independent review
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

fix(search): the sibling branch, the sibling line, and a provenance marker
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

fix(search): the page-size fix did not work, and a name-laundering regression
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

fix(search): one provider, one spelling; and rows are not links
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

fix(search): separate patron-sourced links, and correct four false claims
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

docs+test(search): pin the invariant the provenance split rests on
  openlibrary/core/acquisitions.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

docs(search): cut the commentary back to what a reader cannot derive
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Acquisitions in search.json: one OPDS2 field via the work-search scheme (#12844) (#13395)
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

Add a like: search field for finding similar works via solr more-like-this
  docs/ai/solr/index.md
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Add /developers/more-like-this to compare related-books queries side by side
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/more_like_this.py
  openlibrary/templates/more_like_this.html
  openlibrary/templates/more_like_this/page.html.jinja
  openlibrary/utils/solr.py
Due: generate-pot, detect-missing-i18n

Add a "Books I've read" pool to the more-like-this comparison page
  openlibrary/plugins/openlibrary/more_like_this.py
Due: generate-pot

Make more-like-this tuning adjustable from the url, and comparisons shareable
  openlibrary/fastapi/models.py
  openlibrary/plugins/openlibrary/more_like_this.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/more_like_this/page.html.jinja
  openlibrary/tests/fastapi/test_models.py
Due: generate-pot

Rank like: results by similarity rather than popularity, and calibrate for production
  docs/ai/solr/index.md
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

feat(lenny): encrypted per-provider OAuth token storage, minus the migration
  openlibrary/accounts/model.py
  openlibrary/core/provider_tokens.py
  openlibrary/tests/core/test_provider_tokens.py
Due: generate-pot

Register Lenny as a book provider so the existing button offers it (#13686)
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/tests/test_borrow.py
  openlibrary/templates/book_providers/read_button.html
  openlibrary/tests/test_book_providers.py
Due: generate-pot, detect-missing-i18n

Say in the code why the button-exists assertion comes first
  openlibrary/templates/book_providers/read_button.html
  openlibrary/tests/test_book_providers.py
Due: generate-pot, detect-missing-i18n

feat(lenny): store the grant in provider_tokens, not a cookie
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/lenny.py
  openlibrary/plugins/upstream/tests/test_lenny.py
Due: generate-pot

docs(lenny): login_hint is unshipped on the node, not unsupported
  openlibrary/plugins/upstream/lenny.py
Due: generate-pot

feat(lenny): merge provider loans into the patron's loans page
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/lenny.py
  openlibrary/plugins/upstream/tests/test_lenny.py
  openlibrary/plugins/upstream/tests/test_loan_actions.py
  openlibrary/templates/account/loan_actions.html
  openlibrary/templates/account/loans.html
Due: generate-pot, detect-missing-i18n

feat(lenny): log the shape of a malformed node loan, not its contents
  openlibrary/plugins/upstream/lenny.py
Due: generate-pot

docs(lenny): record why get_fresh locks on every call, with the measurements
  openlibrary/core/provider_tokens.py
Due: generate-pot

docs(lenny): price the token read with the measured figure, not an estimate
  openlibrary/plugins/upstream/lenny.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
