Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Update openlibrary/core/waitinglist.py
  openlibrary/core/waitinglist.py
Due: generate-pot

add temp space to rerun ci
  openlibrary/core/waitinglist.py
Due: generate-pot

get_or_raise
  openlibrary/accounts/model.py
  openlibrary/core/waitinglist.py
Due: generate-pot

Edition type
  openlibrary/core/waitinglist.py
Due: generate-pot

use type_checking conditional
  openlibrary/core/waitinglist.py
Due: generate-pot

fix return
  openlibrary/core/waitinglist.py
Due: generate-pot

add typehints to memcache_memoize
  openlibrary/core/cache.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/tests/core/test_cache.py
Due: generate-pot

fix one broken test
  openlibrary/core/cache.py
Due: generate-pot

follow quote pattern
  openlibrary/core/cache.py
Due: generate-pot

Fixes
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/templates/lists/list_follow.html
Due: generate-pot, detect-missing-i18n

update toast message and remove complete
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

use modern ruff config
  pyproject.toml
Due: none

use modern ruff-check pre-commit hook
  .pre-commit-config.yaml
Due: none

standardize 24px and 28px fonts
  static/css/components/iaBar.less
  static/css/components/merge-request-table.less
  static/css/components/sort-dropper.less
Due: none

standardize 16px fonts
  static/css/base/helpers-misc.less
  static/css/components/check-in.less
  static/css/components/jquery.autocomplete.less
  static/css/components/metadata-form.less
  static/css/components/notes-view.less
  static/css/components/reading-goal.less
  static/css/components/work.less
Due: none

standardize 14px fonts
  static/css/base/headings.less
  static/css/base/helpers-misc.less
  static/css/components/buttonCta.less
  static/css/components/cbox.less
  static/css/components/header-bar.less
  static/css/components/observationStats.less
  static/css/components/read-panel.less
  static/css/components/tagging-menu.less
  static/css/components/wmd-prompt-dialog--js.less
  static/css/legacy-datatables.less
  static/css/page-edit.less
  static/css/page-plain.less
  static/css/page-signup.less
Due: none

standardize 12px fonts
  static/css/base/common.less
  static/css/base/headings.less
  static/css/base/helpers-misc.less
  static/css/components/buttonCta.less
  static/css/components/header-bar.less
  static/css/components/jquery.autocomplete.less
  static/css/components/list-follow.less
  static/css/components/listLists.less
  static/css/components/manage-covers.less
  static/css/components/merge-request-table.less
  static/css/components/modal-links.less
  static/css/components/read-panel.less
  static/css/legacy-datatables.less
  static/css/legacy.less
  static/css/page-edit.less
  static/css/page-signup.less
Due: none

standardize 11px fonts
  static/css/base/headings.less
  static/css/base/helpers-common.less
  static/css/base/helpers-misc.less
  static/css/components/diff.less
  static/css/components/form.olform.less
  static/css/components/illustration.less
  static/css/components/jquery.autocomplete.less
  static/css/components/tagging-menu.less
  static/css/legacy-datatables.less
  static/css/legacy.less
  static/css/page-admin.less
Due: none

fix import
  static/css/components/metadata-form.less
Due: none

remove extra font sizes from works
  static/css/base/common.less
  static/css/components/editions.less
  static/css/components/link-box.less
  static/css/components/nav-bar.less
  static/css/components/readerStats.less
  static/css/components/work-title-and-author.less
  static/css/components/work.less
  static/css/legacy-datatables.less
Due: none

restore star changes
  static/css/components/readerStats.less
Due: none

remove unused author location code
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

New lists render for community
  openlibrary/i18n/messages.pot
  openlibrary/templates/lists/list_follow.html
  static/css/components/list-follow.less
Due: generate-pot, detect-missing-i18n

Set up styling for button disable
  openlibrary/templates/covers/external_image.html
Due: generate-pot, detect-missing-i18n

Fix I/O errors during sitemap generation
  scripts/sitemaps/sitemap.py
Due: generate-pot

Feature: log when a cover URL is disallowed
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

use SubjectType typehint literals
  openlibrary/core/models.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

typehint literals as needed
  openlibrary/core/formats.py
  openlibrary/core/lending.py
Due: generate-pot

observations type literal
  openlibrary/core/observations.py
Due: generate-pot

add literal to schema.py
  openlibrary/utils/schema.py
Due: generate-pot

remove old redirects
  openlibrary/views/showmarc.py
Due: generate-pot

fix circular import
  openlibrary/core/models.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/solr/updater/list.py
Due: generate-pot

Added alt text to openlibrary avatar
  openlibrary/i18n/messages.pot
  openlibrary/templates/lists/list_follow.html
Due: generate-pot, detect-missing-i18n

Improved Card Component for Community Lists (#11104)
  openlibrary/i18n/messages.pot
  openlibrary/templates/lists/list_follow.html
  static/css/components/list-follow.less
Due: generate-pot, detect-missing-i18n

`anonymous_store_remediation.py` updates (#11084)
  scripts/migrations/anonymous_store_remediation.py
Due: generate-pot

fix waitlist btn padding on homepage
  static/css/components/book.less
Due: none

Update book.less
  static/css/components/book.less
Due: none

fix specificity and ordering
  static/css/components/book.less
Due: none

Fix Waitlist button padding issue (#11079)
  static/css/components/book.less
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
