Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix(explore): make the shelf label the subgenre-index toggle
  openlibrary/components/LibraryExplorer/components/ClassSlider.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/LibraryExplorer/components/icons/IndexIcon.vue
Due: none

fix(explore): keep rating placard clear of the genre-mode baseboard
  openlibrary/components/LibraryExplorer/components/BooksCarousel.vue
Due: none

style(explore): unify shelf lighting, ground covers on the baseboard
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

feat(catalog): add generic OPDS 2.0 adapter (opds2.py)
  openlibrary/catalog/opds2.py
  openlibrary/catalog/tests/__init__.py
  openlibrary/catalog/tests/test_opds2.py
Due: generate-pot

refactor(imports): BWB importer becomes a thin consumer of catalog/opds2
  scripts/bwb_opds_imports.py
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

Add new crontab file to `web_nginx` service
  compose.production.yaml
Due: none

feat(explore): basic/enriched genre-tree toggle, from-scratch genre-basic.json
  openlibrary/components/LibraryExplorer/genre-basic.json
  openlibrary/components/LibraryExplorer/genre.json
  scripts/generate_genre_classification.py
Due: generate-pot

feat(explore): opt-in subgenre/parent query intersection
  openlibrary/components/LibraryExplorer/components/Shelf.vue
Due: none

feat: auto-hide site header on scroll
  openlibrary/plugins/openlibrary/js/header-scroll.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/site/body.html
  static/css/components/header-bar.css
Due: generate-pot, detect-missing-i18n

feat(explore): sticky controls -- pills on the board, URL facets, Adult audience
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/GenreFilterBar.vue
  openlibrary/components/LibraryExplorer/components/GenreTopNav.vue
Due: none

Revert accidental role-check regression in merge_work
  openlibrary/plugins/upstream/code.py
Due: generate-pot

Require auth and restrict GET /api/patron/likes to the caller's own likes
  openlibrary/plugins/openlibrary/tests/test_likes.py
  openlibrary/plugins/upstream/likes.py
Due: generate-pot

feat(admin): feed registry admin view + CRUD at /admin/imports/registry
  openlibrary/core/tbp.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/imports_registry.html
  openlibrary/tests/core/test_tbp.py
Due: generate-pot, detect-missing-i18n

fix(ci): auto-assign reviewer on fork PRs via pull_request_target
  .github/workflows/auto_assign_reviewer.yml
Due: none

chore(ci): drop dead matrix-gated step from python_tests
  .github/workflows/python_tests.yml
Due: none

feat(imports): add per-feed harvest lock to FeedRegistry
  openlibrary/core/tbp.py
  openlibrary/tests/core/test_tbp.py
Due: generate-pot

fix: parse Solr 10 request logs (restores Solr Graphite metrics)
  scripts/monitoring/solr_logs_monitor.py
  scripts/monitoring/tests/test_solr_logs_monitor.py
Due: generate-pot

feat(imports): multi-feed harvest runner + admin trigger
  openlibrary/core/feeds.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/imports_registry.html
  openlibrary/tests/core/test_feeds.py
Due: generate-pot, detect-missing-i18n

docs(solr): Solr observability analysis — buildable-now vs needs-VPN split
  docs/ai/solr/observability.md
  docs/ai/solr/priorities.md
Due: none

fix(ci): make new_pr_labeler's canonical-repo guard actually guard
  .github/workflows/new_pr_labeler.yml
Due: none

chore(ci): remove dead issue_refinement workflow
  .github/workflows/issue_refinement.lock.yml
  .github/workflows/issue_refinement.md
Due: none

fix(ci): stop the daily digest labeling bot comments 'Needs: Response'
  .github/workflows/config/new_comment_digest.json
Due: none

feat(imports): add staged_record buffer for the bookworm staging DB
  docker/staging-db/schema.sql
  openlibrary/core/staged.py
  openlibrary/tests/core/test_staged.py
Due: generate-pot

feat(imports): add bookworm staging runner (harvest -> stage -> promote)
  openlibrary/core/bookworm.py
  openlibrary/tests/core/test_bookworm.py
Due: generate-pot

feat(imports): add bookworm container + staging-db compose services
  compose.override.yaml
  scripts/bookworm.py
Due: generate-pot

fix(lit): merge duplicate connectedCallback in OlSelectPopover
  openlibrary/components/lit/OlSelectPopover.js
Due: none

fix(select-popover): restore trigger label, selected tint, and truncation
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/OlToggle.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  static/css/components/ol-button.css
  static/css/tokens/colors.css
Due: none

refactor(options-popover): move the default trigger onto ol-button
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/custom-elements.json
  openlibrary/components/lit/utils/focusable-host-mixin.js
Due: none

docs(lit): address review feedback on comments and JSDoc
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlPagination.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/custom-elements.json
  openlibrary/components/lit/utils/focus-utils.js
  openlibrary/components/lit/utils/focusable-host-mixin.js
  openlibrary/components/lit/utils/form-associated-mixin.js
  openlibrary/components/lit/utils/keyboard-nav.js
  static/css/components/ol-button.css
  static/css/tokens/colors.css
  tests/unit/js/keyboardNav.test.js
Due: none

build: stop committing custom-elements.json
  .gitignore
  openlibrary/components/lit/custom-elements.json
  openlibrary/plugins/openlibrary/design.py
Due: generate-pot

refactor(form-associated): tighten the mixin's public surface
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/OlToggle.js
  openlibrary/components/lit/utils/form-associated-mixin.js
  tests/unit/js/formAssociatedMixin.test.js
Due: none

fix(ol-button): tuck the disclosure chevron against its label
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  static/css/components/ol-button.css
Due: none

fix(subjects): address review feedback on Notable Authors
  openlibrary/i18n/messages.pot
  openlibrary/macros/SubjectAuthors.html
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
  openlibrary/utils/solr.py
  static/css/components/subject-authors.css
Due: generate-pot, detect-missing-i18n

fix(subjects): make Notable Authors card hover instant
  static/css/components/subject-authors.css
Due: none

fix: keep catalog export links in a row below floated columns
  static/css/components/page-history.css
Due: none

fix(components): a11y and visual fixes from review
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/OlToggle.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  static/css/components/ol-button.css
  static/css/tokens/colors.css
Due: none

feat(subjects): blend syllabus data into Notable Authors ranking
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
Due: generate-pot

fix(subjects): harden and correct Notable Authors counts
  openlibrary/macros/SubjectAuthors.html
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
  static/css/components/subject-authors.css
Due: generate-pot, detect-missing-i18n

refactor(OlCarousel): rebuild on native scroll snapping
  openlibrary/components/lit/OlCarousel.js
  openlibrary/templates/design/carousel.html.jinja
  package.json
  tests/unit/js/OlCarousel.test.js
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
