Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

ReadingGoalProgress partial
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_reading_goal_progress_partial.py
Due: generate-pot

add MyBooksDropperListsPartial
  openlibrary/fastapi/partials.py
  test_my_books_dropper_lists_partial.py
Due: generate-pot

add LazyCarousel partial
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_lazy_carousel_partial.py
Due: generate-pot

async
  openlibrary/fastapi/partials.py
Due: generate-pot

add CarouselLoadMore partial
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_carousel_load_more_partial.py
Due: generate-pot

add sfw to req_context
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/request_context.py
Due: generate-pot

fix search default
  openlibrary/plugins/openlibrary/partials.py
  test_lazy_carousel_partial.py
Due: generate-pot

use request context lang for prethread
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

deprecate old endpoint
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

remove duplicate instantiation
  openlibrary/fastapi/partials.py
Due: generate-pot

add sfw to conftest
  openlibrary/conftest.py
Due: generate-pot

remove old reading goal web.py code
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/upstream/yearly_reading_goals.py
Due: generate-pot

deprecate web.py subjects/publishers endpoints
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/worksearch/publishers.py
  openlibrary/plugins/worksearch/subjects.py
Due: generate-pot

move calls into openlibrary_setup and reorder
  openlibrary/code.py
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Enhance View Transitions: Add Subject support, prefetching, and robust transition logic
  openlibrary/plugins/openlibrary/js/view-transitions.js
  static/css/components/view-transitions.less
  static/css/js-all.less
Due: none

add prometheus monitoring for fastapi
  openlibrary/asgi_app.py
  requirements.txt
Due: generate-pot

bump version
  requirements.txt
Due: none

Change placeholder color to hex format
  static/css/components/view-transitions.less
Due: none

Change background color to use variable for consistency
  static/css/components/view-transitions.less
Due: none

remove temp tests
  test_affiliate_links_comparison.py
  test_affiliate_links_partial.py
  test_book_page_lists_comparison.py
  test_book_page_lists_partial.py
  test_carousel_load_more_partial.py
  test_fulltext_suggestions_comparison.py
  test_fulltext_suggestions_partial.py
  test_lazy_carousel_partial.py
  test_my_books_dropper_lists_partial.py
  test_reading_goal_progress_partial.py
  test_search_facets_comparison.py
  test_search_facets_partial.py
Due: generate-pot

async bpl
  openlibrary/fastapi/partials.py
Due: generate-pot

async all endpoints
  openlibrary/fastapi/partials.py
Due: generate-pot

use request context for more utils
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

fix test
  openlibrary/plugins/upstream/tests/test_utils.py
Due: generate-pot

add fallback support
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Migrate all partials components to FastAPI (#11773)
  .pre-commit-config.yaml
  openlibrary/asgi_app.py
  openlibrary/conftest.py
  openlibrary/fastapi/partials.py
  openlibrary/i18n/__init__.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_i18n.py
  openlibrary/utils/request_context.py
Due: generate-pot

remove web.py partials code
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Add comprehensive GitHub Copilot agent instructions
  .github/agents/copilot-instructions.md
  docs/ai/README.md
Due: none

incorporate Copilot suggestions
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/searchbox.html
Due: generate-pot, detect-missing-i18n

Temporarily update store key for stats objects
  openlibrary/admin/stats.py
Due: generate-pot

Add AI agent documentation with feature inventory and external resource links
  docs/ai/README.md
  docs/ai/features_overview.md
Due: none

Reinstate `recentchanges_view` POST handler
  openlibrary/plugins/upstream/recentchanges.py
Due: generate-pot

Reinstate `recentchanges_view` POST handler (#11897)
  openlibrary/plugins/upstream/recentchanges.py
Due: generate-pot

add pre-commit info to agents.md and symlink claude.md
  AGENTS.md
  CLAUDE.md
Due: none

relative symlink
  CLAUDE.md
Due: none

Merge pull request #11898 from internetarchive/update-agents.md
  AGENTS.md
  CLAUDE.md
Due: none

Update openlibrary/templates/lib/nav_head.html
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

address review feedback: document exclusions, revert controversial auto-fixes
  .pre-commit-config.yaml
  pyproject.toml
  scripts/dump-covers-metadata.sql
  scripts/dump-ratings.sql
  scripts/dump-reading-log.sql
Due: none

fix: prevent caching of failed carousel search results (#11373)
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
