Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Update openlibrary/fastapi/search.py
  openlibrary/fastapi/search.py
Due: generate-pot

move imports up
  openlibrary/utils/async_utils.py
Due: generate-pot

use dataclass
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
  openlibrary/utils/async_utils.py
Due: generate-pot

refactor: Standardize `search_inside_json` limit parameter with `RESULTS_PER_PAGE` constant and allow zero.
  openlibrary/fastapi/search.py
Due: generate-pot

Update openlibrary/conftest.py
  openlibrary/conftest.py
Due: generate-pot

better comment
  openlibrary/conftest.py
Due: generate-pot

refactor(test): Use pytest-httpx for HTTP mocking in fulltext tests and add request context setup.
  openlibrary/tests/core/test_fulltext.py
  requirements_test.txt
Due: generate-pot

refactor: Rename context setting functions and update their docstrings for clarity.
  openlibrary/asgi_app.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/utils/async_utils.py
Due: generate-pot

drop pytest-httpx version to match our httpx version
  requirements_test.txt
Due: none

bump httpx
  requirements.txt
Due: none

httpx==0.27.1
  requirements.txt
Due: none

Switch from returning 444s to 403s to match prod
  docker/web_nginx.conf
Due: none

Remove mixin from `pagination.less`
  static/css/components/pagination.less
Due: none

Add markdown files to workflow file patterns
  .github/workflows/python_tests.yml
Due: none

refactor: remove unused Checkbox class definition
  openlibrary/utils/form.py
Due: generate-pot

refactor: revert unrelated changes, keeping only language autocomplete styles
  static/css/components/form.olform.less
  static/css/components/jquery.autocomplete.less
  static/css/page-edit.less
Due: none

Fix parsing of fastapi search.json boolean parsing
  openlibrary/fastapi/search.py
Due: generate-pot

move processing of 'fields' queryparam to pydantic
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

remove mode, it's already default
  openlibrary/fastapi/search.py
Due: generate-pot

refactor: Move `q` parameter validation into `PublicQueryOptions` field validator and use `HTTPException` for errors.
  openlibrary/fastapi/search.py
Due: generate-pot

feat: Add JSON parsing error handling for the `query` parameter in the search endpoint and include new tests for valid and invalid JSON inputs.
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

feat: Add JSON query parameter with validation to `WorkSearchScheme` and remove manual parsing from `search_json` endpoint.
  openlibrary/fastapi/search.py
Due: generate-pot

refactor: encapsulate sort and spellcheck_count query parameters within AdditionalEndpointQueryOptions.
  openlibrary/fastapi/search.py
Due: generate-pot

Fix heavily crawled books appearing in trending carousel
  openlibrary/plugins/openlibrary/api.py
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

fix: prevent caching carousel errors when Solr fails
  openlibrary/core/cache.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_cache.py
Due: generate-pot

fix: address ruff linting errors
  openlibrary/core/cache.py
  openlibrary/tests/core/test_cache.py
Due: generate-pot

refactor: Unify search endpoint parameters into a single `SearchRequestParams` model using `Query()` and add OpenAPI documentation tests.
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

refactor: Exclude offset from the search query dictionary and add a test for pagination parameter handling.
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

reduce down time
  openlibrary/plugins/worksearch/languages.py
  openlibrary/plugins/worksearch/subjects.py
Due: generate-pot

feat: add description and examples to the search language parameter
  openlibrary/fastapi/search.py
Due: generate-pot

feat: Add descriptions and examples to search query facet fields.
  openlibrary/fastapi/search.py
Due: generate-pot

test: update expected type for `has_fulltext` parameter to string in search tests
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

move q back up
  openlibrary/fastapi/search.py
Due: generate-pot

refactor: simplify `Field` default assignments and ensure sorted default `fields`
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

refactor: replace HTTPException with ValueError in Pydantic field validators
  openlibrary/fastapi/search.py
Due: generate-pot

docs: add "search" tag to `/search.json` endpoint
  openlibrary/fastapi/search.py
Due: generate-pot

feat: Use BeforeValidator to parse comma-separated fields string into a list in search request parameters.
  openlibrary/fastapi/search.py
Due: generate-pot

feat: Parse search query parameter as a JSON dictionary and refactor its validation.
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

test: replace query alias test with precedence test for search parameters
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

feat: introduce Pydantic SearchResponse model for `/search.json` endpoint and update tests accordingly
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot
