Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

cleanup compose files
  compose.override.yaml
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
Due: none

location to call book-autocomplete template
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

create books-autocomplete template
  openlibrary/templates/books/books-autocomplete.html
Due: generate-pot, detect-missing-i18n

fix books-autocomplete template name
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

skeleton based on autho-autocomplete template
  openlibrary/templates/books/books-autocomplete.html
Due: generate-pot, detect-missing-i18n

add books-autocomplete template parameters
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

Add typing to dynlinks so `preview` only added when necessary
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
Due: generate-pot

removed some console logs
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

added internationalization
  openlibrary/macros/Follow.html
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: generate-pot, detect-missing-i18n

Fixed up code in Follow.html
  openlibrary/macros/Follow.html
Due: generate-pot, detect-missing-i18n

Disabled follow buttons
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/templates/lists/list_follow.html
Due: generate-pot, detect-missing-i18n

Fixed following bug for user with multiple lists
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

Update jest to latest version
  openlibrary/plugins/openlibrary/js/SearchBar.js
  package-lock.json
  package.json
  tests/unit/js/SearchBar.test.js
Due: none

Update form-data for quagga -- it seems unused actually
  package-lock.json
  package.json
Due: none

Update old insecure JS deps + fix service worker not loading
  package-lock.json
  package.json
  webpack.config.js
Due: none

Added import for persistent toast
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

Removed unusewd parameter for catch block
  openlibrary/plugins/openlibrary/js/book-page-lists.js
Due: none

Fix XSS vulnerability in barcodescanner returnTo parameter
  openlibrary/components/BarcodeScanner.vue
Due: none

confirming 401 Unauthorized response
  openlibrary/plugins/admin/code.py
Due: generate-pot

setup asyncer
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/solr.py
  requirements.txt
Due: generate-pot

docs: improve README grammar and clarity
  Readme.md
Due: none

fixed the bug #11246
  Readme.md
  openlibrary/solr/updater/work.py
  openlibrary/tests/solr/updater/test_work.py
  package-lock.json
  test_cover_fix.py
Due: generate-pot

Make js/css/component build in adjacent *_new directory
  .eslintignore
  Makefile
  bundlesize.config.json
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/site/footer.html
  openlibrary/templates/widget.html
  tests/unit/js/service-worker-matchers.test.js
  webpack.config.css.js
  webpack.config.js
Due: generate-pot, detect-missing-i18n

Fix webpack public path
  webpack.config.js
Due: none

Fix bot monitoring 'other' category
  scripts/monitoring/tests/test_utils_sh.py
  scripts/monitoring/utils.sh
Due: generate-pot

Show notice when leaving openlibrary barcode scanner
  openlibrary/components/BarcodeScanner.vue
Due: none

Code review feedback
  openlibrary/components/BarcodeScanner.vue
Due: none

Only load the search facets when visible
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/search.js
Due: none

Fix bug with dynlinks.add_availability
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
Due: generate-pot

Replace failing method call
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

read LC author name authority control from MARC closes #7724
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_Nihon_no_chasho.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_arabic_french_many_linkages.json
  openlibrary/catalog/marc/tests/test_parse.py
Due: generate-pot

extract ISNI and DND author authority ids
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/lesnoirsetlesrou0000garl_meta.json
Due: generate-pot

Remove unnecessary condition for price fetching
  openlibrary/macros/AffiliateLinks.html
Due: generate-pot, detect-missing-i18n

Set timeAllowed solr parameter to avoid solr wasting cycles on timed-out queries
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/utils/solr.py
  scripts/solr_updater/trending_updater_daily.py
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Add solr to py-spy monitoring
  scripts/monitoring/utils.sh
Due: none

Don't autocomplete for prefixes that are too generic
  openlibrary/plugins/openlibrary/js/SearchBar.js
Due: none

feat(core): move Save Page Now to ia.py, add creds resolver, and add pytest integration test
  openlibrary/core/archive.py
  openlibrary/core/ia.py
  scripts/tests/test_archive.py
Due: generate-pot

use logger
  openlibrary/core/lending.py
Due: generate-pot

rename to works-autocomplete.html to match naming conventions elsewhere
  openlibrary/templates/books/works-autocomplete.html
Due: generate-pot, detect-missing-i18n

focus changes to render autocomplete options
  openlibrary/templates/books/works-autocomplete.html
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
