Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Remove no longer used LegacyDataProvider
  openlibrary/solr/data_provider.py
  openlibrary/solr/update.py
Due: generate-pot

Rename BetterDataProvider to DatabaseDataProvider
  openlibrary/solr/data_provider.py
  openlibrary/tests/solr/test_data_provider.py
Due: generate-pot

Apply code review feedback
  openlibrary/tests/solr/test_data_provider.py
  scripts/solr_updater/solr_updater.py
Due: generate-pot

Remove no longer used query.py file
  openlibrary/catalog/utils/query.py
  openlibrary/solr/update.py
  scripts/solr_updater/solr_updater.py
Due: generate-pot

Use modern postgres syntax for ratings
  openlibrary/core/ratings.py
Due: generate-pot

Search modal: flag readable results not in the patron's language
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/search_modal_i18n.html
  tests/unit/js/searchModalConstants.test.js
Due: generate-pot, detect-missing-i18n

Design page: surface only documented component properties
  openlibrary/components/lit/custom-elements.json
  openlibrary/plugins/openlibrary/design.py
Due: generate-pot

Search modal: widen Readable badge for print-disabled patrons
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

Search modal: name multiple languages in the readable mismatch hint
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  tests/unit/js/searchModalConstants.test.js
Due: none

Search modal: badge readability off the promoted edition
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

Search modal: dedupe sessionStorage, URL builders, and result resets
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
Due: none

Searchbox: use type=search input with search enterkeyhint
  openlibrary/templates/search/searchbox.html
  static/css/components/searchbox.css
Due: generate-pot, detect-missing-i18n

Search modal: name the readable copy's language when several are filtered
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  tests/unit/js/searchModalConstants.test.js
Due: none

ol-tooltip: gate on hover-capable pointers, hide on scroll
  openlibrary/components/lit/OlTooltip.js
  openlibrary/components/lit/custom-elements.json
Due: none

Browse menu: redesign as a popover with featured destinations
  openlibrary/templates/lib/browse_popover.html
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar.css
  static/css/ol-components.css
Due: generate-pot, detect-missing-i18n

Migrate merge_authors_json to FastAPI
  openlibrary/asgi_app.py
  openlibrary/fastapi/merge_authors.py
  openlibrary/plugins/upstream/edits.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
  openlibrary/tests/fastapi/test_merge_authors.py
Due: generate-pot

i18n(zh): batch 1 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

i18n(zh): batch 2 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

i18n(zh): batch 3 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

i18n(zh): batch 4 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

i18n(zh): batch 5 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

i18n(zh): batch 6 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

i18n(zh): batch 7 (final) — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/zh/messages.po
Due: none

chore(deps): consolidate Python dependency upgrades (non-major)
  requirements.txt
  requirements_test.txt
  scripts/gh_scripts/requirements.txt
Due: none

chore(deps): bump @babel/eslint-parser from 7.28.6 to 7.29.7
  package-lock.json
Due: none

chore(deps): update JS dependencies (non-major)
  package-lock.json
  package.json
Due: none

chore(deps): bump @eslint/js from ^9.39.4 to ^10.0.0
  package-lock.json
  package.json
Due: none

chore(deps): bump babel-loader from ^9.1.3 to ^10.0.0
  package-lock.json
  package.json
Due: none

chore: sync ruff-pre-commit rev to match requirements_test.txt (v0.15.16)
  .pre-commit-config.yaml
Due: none

fix: revert @eslint/js to ^9.39.4 to match eslint v9
  package-lock.json
  package.json
Due: none

i18n(as): batch 1 — 75 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batch 2 — 75 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batch 3 — 75 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 4-5 — 150 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 6-7 — 148 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 8-9 — 148 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 10-11 — 147 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 12-13 — 134 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 14-15 — 141 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

i18n(as): batches 16-17 — 136 AI translations (claude-sonnet-4-6)
  openlibrary/i18n/as/messages.po
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
