Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

default to archive.org
  openlibrary/core/ia.py
Due: generate-pot

Update ia.py to fix the undefined IA base url (#8610)
  openlibrary/core/ia.py
Due: generate-pot

feat: Add OLChipGroup component and update RelatedSubjects macro
  openlibrary/components/lit/OLChipGroup.js
  openlibrary/components/lit/index.js
  openlibrary/macros/RelatedSubjects.html
  static/css/page-subject.less
Due: generate-pot, detect-missing-i18n

Add SELinux relabel option to bind mount volumes in local composer config
  compose.selinux.yaml
  docker/README.md
Due: none

create more useful tests
  hi.txt
Due: none

remove translated readmes
  Readme_chinese.md
  Readme_es.md
  Readme_vn.md
Due: none

Revert GitHub link in CONTRIBUTING.md as per mentor feedback
  CONTRIBUTING.md
Due: none

remove translated readmes (#11946)
  Readme_chinese.md
  Readme_es.md
  Readme_vn.md
Due: none

Issue Refinement Bot
  .github/workflows/issue_refinement.md
Due: none

Refactor CSS variable declaration in MergeTable.vue to use :host selector for improved encapsulation
  openlibrary/components/MergeUI/MergeTable.vue
Due: none

Update messages.po
  openlibrary/i18n/bn/messages.po
Due: none

Remove some dead files
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/dev_instance.py
  openlibrary/plugins/wikidata/__init__.py
  scripts/run_doctests.sh
  scripts/start-solr.sh
Due: generate-pot

remove languages from main readme
  Readme.md
Due: none

remove languages from main readme (#11950)
  Readme.md
Due: none

remove gitter from the readme
  Readme.md
Due: none

remove gitter from the readme (#11951)
  Readme.md
Due: none

Implement series support, with edge metadata stored on Work
  Makefile
  conf/solr/conf/managed-schema.xml
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/core/processors/readableurls.py
  openlibrary/core/schema.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/solr/updater/list.py
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/series-autocomplete.html
  openlibrary/templates/type/edition/title_and_author.html
  openlibrary/templates/type/series/view.html
  static/css/components/work-title-and-author.css
Due: generate-pot, detect-missing-i18n

Add series edge info in solr work
  conf/solr/conf/managed-schema.xml
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/updater/work.py
  openlibrary/tests/solr/updater/test_work.py
  static/css/components/search-result-item.css
Due: generate-pot, detect-missing-i18n

Make it possible to edit series from series page
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/type/list/edit.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/type/series/edit.html
Due: generate-pot, detect-missing-i18n

Store series in solr as type:series for consistency
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/solr/updater/list.py
Due: generate-pot

Fix some small bugs
  openlibrary/catalog/utils/query.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/code.py
Due: generate-pot, detect-missing-i18n

Fix some more bugs
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot, detect-missing-i18n

Fix typing errors
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/solr/updater/work.py
  openlibrary/tests/solr/updater/test_work.py
Due: generate-pot

Fix failing tests
  openlibrary/solr/solr_types.py
Due: generate-pot

Fix series form a11y issues
  openlibrary/i18n/messages.pot
  openlibrary/templates/books/series-autocomplete.html
  static/css/components/form.olform.css
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

CR feedback + make series editing super librarian only
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/series-autocomplete.html
  openlibrary/templates/type/edition/title_and_author.html
Due: generate-pot, detect-missing-i18n

Customize list/series edit UIs
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/type/list/edit.html
  static/css/components/form.olform.css
  static/css/page-list-edit.css
Due: generate-pot, detect-missing-i18n

Modify BookPreview macro
  openlibrary/plugins/openlibrary/tests/test_home.py
Due: generate-pot

make logo responsive to dark mode
  static/images/openlibrary-logo-tighter.svg
Due: none

Fix deleting from series edit page
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

refactor: remove padding-left property from OLReadMore component and update styles
  openlibrary/components/lit/OLReadMore.js
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.css
Due: generate-pot, detect-missing-i18n

style: adjust padding and add media query for toggle button in OLReadMore component
  openlibrary/components/lit/OLReadMore.js
Due: none

style: refine padding in OLReadMore component for improved layout
  openlibrary/components/lit/OLReadMore.js
Due: none

fix library explorer reference
  docs/ai/features_overview.md
Due: none

Issue Refinement Bot
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/issue_refinement.lock.yml
  .github/workflows/issue_refinement.md
Due: none

Issue Refinement Bot (#11953)
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/issue_refinement.lock.yml
  .github/workflows/issue_refinement.md
Due: none

Make list pages edition-aware
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Fix list availability fetched for solr work instead of edition
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Fix get_solr_works for lists without works
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
