Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Add user agent to availability requests
  openlibrary/core/lending.py
Due: generate-pot

remove link to defunct social media
  openlibrary/templates/lib/nav_foot.html
  static/images/tweet.svg
Due: generate-pot, detect-missing-i18n

Sanitize tag body before rendering macros
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

remove unlinked static image
  static/images/george/ade-screenshot.png
Due: none

remove more unused images
  static/images/internet_explorer/borderBottomCenter.png
  static/images/internet_explorer/borderBottomLeft.png
  static/images/internet_explorer/borderBottomRight.png
  static/images/internet_explorer/borderMiddleLeft.png
  static/images/internet_explorer/borderMiddleRight.png
  static/images/internet_explorer/borderTopCenter.png
  static/images/internet_explorer/borderTopLeft.png
  static/images/internet_explorer/borderTopRight.png
Due: none

correct conditional level in YAML
  .github/workflows/pr_update_labeler.yml
Due: none

TMP
  openlibrary/core/lending.py
Due: generate-pot

Fix `if` block indentation in template
  openlibrary/templates/account/view.html
Due: generate-pot, detect-missing-i18n

remove duplicate rose icon
  static/images/categories/christianity.svg
Due: none

Throw `OLAuthenticationError` on `xauthn` `403`
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Stop deployment script when critical jobs are running
  scripts/deployment/deploy.sh
Due: none

Add error handling for IA Availability Service
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

Fix bug with check crons in deploy.sh
  scripts/deployment/deploy.sh
Due: none

Normalize ISBN before masking
  openlibrary/plugins/upstream/models.py
Due: generate-pot

Normalize ISBN before masking (#10517)
  openlibrary/plugins/upstream/models.py
Due: generate-pot

Throw `OLAuthenticationError` on `xauthn` `403` error (#10513)
  openlibrary/accounts/model.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Fix i18n not running for some python files (#10488)
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
  scripts/i18n-messages
Due: generate-pot

stylings updated
  package-lock.json
  package.json
  static/css/components/nav-bar.less
Due: none

adding providers to carousels query
  openlibrary/macros/RawQueryCarousel.html
Due: generate-pot, detect-missing-i18n

Add some types + rm py2 code in cache.py
  openlibrary/core/cache.py
Due: generate-pot

Fix lists preview erroring for lists with subjects
  openlibrary/coverstore/code.py
Due: generate-pot

Small typing improvements to models/lists
  openlibrary/core/lists/model.py
  openlibrary/plugins/upstream/models.py
Due: generate-pot

Romanian locale init
  openlibrary/i18n/ro/messages.po
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Fix lists preview erroring subjects (#10521)
  openlibrary/core/lists/model.py
  openlibrary/coverstore/code.py
  openlibrary/plugins/upstream/models.py
Due: generate-pot

Romanian locale init (#10518)
  openlibrary/i18n/ro/messages.po
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Add new monitoring service for prod services
  compose.production.yaml
  docker/ol-monitoring-start.sh
  scripts/monitoring/Dockerfile
  scripts/monitoring/monitor.py
  scripts/monitoring/requirements.txt
  scripts/monitoring/utils.py
  scripts/monitoring/utils.sh
Due: generate-pot

minor updates
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

fix thriller carousel on homepage to retrieve books based on search criteria instead of using a default set of authors
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Fix i18n redirect $path for book edit -> login
  openlibrary/templates/permission_denied.html
Due: generate-pot, detect-missing-i18n

guard against web.ctx.features AttributeError in cache contexts
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

switch to infogami pattern for features check
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

re: cache, check ctx before (queryparam) debug feature
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

explicitly use getattr (squash)
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

switch to has_attr (squash)
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

More completions to the romanian translation
  openlibrary/i18n/ro/messages.po
Due: none

add publishers to disallow for sitemaps
  static/robots.txt
Due: none

Create patchdeploy.sh script
  scripts/deployment/patchdeploy.sh
Due: none

guard against web.ctx.features AttributeError in cache contexts (#10526)
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

add urlencode
  openlibrary/templates/permission_denied.html
Due: generate-pot, detect-missing-i18n

Fix i18n redirect $path for book edit -> login (#10525)
  openlibrary/i18n/messages.pot
  openlibrary/templates/permission_denied.html
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
