Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Fixed series autocomplete to correctly resolve OL IDs and URLs, added tests. (#12123)
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
Due: generate-pot

add Lokesh to Slack digests
  .github/workflows/config/new_comment_digest.json
  .github/workflows/config/weekly_status_report_openlibrary_leads_g.json
Due: none

Migrate ratings endpoints from web.py to FastAPI (#12001)
  openlibrary/fastapi/internal/api.py
  openlibrary/macros/StarRatings.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/star-ratings/index.js
  openlibrary/templates/account/loan_history.html
  openlibrary/templates/account/reading_log.html
  openlibrary/tests/fastapi/conftest.py
  openlibrary/tests/fastapi/test_ratings.py
Due: generate-pot, detect-missing-i18n

Make search facets fully asynchronous (#12262)
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Add missing translation. Fixes #12187
  openlibrary/templates/type/language/view.html
Due: generate-pot, detect-missing-i18n

update docs to better align with new docs site (#12229)
  CONTRIBUTING.md
  Readme.md
  docker/README.md
Due: none

Add `frontend` target to Makefile (#12204)
  Makefile
Due: none

fix my books dropper icon (#12207)
  static/css/components/generic-dropper.css
Due: none

Updated browse endpoint to use parse_comma_separated_list (#12228)
  openlibrary/fastapi/internal/api.py
Due: generate-pot

Add fail2ban monitor (#12251)
  compose.production.yaml
  docker/Dockerfile.olbase
  scripts/monitoring/fail2ban_monitor.py
  scripts/monitoring/monitor.py
  scripts/monitoring/tests/test_fail2ban_monitor.py
Due: generate-pot

fix: enable PLC0415 lint rule for openlibrary/fastapi/ directory (#12291)
  pyproject.toml
Due: none

Bumped precommit with sqlfluff version 4.1.0 (#12243)
  .pre-commit-config.yaml
  scripts/solr_builder/sql/prod-partial-dump.sql
Due: none

Add DOCKER_COMPOSE_COMMAND option to restart_servers.sh
  scripts/deployment/restart_servers.sh
Due: none

Mark account routes as internal and include in schema (#12264)
  openlibrary/fastapi/account.py
Due: generate-pot

make BookPageListsPartial async (#12272)
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

improvie copilot instructions (#12238)
  .github/copilot-instructions.md
Due: none

Update static/css/components/search-result-item.css
  static/css/components/search-result-item.css
Due: none

Update local dev environment to postgres 18 (#12236)
  compose.override.yaml
Due: none

Add Matomo retention dimension: Days Since Registration (#12227)
  openlibrary/accounts/__init__.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/tests/test_patron_status.py
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

remove web.py partials code (#11895)
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

i18n: Add Telugu (te) translations for missing UI strings - Fixes #12216 (#12218)
  openlibrary/i18n/te/messages.po
Due: none

fix for pull request finding
  openlibrary/plugins/openlibrary/js/reading-goals/index.js
Due: none

Return JSON when IA->OL unlink request fails (#11994)
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

refactor: remove web.ctx.site (#12215)
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Utilize tokens in search-result-item.css
  static/css/components/search-result-item.css
Due: none

Migrate public_observations endpoint to FastAPI (#12205)
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/tests/fastapi/test_public_observations.py
Due: generate-pot

feat: migrate book_availability to FastAPI (#12181)
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/tests/fastapi/test_book_availability.py
  openlibrary/tests/fastapi/test_trending.py
Due: generate-pot

make contributing.md reflect current process (#12239)
  CONTRIBUTING.md
Due: none

make FulltextSearchSuggestion partial async (#12265)
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Restore z-index on #test-body-mobile to fix header dropdown stacking (#12275)
  static/css/layout/index.css
Due: none

Merge pull request #12279 from RayBB/stale-pr-messenger
  .github/workflows/pm_stale_pr_messenger.yml
Due: none

Merge pull request #12083 from bettercallok/add-language-schema
  openlibrary/schemata/language.schema.json
Due: none

Update Copilot i18n guidelines for reviews (#12274)
  .github/copilot-instructions.md
Due: none

emphasize community values in contributing guidelines
  CONTRIBUTING.md
Due: none

Fix reading goal link not restored after unsetting goal
  openlibrary/plugins/openlibrary/js/reading-goals/index.js
Due: none

fix: move PLC0415 inline imports to top-level in 11 test/config files (#12295)
  openlibrary/conftest.py
  openlibrary/plugins/admin/tests/test_services.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
  openlibrary/tests/core/test_models.py
  openlibrary/tests/fastapi/conftest.py
  openlibrary/tests/fastapi/test_search.py
  openlibrary/tests/fastapi/test_trending.py
  openlibrary/utils/tests/test_request_context.py
  pyproject.toml
Due: generate-pot

Remove unused reduce_seeds function from engine.py (#12179)
  openlibrary/core/lists/engine.py
Due: generate-pot

Remove unused SubjectProcessor and stale engine test (#12315)
  openlibrary/core/lists/engine.py
  openlibrary/tests/core/test_lists_engine.py
Due: generate-pot

fix: revert spacing tokens that cause visual regressions
  bundlesize.config.json
  static/css/base/headings.css
  static/css/components/buttonCta.css
  static/css/components/edit-toolbar--tablet.css
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
