Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

fixes for failing tests + accessibility
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/covers/add.html
  static/css/page-form.less
Due: generate-pot, detect-missing-i18n

books are being imported, but author page does not list them
  openlibrary/catalog/add_book/load_book.py
  openlibrary/core/models.py
  scripts/providers/import_wikisource.py
Due: generate-pot

fix anchor links, add gitpod docs
  docker/README.md
Due: none

fix failing test
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

add 1900 exemption for wikisource, move script requirements into their own file
  openlibrary/catalog/add_book/__init__.py
  openlibrary/plugins/importapi/import_validator.py
  requirements.txt
  requirements_scripts.txt
  scripts/providers/import_wikisource.py
Due: generate-pot

Increase recaptcha timeout for account creation
  openlibrary/plugins/recaptcha/recaptcha.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Handle Google sign-in errors during registration
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

Remove `quickstart` references
  CONTRIBUTING.md
  Readme.md
Due: none

Switch solr_builder to use docker hub image
  scripts/solr_builder/Dockerfile
  scripts/solr_builder/Jenkinsfile
Due: none

remove unused script from pulgin path remove irrelevant field `ia_box_id` from test data relates to #7465
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/plugins/importapi/metaxml_to_json.py
  scripts/run_doctests.sh
Due: generate-pot

lendinglibrary is not an archive.org collection testing for it has no effect
  openlibrary/core/ia.py
  openlibrary/core/models.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_readlinks.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/opds.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/tests/core/test_models.py
Due: generate-pot

remove commented out method
  openlibrary/plugins/upstream/models.py
Due: generate-pot

simplify logic and tests
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_readlinks.py
Due: generate-pot

subjects do not determine status
  openlibrary/plugins/books/readlinks.py
Due: generate-pot

Add y/n for ignoring changes during deploy + show git diff
  scripts/deployment/deploy.sh
Due: none

whitespace fixes
  openlibrary/core/models.py
  openlibrary/plugins/books/tests/test_readlinks.py
Due: generate-pot

merging proposal and justify sections of feature request template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Hide desktop "set goal" link
  openlibrary/plugins/openlibrary/js/check-ins/index.js
Due: none

Disable mobile goals modal after goal is set
  openlibrary/plugins/openlibrary/js/check-ins/index.js
Due: none

Prevent mobile goal header from opening goal modal when goal exists
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/templates/account/mybooks.html
Due: generate-pot, detect-missing-i18n

merging proposal and justify sections of feature request template (#10442)
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Set default email value for account registration
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Fix `cron_wrapper.py` errors
  scripts/cron_wrapper.py
Due: generate-pot

Add shebangs and set executable permissions
  openlibrary/coverstore/archive.py
  scripts/expire_accounts.py
  scripts/promise_batch_imports.py
  scripts/update_stale_work_references.py
Due: generate-pot

Delete `cron_watcher` script and workflow
  .github/workflows/cron_watcher.yml
  scripts/cron_watcher.py
Due: generate-pot

Remove `RequireLogoutProcessor`
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

remove prominent but non-existant subject filter relates to #9439
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Update Wikidata URL
  openlibrary/core/wikidata.py
Due: generate-pot

remove ref to another non-existant archive.org collection: browserlending
  openlibrary/plugins/upstream/models.py
Due: generate-pot

remove js printdisabled non-existant subject code
  openlibrary/plugins/openlibrary/js/SearchUtils.js
Due: none

Remove `RequireLogoutProcessor` (#10449)
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

Update openlibrary/templates/covers/add.html
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Update openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/covers.js
Due: none

Update static/css/page-form.less
  static/css/page-form.less
Due: none
