Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

fix(eslint): ignore the gitignored docs/wiki clone
  eslint.config.cjs
Due: none

fix(tests): stop stylelint CLI output leaking into jest runs
  tests/unit/js/import-at-top.test.js
Due: none

fix(js): stop uncaught TypeError in dropper loading animation
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
Due: none

Silence frontend build warnings from Shelf.vue deep selectors and lit chunk size
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/vite-lit.config.mjs
Due: none

Filter Search Inside by readability after the fetch, not in the query
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/FulltextSnippet.html
  openlibrary/macros/SearchNavigation.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/inside/tests/test_code.py
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltext.js
  openlibrary/templates/search/inside.html
  openlibrary/templates/search/search_modal_i18n.html
  static/css/components/fulltext-snippet.css
  static/css/components/nav-bar.css
  static/css/components/search-result-item.css
  static/css/legacy.css
  tests/unit/js/searchModalFulltext.test.js
Due: generate-pot, detect-missing-i18n

Restore the OL-only scope that a language filter loses
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextResults.html
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/inside/tests/test_code.py
  openlibrary/plugins/openlibrary/js/search-modal/fulltext.js
  openlibrary/templates/search/inside.html
Due: generate-pot, detect-missing-i18n

Fix the /search/inside.json tests for the new filter arguments
  openlibrary/tests/fastapi/test_search.py
  static/css/layout/index.css
Due: generate-pot

Wire facet droppers to context-aware counts (frontend for #12978) (#13064)
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/vite-lit.config.mjs
  openlibrary/fastapi/search.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/openlibrary/js/search-modal/searchFacets.js
  openlibrary/templates/search/search_modal_i18n.html
  openlibrary/templates/work_search.html
  openlibrary/tests/fastapi/test_search.py
  package.json
  tests/unit/js/OlSelectPopoverRequestOpen.test.js
  tests/unit/js/searchFacets.test.js
  tests/unit/js/searchModalFacets.test.js
Due: generate-pot, detect-missing-i18n

Fix No Preview button alignment in Reading Log
  openlibrary/macros/BookPreview.html
  static/css/components/search-result-item.css
Due: generate-pot, detect-missing-i18n

Run make lint through uvx and fix the stale pre-commit note
  AGENTS.md
  Makefile
Due: none

fix(make): run lint through uv with the pinned ruff
  Makefile
Due: none

fix(components): replace deprecated >>> combinators with :deep()
  openlibrary/components/LibraryExplorer/components/Shelf.vue
Due: none

Use uvx to run ruff in make lint so it works without host-installed ruff
  Makefile
Due: none

Hoist list/series availability lookups out of view_body.html
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/type/list/view.html
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Fix web.ctx.headers setup in test_missing_list_raises_notfound
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

docs(js): remove migration plan/progress docs before merge
  docs/ai/README.md
  docs/ai/css.md
  docs/ai/js-vite-migration-plan.md
  docs/ai/js-vite-migration-progress.md
  openlibrary/plugins/openlibrary/js/index.js
  scripts/js-build-parity.sh
  vite-js-shared.mjs
  vite-js.config.mjs
Due: none

Add Renovate helpers to automate GitHub Actions SHA pin updates
  renovate.json
Due: none

Update gen_nginx_regex docstring to match current behavior
  scripts/gen_nginx_regex.py
Due: generate-pot

Expose hidden FastAPI routes in OpenAPI schema under LOCAL_DEV
  openlibrary/fastapi/books.py
  openlibrary/fastapi/link.py
  scripts/gen_nginx_regex.py
Due: generate-pot

Move random author search out of template
  openlibrary/plugins/openlibrary/authors.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/authors/index.html
Due: generate-pot, detect-missing-i18n

undo deployment name change
  openlibrary/core/env.py
Due: generate-pot

update compose ports
  compose.override.yaml
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
Due: none

Stream request and response bodies through the fallback proxy
  openlibrary/fastapi/proxy.py
  openlibrary/tests/fastapi/test_proxy.py
Due: generate-pot

Disable httpx timeout on the fallback proxy client
  openlibrary/fastapi/proxy.py
Due: generate-pot

Refactor proxy to disable httpx timeout and improve streaming of request and response bodies
  openlibrary/fastapi/proxy.py
Due: generate-pot

Fix proxy tests: keep httpx patch active for the whole request
  openlibrary/tests/fastapi/test_proxy.py
Due: generate-pot

Add FastAPI fallback proxy to web.py for local development and testing (#13423)
  compose.override.yaml
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
  openlibrary/asgi_app.py
  openlibrary/code.py
  openlibrary/fastapi/proxy.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/tests/fastapi/test_proxy.py
Due: generate-pot

Fix: Replace deprecated asyncio.iscoroutinefunction with inspect (#13457)
  openlibrary/tests/core/test_cache.py
  scripts/solr_builder/solr_builder/fn_to_cli.py
Due: generate-pot

Remove comments about ignored directories in ESLint config
  eslint.config.cjs
Due: none

fix(eslint): ignore the gitignored docs/wiki clone (#13458)
  eslint.config.cjs
Due: none

fix(tests): shorten comment on stylelint stdio capture
  tests/unit/js/import-at-top.test.js
Due: none

fix(tests): stop stylelint CLI output leaking into jest runs (#13459)
  tests/unit/js/import-at-top.test.js
Due: none

Run make lint through uv run so the ruff pin lives in one place
  Makefile
  requirements_test.txt
Due: none

Run make lint through uvx and correct the AGENTS.md pre-commit note (#13461)
  AGENTS.md
  Makefile
  requirements_test.txt
Due: none

Hoist featured subjects fetch from template
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/home/categories.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

fix(lists): honor ?m=edit redirect in list_view handler
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

refactor(lists): restore mode dispatch and simplify list-view resolution
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

Stop search result titles growing a scrollbar under Literata
  static/css/components/search-result-item.css
Due: none

Fix the Vite chunk-size warning in vite-lit.config.mjs
  openlibrary/components/vite-lit.config.mjs
Due: none
