Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Run the coverstore's blocking calls on the loop, with fewer workers
  compose.production.yaml
  openlibrary/coverstore/asgi_app.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/utils.py
Due: generate-pot

docs(css): tighten z-index token comments (#12363)
  static/css/tokens/z-index.css
Due: none

refactor: use bulk status activation endpoint
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

fix: send status activation patch requests
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

refactor: migrate status refresh endpoint
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

fix: repair invalid except syntax broken by py3.14 migration (#12643)
  openlibrary/solr/data_provider.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

feat(solr): emit genre, subgenre, and audience key/name fields on work and edition docs
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

feat(solr): declare genre, subgenre, and audience fields in managed-schema
  conf/solr/conf/managed-schema.xml
Due: none

feat(solr): preload tag records (genres, subgenres, audience) during work preload
  openlibrary/solr/data_provider.py
Due: generate-pot

refactor: migrate status deploy endpoint
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

chore(solr): regenerate solr_types.py from updated managed-schema
  openlibrary/solr/solr_types.py
Due: generate-pot

refactor: migrate status pull latest endpoint
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

perf: asyncify status pull latest
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

refactor: migrate status restore endpoint
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/browser/TestingEnvironment.browser.test.js
Due: generate-pot

refactor: share status maintainer dependency
  openlibrary/fastapi/status.py
Due: generate-pot

fix: repair invalid except syntax in mockservices broken by py3.14 migration (#13641)
  docker/mockservices/main.py
Due: generate-pot

test(solr): cover genre, subgenre, and audience key/name fields on work and edition builders
  openlibrary/tests/solr/test_update.py
  openlibrary/tests/solr/updater/test_edition.py
  openlibrary/tests/solr/updater/test_work.py
Due: generate-pot

caching and scrolling
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/composables/useTestingStatus.js
  openlibrary/components/TestingEnvironment/styles.css
Due: none

Add shared status localStorage cache
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/composables/useTestingStatus.js
  openlibrary/components/composables/useLocalStorage.js
Due: none

style: revert scroll-stabilization CSS experiment in TestingEnvironment
  openlibrary/components/TestingEnvironment/styles.css
Due: none

refactor(status): simplify action requests to JSON-only
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

simplify PR
  openlibrary/components/TestingEnvironment.vue
  openlibrary/fastapi/status.py
Due: generate-pot

feat(fastapi): migrate remaining /status endpoints from web.py to FastAPI (#13627)
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/composables/useTestingStatus.js
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/components/composables/useLocalStorage.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/browser/TestingEnvironment.browser.test.js
  tests/unit/js/testing-status.test.js
Due: generate-pot

cleanup refactor
  openlibrary/core/layout.py
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/alert.html.jinja
  openlibrary/templates/site/banner.html.jinja
  openlibrary/templates/site/donation_banner.html.jinja
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/core/test_layout.py
Due: generate-pot

simplify one partial
  openlibrary/macros/FulltextSearchSuggestionItem.html.jinja
Due: none

Convert fulltext search suggestion templates to Jinja (#13616)
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/macros/FulltextSearchSuggestion.html.jinja
  openlibrary/macros/FulltextSearchSuggestionItem.html
  openlibrary/macros/FulltextSearchSuggestionItem.html.jinja
  openlibrary/macros/FulltextSuggestionSnippet.html
  openlibrary/macros/FulltextSuggestionSnippet.html.jinja
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot, detect-missing-i18n

Show translator next to language in editions table
  openlibrary/templates/books/edition-sort.html
Due: generate-pot, detect-missing-i18n

Show translator on the editions table (#13649)
  openlibrary/i18n/messages.pot
  openlibrary/templates/books/edition-sort.html
Due: generate-pot, detect-missing-i18n

docs: update browser floor docs to Safari 15.4, drop core-js mention
  docs/ai/README.md
  docs/ai/web-components.md
Due: none

Turn the My Books header link into a popover menu
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/nav.py
  openlibrary/templates/lib/browse_popover.html
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/mybooks_popover.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/tests/test_link_track_attribute_escaping.py
  static/css/components/header-bar.css
Due: generate-pot, detect-missing-i18n

Add olConfirm() and olAlert() dialog helpers
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/confirm.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/js/design-system/index.js
  openlibrary/templates/design/components/dialog.html.jinja
  tests/browser/olConfirm.browser.test.js
Due: none

Rename confirm.js to alert-dialog.js
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/alert-dialog.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/js/design-system/index.js
  openlibrary/templates/design/components/dialog.html.jinja
  tests/browser/alertDialog.browser.test.js
Due: none

Restore the coverstore's HEAD and OPTIONS handling
  openlibrary/coverstore/asgi_app.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
Due: generate-pot

Add a --spacing-icon-gap token for icon-to-label gaps
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OlShelfActions.js
  static/css/components/read-panel.css
  static/css/tokens/spacing.css
Due: none

Book page: shelf badge over the cover, shelf icon on the split button
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/macros/databarWork.html
  openlibrary/templates/covers/book_cover.html
  static/css/components/work.css
Due: generate-pot, detect-missing-i18n

Replace Share colorbox modal with ol-popover menu
  openlibrary/macros/ShareModal.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  static/css/components/share-popover.css
  static/css/components/shareLinks.css
  static/css/legacy.css
  static/css/page-book.css
  static/icons/ATTRIBUTION.md
  static/icons/src/lucide/qr-code.svg
  static/icons/src/tabler/brand-facebook.svg
  static/icons/src/tabler/brand-pinterest.svg
  static/icons/src/tabler/brand-x.svg
  static/images/copy_url.png
  static/images/embed.png
  static/images/facebook.svg
  static/images/pinterest.svg
  static/images/qr_code.png
  static/images/twitter.svg
Due: generate-pot, detect-missing-i18n

refactor: convert body layout templates to Jinja (#13595)
  openlibrary/core/layout.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/alert.html
  openlibrary/templates/site/alert.html.jinja
  openlibrary/templates/site/banner.html
  openlibrary/templates/site/banner.html.jinja
  openlibrary/templates/site/body.html
  openlibrary/templates/site/donation_banner.html
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/core/test_layout.py
Due: generate-pot, detect-missing-i18n

refactor: pass request prefs explicitly (#13537)
  openlibrary/book_providers.py
  openlibrary/core/lending.py
  openlibrary/fastapi/partials.py
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/fulltext-search-suggestion.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/account/ia_thirdparty_logins.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

fix: preserve get_ia_host request behavior
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/ia_thirdparty_logins.html
Due: generate-pot, detect-missing-i18n

fix: part 4 #12432 — batch mybooks book lookups (#13597)
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/fastapi/test_mybooks_integration.py
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
