Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Add missing languages in alphabetical order
  openlibrary/plugins/openlibrary/pages/languages.page
Due: none

Migrate trending books API to FastAPI
  openlibrary/fastapi/internal/api.py
  openlibrary/tests/fastapi/test_trending.py
  tests/integration/temporary/test_trending_comparison.sh
Due: generate-pot

refactor: replace @web.memoize with @functools.cache
  openlibrary/core/db.py
  openlibrary/core/helpers.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/oldb.py
  openlibrary/data/db.py
  openlibrary/i18n/__init__.py
  openlibrary/olbase/events.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/utils.py
  scripts/manage-imports.py
Due: generate-pot

Remove action from copydocs `save_many`
  scripts/copydocs.py
Due: generate-pot

use get_current_user when adding a book
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Hide sort menu for series lists
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Add trending score badge to Book Page (if > threshold)
  openlibrary/templates/type/edition/title_and_author.html
Due: generate-pot, detect-missing-i18n

test PR, ignore me
  Readme.md
Due: none

Update the wiki links to new docs site
  docker/README.md
Due: none

Update the wiki links to new docs site (#12064)
  docker/README.md
Due: none

Update wiki links to docs site
  Readme.md
  docker/README.md
  openlibrary/i18n/README.md
  openlibrary/plugins/README.md
Due: none

Update openlibrary/plugins/README.md
  openlibrary/plugins/README.md
Due: none

Update openlibrary/i18n/README.md
  openlibrary/i18n/README.md
Due: none

Update Readme.md
  Readme.md
Due: none

Remove duplicate 'these'
  docker/README.md
Due: none

fix readme wiki links (#12065)
  Readme.md
  docker/README.md
  openlibrary/i18n/README.md
  openlibrary/plugins/README.md
Due: none

Remove duplicate tag
  openlibrary/templates/lib/nav_foot.html
Due: generate-pot, detect-missing-i18n

Add remaining MARC language codes to languages.page Closes #11989
  openlibrary/plugins/openlibrary/pages/languages.page
Due: none

Toggle chip selection state in OLChip and set role attribute in OLChipGroup for accessibility
  openlibrary/components/lit/OLChip.js
  openlibrary/components/lit/OLChipGroup.js
Due: none

Remove ol-chip.css and update imports in page-user.css and page-subject.css. Add pre-hydration styles for ol-chip and ol-read-more components in head.html to prevent layout shifts.
  openlibrary/templates/site/head.html
  static/css/components/ol-chip.css
  static/css/page-subject.css
  static/css/page-user.css
Due: generate-pot, detect-missing-i18n

Refactor OLChip component to enhance icon rendering and hover effects
  openlibrary/components/lit/OLChip.js
Due: none

Refactor OLChip component to improve icon carousel functionality and hover effects
  openlibrary/components/lit/OLChip.js
Due: none

fix: align focus ring on search input to container border
  static/css/components/searchbox.css
Due: none

Rely on infogami-style setup to avoid duplicate setup calls (#12046)
  openlibrary/code.py
Due: generate-pot

use site.get() for make author
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Enhance documentation and OLChip component functionality
  docs/ai/README.md
  docs/ai/design.md
  docs/ai/web-components.md
  openlibrary/components/lit/OLChip.js
  openlibrary/templates/search/work_search_selected_facets.html
Due: generate-pot, detect-missing-i18n

Update AI design docs and web component standards
  docs/ai/README.md
  docs/ai/design.md
  docs/ai/web-components.md
Due: none

Rename OlPagination event from update:page to ol-pagination-change
  openlibrary/components/lit/OlPagination.js
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

Remove docs/ai and pagination event changes (moved to separate branches)
  docs/ai/README.md
  docs/ai/design.md
  docs/ai/web-components.md
  openlibrary/components/lit/OlPagination.js
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

Add missing quote, and remove zxx (it's handled in code)
  openlibrary/plugins/openlibrary/pages/languages.page
Due: none

remove duplicate entries
  openlibrary/plugins/openlibrary/pages/languages.page
Due: none

Add missing languages to languages.page (#12056)
  openlibrary/plugins/openlibrary/pages/languages.page
Due: none

Make implementation details section open by default
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Delete tests/integration/temporary/test_checkin_comparison.sh
  tests/integration/temporary/test_checkin_comparison.sh
Due: none

Update nginx configurations
  docker/covers_nginx.conf
  docker/web_nginx.conf
Due: none

Rename OlPagination event from update:page to ol-pagination-change (#12072)
  openlibrary/components/lit/OlPagination.js
  openlibrary/i18n/messages.pot
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

Code review feedback
  openlibrary/templates/type/language/view.html
Due: generate-pot, detect-missing-i18n
