Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

i18n(ja): batch 1 — AI translations (claude-sonnet-4-6)
  openlibrary/i18n/ja/messages.po
Due: none

i18n(id): AI translation update — sync with messages.pot (2026-06-16)
  openlibrary/i18n/id/messages.po
Due: none

remove legacy ctx shim
  openlibrary/accounts/model.py
  openlibrary/core/lending.py
  openlibrary/fastapi/account.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/fastapi/test_account_loans.py
Due: generate-pot

Revert "remove legacy ctx shim"
  openlibrary/accounts/model.py
  openlibrary/core/lending.py
  openlibrary/fastapi/account.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/fastapi/test_account_loans.py
Due: generate-pot

Reapply "remove legacy ctx shim"
  openlibrary/accounts/model.py
  openlibrary/core/lending.py
  openlibrary/fastapi/account.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/fastapi/test_account_loans.py
Due: generate-pot

return error when there is an error
  openlibrary/fastapi/account.py
Due: generate-pot

feat(import): add work_identifiers support for work matching (#9472)
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/schemata/import.schema.json
Due: generate-pot

add traceback to error
  openlibrary/fastapi/account.py
Due: generate-pot

migrate a few more cases of threaded dicts
  openlibrary/core/models.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/tests/core/test_models.py
Due: generate-pot

remove trackeback
  openlibrary/fastapi/account.py
Due: generate-pot

remove web.ctx.site bridge
  openlibrary/tests/fastapi/test_account_loans.py
  openlibrary/utils/request_context.py
Due: generate-pot

setup basic response model
  openlibrary/fastapi/account.py
Due: generate-pot

Migrate account loans to FastAPI (#12889)
  openlibrary/accounts/model.py
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/fastapi/account.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/core/test_models.py
  openlibrary/tests/fastapi/test_account_loans.py
Due: generate-pot

inline one function
  openlibrary/fastapi/merge_authors.py
Due: generate-pot

use web_ctx_ip so merging is successful
  openlibrary/fastapi/merge_authors.py
Due: generate-pot

factor out orchestration code
  openlibrary/fastapi/merge_authors.py
  openlibrary/plugins/upstream/edits.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/tests/fastapi/test_merge_authors.py
Due: generate-pot

add missing content type
  openlibrary/plugins/openlibrary/js/merge.js
Due: none

Migrate merge_authors_json to FastAPI (#12918)
  openlibrary/asgi_app.py
  openlibrary/fastapi/merge_authors.py
  openlibrary/plugins/openlibrary/js/merge.js
  openlibrary/plugins/upstream/edits.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
  openlibrary/tests/fastapi/test_merge_authors.py
Due: generate-pot

fix(import): write back work_identifiers to matched work in load_data()
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

i18n(id): AI translation update — sync with messages.pot (2026-06-16) (#12944)
  openlibrary/i18n/id/messages.po
Due: none

Track search availability toggle with Matomo event
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
Due: none

chore(deps): bump beautifulsoup4 from 4.14.3 to 4.15.0
  requirements.txt
Due: none

chore(deps): bump sentry-sdk from 2.61.1 to 2.62.0
  requirements.txt
Due: none

feat(identifiers): add ITAN Book ID identifier (itan_technologies)
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

Track header search modal interactions with Matomo events
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

Label NoResults by active filter category instead of defaulting to page path
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

Phase 0: make availability+language a durable global reading preference
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_availability_sync.py
  tests/unit/js/searchModalConstants.test.js
Due: generate-pot

Phase 1 (server): let author works filter by availability + language
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
Due: generate-pot

Phase 1 (UI): live filter bar on author pages
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

Fix author escape hatch: clear the stored preference, not just the URL
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

Render Readable Only toggle's on/off state server-side
  openlibrary/templates/type/author/view.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Sync messages.pot with escape-hatch string change
  openlibrary/i18n/messages.pot
Due: none

remove unused carousel i18n input
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

add script to generate nginx regex for fastapi
  scripts/gen_nginx_regex.py
Due: generate-pot

Migrate Lit component icons to shared icons.generated.js module
  openlibrary/components/lit/OLChip.js
  openlibrary/components/lit/OLMarkdownEditor.js
  openlibrary/components/lit/OlBanner.js
  openlibrary/components/lit/OlToast.js
  openlibrary/components/lit/custom-elements.json
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

don't add comments
  scripts/gen_nginx_regex.py
Due: generate-pot

Reserve <ol-icon> host box to prevent layout shift on upgrade
  static/css/components/ol-icon.css
Due: none

Document icon technique choice (macro vs fragment vs element) on design page
  openlibrary/templates/design/icons.html
Due: generate-pot, detect-missing-i18n

Fix <ol-icon> API docs: attach JSDoc to the class so cem captures @prop
  openlibrary/components/lit/OlIcon.js
  openlibrary/components/lit/custom-elements.json
Due: none
