Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

feat: staged-action UX, memcache drift caching, and reviewer polish
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  scripts/make-integration-branch.sh
Due: generate-pot, detect-missing-i18n

Adding ol-web3 to web head cluster (#12433)
  compose.production.yaml
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/deploy.sh
  scripts/deployment/patch_test_new_memcache_server.sh
  scripts/deployment/patchdeploy.sh
  scripts/deployment/pre_deploy.sh
  scripts/deployment/provision_olserver.sh
  scripts/deployment/restart_servers.sh
  scripts/setup_olserver.sh
  scripts/solr_builder/utils.sh
Due: none

Fix ruff SIM102: combine nested if statements
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Merge pull request #12355 from Saad259/cache-avatar-url-9282
  openlibrary/core/models.py
  openlibrary/plugins/upstream/tests/test_models.py
Due: generate-pot

fix: remove unused parameter from welcome.html (#12411)
  openlibrary/templates/home/index.html
  openlibrary/templates/home/welcome.html
Due: generate-pot, detect-missing-i18n

Check all string fields for HTML entities and add early exit before JSON parsing
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Remove --limit argument from fix_unicode_html_entities.py
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Add some missing fastapi olspy configs
  scripts/monitoring/olspy.sh
Due: none

Rollback asyncing of ia methods
  openlibrary/core/ia.py
  openlibrary/plugins/books/readlinks.py
Due: generate-pot

Fix mypy type annotation for get_field_updates updates dict
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Move fix_unicode_html_entities.py to scripts/migrations
  scripts/fix_unicode_html_entities.py
Due: generate-pot

Refactor process_dump to output only affected keys to stdout (Phase 1)
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

move get_betterworldbooks_metadata and get_amazon_metadata out of AffiliateLinks template (#12393)
  openlibrary/macros/AffiliateLinks.html
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot, detect-missing-i18n

Add script to detect and fix HTML-escaped unicode in OL dumps (dry-run)
  scripts/fix_unicode_html_entities.py
Due: generate-pot

Tweak solr weights/boosts
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Add detailed docstrings to all functions
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Fix case-insensitive language name sorting (#11962) (#12395)
  openlibrary/plugins/worksearch/languages.py
Due: generate-pot

Expand py-spy monitoring
  scripts/monitoring/monitor.py
  scripts/monitoring/olspy.sh
  scripts/monitoring/tests/sample_ps_aux.txt
  scripts/monitoring/tests/sample_py_spy_fastapi_dump.txt
  scripts/monitoring/tests/sample_py_spy_webpy_dump.txt
  scripts/monitoring/tests/test_olspy_sh.py
  scripts/monitoring/utils.sh
Due: generate-pot

Check server storage before olsystem deploy, too
  scripts/deployment/deploy.sh
Due: none

Move fix_unicode_html_entities.py to scripts/migrations
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Add unit tests for has_entities and get_field_updates
  scripts/tests/test_fix_unicode_html_entities.py
Due: generate-pot

Add phase 2: fetch, fix and save records with progress tracking and graceful shutdown
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

make betterworldbooks async (#12404)
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Fix multiple Connection instances in webpy breaking RunAs
  openlibrary/utils/request_context.py
Due: generate-pot

Asyncify /api/books and /api/volumes
  openlibrary/code.py
  openlibrary/core/ia.py
  openlibrary/fastapi/books.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

Uncomment Phase 2 imports required for OL database access
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

update bwb api url to avoid 301
  openlibrary/core/vendors.py
Due: generate-pot

Merge pull request #12403 from internetarchive/RayBB-patch-1
  openlibrary/i18n/messages.pot
  openlibrary/macros/DonateModal.html
Due: generate-pot, detect-missing-i18n

Apply code review feedback
  openlibrary/utils/request_context.py
Due: generate-pot

Add OlPopover Lit web component (#12126)
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/index.js
  openlibrary/i18n/messages.pot
  openlibrary/templates/design.html
  openlibrary/templates/design/popover.html
  static/css/components/carousel--js.css
  static/css/components/generic-dropper.css
  static/css/layout/index.css
  static/css/layout/v2.css
  static/css/page-design.css
Due: generate-pot, detect-missing-i18n

Update ol-chip: use close icon, fix border-radius tokens
  openlibrary/components/lit/OLChip.js
  static/css/tokens/border-radius.css
Due: none

Add tests for detect_missing_i18n + fix some bugs (#12118)
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/templates/admin/block.html
  openlibrary/templates/admin/sync.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/books/edit/excerpts.html
  openlibrary/templates/merge/authors.html
  openlibrary/templates/native_dialog.html
  scripts/detect_missing_i18n.py
  scripts/tests/test_detect_missing_i18n.py
Due: generate-pot, detect-missing-i18n

Re-enable http2
  docker/covers_nginx.conf
  docker/web_nginx.conf
Due: none

Remove unused Font Awesome font files (#12174)
  static/fonts/FontAwesome.otf
  static/fonts/fontawesome-webfont.eot
  static/fonts/fontawesome-webfont.ttf
  static/fonts/fontawesome-webfont.woff
  static/fonts/fontawesome-webfont.woff2
Due: none

fix a few broken docs links (#12230)
  CONTRIBUTING.md
  docker/README.md
Due: none

fix bug with weekly status bot label filtering
  scripts/gh_scripts/weekly_status_report.mjs
Due: none

Remove orphaned layout/v2.css (#12147)
  static/css/layout/v2.css
Due: none

Migrate all pagination to ol-pagination web component (#12169)
  openlibrary/components/lit/OlPagination.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/OlPagination.html
  openlibrary/macros/OlPaginationArrows.html
  openlibrary/macros/Pager.html
  openlibrary/macros/Pager_loanhistory.html
  openlibrary/templates/account/follows.html
  openlibrary/templates/account/loan_history.html
  openlibrary/templates/account/notes.html
  openlibrary/templates/account/observations.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/admin/memory/index.html
  openlibrary/templates/admin/people/edits.html
  openlibrary/templates/batch_import_pending_view.html
  openlibrary/templates/batch_import_view.html
  openlibrary/templates/design.html
  openlibrary/templates/history.html
  openlibrary/templates/lib/pagination.html
  openlibrary/templates/merge_request_table/merge_request_table.html
  openlibrary/templates/recentchanges/render.html
  openlibrary/templates/recentchanges/updated_records.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/lists.html
  openlibrary/templates/search/subjects.html
  openlibrary/templates/trending.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/embed.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
  static/css/components/notes-view.css
  static/css/components/pagination.css
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

Update partner UAs
  scripts/monitoring/monitor.py
Due: generate-pot
