Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Migrate lists_delete endpoint to FastAPI
  openlibrary/fastapi/lists.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/tests/fastapi/test_lists_delete.py
  tests/integration/temporary/test_lists_delete.sh
Due: generate-pot

Remove prefix collision bug
  openlibrary/fastapi/lists.py
Due: generate-pot

Add admin check, fix ClientException detail and remove temp script
  openlibrary/fastapi/lists.py
  openlibrary/tests/fastapi/test_lists_delete.py
  tests/integration/temporary/test_lists_delete.sh
Due: generate-pot

fix import order
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Add /lists/{list_id}/delete.json route to match legacy
  openlibrary/fastapi/lists.py
  openlibrary/tests/fastapi/test_lists_delete.py
Due: generate-pot

Rebased and added fixes to review
  openlibrary/fastapi/lists.py
Due: generate-pot

fix: address PR review comments for validation and static methods
  openlibrary/fastapi/lists.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

replace per-loan site.get with site.get_many
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

Fix lists_json FastAPI parity and review feedback
  openlibrary/fastapi/lists.py
Due: generate-pot

use site.get()
  openlibrary/fastapi/lists.py
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

standardize auth
  openlibrary/fastapi/lists.py
Due: generate-pot

refactor: polish OlPopover and OlSelectPopover behavior
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSelectPopover.js
Due: none

minimize web.ctx use
  openlibrary/accounts/__init__.py
  openlibrary/fastapi/lists.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/events.py
  openlibrary/utils/request_context.py
Due: generate-pot

chore: update browserslist to track MediaWiki Grade A modern support
  .browserslistrc
Due: none

fix tests
  openlibrary/tests/fastapi/test_lists_delete.py
Due: generate-pot

chore: move browserslist config into package.json
  .browserslistrc
  package.json
Due: none

fix one more test case and improve docs
  AGENTS.md
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/tests/fastapi/test_lists_delete.py
Due: generate-pot

chore: drop IE11-era polyfills and Vite legacy bundle
  openlibrary/components/BarcodeScanner/components/LazyBookCard.vue
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/openlibrary/js/goodreads_import.js
  openlibrary/plugins/openlibrary/js/index.js
  package-lock.json
  package.json
Due: none

chore: drop nomodule legacy script tags from render_component
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

fix broken test by setting site ctx
  openlibrary/plugins/upstream/tests/test_models.py
Due: generate-pot

refactor: split AffiliateLinks into AffiliateLinksLoadingIndicator.html for loading indicator
  openlibrary/macros/AffiliateLinks.html
  openlibrary/macros/AffiliateLinksLoadingIndicator.html
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

feat: add mobile-friendly header search modal
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/index.js
  openlibrary/components/lit/utils/focus-utils.js
  openlibrary/components/lit/utils/slot-utils.js
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
Due: none

Fix missing f-string in facet_wrapper assert message (#12649)
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
Due: generate-pot

fix(api): replace list comprehension web.ctx.site.get(key) with get_many at plugins/openlibrary/api.py:881
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

perf(bookshelves): replace BooleanQuery with TermsQuery for reading-log Solr filter
  openlibrary/core/bookshelves.py
Due: generate-pot

chore: gitignore compose.solr-tuning.yaml (machine-specific heap overlay)
  .gitignore
Due: none

obs: add Prometheus + Grafana monitoring overlay for Solr
  compose.monitoring.yaml
  conf/grafana/dashboards/solr-overview.json
  conf/grafana/provisioning/dashboards/dashboards.yaml
  conf/grafana/provisioning/datasources/prometheus.yaml
  conf/prometheus/prometheus.yml
Due: none

solr: tune cache sizes, enable useFilterForSortedQuery and memory circuit breaker
  conf/solr/conf/solrconfig.xml
Due: none

solr: remove SOLR_HEAP override that silently capped production heap at 8 GB
  compose.production.yaml
Due: none

perf: add Solr benchmarking toolset (solr_bench.py + companions)
  scripts/solr_bench.py
  scripts/solr_benchmark.sh
  scripts/solr_compare_runs.py
  scripts/solr_inject_test_data.py
  scripts/solr_perf_experiments.sh
Due: generate-pot

solr: reduce HAProxy timeouts from 2 hours to 60s client / 30s server
  conf/solr/haproxy.cfg
Due: none

perf(solr): schema — has_fulltext docValues, first_sentence stored=false
  conf/solr/conf/managed-schema.xml
Due: none

fix(worksearch): strip leading wildcards to prevent full-index scans
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

fix+perf: language count cache key collision and hl.snippets reduction
  openlibrary/plugins/worksearch/languages.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

perf(solr): remove redundant identifier copyFields to text catch-all
  conf/solr/conf/managed-schema.xml
Due: none

perf(solr): use softCommit in trending updaters (G3)
  openlibrary/utils/solr.py
  scripts/solr_updater/trending_updater_daily.py
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

perf(solr): batch ratings DB counts during indexing
  openlibrary/core/ratings.py
  openlibrary/solr/data_provider.py
  openlibrary/solr/updater/work.py
Due: generate-pot

perf(solr): batch reading-log DB counts during indexing (G2)
  openlibrary/core/bookshelves.py
  openlibrary/solr/data_provider.py
  openlibrary/solr/updater/work.py
Due: generate-pot

fix(subjects): cap publish_year facet at 200 to bound subject-page cost
  openlibrary/plugins/worksearch/subjects.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
