Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Update openlibrary/plugins/openlibrary/js/ol.analytics.js
  openlibrary/plugins/openlibrary/js/ol.analytics.js
Due: none

Update openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
  openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
Due: none

Remove jQuery from 5 front-end files (#13845)
  openlibrary/plugins/openlibrary/js/compact-title/index.js
  openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
  openlibrary/plugins/openlibrary/js/ol.analytics.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/openlibrary/js/readinglog_stats.js
Due: none

feat(search): add /search/editions.json API endpoint
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/tests/fastapi/conftest.py
  openlibrary/tests/fastapi/test_search.py
  openlibrary/utils/solr.py
Due: generate-pot

Migrate cover dialogs from colorbox to ol-dialog
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/templates/covers/author_photo.html
  openlibrary/templates/covers/book_cover.html
  openlibrary/templates/covers/change.html
Due: generate-pot, detect-missing-i18n

Set cover manager iframe width to 100%
  openlibrary/plugins/openlibrary/js/covers.js
Due: none

Restore tab panel padding inside ol-dialog
  static/css/components/ui-tabs.css
Due: none

Simplify cover dialog triggers and closePopup
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/utils.js
Due: none

Drop dead cover-dialog CSS and fix author photo trigger
  openlibrary/templates/covers/author_photo.html
  static/css/components/cbox.css
  static/css/components/ui-tabs.css
Due: generate-pot, detect-missing-i18n

Modernize cover iframes and make dialog bindings idempotent
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/dialog.js
Due: none

feat(lenny): hold the grant in an encrypted cookie, so the demo needs no table
  conf/openlibrary.yml
  openlibrary/core/provider_tokens.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/lenny.py
  openlibrary/plugins/upstream/tests/test_lenny.py
  openlibrary/tests/core/test_provider_tokens.py
  openlibrary/tests/test_book_providers.py
Due: generate-pot

test(lenny): a callback test asserted the grant is NOT in a cookie
  openlibrary/plugins/upstream/lenny.py
  openlibrary/plugins/upstream/tests/test_lenny.py
Due: generate-pot

perf(i18n): replace 50k parametrized po-file cases with aggregate loops
  openlibrary/i18n/test_po_files.py
Due: generate-pot

Delete dead dialog--close-parent and initDialogClosers code
  openlibrary/plugins/openlibrary/js/dialog.js
  static/css/components/cbox.css
Due: none

fix: add rel=noopener noreferrer to Goodreads external link in import.html
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

feat: split import/export UI and routes (#13774)
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account.html
  openlibrary/templates/account/export.html
  openlibrary/templates/account/import.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/topmenu.html
  openlibrary/templates/books/breadcrumb_select.html
  openlibrary/templates/books/mybooks_breadcrumb_select.html
Due: generate-pot, detect-missing-i18n

feat: split import/export UI and routes (#13774)
  openlibrary/templates/account/export.html
  openlibrary/templates/account/import.html
  static/css/page-user.css
  static/icons/src/lucide/upload.svg
Due: generate-pot, detect-missing-i18n

chore(import): update follow-up note - analytics already exist, will compare after features launch
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

chore(import): simplify follow-up reminder for barcode scanner metrics
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

Apply batched suggestions from code review
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/export.html
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

chore(import): add follow-up reminder for barcode scanner metrics and stakeholder
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

feat(import): add barcode scanner card with link tracking metrics
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

feat(import): update import suggestions layout and improve importer interest UX
  openlibrary/templates/account/import.html
  static/css/page-user.css
Due: generate-pot, detect-missing-i18n

feat(import): redesign import page with Goodreads/barcode scanner cards, export link, and interest tracking
  openlibrary/plugins/openlibrary/js/file-dropzone.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/templates/account/import.html
  static/css/page-user.css
Due: generate-pot, detect-missing-i18n

Resolve rebase-onto-master conflicts and fix CI
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/import.html
  static/css/page-user.css
  static/icons/src/lucide/upload.svg
Due: generate-pot, detect-missing-i18n

fix i18n
  openlibrary/templates/account/export.html
Due: generate-pot, detect-missing-i18n

Fix regressions in the ol-dialog cover migration
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/utils.js
  static/css/components/illustration.css
Due: none

Rework Continue Reading into a row of covers built on the My Books loans merge
  openlibrary/core/lending.py
  openlibrary/fastapi/partials.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/home/continue_reading.html.jinja
  openlibrary/templates/home/index.html
  openlibrary/tests/fastapi/test_continue_reading_partial.py
  static/css/components/continue-reading.css
  static/css/page-home.css
Due: generate-pot, detect-missing-i18n

Reword ol-dialog migration comments
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/utils.js
  static/css/components/illustration.css
Due: none

fix(i18n): report all po-check failures and don't abort on bad XML
  openlibrary/i18n/test_po_files.py
Due: generate-pot

Show the enlarged cover at its intrinsic size
  static/css/components/illustration.css
Due: none

Polish the ol-dialog cover preview
  openlibrary/components/lit/OlDialog.js
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/templates/covers/author_photo.html
  openlibrary/templates/covers/book_cover.html
  static/css/components/illustration.css
Due: generate-pot, detect-missing-i18n

Migrate cover dialogs from colorbox to ol-dialog (#13864)
  openlibrary/components/lit/OlDialog.js
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/templates/covers/author_photo.html
  openlibrary/templates/covers/book_cover.html
  openlibrary/templates/covers/change.html
  static/css/components/cbox.css
  static/css/components/illustration.css
  static/css/components/ui-tabs.css
Due: generate-pot, detect-missing-i18n

Cache IA loan history for the homepage Continue Reading row
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

Skip the Continue Reading request for logged-out visitors
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/templates/home/index.html
  tests/unit/js/lazyCarousel.test.js
Due: generate-pot, detect-missing-i18n

Remove colorbox and migrate the observations modal to ol-dialog
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/Utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/ObservationsModal.html
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  package-lock.json
  package.json
  static/css/components/cbox.css
  tests/unit/js/notesModalStrings.test.js
Due: generate-pot, detect-missing-i18n

Set up web.ctx for the Continue Reading partial's worker thread
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/tests/fastapi/test_continue_reading_partial.py
Due: generate-pot

Delete dead observation-modal wiring and translate the close button
  openlibrary/components/ObservationForm.vue
  openlibrary/i18n/messages.pot
  openlibrary/macros/ObservationsModal.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  static/css/components/cbox.css
Due: generate-pot, detect-missing-i18n

Remove colorbox history from comments
  openlibrary/macros/ShareModal.html
  openlibrary/plugins/openlibrary/js/utils.js
  static/css/components/illustration.css
  static/css/tokens/z-index.css
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
