Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

silence noisy pytest output (#11720)
  pyproject.toml
Due: none

remove unneeded integration tests
  tests/integration/test_publishers_migration.py
  tests/integration/test_subjects_migration.py
Due: generate-pot

Migrate Subject and Publisher JSON Search to FastAPI (#11718)
  openlibrary/asgi_app.py
  openlibrary/conftest.py
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
  openlibrary/fastapi/publishers.py
  openlibrary/fastapi/services/__init__.py
  openlibrary/fastapi/services/subject_service.py
  openlibrary/fastapi/subjects.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/publishers.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/tests/core/test_fulltext.py
  openlibrary/tests/core/test_lending.py
  openlibrary/utils/async_utils.py
  openlibrary/utils/request_context.py
  openlibrary/utils/tests/test_request_context.py
Due: generate-pot

remove deprecated languages code (#11756)
  openlibrary/plugins/worksearch/languages.py
Due: generate-pot

remove completely commented out file (#11751)
  openlibrary/code.py
  openlibrary/plugins/recaptcha/code.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

redirect web.py endpoints to fastapi (#11713)
  openlibrary/code.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

refactor: remove deprecated JSON API endpoints migrated to FastAPI. (#11717)
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/tests/fastapi/test_api_contract.py
Due: generate-pot

feat: Prioritize master dictionary values during author merge operations.
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
Due: generate-pot

fix: Implement dictionary merging in `merge_property` to correctly combine `remote_ids` during author merges. (#11747)
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
Due: generate-pot

Select last month's worth of statistics for `/stats` page
  openlibrary/plugins/admin/code.py
Due: generate-pot

cleanup 'old_plugins' code to have explicit imports
  openlibrary/code.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/inside/code.py
Due: generate-pot

remove unneeded imports
  openlibrary/plugins/admin/tests/test_code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/models.py
Due: generate-pot

remove deprecated rule UP038
  pyproject.toml
Due: none

reenable ruff rule RUF059 for unnused unpacked variables
  pyproject.toml
Due: none

ruff auto fix
  openlibrary/core/lending.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_doctests.py
  openlibrary/data/__init__.py
  openlibrary/data/dump.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/books/tests/test_doctests.py
  openlibrary/plugins/importapi/code.py
  openlibrary/utils/sentry.py
  scripts/gh_scripts/issue_comment_bot.py
Due: generate-pot

bump pytest-httpx version to work with pytest v9
  requirements_test.txt
Due: none

bump httpx version to work with newer pytest-httpx
  requirements.txt
Due: none

remove time argument from memcached delete
  openlibrary/utils/olmemcache.py
Due: generate-pot

updates for pytest v9
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/tests/catalog/test_utils.py
  openlibrary/tests/fastapi/test_search.py
  openlibrary/utils/tests/test_ddc.py
  openlibrary/utils/tests/test_lcc.py
  pyproject.toml
  scripts/tests/test_isbndb.py
Due: generate-pot

use subtests with pytest v9 - templates
  openlibrary/tests/test_templates.py
Due: generate-pot

subtests for mark, po, and get_ia
  openlibrary/catalog/marc/tests/test_get_subjects.py
  openlibrary/i18n/test_po_files.py
  openlibrary/tests/catalog/test_get_ia.py
  openlibrary/tests/test_templates.py
Due: generate-pot

Standardize async function naming convention
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/subjects.py
Due: generate-pot

refactor: make `Solr.escape` a static method and update its usage
  openlibrary/core/lists/model.py
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/utils/solr.py
Due: generate-pot

make all async functions for solr class
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/utils/solr.py
Due: generate-pot

migrate facets partial to fastapi
  openlibrary/asgi_app.py
  openlibrary/fastapi/partials.py
  openlibrary/i18n/__init__.py
  openlibrary/plugins/openlibrary/partials.py
  test_search_facets_comparison.py
  test_search_facets_partial.py
Due: generate-pot

add partials for BPListsSection
  openlibrary/conftest.py
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/tests/core/test_i18n.py
  test_book_page_lists_comparison.py
  test_book_page_lists_partial.py
  test_search_facets_partial.py
Due: generate-pot

migrate BPListsSection partial
  .pre-commit-config.yaml
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_affiliate_links_comparison.py
  test_affiliate_links_partial.py
Due: generate-pot

Remove redundant stats query
  openlibrary/admin/numbers.py
Due: generate-pot

add FulltextSearchSuggestion partial
  .pre-commit-config.yaml
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_fulltext_suggestions_comparison.py
  test_fulltext_suggestions_partial.py
Due: generate-pot

Remove unnecessary condition
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Remove used method
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

feat: Add 'Read More' web component (#11666)
  Makefile
  openlibrary/components/lit/OLReadMore.js
  openlibrary/components/lit/index.js
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  openlibrary/i18n/messages.pot
  openlibrary/templates/site/footer.html
  openlibrary/templates/type/edition/view.html
  package-lock.json
  package.json
Due: generate-pot, detect-missing-i18n

Only truncate list note if in grid view
  static/css/legacy.less
Due: none

add reading goal tests
  test_reading_goal_progress_comparison.py
  test_reading_goal_progress_partial.py
Due: generate-pot

Add debugger support for fastapi
  .vscode/launch.json
  compose.override.yaml
  compose.yaml
  openlibrary/asgi_app.py
  openlibrary/fastapi/dev.py
Due: generate-pot

Enable fastapi debug view on LOCAL_DEV
  openlibrary/asgi_app.py
Due: generate-pot

Expose solr edismax params for testing
  .gitignore
  compose.override.yaml
  compose.staging.yaml
  openlibrary/fastapi/models.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/fastapi/test_models.py
Due: generate-pot

Test: PM AI workflow
  .github/prompts/issue_pmai_instructions_guide.md
  .github/prompts/issue_pmai_instructions_review.md
  .github/workflows/issue_pm_ai.yml
Due: none

Test: PM AI workflow (edited)
  .github/prompts/issue_pmai_instructions_guide.md
  .github/prompts/issue_pmai_instructions_review.md
  .github/workflows/issue_pm_ai.yml
Due: none
