Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Make primary CTA of My Books Dropper "Add to List" when logged out
  openlibrary/templates/my_books/primary_action.html
Due: generate-pot, detect-missing-i18n

Ignore httpx in pyspy monitoring like we do requests
  scripts/monitoring/utils.sh
Due: none

Update scripts/monitoring/utils.sh
  scripts/monitoring/utils.sh
Due: none

Make magic numbers disappear
  static/css/components/multi-image-card.less
Due: none

Delete some dead code in readlinks.py
  openlibrary/plugins/books/readlinks.py
Due: generate-pot

Tune solr caching performance
  conf/solr/conf/solrconfig.xml
  openlibrary/plugins/worksearch/tests/test_worksearch.py
Due: generate-pot

Experiment with ui components grouped by component instead of file type
  jsconfig.json
  openlibrary/code.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/loan_history.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/type/edition/modal_links.html
  scripts/i18n-messages
  static/css/components/work.less
  static/css/legacy.less
  ui/components/StarRatings/StarRatings.html
  ui/components/StarRatings/StarRatings.js
  ui/components/StarRatings/StarRatings.less
  webpack.config.css.js
  webpack.config.js
Due: generate-pot, detect-missing-i18n

opds: Show only borrowable or open access books in trending
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Fix search.json only offering edition description
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Update `verify_hmac` function
  openlibrary/plugins/admin/code.py
Due: generate-pot

fix(account-registration): migrate custom Checkbox to native HTML checkboxes
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
  openlibrary/utils/form.py
Due: generate-pot, detect-missing-i18n

bump pyopds2_openlibrary version
  requirements.txt
Due: none

opds: Show only borrowable or open access books in trending (#11503)
  openlibrary/plugins/openlibrary/api.py
  requirements.txt
Due: generate-pot

Refactor OPDS links and update catalog metadata
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Change OPDS catalog title to Open Library
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Add sort parameter to GET request in api.py
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

change order of prams
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

feat: enhance OlButton component with customizable properties and integrate OlStarRating component
  openlibrary/components/lit/OlButton.js
  openlibrary/components/lit/OlStarRating.js
  openlibrary/components/lit/index.js
  openlibrary/macros/StarRatings.html
  openlibrary/templates/type/edition/modal_links.html
  static/css/components/check-in.less
Due: generate-pot, detect-missing-i18n

Lit components build and star ratings stub
  Makefile
  openlibrary/components/lit-vite.config.js
  openlibrary/components/lit/OlStarRating.js
  openlibrary/components/lit/index.js
  openlibrary/templates/site/footer.html
  package-lock.json
  package.json
Due: generate-pot, detect-missing-i18n

rating component addl text support
  openlibrary/components/lit/OlStarRating.js
Due: none

Enhance OlStarRating component with small size support and adjust CSS spacing. Update StarRatingsStats to use the new component structure for displaying average ratings.
  openlibrary/components/lit/OlStarRating.js
  openlibrary/macros/StarRatingsStats.html
Due: generate-pot, detect-missing-i18n

Add sort parameter to GET request in api.py (#11514)
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

fix search bugs for params that accept multiple values
  openlibrary/fastapi/search.py
Due: generate-pot

support query
  openlibrary/fastapi/search.py
Due: generate-pot

unify pagination
  openlibrary/fastapi/search.py
Due: generate-pot

match default and also return offset
  openlibrary/fastapi/search.py
Due: generate-pot

test: Add comprehensive tests for the FastAPI search endpoint and conditionally skip legacy WSGI app initialization during pytest.
  openlibrary/asgi_app.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

refactor: Consolidate multiple pagination test cases into a single parameterized test.
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

refactor: simplify search endpoint test calls by introducing and using a new helper function.
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

feat: Dynamically allow and pass `WorkSearchScheme` fields as query parameters to the search endpoint, including a new test.
  openlibrary/fastapi/search.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

feat: Re-enable `WorkSearchScheme` field name mapping and update `AllAllowedParams` to handle underscore prefixes with aliases.
  openlibrary/fastapi/search.py
Due: generate-pot

refactor: remove commented-out facet query parameter
  openlibrary/fastapi/search.py
Due: generate-pot

use correct pydantic method
  openlibrary/fastapi/search.py
Due: generate-pot

feat: Add test to ensure multiple author_key parameters are correctly handled in search queries
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

improve comment
  openlibrary/fastapi/search.py
Due: generate-pot

remove extra comment
  openlibrary/asgi_app.py
Due: generate-pot

Change OPDS catalog title to Open Library (#11512)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

cleanup pagination
  openlibrary/fastapi/search.py
Due: generate-pot

Remove border from language component
  static/css/components/language.less
Due: none

fix limit test
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot
