Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

convert three files to use httpx (#11374)
  openlibrary/core/fulltext.py
  openlibrary/core/ia.py
  openlibrary/tests/core/test_fulltext.py
  openlibrary/utils/solr.py
Due: generate-pot

Fix indentation in reading_log.html
  openlibrary/templates/account/reading_log.html
Due: generate-pot, detect-missing-i18n

Adds activity feed to the My Books page
  openlibrary/core/follows.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/activity_feed.html
  openlibrary/templates/account/mybooks.html
  static/css/components/activity-feed.less
  static/css/components/list-showcase.less
  static/css/components/mybooks.less
Due: generate-pot, detect-missing-i18n

Apply suggestions from `Copilot` review
  openlibrary/core/follows.py
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

Lint `less` files
  static/css/components/activity-feed.less
  static/css/components/multi-image-card.less
Due: none

Update bookcover URL
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

feat: add WebP support to cover upload label
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Fix: Allow redirected authors in validation
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

fix: Hide default carousel on subject pages with associated Tags
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

feat: add Continue Reading carousel to homepage
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/home/continue_reading_carousel.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

resolved ruff linting errors
  check_books.py
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Fix list_key queries in search sometimes not working
  openlibrary/mocks/mock_infobase.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
Due: generate-pot

Fix books page "Lists" section layout
  openlibrary/templates/lists/list_follow.html
  static/css/components/list-follow.less
Due: generate-pot, detect-missing-i18n

Allow CORS access for /opds endpoints
  openlibrary/coverstore/code.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

Update messages.po
  openlibrary/i18n/cs/messages.po
Due: none

feat: add support for Lit web components
  Makefile
  openlibrary/components-lit/vite.config.mjs
  package.json
Due: none

feat: add ol-button component
  openlibrary/components-lit/README.md
  openlibrary/components-lit/ol-button.js
Due: none

refactor: implement ol-button on login and add book pages
  openlibrary/templates/books/add.html
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

fix: migrate registration newsletter to native HTML checkbox
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

refactor: use translation function for newsletter label in account create template
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

adding arabic to language menu
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Add experimental /opds endpoint
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/api.py
  requirements.txt
Due: generate-pot

Use absolute URLs instead of realtive URLs in OPDS feed
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Fix /opds/search endpoint error
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Add links to /opds/search
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Fix sort order of navigation in /opds
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Get cover URL or failback to default
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

Experiment with emoji in OPDS navigation
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Add opds2 publication endpoint
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

[opds2] Small tweaks to provider init + vbump
  openlibrary/plugins/openlibrary/api.py
  requirements.txt
Due: generate-pot

[opds2] Fix search url relative
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

[opds2] fix base url in publications
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

[opds2] Fix content type
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

feat: added "sort by date finished" for Already Readed books
  openlibrary/core/bookshelves.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/reading_log.html
Due: generate-pot, detect-missing-i18n

fix: simplify boolean assignment
  openlibrary/core/bookshelves.py
Due: generate-pot

Temporarily disable author page facets to see perf impact
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

Show multi-diff on import preview
  openlibrary/i18n/messages.pot
  openlibrary/macros/databarDiff.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/diff.html
  openlibrary/templates/import_preview.html
Due: generate-pot, detect-missing-i18n

Tweak diff page styles to work better on mobile
  openlibrary/i18n/messages.pot
  openlibrary/templates/diff.html
  openlibrary/templates/import_preview.html
  static/css/base/common.less
  static/css/components/diff.less
Due: generate-pot, detect-missing-i18n
