Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

fix(bookworm): use setup_requests() for proxy config instead of reimplementing it
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_session.py
  scripts/bookworm_harvest.py
  scripts/tests/test_bookworm_harvest.py
Due: generate-pot

refactor(bookworm): one stable batch per feed, not date-scoped (#12844)
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
Due: generate-pot

fix(bookworm): close three ways the refresh could re-queue or lose updates
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/core/imports.py
  openlibrary/tests/core/test_imports_refresh.py
Due: generate-pot

feat(bookworm): make feed status real so a rollout can be staged (#12844)
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/registry.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/bookworm/tests/test_registry.py
  scripts/bookworm_register.py
  scripts/tests/test_bookworm_register.py
Due: generate-pot

feat(bookworm): re-stage records whose acquisitions changed (#12844)
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/core/acquisitions.py
  openlibrary/core/imports.py
  openlibrary/tests/core/test_imports_refresh.py
Due: generate-pot

perf(bookworm): stage in 1k chunks and date-scope the batch (#12844)
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
Due: generate-pot

docs(bookworm): operator guide for the feed harvest
  openlibrary/bookworm/README.md
Due: none

feat(bookworm): operationalize the feed harvest as a cron runner (#12844)
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/bookworm/tests/test_session.py
  scripts/bookworm_harvest.py
  scripts/bookworm_register.py
  scripts/tests/test_bookworm_harvest.py
  scripts/tests/test_bookworm_register.py
Due: generate-pot

feat(acquisitions): keep every acquisition of a publication, feed-authoritative
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book_acquisitions.py
Due: generate-pot

docs(bookworm): step-by-step ol-home0 rollout runbook for Lenny
  openlibrary/bookworm/README.md
Due: none

feat(search): weave provider acquisitions into search.json (#12844)
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

fix(bookworm): do not advance the cursor when a feed serves an empty catalogue
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
Due: generate-pot

fix(bookworm): surface a provider mis-assigning publication ids
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
Due: generate-pot

fix(bookworm): retry an implausible page in-tick, like a transport failure
  openlibrary/bookworm/README.md
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/tests/test_harvest.py
Due: generate-pot

bookworm: preview what the catalog would match, before anything writes
  openlibrary/bookworm/README.md
  scripts/bookworm_preview_match.py
  scripts/tests/test_bookworm_preview_match.py
Due: generate-pot

Fix ReadingGoalProgressPartial to return empty fallback when no goal exists for the year
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

catalog: let an import record name its edition, verified (#12844)
  openlibrary/bookworm/README.md
  openlibrary/bookworm/opds.py
  openlibrary/bookworm/registry.py
  openlibrary/bookworm/tests/test_registry.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book_edition_ref.py
  scripts/bookworm_preview_match.py
  scripts/bookworm_register.py
  scripts/tests/test_bookworm_preview_match.py
  scripts/tests/test_bookworm_register.py
Due: generate-pot

docs(bookworm): 96/95/94 are three numbers with two unrelated causes
  openlibrary/bookworm/README.md
Due: none

Consolidate the type tokens into typography.css and add weight and heading roles
  .stylelintrc.json
  docs/ai/design.md
  openlibrary/plugins/openlibrary/design_tokens.py
  openlibrary/plugins/openlibrary/tests/test_design_tokens.py
  openlibrary/templates/design/foundations.html.jinja
  static/css/base/common.css
  static/css/tokens.css
  static/css/tokens/font-families.css
  static/css/tokens/line-heights.css
  static/css/tokens/typography.css
Due: generate-pot

Set h1-h3 to medium weight in the heading ink
  static/css/base/common.css
  static/css/tokens/typography.css
Due: none

perf: batch work lookups in bulk tagging
  openlibrary/plugins/openlibrary/bulk_tag.py
Due: generate-pot

perf: batch readinglog work lookups
  openlibrary/tests/views/test_loanstats.py
  openlibrary/views/loanstats.py
Due: generate-pot

feat(acquisitions): keep every link a publication offers (#12844)
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book_acquisitions.py
  openlibrary/core/acquisitions.py
Due: generate-pot

feat(imports): re-stage records whose data changed (#12844)
  openlibrary/core/imports.py
  openlibrary/tests/core/test_imports_refresh.py
Due: generate-pot

feat(bookworm): one command line for harvest, register and preview (#12844)
  openlibrary/bookworm/cli.py
  openlibrary/bookworm/tests/test_cli.py
  scripts/bookworm_harvest.py
Due: generate-pot

fix(bookworm): harden the harvest for unattended, scheduled runs (#12844)
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/opds.py
  openlibrary/bookworm/registry.py
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/bookworm/tests/test_opds.py
  openlibrary/bookworm/tests/test_registry.py
Due: generate-pot

docs(bookworm): operator guide and the ol-home0 rollout runbook (#12844)
  openlibrary/bookworm/README.md
Due: none

feat(catalog): let an import record name its edition, verified (#12844)
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book_edition_ref.py
Due: generate-pot

Fix: Move target_ddc and ed_lang calculation into prepare_book_page to avoid template import restriction
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Reflect the shelf on ol-shelf-button's host
  openlibrary/components/lit/OlShelfButton.js
  tests/unit/js/OlShelfButton.test.js
Due: none

Carry the popover's open state on ol-shelf-button's host
  openlibrary/components/lit/OlShelfButton.js
  tests/unit/js/OlShelfButton.test.js
Due: none

Convert SearchFacets partial to Jinja
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/search/work_search_facets.html
  openlibrary/templates/search/work_search_facets.html.jinja
  openlibrary/templates/search/work_search_selected_facets.html
  openlibrary/templates/search/work_search_selected_facets.html.jinja
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

simplify search_facets.html
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/facets.py
  openlibrary/templates/search/work_search_facets.html.jinja
Due: generate-pot

remove extra comment
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

simplify selected facets template
  openlibrary/plugins/worksearch/facets.py
  openlibrary/templates/search/work_search_selected_facets.html.jinja
Due: generate-pot

create facets.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/facets.py
  openlibrary/templates/search/work_search_facets.html.jinja
  openlibrary/templates/search/work_search_selected_facets.html.jinja
Due: generate-pot

fix: rename FacetEntry.count to count_html to avoid shadowing tuple.count
  openlibrary/plugins/worksearch/facets.py
  openlibrary/templates/search/work_search_facets.html.jinja
Due: generate-pot

Convert SearchFacets partial to Jinja (#13577)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/facets.py
  openlibrary/templates/search/work_search_facets.html
  openlibrary/templates/search/work_search_facets.html.jinja
  openlibrary/templates/search/work_search_selected_facets.html
  openlibrary/templates/search/work_search_selected_facets.html.jinja
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

feat(book_providers): boost user-language and borrowable editions in get_best_edition
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/tests/test_code.py
  openlibrary/tests/test_book_providers.py
Due: generate-pot

test_partials: set the request context in a sync fixture so pytest-asyncio teardown can reset it
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot
