Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Show deploying immediately after a deploy trigger
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
Due: none

Show the current Jenkins stage and refresh its status every second
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/fastapi/status.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Drop the optimistic deploy hint; poll every 5 seconds instead
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
Due: none

Unify testing status on pydantic models and extract the Jenkins client
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/styles.css
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/jenkins.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Tighten the testing panel CSS: share the button base and drop dead rules
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/styles.css
Due: none

Remove deprecated web.py endpoints migrated to FastAPI
  openlibrary/fastapi/lists.py
  openlibrary/plugins/importapi/import_ui.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_followsapi.py
  openlibrary/plugins/openlibrary/tests/test_likes.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/fastapi/test_list_seeds.py
Due: generate-pot

subjects: refine the masthead and restyle the publishing-history chart
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/graphs/plot.js
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
  openlibrary/templates/site/head.html
  openlibrary/templates/subjects.html
  static/css/components/chart.css
  static/css/components/subject-masthead.css
Due: generate-pot, detect-missing-i18n

subjects: drop the masthead cover fan and revert the trending carousel
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
  openlibrary/templates/subjects.html
  static/css/components/subject-masthead.css
Due: generate-pot, detect-missing-i18n

Fix stray Foundations tier heading and cover info tokens in contrast test
  static/css/tokens/colors.css
  tests/unit/js/token-contrast.test.js
Due: none

Cap how long we wait for the web container before giving up on seeding
  docker/ol-home-start.sh
Due: none

add script to generate nginx regex for fastapi
  scripts/gen_nginx_regex.py
Due: generate-pot

don't add comments
  scripts/gen_nginx_regex.py
Due: generate-pot

Extract wait_for_url helper to make the web-container wait timeout easier to read
  docker/ol-home-start.sh
Due: none

Seed dev environment with full /languages/* records from prod (#13354)
  docker/ol-home-start.sh
Due: none

fix nginx regex generator anchoring and verify combined output
  scripts/gen_nginx_regex.py
Due: generate-pot

subjects: raise the page-subject.css budget to 10KB
  bundlesize.config.json
Due: none

Remove script used to purge S3 keys
  scripts/purge_s3_keys.py
Due: generate-pot

include schema-hidden FastAPI routes in nginx regex
  scripts/gen_nginx_regex.py
Due: generate-pot

subjects: apply the chart's year selection to the trending carousel
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

Add static-analysis test for unused templates and macros (#13360)
  openlibrary/tests/test_unused_templates.py
  openlibrary/utils/template_usage.py
Due: generate-pot

Make /authors/{id}/works.json async end-to-end
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/fastapi/test_work_editions_author_works.py
Due: generate-pot

Answer the status action endpoints with JSON so deploy failures surface
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/unit/js/testing-status.test.js
Due: generate-pot

Drop the dev-merged status cache and read the file fresh
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Spin the page favicon from canvas frames while a deploy runs
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

Anchor the deploy label on Jenkins' run start time
  openlibrary/fastapi/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

subjects: fix body-less tags and refine the readable-only toggle
  openlibrary/i18n/messages.pot
  openlibrary/templates/subjects.html
  static/css/components/subject-carousels.css
  static/css/components/subject-masthead.css
Due: generate-pot, detect-missing-i18n

Enhance FastAPI app metadata for better OpenAPI documentation
  openlibrary/asgi_app.py
Due: generate-pot

Drop stale ListCarousel exclusion from unused-template test
  openlibrary/tests/test_unused_templates.py
Due: generate-pot

Mark the favicon with a static badge while a deploy runs
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

Make the merge-conflict dot a bright alarm red
  static/css/tokens/colors.css
Due: none

Make the merge-conflict dot an even brighter alarm red
  openlibrary/components/TestingEnvironment/styles.css
Due: none

Update contact email for Open Library Team
  openlibrary/asgi_app.py
Due: generate-pot

Tick status deploy label every second; fetch every 5s
  openlibrary/components/TestingEnvironment.vue
Due: none

Use camelCase prop names for Jenkins URL
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/macros/TestingEnvironment.html.jinja
Due: none

Make toast timer a non-reactive instance property
  openlibrary/components/TestingEnvironment.vue
Due: none

Remove redundant safeHttpUrl URL guard
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/PersonCell.vue
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

Convert Testing Environment components to <script setup>
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/PersonCell.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
Due: none

Apply Vue best practices to Testing Environment components
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/PersonCell.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
Due: none

Extract composables from Testing Environment container
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/composables/useTestingStatus.js
  openlibrary/components/TestingEnvironment/composables/useToast.js
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
