Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Derive works_by_author availability from Solr ebook_access instead of live IA lookup
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

docs: refer to the renamed app entry as main.js in comments
  docs/ai/README.md
  openlibrary/macros/SearchAuthorSuggestion.html
  openlibrary/templates/lib/browse_popover.html
  static/css/components/cbox.css
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

Temporarily disable the ground-truth availability fallback on book pages
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/tests/test_code.py
Due: generate-pot

fix(nginx): revalidate the unhashed ESM entry all.js
  docker/web_nginx.conf
Due: none

docs: drop stale webpack references after the Vite migration
  .github/copilot-instructions.md
  AGENTS.md
  docs/ai/web-components.md
  static/css/tokens.css
  stylelint/ol-import-at-top.cjs
  vite-asset-urls.mjs
  vite-css.config.mjs
  vite-js-shared.mjs
  vite-js.config.mjs
Due: none

update a few more outdated docs referring to webpack
  docker/README.md
  eslint.config.cjs
  openlibrary/templates/design/icons.html.jinja
Due: none

Add option for upper bound
  scripts/backfill_store_index.py
Due: generate-pot

use rolldown options
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  vite-css.config.mjs
Due: none

use rolldown options (#13592)
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  vite-css.config.mjs
Due: none

Unify Vite builds behind scripts/vite/build.mjs
  .github/workflows/javascript_tests.yml
  Makefile
  docs/ai/README.md
  docs/ai/css.md
  eslint.config.cjs
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/js/main-entry.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/templates/site/footer.html
  package.json
  scripts/vite/build.mjs
  static/css/README.md
  static/css/tokens.css
  vite-asset-urls.mjs
  vite-css.config.mjs
  vite-js-iife.config.mjs
  vite-js-shared.mjs
  vite-js.config.mjs
Due: generate-pot, detect-missing-i18n

Inline vite-js-shared.mjs into scripts/vite/build.mjs
  docs/ai/README.md
  eslint.config.cjs
  scripts/vite/build.mjs
  vite-js-shared.mjs
Due: none

Polish unified Vite build script
  scripts/vite/build.mjs
Due: none

feat(mockservices): add a borrow-only availability variant
  docker/mockservices/main.py
Due: generate-pot

feat(mockservices): actually hot-reload on edit, not on restart
  docker/mockservices/start.sh
Due: none

fix(mockservices): browse loans are 1 hour, not 14 days
  docker/mockservices/main.py
Due: generate-pot

Move atomic staging into Vite build script, simplify Makefile
  Makefile
  scripts/vite/build.mjs
Due: none

test(mockservices): cover the groundtruth path and CTA reachability
  docker/mockservices/tests/test_e2e.py
Due: generate-pot

Replace each principle's hard calls with a single example
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/principles.html.jinja
  static/css/page-design.css
Due: generate-pot

Fall back to a glyph when a patron has no archive.org avatar
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar.css
Due: generate-pot, detect-missing-i18n

Round the account avatar and crop it instead of squashing it
  static/css/components/header-bar.css
Due: none

docs: fix doc regressions from build unification (#13593)
  .gitignore
  custom-elements-manifest.config.mjs
  docs/ai/README.md
  docs/ai/web-components.md
  scripts/build_icon_sprite.mjs
Due: none

lint: remove blanket scripts/ ignore, add scripts/vite/**/*.mjs to lint
  eslint.config.cjs
Due: none

refactor: single exit point for build failures
  scripts/vite/build.mjs
Due: none

Recentre the principle figures and reframe the paper example around recognition
  openlibrary/plugins/openlibrary/design.py
  static/css/page-design.css
Due: generate-pot

refactor: use allSettled in watch mode for consistent failure reporting
  scripts/vite/build.mjs
Due: none

Raise the page-plain.css bundle budget to 28KB
  bundlesize.config.json
Due: none

Retire the --account-icon-border alias for semantic tokens
  static/css/components/header-bar.css
  static/css/tokens/colors.css
Due: none

Add motion and press tokens
  static/css/tokens.css
  static/css/tokens/motion.css
  static/css/tokens/press.css
Due: none

Blur the drawer scrim and give the popover panel its edge
  openlibrary/components/lit/OlDrawer.js
  openlibrary/components/lit/OlPopover.js
  static/css/tokens/colors.css
Due: none

Inset menu rows as pills across the drawer and Browse panels
  openlibrary/components/lit/OlMenuPopover.js
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar.css
  static/css/tokens/control-heights.css
Due: generate-pot, detect-missing-i18n

fix(nginx): do not cache component entries with hashed imports
  docker/web_nginx.conf
Due: none

refactor: use single table for shared template helpers in Jinja
  openlibrary/core/jinja.py
  openlibrary/tests/core/test_jinja.py
Due: generate-pot

refactor: convert footer templates to Jinja
  openlibrary/core/jinja.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/languages/language_list.html
  openlibrary/templates/languages/language_list.html.jinja
  openlibrary/templates/lib/nav_foot.html
  openlibrary/templates/lib/nav_foot.html.jinja
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/alert.html
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/footer.html.jinja
  openlibrary/templates/site/stats.html
  openlibrary/templates/site/stats.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

fix(i18n): migrate version msgid and msgstr placeholders in locale catalogs
  openlibrary/i18n/ar/messages.po
  openlibrary/i18n/as/messages.po
  openlibrary/i18n/bn/messages.po
  openlibrary/i18n/cs/messages.po
  openlibrary/i18n/de/messages.po
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/hi/messages.po
  openlibrary/i18n/hr/messages.po
  openlibrary/i18n/id/messages.po
  openlibrary/i18n/it/messages.po
  openlibrary/i18n/ja/messages.po
  openlibrary/i18n/ko/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/i18n/pl/messages.po
  openlibrary/i18n/pt/messages.po
  openlibrary/i18n/ro/messages.po
  openlibrary/i18n/ru/messages.po
  openlibrary/i18n/sc/messages.po
  openlibrary/i18n/te/messages.po
  openlibrary/i18n/tl/messages.po
  openlibrary/i18n/tr/messages.po
  openlibrary/i18n/uk/messages.po
  openlibrary/i18n/zh/messages.po
Due: none

follow modern jinja practices
  openlibrary/core/jinja.py
  openlibrary/core/layout.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/languages/language_list.html.jinja
  openlibrary/templates/lib/nav_foot.html.jinja
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/alert.html
  openlibrary/templates/site/footer.html.jinja
  openlibrary/templates/site/head.html
  openlibrary/templates/site/stats.html.jinja
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/core/test_layout.py
Due: generate-pot, detect-missing-i18n

refactor: convert footer templates to Jinja (#13546)
  openlibrary/core/jinja.py
  openlibrary/core/layout.py
  openlibrary/i18n/ar/messages.po
  openlibrary/i18n/as/messages.po
  openlibrary/i18n/bn/messages.po
  openlibrary/i18n/cs/messages.po
  openlibrary/i18n/de/messages.po
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/hi/messages.po
  openlibrary/i18n/hr/messages.po
  openlibrary/i18n/id/messages.po
  openlibrary/i18n/it/messages.po
  openlibrary/i18n/ja/messages.po
  openlibrary/i18n/ko/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/i18n/pl/messages.po
  openlibrary/i18n/pt/messages.po
  openlibrary/i18n/ro/messages.po
  openlibrary/i18n/ru/messages.po
  openlibrary/i18n/sc/messages.po
  openlibrary/i18n/te/messages.po
  openlibrary/i18n/tl/messages.po
  openlibrary/i18n/tr/messages.po
  openlibrary/i18n/uk/messages.po
  openlibrary/i18n/zh/messages.po
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/languages/language_list.html
  openlibrary/templates/languages/language_list.html.jinja
  openlibrary/templates/lib/nav_foot.html
  openlibrary/templates/lib/nav_foot.html.jinja
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/alert.html
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/head.html
  openlibrary/templates/site/stats.html
  openlibrary/templates/site/stats.html.jinja
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/core/test_layout.py
Due: generate-pot, detect-missing-i18n

Raise the page-edit.css bundle budget to 28KB
  bundlesize.config.json
Due: none

Carry the press and menu-row tokens into the components
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OLChip.js
  openlibrary/components/lit/OLMarkdownEditor.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlPagination.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/OlToggle.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  static/css/components/header-bar.css
  static/css/components/ol-banner.css
  static/css/components/ol-button.css
  static/css/components/search-result-item.css
Due: none
