Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

bundlesize: bump page-edit/page-form.css caps to 27KB
  bundlesize.config.json
Due: none

search: clarify availability filter labels, fix mislabeled filters
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/fastapi/search.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/templates/design/options-popover.html
  openlibrary/templates/search/availability_i18n.html
  tests/unit/js/searchModalConstants.test.js
Due: generate-pot, detect-missing-i18n

migrate import_preview_json to FastAPI
  openlibrary/asgi_app.py
  openlibrary/fastapi/importapi.py
  openlibrary/plugins/importapi/import_ui.py
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

preserve the legacy behaviour
  openlibrary/fastapi/importapi.py
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

Address review
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/fastapi/importapi.py
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

Add web.ctx.site=site.get() and improve tests
  openlibrary/fastapi/importapi.py
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

Fix ruff
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

Apply suggestions from code review
  scripts/deployment/deploy.sh
Due: none

Add image download retrying + link to merged PRs to deploy script (#12838)
  scripts/deployment/deploy.sh
Due: none

Add subject merge request flow [skip pre-commit.ci]
  openlibrary/core/edits.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/upstream/edits.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/templates/merge/subjects.html
  openlibrary/templates/merge_request_table/table_header.html
  openlibrary/templates/merge_request_table/table_row.html
  openlibrary/templates/search/subjects.html
  tests/unit/js/SelectionManager.test.js
Due: generate-pot, detect-missing-i18n

feat(search): add OlAvailabilityFilter component for search availability
  openlibrary/components/lit/OlAvailabilityFilter.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/templates/search/availability_i18n.html
  openlibrary/templates/work_search.html
  tests/unit/js/searchModalConstants.test.js
  uv.lock
Due: generate-pot, detect-missing-i18n

feat(search): wrap header modal search field in an inset rounded box
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

fix(popover): soften mobile tray backdrop blur from 2px to 1px
  openlibrary/components/lit/OlPopover.js
Due: none

feat(search): surface author suggestions in the search modal
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/authorSuggestion.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/templates/search/search_modal_i18n.html
  tests/unit/js/searchModalAuthor.test.js
Due: generate-pot, detect-missing-i18n

Fix solr builder for python 3.14
  scripts/solr_builder/Dockerfile.olpython
  scripts/solr_builder/compose.yaml
Due: none

feat(search): show loading feedback when a modal result is pressed
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

style(availability-filter): dial back nested option label and icon
  openlibrary/components/lit/OlAvailabilityFilter.js
Due: none

docs(design): simplify options-popover demos away from the availability filter
  openlibrary/templates/design/options-popover.html
Due: generate-pot, detect-missing-i18n

style(search): hide search placeholder prompt on mobile
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
Due: none

fix(popover): correct mobile tray scrolling and swipe-dismiss reopen
  openlibrary/components/lit/OlPopover.js
Due: none

Fixed headings and associated lists being split across columns
  static/css/page-user.css
Due: none

refactor(css): remove dead rules and obsolete vendor prefixes
  static/css/components/cbox.css
  static/css/components/chart.css
  static/css/components/header-bar--desktop.css
  static/css/components/header-bar--tablet.css
  static/css/components/header-bar.css
  static/css/components/iaBar.css
  static/css/components/native-dialog.css
  static/css/components/rating-form.css
  static/css/components/tagging-menu.css
  static/css/components/ui-dialog.css
  static/css/legacy.css
  static/css/page-user.css
Due: none

Add files via upload
  openlibrary/i18n/ko/messages.po
Due: none

fix some string validations
  openlibrary/i18n/ko/messages.po
  openlibrary/i18n/validators.py
  openlibrary/utils/request_context.py
Due: generate-pot

Add tbp_feed_registry table and FeedRegistry class for managing provider feeds
  openlibrary/core/schema.sql
  openlibrary/core/tbp.py
  openlibrary/tests/core/test_tbp.py
Due: generate-pot

Fix import order by moving __future__ import to the top of tbp.py
  openlibrary/core/tbp.py
Due: generate-pot

Refactor decade chart; add century published chart
  openlibrary/plugins/openlibrary/js/readinglog_stats.js
  openlibrary/templates/account/readinglog_stats.html
Due: generate-pot, detect-missing-i18n

Show first published graphs first in reading stats
  openlibrary/templates/account/readinglog_stats.html
Due: generate-pot, detect-missing-i18n

Merge pull request #12822 from Saad259/add-reading-stats-by-decade
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/readinglog_stats.js
  openlibrary/templates/account/readinglog_stats.html
Due: generate-pot, detect-missing-i18n

Add link tracking for Preserve Intent banner actions (Issue #9409)
  openlibrary/templates/account/view.html
Due: generate-pot, detect-missing-i18n

Delete preserve intent cookie on successful login with valid redirect
  openlibrary/fastapi/account.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/tests/test_account.py
  openlibrary/tests/fastapi/test_account.py
Due: generate-pot

i18n: add translator notes to stopped reading shelf strings
  openlibrary/macros/StarRatingsStats.html
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/readinglog_shelf_name.html
  openlibrary/templates/my_books/dropdown_content.html
Due: generate-pot, detect-missing-i18n

test(accounts): add dev stubs for OTP login flow testing
  conf/openlibrary.yml
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

fix(accounts): address jimchamp + Mek review feedback on OTP login
  openlibrary/accounts/model.py
  openlibrary/components/lit/OpenLibraryOTP.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/login.html
  package-lock.json
  package.json
Due: generate-pot, detect-missing-i18n

fix(accounts): address Copilot review feedback on OTP login
  openlibrary/accounts/model.py
  openlibrary/components/lit/OpenLibraryOTP.js
  openlibrary/plugins/upstream/account.py
Due: generate-pot

feat(accounts): add OTP (passwordless) login support via xauthn
  openlibrary/accounts/model.py
  openlibrary/components/lit/OpenLibraryOTP.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/login.html
  package-lock.json
  package.json
Due: generate-pot, detect-missing-i18n

fix(accounts): prevent open redirect in OTP login redeem endpoint
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

refactor(accounts): DRY post-login cookie logic into _set_login_cookies
  openlibrary/plugins/upstream/account.py
Due: generate-pot

fix(accounts): match OTP trigger button font-size to login button (14px)
  openlibrary/components/lit/OpenLibraryOTP.js
Due: none
