Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Fix web.ctx.headers setup in test_missing_list_raises_notfound
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

Hoist list/series availability lookups out of view_body.html
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/type/list/view.html
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

refactor(lists): restore mode dispatch and simplify list-view resolution
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

remove extra comment
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Fix the Vite chunk-size warning in vite-lit.config.mjs
  openlibrary/components/vite-lit.config.mjs
Due: none

Update docs for FastAPI fallback proxy port swap (#13423)
  AGENTS.md
  docs/ai/README.md
  docs/ai/solr/index.md
  openlibrary/fastapi/account.py
  tests/integration/test_fastapi_auth.py
Due: generate-pot

docs(js): cite actual build.target floor and drop Chrome-version commentary
  docs/ai/README.md
  vite-js-shared.mjs
Due: none

Hoist list availability lookups into Python handler (#13465)
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/type/list/view.html
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Apply suggestion from @RayBB
  openlibrary/plugins/openlibrary/authors.py
Due: generate-pot

Show No Preview label only in grid layout, muted and smaller
  static/css/components/search-result-item.css
Due: none

Fix list grid view alignment (#13385)
  openlibrary/i18n/messages.pot
  openlibrary/macros/BookPreview.html
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.css
Due: generate-pot, detect-missing-i18n

Convert /authors page to a pure Jinja template
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/authors.py
  openlibrary/templates/authors/index.html
  openlibrary/templates/authors/index.html.jinja
Due: generate-pot, detect-missing-i18n

Move author search out of template rendering to author.GET (python handler) (#13467)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/authors.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/authors/index.html
  openlibrary/templates/authors/index.html.jinja
Due: generate-pot, detect-missing-i18n

Stop search result titles growing a scrollbar under Literata
  static/css/components/search-result-item.css
Due: none

Move blocking I/O from templates into Python handlers (#13387)
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/upstream/covers.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/admin/imports_by_date.html
  openlibrary/templates/admin/index.html
  openlibrary/templates/covers/saved.html
  openlibrary/templates/showia.html
  openlibrary/templates/showmarc.html
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
  openlibrary/views/showmarc.py
Due: generate-pot, detect-missing-i18n

Show who started the last testing deploy on the /status page
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/unit/js/testing-status.test.js
Due: generate-pot

Trim verbose comments on the deployer-username fields
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Hoist featured subjects fetch from template
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/home/categories.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Fix Vue prop lint warnings
  openlibrary/components/BarcodeScanner/components/LazyBookCard.vue
  openlibrary/components/BulkSearch/components/BookCard.vue
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/IdentifiersInput.vue
  openlibrary/components/LibraryExplorer/components/BookCover3D.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/BooksCarousel.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/CSSBox.vue
  openlibrary/components/LibraryExplorer/components/ClassSlider.vue
  openlibrary/components/LibraryExplorer/components/DemoA.vue
  openlibrary/components/LibraryExplorer/components/FlatBookCover.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/LibraryExplorer/components/ShelfIndex.vue
  openlibrary/components/LibraryExplorer/components/ShelfLabel.vue
  openlibrary/components/LibraryExplorer/components/ShelfProgressBar.vue
  openlibrary/components/MergeUI.vue
  openlibrary/components/MergeUI/AuthorRoleTable.vue
  openlibrary/components/MergeUI/EditionSnippet.vue
  openlibrary/components/MergeUI/ExcerptsTable.vue
  openlibrary/components/MergeUI/MergeRow.vue
  openlibrary/components/MergeUI/MergeRowEditionField.vue
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/MergeUI/MergeRowJointField.vue
  openlibrary/components/MergeUI/MergeRowReferencesField.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/TextDiff.vue
  openlibrary/components/ObservationForm.vue
  openlibrary/macros/ObservationsModal.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/type/author/edit.html
Due: generate-pot, detect-missing-i18n

fix: name conflicted PR in testing tooltip
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
Due: none

fix: keep conflict marker in translated string
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
Due: none

Replace cover prop JSDoc hints with validators
  openlibrary/components/LibraryExplorer/components/BookCover3D.vue
  openlibrary/components/LibraryExplorer/components/FlatBookCover.vue
Due: none

Fix Vue prop lint warnings (#13473)
  openlibrary/components/BarcodeScanner/components/LazyBookCard.vue
  openlibrary/components/BulkSearch/components/BookCard.vue
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/IdentifiersInput.vue
  openlibrary/components/LibraryExplorer/components/BookCover3D.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/BooksCarousel.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/CSSBox.vue
  openlibrary/components/LibraryExplorer/components/ClassSlider.vue
  openlibrary/components/LibraryExplorer/components/DemoA.vue
  openlibrary/components/LibraryExplorer/components/FlatBookCover.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/LibraryExplorer/components/ShelfIndex.vue
  openlibrary/components/LibraryExplorer/components/ShelfLabel.vue
  openlibrary/components/LibraryExplorer/components/ShelfProgressBar.vue
  openlibrary/components/MergeUI.vue
  openlibrary/components/MergeUI/AuthorRoleTable.vue
  openlibrary/components/MergeUI/EditionSnippet.vue
  openlibrary/components/MergeUI/ExcerptsTable.vue
  openlibrary/components/MergeUI/MergeRow.vue
  openlibrary/components/MergeUI/MergeRowEditionField.vue
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/MergeUI/MergeRowJointField.vue
  openlibrary/components/MergeUI/MergeRowReferencesField.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/TextDiff.vue
  openlibrary/components/ObservationForm.vue
  openlibrary/macros/ObservationsModal.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/type/author/edit.html
Due: generate-pot, detect-missing-i18n

Add Git version to status info
  openlibrary/plugins/openlibrary/status.py
  openlibrary/utils/__init__.py
Due: generate-pot

Add near-end event and in-view tracking to ol-carousel
  openlibrary/components/lit/OlCarousel.js
  openlibrary/templates/design/components/carousel.html.jinja
  tests/unit/js/OlCarousel.test.js
Due: none

Add mouse drag scrolling to ol-carousel
  openlibrary/components/lit/OlCarousel.js
  tests/unit/js/OlCarousel.test.js
Due: none

Make ol-carousel page boundaries hard snap stops
  openlibrary/components/lit/OlCarousel.js
  openlibrary/templates/design/components/carousel.html.jinja
  tests/unit/js/OlCarousel.test.js
Due: none

Preserve the reader's place in ol-carousel across resizes
  openlibrary/components/lit/OlCarousel.js
  tests/unit/js/OlCarousel.test.js
Due: none

Align ol-carousel pages when keyboard focus enters an off-page card
  openlibrary/components/lit/OlCarousel.js
  tests/unit/js/OlCarousel.test.js
Due: none

Identify PRs causing testing environment merge conflicts
  .gitignore
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  scripts/analyze_merge_conflicts.py
  scripts/make-integration-branch.sh
  scripts/test_analyze_merge_conflicts.py
Due: generate-pot

improve script
  scripts/analyze_merge_conflicts.py
  scripts/make-integration-branch.sh
  scripts/test_analyze_merge_conflicts.py
Due: generate-pot

Lay out ol-carousel as one clipped row before upgrade
  static/css/ol-components.css
Due: none

Add Playwright spec for ol-carousel
  tests/e2e/ol-carousel.spec.ts
Due: none

Add announcements, previousPage, motion-grab click guard, columns to ol-carousel
  openlibrary/components/lit/OlCarousel.js
  openlibrary/templates/design/components/carousel.html.jinja
  tests/unit/js/OlCarousel.test.js
Due: none

fix(vue): resolve remaining component lint warnings (#13477)
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/FlatBookCover.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/ObservationForm/components/CategorySelector.vue
  openlibrary/components/ObservationForm/components/OLChip.vue
Due: none

Key the filtered list rows with repeat()
  openlibrary/components/lit/OlBookActions.js
Due: none

Defer ol-carousel pointer capture until a drag actually engages
  openlibrary/components/lit/OlCarousel.js
  openlibrary/templates/design/components/carousel.html.jinja
  static/css/page-design.css
  tests/e2e/ol-carousel.spec.ts
  tests/unit/js/OlCarousel.test.js
Due: none
