Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Add some missing fastapi olspy configs
  scripts/monitoring/olspy.sh
Due: none

Fix mypy type annotation for get_field_updates updates dict
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Add detailed docstrings to all functions
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Remove --limit argument and fix mypy type error
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Document legacy ?page=0 clamp and has_next fetch pattern
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/templates/history.html
Due: generate-pot, detect-missing-i18n

Expand py-spy monitoring
  scripts/monitoring/monitor.py
  scripts/monitoring/olspy.sh
  scripts/monitoring/tests/sample_ps_aux.txt
  scripts/monitoring/tests/sample_py_spy_fastapi_dump.txt
  scripts/monitoring/tests/sample_py_spy_webpy_dump.txt
  scripts/monitoring/tests/test_olspy_sh.py
  scripts/monitoring/utils.sh
Due: generate-pot

Add phase 2: fetch, fix and save records with progress tracking and graceful shutdown
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Fix bug in test
  openlibrary/plugins/books/tests/test_dynlinks.py
Due: generate-pot

Refactor process_dump to output only affected keys to stdout (Phase 1)
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Add script to detect and fix HTML-escaped unicode in OL dumps (dry-run)
  scripts/fix_unicode_html_entities.py
Due: generate-pot

Fix case-insensitive language name sorting (#11962) (#12395)
  openlibrary/plugins/worksearch/languages.py
Due: generate-pot

Add unit tests for has_entities and get_field_updates
  scripts/tests/test_fix_unicode_html_entities.py
Due: generate-pot

Apply code review feedback
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Fix affiliate server generate undefined
  openlibrary/fastapi/partials.py
Due: generate-pot

Fix ruff SIM102: combine nested if statements
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

make betterworldbooks async (#12404)
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Move fix_unicode_html_entities.py to scripts/migrations
  scripts/fix_unicode_html_entities.py
Due: generate-pot

Rollback asyncing of ia methods
  openlibrary/core/ia.py
  openlibrary/plugins/books/readlinks.py
Due: generate-pot

Apply code review feedback
  openlibrary/utils/request_context.py
Due: generate-pot

fix: remove unused parameter from welcome.html (#12411)
  openlibrary/templates/home/index.html
  openlibrary/templates/home/welcome.html
Due: generate-pot, detect-missing-i18n

Apply code review feedback
  scripts/monitoring/olspy.sh
Due: none

Fix history page pagination off-by-one (#12398, #12420)
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/templates/history.html
Due: generate-pot, detect-missing-i18n

Refactor advanced search form strufix: remove duplicate legend in Advanced Search form (#12381)cture
  openlibrary/templates/search/advancedsearch.html
Due: generate-pot, detect-missing-i18n

Check all string fields for HTML entities and add early exit before JSON parsing
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Merge pull request #12403 from internetarchive/RayBB-patch-1
  openlibrary/i18n/messages.pot
  openlibrary/macros/DonateModal.html
Due: generate-pot, detect-missing-i18n

Change graphite bucket for .other to .other.other to be consistent
  scripts/monitoring/olspy.sh
  scripts/monitoring/tests/test_olspy_sh.py
Due: generate-pot

Handle object and list field shapes in get_field_updates
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Merge pull request #12436 from cdrini/fix/add-api-partners
  scripts/monitoring/monitor.py
Due: generate-pot

Don't show trap links to recognized bots
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

feat: interactive testing environment dashboard on /status (#11506)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  scripts/make-integration-branch.sh
Due: generate-pot, detect-missing-i18n

Fix multiple Connection instances in webpy breaking RunAs
  openlibrary/utils/request_context.py
Due: generate-pot

Move fix_unicode_html_entities.py to scripts/migrations
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Asyncify /api/books and /api/volumes
  openlibrary/code.py
  openlibrary/core/ia.py
  openlibrary/fastapi/books.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

Tweak solr weights/boosts
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

update bwb api url to avoid 301
  openlibrary/core/vendors.py
Due: generate-pot

Remove --limit argument from fix_unicode_html_entities.py
  scripts/migrations/fix_unicode_html_entities.py
Due: generate-pot

Fix mypy error: use Optional type for limit parameter
  scripts/fix_unicode_html_entities.py
Due: generate-pot

Merge pull request #12355 from Saad259/cache-avatar-url-9282
  openlibrary/core/models.py
  openlibrary/plugins/upstream/tests/test_models.py
Due: generate-pot

Copilot suggestions added
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/sort_options.html
  static/css/components/header-bar.css
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
