Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

update pre-commit and fix one typehint issue
  .pre-commit-config.yaml
  openlibrary/core/imports.py
Due: generate-pot

add typehints to prep for v2
  openlibrary/config.py
  openlibrary/plugins/admin/code.py
  openlibrary/utils/schema.py
  pyproject.toml
  scripts/lc_marc_update.py
Due: generate-pot

make MyBooksDropper classmethod too
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

add name option when wrapping async functions
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/async_utils.py
Due: generate-pot

Add condition to disable analytics for bots
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

improve return type
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

remove unused year
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Throw error when visiting follower page while unauthenticated
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

chore(renovate): add stabilization delay, weekly schedule, and PR cap
  renovate.json
Due: none

chore(renovate): group Python and JS patch/minor updates into two PRs
  renovate.json
Due: none

Fix web.notfound call
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

Add button to delete work and all editions
  openlibrary/plugins/openlibrary/api.py
  openlibrary/templates/books/edit.html
Due: generate-pot, detect-missing-i18n

Fix: add id and aria-labels to edit profile inputs (#12554)
  openlibrary/macros/UserEditRow.html
Due: generate-pot, detect-missing-i18n

Refactor: use dynamic localized label for aria-label (#12554)
  openlibrary/macros/UserEditRow.html
Due: generate-pot, detect-missing-i18n

Extract design page Button section into partial
  openlibrary/i18n/messages.pot
  openlibrary/templates/design.html
  openlibrary/templates/design/button.html
Due: generate-pot, detect-missing-i18n

Make design pattern nav responsive
  static/css/page-design.css
Due: none

Split web component styles into ol-components.css bundle
  openlibrary/templates/site/head.html
  static/css/ol-components.css
  webpack.config.css.js
Due: generate-pot, detect-missing-i18n

Fix syntax highlighting on Button and Chip Group code examples
  openlibrary/templates/design.html
  openlibrary/templates/design/button.html
Due: generate-pot, detect-missing-i18n

fix: address review comments on cache configuration
  docker/web_nginx.conf
  openlibrary/coverstore/code.py
Due: generate-pot

Remove duplicate ol-button.css import from legacy.css
  bundlesize.config.json
  static/css/legacy.css
Due: none

remove setup_site
  openlibrary/accounts/__init__.py
Due: generate-pot

fix: correct site ContextVar usage and deleted-list check for raw mode
  openlibrary/fastapi/lists.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/tests/fastapi/test_list_view_json.py
Due: generate-pot

Fix: Add descriptive alt text to footer social icons
  openlibrary/templates/lib/nav_foot.html
Due: generate-pot, detect-missing-i18n

add new setup method for all scripts
  openlibrary/setup.py
  openlibrary/utils/request_context.py
  scripts/bulk_load_ia_query.py
  scripts/migrations/anonymous_store_remediation.py
  scripts/migrations/delete_merge_debug.py
  scripts/migrations/fix_unicode_html_entities.py
  scripts/migrations/update_legacy_preferences.py
  scripts/migrations/write_prefs_to_store.py
  scripts/update_stale_ocaid_references.py
  scripts/update_stale_work_references.py
Due: generate-pot

singular
  openlibrary/setup.py
  openlibrary/utils/request_context.py
Due: generate-pot

add docstring
  openlibrary/setup.py
Due: generate-pot

Fix malformed worldcat links have whitespace
  openlibrary/macros/WorldcatLink.html
  openlibrary/macros/WorldcatUrl.html
Due: generate-pot, detect-missing-i18n

Rename misleading variable names
  openlibrary/macros/WorldcatLink.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

feat(imports): allow specifying batch name in /import/batch/new
  openlibrary/core/batch_imports.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/batch_import.html
  openlibrary/tests/core/test_batch_imports.py
Due: generate-pot, detect-missing-i18n

refactor: rename batch_name param to batch_suffix, add ValueError guard
  openlibrary/core/batch_imports.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/core/test_batch_imports.py
Due: generate-pot

Find all locations of web.ctx.site.get() and whether they are called in a loop.
  N+1 queries.txt
Due: none

Simplify solr query for performance
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

modsecurity
  docker/nginx.conf
  docker/web_nginx.conf
  scripts/install_nginx.sh
Due: none

Fix modsecurity installation in install_nginx.sh
  scripts/install_nginx.sh
Due: none

Modify nginx configuration for modsecurity and workers
  docker/nginx.conf
Due: none

Update modsecurity installation in install_nginx.sh
  scripts/install_nginx.sh
Due: none

build: remove tests and partials.py from ruff/black formatting denylist
  .pre-commit-config.yaml
Due: none

cleanup types
  openlibrary/fastapi/lists.py
Due: generate-pot

add support for /people/{username}/series/{list_id}.json
  openlibrary/fastapi/lists.py
Due: generate-pot

remove extra cast
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
