Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Tighten the comments this PR added
  openlibrary/components/lit/OlDrawer.js
  openlibrary/components/lit/OlMenuPopover.js
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSelectPopover.js
  static/css/components/header-bar.css
  static/css/components/ol-button.css
  static/css/tokens/control-heights.css
  static/css/tokens/motion.css
  static/css/tokens/press.css
Due: none

feat(lenny): hold the node token custodially in the patron's cookie
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/lenny.py
  openlibrary/plugins/upstream/tests/test_lenny.py
Due: generate-pot

feat(search): expose provider acquisitions through search.json (#12844)
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

feat(mockservices): support stateful lending lifecycle and availability variants (#13548)
  compose.override.yaml
  docker/mockservices/Dockerfile
  docker/mockservices/main.py
  docker/mockservices/start.sh
  docker/mockservices/tests/test_e2e.py
Due: generate-pot

fix(search): a database failure must not fail the search
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

fix(search): close seven defects found by adversarial review
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

Convert CarouselCard partial to Jinja (#13570)
  openlibrary/i18n/messages.pot
  openlibrary/macros/FormatExpiry.html
  openlibrary/macros/FormatExpiry.html.jinja
  openlibrary/macros/ReturnForm.html
  openlibrary/macros/TruncateString.html
  openlibrary/macros/TruncateString.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/admin/loans_table.html
  openlibrary/templates/books/custom_carousel_card.html
  openlibrary/templates/books/custom_carousel_card.html.jinja
  openlibrary/templates/books/mobile_carousel.html
  openlibrary/templates/covers/book_cover.html
  static/css/components/carousel.css
Due: generate-pot, detect-missing-i18n

refactor: pass request prefs explicitly (#13537)
  openlibrary/book_providers.py
  openlibrary/core/lending.py
  openlibrary/macros/FulltextSearchSuggestionItem.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/account/ia_thirdparty_logins.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/site/donation_banner.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Fix custom_carousel_card template reference and restore per-card error isolation
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

fix fullpath bug
  openlibrary/fastapi/account.py
  openlibrary/fastapi/borrow.py
  openlibrary/fastapi/partials.py
  openlibrary/fastapi/shared/__init__.py
  openlibrary/fastapi/shared/dependencies.py
  openlibrary/fastapi/shared/utils.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html.jinja
  static/css/components/carousel.css
Due: generate-pot, detect-missing-i18n

follow jinja best practices
  openlibrary/macros/FormatExpiry.html.jinja
  openlibrary/macros/ReturnForm.html
  openlibrary/macros/TruncateString.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/admin/loans_table.html
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html.jinja
Due: generate-pot, detect-missing-i18n

follow jinja best practices and simplify
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/lists/carousel.html.jinja
  openlibrary/templates/lists/list_follow.html.jinja
  pyproject.toml
Due: generate-pot

simplify user passing
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

cleanup comments
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

fix fullpath
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

fix sub bug
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

cleanup users in partials
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

fix tests
  openlibrary/fastapi/auth.py
Due: generate-pot

Convert BookPageLists partial to Jinja (#13576)
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/partials.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/lists/carousel.html
  openlibrary/templates/lists/carousel.html.jinja
  openlibrary/templates/lists/list_follow.html
  openlibrary/templates/lists/list_follow.html.jinja
Due: generate-pot, detect-missing-i18n

Trim the comments this PR added
  openlibrary/components/lit/OLButton.js
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
  openlibrary/macros/FulltextResultIA.html
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/macros/FulltextSnippet.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/inside/tests/test_code.py
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltext.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltextBand.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/search/inside.html
  openlibrary/templates/search/search_modal_i18n.html
  openlibrary/templates/work_search.html
  openlibrary/tests/core/test_fulltext.py
  openlibrary/tests/fastapi/test_search.py
  static/css/components/fulltext-search-suggestion.css
  static/css/components/fulltext-snippet.css
  static/css/components/search-result-item.css
  static/css/legacy.css
  static/css/tokens/colors.css
  tests/unit/js/OLButton.test.js
  tests/unit/js/searchFilterBar.test.js
  tests/unit/js/searchModalFulltext.test.js
  tests/unit/js/searchModalTracking.test.js
Due: generate-pot, detect-missing-i18n

perf: batch notes edition lookups
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
Due: generate-pot

perf: batch notes work lookups
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
Due: generate-pot

Convert LazyCarousel partial to Jinja
  openlibrary/i18n/messages.pot
  openlibrary/macros/CacheableMacro.html
  openlibrary/macros/QueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel.html.jinja
  openlibrary/templates/home/index.html
  openlibrary/utils/template_usage.py
Due: generate-pot, detect-missing-i18n

docs: Add Principles section to Design System Style Guide (#13599)
  .stylelintrc.json
  openlibrary/components/lit/OlPagination.js
  openlibrary/components/lit/OlToggle.js
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/design_tokens.py
  openlibrary/plugins/openlibrary/js/design-system/index.js
  openlibrary/plugins/openlibrary/tests/test_design_tokens.py
  openlibrary/templates/design.html
  openlibrary/templates/design/components.html.jinja
  openlibrary/templates/design/components/message.html.jinja
  openlibrary/templates/design/components/popover.html.jinja
  openlibrary/templates/design/components/read-more.html.jinja
  openlibrary/templates/design/components/toggle.html.jinja
  openlibrary/templates/design/foundations.html.jinja
  openlibrary/templates/design/icons.html.jinja
  openlibrary/templates/design/layout.html.jinja
  openlibrary/templates/design/playground.html.jinja
  openlibrary/templates/design/principles.html.jinja
  static/css/base/common.css
  static/css/page-design.css
  static/css/tokens.css
  static/css/tokens/font-families.css
  static/css/tokens/line-heights.css
  static/css/tokens/motion.css
  static/css/tokens/typography.css
Due: generate-pot, detect-missing-i18n

Add the edition to lists, and flag other copies already there
  openlibrary/components/lit/OlShelfActions.js
  openlibrary/components/lit/utils/books-api.js
  openlibrary/components/lit/utils/lists-store.js
  openlibrary/fastapi/partials.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/my_books/shelf_button_i18n.html
  openlibrary/tests/fastapi/test_work_editions_partial.py
  tests/unit/js/OlShelfActions.test.js
Due: generate-pot, detect-missing-i18n

Render the lists loading placeholder as an li
  openlibrary/templates/lists/widget.html
  static/css/components/listLists.css
  tests/e2e/a11y.spec.ts
Due: generate-pot, detect-missing-i18n

Make the cookie-leak test drive the real proxy client
  openlibrary/fastapi/proxy.py
  openlibrary/tests/fastapi/test_proxy.py
Due: generate-pot

style(explore): rebuild the genre explorer on the design system
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/BooksCarousel.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/GenreFilterBar.vue
  openlibrary/components/LibraryExplorer/components/GenreTopNav.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/plugins/openlibrary/home.py
  static/css/components/header-bar.css
  tests/e2e/genre-explorer-diagnostics.spec.ts
  tests/e2e/genre-explorer.spec.ts
Due: generate-pot

Refactor carousels to use macro with explicit inputs
  openlibrary/macros/RawQueryCarousel.html.jinja
  openlibrary/templates/books/custom_carousel.html.jinja
Due: none

Isolate per-card errors and pass full path explicitly
  openlibrary/fastapi/partials.py
  openlibrary/macros/QueryCarousel.html
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

make LazyCarousel use clear lazy and eager paths
  openlibrary/fastapi/partials.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/QueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html.jinja
  openlibrary/macros/RawQueryCarouselPlaceholder.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

cleanup dead code and comment
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

rename get_carousel_data to get_book_carousel_data; drop dead macro params
  openlibrary/macros/ListCarousel.html
  openlibrary/macros/QueryCarousel.html
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Convert LazyCarousel partial to Jinja (#13590)
  openlibrary/fastapi/partials.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/CacheableMacro.html
  openlibrary/macros/ListCarousel.html
  openlibrary/macros/QueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html.jinja
  openlibrary/macros/RawQueryCarouselPlaceholder.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel.html.jinja
  openlibrary/templates/home/index.html
  openlibrary/utils/template_usage.py
Due: generate-pot, detect-missing-i18n

test: drop dead coverage config, tidy Vitest migration
  .github/workflows/javascript_tests.yml
  docs/ai/web-components.md
  package-lock.json
  package.json
  tests/unit/js/import-at-top.test.js
  vitest.config.mjs
Due: none

test: drop sinon; migrate remaining tests to vi.*
  package-lock.json
  package.json
  renovate.json
  tests/unit/js/editionEditPageClassification.test.js
  tests/unit/js/editionsEditPage.test.js
  tests/unit/js/jquery.repeat.test.js
  tests/unit/js/nonjquery_utils.test.js
Due: none

Add Vitest browser mode with Lit component tests
  .gitignore
  package-lock.json
  package.json
  tests/browser/OlCarousel.browser.test.js
  tests/browser/OlDrawer.browser.test.js
  vitest.browser.config.mjs
Due: none

Add browser-mode tests for Library Explorer's Vue components
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  package-lock.json
  package.json
  tests/browser/LibraryExplorer.browser.test.js
  vitest.browser.config.mjs
Due: none

refactor: pass request params as args to is_spam and Recaptcha (#13538)
  openlibrary/plugins/recaptcha/recaptcha.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/spamcheck.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
