Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.2
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.19
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.11.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Major CSS refactor
  openlibrary/i18n/messages.pot
  openlibrary/macros/ReadButton.html
  static/css/components/generic-dropper.less
Due: generate-pot, detect-missing-i18n

Integrate locate button into read dropper, add icon option for locate macro
  openlibrary/i18n/messages.pot
  openlibrary/macros/LocateButton.html
  openlibrary/macros/ReadButton.html
Due: generate-pot, detect-missing-i18n

Fix read dropdown in search, preview button CSS
  static/css/components/generic-dropper.less
  static/css/components/read-panel.less
Due: none

Add script that runs a script with additional monitoring
  scripts/cron_wrapper.py
Due: generate-pot

Mobile CSS somewhat-fixes
  static/css/components/editions.less
  static/css/components/generic-dropper.less
Due: none

Switch to flexbox for dropdown arrow centering
  static/css/components/generic-dropper.less
Due: none

Import additional languages from IA on re-import metadata if applicable (#10213)
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/tests/catalog/test_utils.py
Due: generate-pot

Strip leading and trailing blank space from form input (#10249)
  openlibrary/plugins/openlibrary/js/add-book.js
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/openlibrary/js/utils.js
Due: none

fix typehints
  openlibrary/plugins/worksearch/autocomplete.py
Due: generate-pot

fix tests
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
Due: generate-pot

fix appending array
  openlibrary/plugins/worksearch/autocomplete.py
Due: generate-pot

Fix: disable doctest in format_languages()
  openlibrary/catalog/utils/__init__.py
Due: generate-pot

implented changes (1)
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/core/booknotes.py
  openlibrary/core/follows.py
  openlibrary/core/models.py
  openlibrary/core/observations.py
  openlibrary/core/processors/readableurls.py
  openlibrary/core/ratings.py
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/upstream/forms.py
  scripts/tests/test_obfi.py
Due: generate-pot

Fix: disable doctest in format_languages() (#10357)
  openlibrary/catalog/utils/__init__.py
Due: generate-pot

Update openlibrary/i18n/__init__.py
  openlibrary/i18n/__init__.py
Due: generate-pot

implemented changes (2)
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

implemented changes (3)
  openlibrary/core/models.py
Due: generate-pot

Make QueryCarousel use edition-aware search
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/QueryCarousel.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/books/custom_carousel.html
Due: generate-pot, detect-missing-i18n

Make MoreLikeThis carousels require user language
  openlibrary/macros/QueryCarousel.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/books/RelatedWorksCarousel.html
Due: generate-pot, detect-missing-i18n

Forward lang param to partials endpoint
  openlibrary/plugins/openlibrary/js/carousels_partials.js
Due: none

Fixed test issues and updated get_user_lang_marc usage
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Fixes.
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Added is_librarian
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

preview button added
  openlibrary/macros/BookPreview.html
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

fix(SIM115): Use context manager on openlibrary/ (#10306)
  openlibrary/admin/stats.py
  openlibrary/catalog/marc/mnemonics.py
  openlibrary/core/imports.py
  openlibrary/data/__init__.py
  openlibrary/data/dump.py
  openlibrary/data/sitemap.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/solr/test_types_generator.py
Due: generate-pot

Revert "Deleted unused files. (#9454)"
  openlibrary/catalog/add_book/match_names.py
  openlibrary/catalog/add_book/tests/test_match_names.py
Due: generate-pot

Fix dropper menu styling in mobile editions table
  static/css/components/editions.less
Due: none

Use as-is name of nonstandard identifier for IdentifiersInput
  openlibrary/components/IdentifiersInput.vue
Due: none

Apply suggestions from code review
  openlibrary/components/IdentifiersInput.vue
Due: none

Use as-is name of nonstandard identifier for IdentifiersInput (#10368)
  openlibrary/components/IdentifiersInput.vue
Due: none

Switched cover importing IA endpoint
  openlibrary/core/ia.py
Due: generate-pot

Add support for author parameter to recentchanges/YEAR endpoint
  openlibrary/plugins/upstream/recentchanges.py
Due: generate-pot

modern vite building much simpler and faster
  Makefile
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

legacy builds working
  Makefile
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/upstream/utils.py
  package-lock.json
  package.json
Due: generate-pot

simplify build
  openlibrary/components/vite.config.mjs
Due: none

better naming
  openlibrary/components/vite.config.mjs
Due: none

clean correct folder
  Makefile
Due: none

Update docker installation
  docker/README.md
Due: none

Update docker installation (#10373)
  docker/README.md
Due: none

improved docker documentation
  docker/README.md
Due: none
