Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Route book-component API calls through /_fast on testing
  openlibrary/components/lit/utils/books-api.js
Due: none

Regenerate solr_types.py after removing the text field
  openlibrary/solr/solr_types.py
Due: generate-pot

Ignore vendor/infogami and node_modules by default so bare pytest matches make test-py
  pyproject.toml
Due: none

Drop the now-redundant --ignore flags from pytest since addopts covers them, and inline the one remaining arg
  Makefile
Due: none

Drop /reading-state.json and server-render the demo state
  openlibrary/asgi_app.py
  openlibrary/components/lit/utils/books-api.js
  openlibrary/fastapi/reading_state.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design.html
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/book-cover.html.jinja
  openlibrary/templates/design/components/shelf-button.html.jinja
  openlibrary/tests/fastapi/test_reading_state.py
Due: generate-pot, detect-missing-i18n

Keep the shelf button's hover blue when it is selected
  openlibrary/components/lit/OlShelfButton.js
Due: none

Take author name sort out of librarian-only beta on author search
  openlibrary/templates/search/sort_options.html
Due: generate-pot, detect-missing-i18n

Move the unused-template scan from a pytest test to a pre-commit hook
  .pre-commit-config.yaml
  openlibrary/tests/test_unused_templates.py
  openlibrary/utils/template_usage.py
  scripts/check_unused_templates.py
Due: generate-pot

Reuse the webpack-side helpers and build popover panes on demand
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/OlBookCover.js
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/components/lit/utils/analytics.js
  openlibrary/components/lit/utils/books-api.js
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/book-cover.html.jinja
  openlibrary/templates/design/components/shelf-button.html.jinja
  tests/unit/js/OlBookActions.test.js
Due: generate-pot

Skip the LOCAL_DEV-only homepage carousel during template tests
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Auto-regenerate solr_types.py via pre-commit instead of failing a unit test when it drifts
  .pre-commit-config.yaml
  openlibrary/solr/generate_solr_types.py
  openlibrary/solr/solr_types.py
  openlibrary/tests/solr/test_types_generator.py
Due: generate-pot

fix: add current_goal to MyBooksTemplate mocks in unified loans carousel tests
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
Due: generate-pot

Update docker/ol-web-fastapi-start.sh
  docker/ol-web-fastapi-start.sh
Due: none

Use uvicorn --factory for fast_web -- save ~100MB of RAM (#13404)
  docker/ol-web-fastapi-start.sh
  openlibrary/asgi_app.py
Due: generate-pot

Address review feedback: restore PYTEST_ARGS, consolidate discovery checks into Analysis, and widen the pre-commit hook's file-type trigger
  .pre-commit-config.yaml
  Makefile
  openlibrary/utils/template_usage.py
  scripts/check_unused_templates.py
Due: generate-pot

Remove duplicate jQuery import in index.js
  openlibrary/plugins/openlibrary/js/index.js
Due: none

Stage removals so restore is a true undo
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

refactor(js): rename vite-js-plugins.mjs to vite-js-chunk-names.mjs
  eslint.config.cjs
  package.json
  tests/unit/js/vite-js-chunk-names.test.js
  vite-js-chunk-names.mjs
  vite-js.config.mjs
Due: none

Share the drop-reason predicate and show closed drops in the plan
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

refactor(js): drop root-level review scratch doc; finish chunk-names rename
  code-quality-review-findings.md
  tests/unit/js/vite-js-chunk-names.test.js
  vite-js-chunk-names.mjs
Due: none

refactor: fully remove swagger/openapi page to make room for FastAPI auto-generated docs (#13402)
  openlibrary/i18n/ar/messages.po
  openlibrary/i18n/as/messages.po
  openlibrary/i18n/bn/messages.po
  openlibrary/i18n/cs/messages.po
  openlibrary/i18n/de/messages.po
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/hi/messages.po
  openlibrary/i18n/hr/messages.po
  openlibrary/i18n/id/messages.po
  openlibrary/i18n/it/messages.po
  openlibrary/i18n/ja/messages.po
  openlibrary/i18n/ko/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/i18n/pl/messages.po
  openlibrary/i18n/pt/messages.po
  openlibrary/i18n/ro/messages.po
  openlibrary/i18n/ru/messages.po
  openlibrary/i18n/sc/messages.po
  openlibrary/i18n/te/messages.po
  openlibrary/i18n/tl/messages.po
  openlibrary/i18n/tr/messages.po
  openlibrary/i18n/uk/messages.po
  openlibrary/i18n/zh/messages.po
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/swagger.py
  openlibrary/templates/swagger/swaggerui.html
  static/openapi.json
Due: generate-pot, detect-missing-i18n

Show the check-in date on the Already Read row
  openlibrary/components/lit/OlBookActions.js
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/book-actions.html.jinja
Due: generate-pot

Add FastAPI fallback proxy to web.py for local development
  compose.yaml
  openlibrary/asgi_app.py
  openlibrary/fastapi/proxy.py
Due: generate-pot

Move date helpers to a shared module and centralize lists state
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/utils/dates.js
  openlibrary/components/lit/utils/lists-store.js
  tests/unit/js/OlBookActions.test.js
Due: none

Status panel: undelete PRs and auto-remove closed ones (#13376)
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/styles.css
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Remove deprecated endpoint handling
  openlibrary/asgi_app.py
  openlibrary/code.py
Due: generate-pot

Use get_ol_env() instead of os.environ for LOCAL_DEV check
  openlibrary/asgi_app.py
Due: generate-pot

Add the 17 lucide icons the legacy-icon audit calls for
  static/icons/src/lucide/bell.svg
  static/icons/src/lucide/book-open.svg
  static/icons/src/lucide/circle-help.svg
  static/icons/src/lucide/download.svg
  static/icons/src/lucide/git-merge.svg
  static/icons/src/lucide/grip-vertical.svg
  static/icons/src/lucide/headphones.svg
  static/icons/src/lucide/heart.svg
  static/icons/src/lucide/info.svg
  static/icons/src/lucide/lock.svg
  static/icons/src/lucide/map-pin.svg
  static/icons/src/lucide/octagon-x.svg
  static/icons/src/lucide/plus.svg
  static/icons/src/lucide/shopping-cart.svg
  static/icons/src/lucide/square-arrow-out-up-right.svg
  static/icons/src/lucide/star.svg
  static/icons/src/lucide/triangle-alert.svg
Due: none

Move the unreferenced phase-2 icon set out to its own PR
  static/icons/src/lucide/bell.svg
  static/icons/src/lucide/book-open.svg
  static/icons/src/lucide/circle-help.svg
  static/icons/src/lucide/download.svg
  static/icons/src/lucide/git-merge.svg
  static/icons/src/lucide/grip-vertical.svg
  static/icons/src/lucide/headphones.svg
  static/icons/src/lucide/heart.svg
  static/icons/src/lucide/info.svg
  static/icons/src/lucide/lock.svg
  static/icons/src/lucide/map-pin.svg
  static/icons/src/lucide/octagon-x.svg
  static/icons/src/lucide/plus.svg
  static/icons/src/lucide/shopping-cart.svg
  static/icons/src/lucide/square-arrow-out-up-right.svg
  static/icons/src/lucide/star.svg
  static/icons/src/lucide/triangle-alert.svg
Due: none

Point the service-worker fixture at a surviving image
  tests/unit/js/service-worker-matchers.test.js
Due: none

Scope the empty check-in-container rule to list pages
  static/css/components/search-result-item.css
Due: none

Replace the list delete trashcan link with an ol-button
  openlibrary/plugins/openlibrary/js/lists/ListViewBody.js
  openlibrary/templates/lists/lists.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/search-result-item.css
  static/images/back_list-trash.png
Due: generate-pot, detect-missing-i18n

Move the ol-button trashcan swap to its own PR
  openlibrary/plugins/openlibrary/js/lists/ListViewBody.js
  openlibrary/templates/lists/lists.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/search-result-item.css
  static/images/back_list-trash.png
Due: generate-pot, detect-missing-i18n

Drop the seven icons with no consumer in this PR
  static/icons/src/lucide/bell.svg
  static/icons/src/lucide/download.svg
  static/icons/src/lucide/lock.svg
  static/icons/src/lucide/octagon-x.svg
  static/icons/src/lucide/plus.svg
  static/icons/src/lucide/shopping-cart.svg
  static/icons/src/lucide/star.svg
Due: none

Keep read aloud.svg: buttonCta.css still references it URL-encoded
  static/images/icons/read aloud.svg
Due: none

Delete dead icon CSS the audit's line numbers pointed at
  static/css/components/buttonsAndLinks.css
  static/css/legacy.css
  static/css/page-plain.css
Due: none

Replace every legacy image consumer of the new icon set
  openlibrary/macros/LocateButton.html
  openlibrary/macros/ReadButton.html
  openlibrary/plugins/openlibrary/js/team.js
  openlibrary/templates/account/create.html
  openlibrary/templates/book_providers/read_button.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/covers/add.html
  openlibrary/templates/covers/manage.html
  openlibrary/templates/covers/saved.html
  openlibrary/templates/lib/not_logged.html
  openlibrary/templates/lists/home.html
  openlibrary/templates/login.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/work_search_facets.html
  openlibrary/templates/site/body.html
  openlibrary/templates/type/author/edit.html
  openlibrary/templates/type/author/view.html
  static/css/base/headings.css
  static/css/components/buttonCta.css
  static/css/components/flash-messages.css
  static/css/components/generic-dropper.css
  static/css/components/lists-page-cta.css
  static/css/components/read-panel.css
  static/css/components/search-result-item.css
  static/css/components/team.css
  static/css/components/ui-dialog.css
  static/css/legacy.css
  static/css/page-form.css
Due: generate-pot, detect-missing-i18n

Remove unused template globals from helpers.py __all__ (#13422)
  openlibrary/core/helpers.py
Due: generate-pot

Cheapen the fulltext pipeline: fetch limits, facet opt-out, hydration fixes
  openlibrary/core/fulltext.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/tests/core/test_fulltext.py
  openlibrary/tests/fastapi/test_search.py
Due: generate-pot

Widen the Search Inside rescue net on /search, add a debug switch
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n
