Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Migrate the neutral-300 and neutral-700 tiers onto their semantic tokens
  docs/ai/design.md
  openlibrary/components/lit/OLMarkdownEditor.js
  openlibrary/components/lit/OlToggle.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  static/css/base/headings.css
  static/css/components/buttonCta.css
  static/css/components/cbox.css
  static/css/components/check-in.css
  static/css/components/editions.css
  static/css/components/footer.css
  static/css/components/header-bar--desktop.css
  static/css/components/header-bar.css
  static/css/components/jquery.autocomplete.css
  static/css/components/merge-request-table.css
  static/css/components/native-dialog.css
  static/css/components/observationStats.css
  static/css/components/ol-button.css
  static/css/components/page-history.css
  static/css/components/tagging-menu.css
  static/css/layout/index.css
  static/css/legacy-borrowTable-adminUser.css
  static/css/legacy-datatables.css
  static/css/legacy.css
  static/css/page-book-widget.css
  static/css/page-list-edit.css
  static/css/page-plain.css
  static/css/page-signup.css
  static/css/tokens/colors.css
Due: none

fix(collections): let prose images break out of their paragraph
  static/css/components/collections-page.css
Due: none

fix(collections): promote a leading image out to its own figure
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/type/page/view.html
  static/css/components/collections-page.css
Due: generate-pot, detect-missing-i18n

feat(collections): link back up to the index from a collection page
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/page/view.html
  static/css/components/collections-page.css
Due: generate-pot, detect-missing-i18n

style(collections): set the back link as a plain link, not page chrome
  static/css/components/collections-page.css
Due: none

fix(edit-toolbar): drop the tablet inset that outranked #editTools' own padding
  static/css/components/edit-toolbar--tablet.css
  static/css/legacy.css
Due: none

style(collections): tune the reading column's type and the top row
  static/css/components/collections-page.css
Due: none

feat(fonts): swap Source Sans 3 for Schibsted Grotesk
  static/css/fonts/schibsted-grotesk.css
  static/css/fonts/source-sans-3.css
  static/css/page-collections.css
  static/css/tokens/font-families.css
  static/fonts/schibsted-grotesk/OFL.txt
  static/fonts/schibsted-grotesk/schibsted-grotesk-latin-ext-italic.woff2
  static/fonts/schibsted-grotesk/schibsted-grotesk-latin-ext.woff2
  static/fonts/schibsted-grotesk/schibsted-grotesk-latin-italic.woff2
  static/fonts/schibsted-grotesk/schibsted-grotesk-latin.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic-ext-italic.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic-ext.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic-italic.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic.woff2
  static/fonts/source-sans-3/source-sans-3-greek-ext-italic.woff2
  static/fonts/source-sans-3/source-sans-3-greek-ext.woff2
  static/fonts/source-sans-3/source-sans-3-greek-italic.woff2
  static/fonts/source-sans-3/source-sans-3-greek.woff2
  static/fonts/source-sans-3/source-sans-3-latin-ext-italic.woff2
  static/fonts/source-sans-3/source-sans-3-latin-ext.woff2
  static/fonts/source-sans-3/source-sans-3-latin-italic.woff2
  static/fonts/source-sans-3/source-sans-3-latin.woff2
  static/fonts/source-sans-3/source-sans-3-vietnamese-italic.woff2
  static/fonts/source-sans-3/source-sans-3-vietnamese.woff2
Due: none

style(collections): bump the page title to display medium at 600
  static/css/components/collections-page.css
Due: none

feat(overlays): share one surface and scrim across dialogs and popovers
  openlibrary/components/lit/OlDialog.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  static/css/tokens/borders.css
Due: none

style(collections): set the reading column at body-large
  static/css/components/collections-page.css
Due: none

fix(design): drop inline style from the icon color example
  openlibrary/templates/design/icons.html.jinja
  static/css/page-design.css
Due: none

feat(book_providers): boost user-language and borrowable editions in get_best_edition
  openlibrary/book_providers.py
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/test_book_providers.py
Due: generate-pot, detect-missing-i18n

my books loans carousel: merge active loans with loan history
  openlibrary/core/lending.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html
  openlibrary/tests/fastapi/test_account_loans.py
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
  static/css/components/carousel--js.css
Due: generate-pot, detect-missing-i18n

fix(index): import addEntry synchronously to prevent navigation race condition
  openlibrary/plugins/openlibrary/js/index.js
Due: none

my books: client-side read tracking store and global listener
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/my-books/store/readingHistory.js
  tests/unit/js/readingHistory.test.js
Due: generate-pot, detect-missing-i18n

my books loans carousel: merge active loans with loan history
  static/css/legacy.css
Due: none

my books: implement Continue Reading client-side carousel
  openlibrary/plugins/openlibrary/js/my-books/continueReading.js
  openlibrary/plugins/openlibrary/js/my-books/index.js
  openlibrary/templates/account/mybooks.html
  tests/unit/js/continueReading.test.js
Due: generate-pot, detect-missing-i18n

fix(icons): correct macro call form, namespace sprite ids, inline sprite early
  .pre-commit-config.yaml
  openlibrary/components/lit/OlIcon.js
  openlibrary/components/lit/icons.generated.js
  openlibrary/macros/icon.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/design.html
  openlibrary/templates/design/icons.html.jinja
  openlibrary/templates/site/body.html
  openlibrary/templates/site/footer.html
  scripts/build_icon_sprite.mjs
  static/css/components/ol-icon.css
  static/css/tokens/icon-sizes.css
Due: generate-pot, detect-missing-i18n

feat(icons): expose the icon macro as a Jinja global
  openlibrary/core/jinja.py
  openlibrary/templates/design.html
  openlibrary/templates/design/icons.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

remove work level fields from editions schema
  openlibrary/schemata/edition.schema.json
Due: none

remove classification code from Edition classifications belong on Works
  openlibrary/plugins/upstream/models.py
Due: generate-pot

remove work level fields from editions type
  openlibrary/plugins/openlibrary/types/edition.type
Due: none

feat(scripts): add index-vs-query Solr analysis diff harness
  scripts/compare_solr_analysis.py
Due: generate-pot

feat(icons): adopt the icon system across user-facing pages
  openlibrary/components/lit/OLReadMore.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlPagination.js
  openlibrary/components/lit/OlScorecard.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/icons.generated.js
  openlibrary/core/jinja.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/EditionNavBar.html
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/macros/PreviewSearchInside.html
  openlibrary/macros/SearchAuthorSuggestion.html
  openlibrary/macros/icon.html
  openlibrary/plugins/openlibrary/js/password-toggle.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/templates/account/create.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/view.html
  openlibrary/templates/books/breadcrumb_select.html
  openlibrary/templates/books/mobile_carousel.html
  openlibrary/templates/lib/browse_popover.html
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/login.html
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/site/alert.html
  openlibrary/templates/type/edition/modal_links.html
  openlibrary/templates/type/edition/title_and_author.html
  static/css/components/buttonCta.css
  static/css/components/header-bar.css
  static/css/components/language.css
  static/css/components/modal-links.css
  static/css/components/nav-bar.css
  static/css/page-signup.css
  static/icons/manifest.json
  static/icons/src/lucide/message-square-text.svg
  static/icons/src/lucide/scan-barcode.svg
  static/icons/src/lucide/share-2.svg
  static/icons/src/lucide/sticky-note.svg
Due: generate-pot, detect-missing-i18n

chore: remove lokesh from weekly status report leads
  .github/workflows/config/weekly_status_report_openlibrary_leads_g.json
Due: none

feat(lending): merge active loans and borrow history into My Books carousel
  bundlesize.config.json
  openlibrary/core/lending.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html
  openlibrary/tests/fastapi/test_account_loans.py
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
  static/css/components/book.css
  static/css/components/carousel.css
Due: generate-pot, detect-missing-i18n

test(amazon): lock in Creators-first precedence, lazy import and proxy fallback
  openlibrary/tests/core/test_vendors.py
  scripts/tests/test_affiliate_server.py
Due: generate-pot

refactor: extract shared BookDBModel from Bookshelves/Booknotes/Ratings
  openlibrary/core/bookdb.py
  openlibrary/core/booknotes.py
  openlibrary/core/bookshelves.py
  openlibrary/core/ratings.py
Due: generate-pot

chore: remove lokesh from weekly status report leads (#13294)
  .github/workflows/config/weekly_status_report_openlibrary_leads_g.json
Due: none

fix(amazon): cap affiliate timeout at 2s on the render path, 10s when blocking
  openlibrary/core/vendors.py
  openlibrary/tests/core/test_vendors.py
Due: generate-pot

fix(subjects): degrade gracefully on Solr error instead of crashing
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

Manually send data-ol-link-track to matomo
  openlibrary/plugins/openlibrary/js/ol.analytics.js
Due: none

Merge pull request #13253 from lokesh/fix/stylelint-hook-allow-empty-input
  .pre-commit-config.yaml
Due: none

fix(icons): position PURE annotations where Rolldown can honor them
  openlibrary/components/lit/icons.generated.js
  scripts/build_icon_sprite.mjs
Due: none

feat(icons): serve the sprite as a hashed asset instead of inlining it
  openlibrary/components/lit/OlIcon.js
  openlibrary/components/lit/icons.generated.js
  openlibrary/core/jinja.py
  openlibrary/macros/icon.html
  openlibrary/plugins/openlibrary/js/password-toggle.js
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/design/icons.html.jinja
  openlibrary/templates/languages/language_list.html
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/site/alert.html
  openlibrary/templates/site/body.html
  openlibrary/templates/site/head.html
  scripts/build_icon_sprite.mjs
  static/css/components/header-bar.css
  static/icons/manifest.json
  static/icons/src/lucide/chevron-up.svg
  static/icons/src/lucide/scan-barcode.svg
  static/images/hamburger-icon.svg
  static/images/icons/barcode_scanner.svg
  static/images/icons/icon_check-circle.svg
  static/images/icons/icon_eye-closed.svg
  static/images/icons/icon_eye-open.svg
  static/images/icons/icon_search-inside.svg
  static/images/icons/notes.svg
  static/images/icons/reviews.svg
  static/images/icons/right-chevron.svg
  static/images/icons/share.svg
  static/images/language-icon.svg
  static/images/nav-arrow.svg
Due: generate-pot, detect-missing-i18n

chore(icons): delete long-dead images from static/images/icons
  static/images/icons/avatar_author.png
  static/images/icons/down-chevron.svg
  static/images/icons/icon-encrypto-sm.png
  static/images/icons/icon_alert-pop.png
  static/images/icons/icon_borrow-avail.png
  static/images/icons/icon_borrow-in-list-not-avail.png
  static/images/icons/icon_borrow-not-avail.png
  static/images/icons/icon_download-borrow.png
  static/images/icons/icon_download.png
  static/images/icons/icon_dropit2.png
  static/images/icons/icon_ebook-avail.png
  static/images/icons/icon_edit-sm.png
  static/images/icons/icon_facet-remove.png
  static/images/icons/icon_linkout-sm.png
  static/images/icons/icon_list-trash.png
  static/images/icons/icon_lock-xs.png
  static/images/icons/icon_pdaisy-avail.png
  static/images/icons/icon_radar.gif
  static/images/icons/icon_read-borrow.png
  static/images/icons/icon_search-facet.png
  static/images/icons/icon_search.png
  static/images/icons/icon_sort.png
  static/images/icons/icon_thumbsup-borrow.png
  static/images/icons/icon_thumbsup-white.png
  static/images/icons/icon_toggle.png
  static/images/icons/icon_wrench-borrow.png
  static/images/icons/read aloud.svg
  static/images/icons/t-off.png
  static/images/icons/t-on.png
Due: none

feat(icons): move the editions table off its PNG-era DataTables chrome
  openlibrary/components/lit/icons.generated.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/templates/design/icons.html.jinja
  openlibrary/templates/type/work/editions_datatable.html
  scripts/build_icon_sprite.mjs
  static/css/components/editions.css
  static/css/components/link-box.css
  static/css/components/ol-icon.css
  static/css/components/pagination.css
  static/css/legacy-datatables.css
  static/css/page-book.css
  static/css/tokens/colors.css
  static/css/tokens/icon-sizes.css
  static/icons/ATTRIBUTION.md
  static/icons/manifest.json
  static/icons/src/lucide/arrow-down-wide-narrow.svg
  static/icons/src/lucide/arrow-up-down.svg
  static/icons/src/lucide/arrow-up-narrow-wide.svg
  static/icons/src/lucide/pencil.svg
  static/images/back_disabled.png
  static/images/back_enabled.png
  static/images/forward_disabled.png
  static/images/forward_enabled.png
  static/images/sort_asc.png
  static/images/sort_asc_disabled.png
  static/images/sort_both.png
  static/images/sort_desc.png
  static/images/sort_desc_disabled.png
Due: generate-pot, detect-missing-i18n

docs(icons): add an "Adding an icon" recipe to /developers/design
  openlibrary/templates/design/icons.html.jinja
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
