Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

fix(docker): route staging's runtime pip fallback through internal PyPI mirror
  compose.staging.yaml
  docker/ol-install-missing-deps.sh
Due: none

feat: Make Preview / Search Inside more visible on books page (#13112)
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/macros/BookPreview.html
  openlibrary/macros/BookPreviewFloater.html
  openlibrary/macros/BookSearchInside.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/PreviewSearchInside.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/index.html
  static/css/components/buttonCta.css
Due: generate-pot, detect-missing-i18n

fix: narrow chart-hide diff to visitors only, fix tooltip stacking
  openlibrary/plugins/openlibrary/js/graphs/plot.js
  openlibrary/templates/home/stats.html
  static/css/components/home.css
Due: generate-pot, detect-missing-i18n

feat(OlCarousel): page on two-finger horizontal trackpad swipe
  openlibrary/components/lit/OlCarousel.js
  tests/unit/js/OlCarousel.test.js
Due: none

fix(docker): source build_env.sh from /olsystem instead of relying on host shell
  docker/ol-install-missing-deps.sh
Due: none

fix(docker): wire PIP_INDEX_URL as a build arg too, not just runtime env
  compose.staging.yaml
Due: none

fix(docker): source build_env.sh from /olsystem + wire PIP_INDEX_URL as a build arg (#13180)
  compose.staging.yaml
  docker/ol-install-missing-deps.sh
Due: none

Update monitoring UA list
  scripts/monitoring/monitor.py
Due: generate-pot

Comment out broken Unique Visitors chart (#12823) (#12831)
  openlibrary/core/admin.py
  openlibrary/plugins/openlibrary/js/graphs/plot.js
  openlibrary/templates/admin/index.html
  openlibrary/templates/home/stats.html
  static/css/components/home.css
Due: generate-pot, detect-missing-i18n

chore(docker): parameterize hardcoded dev ports for parallel worktrees
  compose.override.yaml
Due: none

Add genres and subgenres fields to work type definition and schema (#13151)
  openlibrary/plugins/openlibrary/types/work.type
  openlibrary/schemata/work.schema.json
Due: none

fix: resolve volumes multiget .json bug and strengthen mock tests (#13093)
  openlibrary/fastapi/books.py
  openlibrary/tests/fastapi/test_books.py
Due: generate-pot

fix(add_book): fix walrus operator precedence bug in author dedup (#13015) (#13021)
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

feat(api): allow /api/unlink caller to specify op type (dark vs mismatch)
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/tests/test_unlinkapi.py
Due: generate-pot

feat(api): accept a free-text comment on /api/unlink instead of an op code
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/tests/test_unlinkapi.py
Due: generate-pot

feat(api): allow /api/unlink caller to specify op type (dark vs mismatch) (#13183)
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/tests/test_unlinkapi.py
Due: generate-pot

Guard ID-validation/publish-date wiring behind data-i18n presence
  openlibrary/plugins/openlibrary/js/add-book.js
Due: none

fix(templates): safe attribute construction for data-ol-link-track
  openlibrary/templates/home/onboarding_card.html
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/tests/icon_link_pattern_check.html
  openlibrary/templates/type/edition/modal_links.html
  openlibrary/templates/type/edition/title_and_author.html
  openlibrary/tests/test_link_track_attribute_escaping.py
Due: generate-pot, detect-missing-i18n

Fix: crash on /books/add check page that prevents selecting matches o… (#13085)
  openlibrary/plugins/openlibrary/js/add-book.js
Due: none

Fixes for API routing and error handling
  openlibrary/plugins/openlibrary/tests/test_likes.py
  openlibrary/plugins/upstream/likes.py
Due: generate-pot

issue #12768
  openlibrary/core/likes.py
  openlibrary/core/schema.sql
  openlibrary/plugins/openlibrary/tests/test_likes.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/likes.py
Due: generate-pot

bug fix
  openlibrary/plugins/openlibrary/tests/test_likes.py
Due: generate-pot

fix dropper AttributeError when redirect stub has no title
  openlibrary/core/bookshelves.py
  openlibrary/templates/my_books/dropper.html
Due: generate-pot, detect-missing-i18n

feat: add statsd counters for account creation and email verification
  openlibrary/plugins/upstream/account.py
Due: generate-pot

updates
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
Due: generate-pot

Redirect DAISY pages to Archive item pages (#13049)
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_addbook.py
Due: generate-pot

fix(subjects): don't crash on None work_count when Solr errors
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
  openlibrary/templates/subjects/unavailable.html
Due: generate-pot, detect-missing-i18n

use h1 h2 correctly
  openlibrary/templates/subjects/unavailable.html
Due: generate-pot, detect-missing-i18n

feat(solr): near-realtime loan availability updater (#7450)
  conf/solr/conf/managed-schema.xml
  openlibrary/core/lending.py
  openlibrary/solr/solr_types.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

refactor: simplify loan_availability_updater + fix CI
  openlibrary/core/lending.py
  openlibrary/solr/solr_types.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

fix(loan-availability-updater): address Copilot review bugs
  openlibrary/core/lending.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

feat(solr): add loan_uid field for Solr-based cursor recovery
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
  openlibrary/solr/types_generator.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

Temporary commit for switching laptops
  compose.override.yaml
  openlibrary/temp/dummy_api.py
Due: generate-pot

In-place-updates debugging
  compose.yaml
  conf/solr/conf/managed-schema.xml
Due: none

temporary commits
  compose.yaml
  docker/ol-solr-loan-updater-start.sh
  openlibrary/temp/dummy_api.py
  scripts/solr_updater/loan_availability_updater.py
Due: generate-pot

Updated mock API with more loan data, and to actually respect after_uid/limit
  openlibrary/temp/dummy_api.py
Due: generate-pot

Fixed updating of solr with loan_availability information. Still needs to be checked to ensured it accurately works when not run with local_dev = True
  conf/solr/conf/managed-schema.xml
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

in-progress update. Schema updates, and updating in-place updates to use _root_ and _version_
  compose.yaml
  conf/solr/conf/managed-schema.xml
  docker/ol-solr-loan-updater-start.sh
  openlibrary/plugins/worksearch/schemes/editions.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot
