Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Update Spanish translation
  openlibrary/i18n/es/messages.po
Due: none

Only auto-run npm ci on LOCAL_DEV to speed up testing deploys
  Makefile
Due: none

Update Spanish translation (#13320)
  openlibrary/i18n/es/messages.po
Due: none

Only auto-run npm ci on LOCAL_DEV to speed up testing deploys (#13321)
  Makefile
Due: none

Drop client-side timestamps and per-change deploy phrasing
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/testing-status/index.js
Due: none

Stop mislabelling removals and show deploy banners on the JS path
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/testing-status/index.js
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
Due: generate-pot, detect-missing-i18n

Fix review findings in the /status Testing Environment panel
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  static/css/page-status.css
  static/css/page-user.css
Due: generate-pot, detect-missing-i18n

Fix review findings in the /status Testing Environment panel
  openlibrary/components/__tests__/OLButton.test.js
  openlibrary/components/lit/OLButton.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/testing-status/index.js
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  static/css/components/testing-env.css
Due: generate-pot

Add FastAPI testing-environment status API with maintainer auth
  .gitignore
  openlibrary/asgi_app.py
  openlibrary/core/models.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_auth.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Drop auto-refresh polling from the /status Testing Environment panel
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/testing-status/TestingStatusService.js
  openlibrary/plugins/openlibrary/js/testing-status/index.js
  static/css/components/testing-env.css
Due: none

Rebuild the /status Testing Environment panel as a live UI
  openlibrary/fastapi/status.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/testing-status/TestingStatusService.js
  openlibrary/plugins/openlibrary/js/testing-status/index.js
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  openlibrary/tests/fastapi/test_testing_status.py
  static/css/components/testing-env.css
  static/css/page-status.css
Due: generate-pot, detect-missing-i18n

Make the /status Testing Environment panel work without JavaScript
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/testing-status/index.js
  static/css/components/testing-env.css
  static/css/tokens/colors.css
Due: none

bump bundlesize
  bundlesize.config.json
Due: none

Only auto-create testing state file in local dev
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Proxy /status/testing.json to FastAPI in local dev
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

Drop the unused OLButton formaction forwarding
  openlibrary/components/__tests__/OLButton.test.js
  openlibrary/components/lit/OLButton.js
Due: none

Render testing status panel from FastAPI JSON
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/js/testing-status/TestingStatusService.js
  openlibrary/plugins/openlibrary/js/testing-status/index.js
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  tests/unit/js/testing-status.test.js
Due: generate-pot, detect-missing-i18n

fix(manifest): add explicit share_target enctype
  openlibrary/templates/site/head.html
  static/manifest.json
Due: generate-pot, detect-missing-i18n

fix(manifest): use static_url for automatic cache busting
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

fix(manifest): add explicit share_target enctype (#13323)
  openlibrary/templates/site/head.html
  static/manifest.json
Due: generate-pot, detect-missing-i18n

Promote the ol-popover panel to the top layer
  openlibrary/components/lit/OlPopover.js
  tests/unit/js/OlPopover.test.js
Due: none

Promote the ol-tooltip panel to the top layer too
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlTooltip.js
  openlibrary/components/lit/utils/top-layer.js
  tests/unit/js/OlTooltip.test.js
Due: none

Document the top-layer rule for overlay components
  docs/ai/web-components.md
Due: none

Correct the demo-page step in the new-component checklist
  docs/ai/web-components.md
Due: none

feat(css): migrate CSS build from webpack to Vite
  Makefile
  docs/ai/README.md
  docs/ai/css-vite-migration.md
  docs/ai/css.md
  eslint.config.cjs
  package.json
  static/css/README.md
  static/css/legacy.css
  static/css/page-admin.css
  static/css/page-book.css
  static/css/page-design.css
  static/css/page-plain.css
  static/css/page-signup.css
  static/css/page-user.css
  vite-css.config.mjs
  webpack.config.css.js
Due: none

feat(css): lint rule to catch mid-file @import
  .stylelintrc.json
  docs/ai/css-vite-migration.md
  stylelint/ol-import-at-top.mjs
  tests/unit/js/import-at-top.test.js
Due: none

Record the in-flow absolute overlay pattern and its limits
  docs/ai/web-components.md
Due: none

Give the markdown editor's toolbar disclosures real ARIA state
  openlibrary/components/lit/OLMarkdownEditor.js
Due: none

refactor(css): drop @charset and stub-JS machinery from the Vite CSS build
  docs/ai/css-vite-migration.md
  static/css/legacy.css
  vite-css.config.mjs
Due: none

fix(css): stream Vite watch output and harden url passthrough guards
  docs/ai/css-vite-migration.md
  package.json
  vite-css.config.mjs
Due: none

refactor(css): gate minification on Vite mode and stop clearing the watch terminal
  Makefile
  docs/ai/css-vite-migration.md
  package.json
  vite-css.config.mjs
Due: none

fix(stylelint): convert ol/import-at-top plugin to CommonJS for pre-commit
  .stylelintrc.json
  docs/ai/css-vite-migration.md
  eslint.config.cjs
  stylelint/ol-import-at-top.cjs
Due: none

refactor(css): replace url() passthrough hack with Vite publicDir escape hatch
  docs/ai/css-vite-migration.md
  vite-css.config.mjs
Due: none

remove blank lines in package json
  package.json
Due: none

fix spacing in .stylelintrc.json
  .stylelintrc.json
Due: none

lock package.json
  package-lock.json
Due: none

Don't strand the popover panel in the top layer when no transition runs
  openlibrary/components/lit/OlPopover.js
  tests/unit/js/OlPopover.test.js
Due: none

Commit the icon sprite instead of building it
  .pre-commit-config.yaml
  Makefile
  openlibrary/components/lit/OlIcon.js
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/design/icons.html.jinja
  package.json
  scripts/build_icon_sprite.mjs
  static/icons/sprite.svg
Due: generate-pot

Add the book-actions audit as a working document
  BOOK-ACTIONS-AUDIT.md
Due: none
