Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix: remove duplicate header from issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Combine nginx log monitors to avoid overwhelming parallel file reads
  scripts/monitoring/monitor.py
Due: generate-pot

Feature: add prometheus logging
  compose.production.yaml
Due: none

fix getting user and template
  compose.yaml
  openlibrary/fastapi/authors.py
  openlibrary/fastapi/templates/lib/header_dropdown.html.jinja
  openlibrary/fastapi/templates/lib/nav_head.html.jinja
Due: generate-pot

Merge pull request #10943 from jimchamp/pref-to-store-script
  scripts/migrations/README.md
  scripts/migrations/write_prefs_to_store.py
Due: generate-pot

Run account anonymization actions as the patron (#11167)
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Run obfi_previous_minute inside docker to prevent orphaned tac command
  scripts/monitoring/tests/test_utils_sh.py
  scripts/monitoring/utils.sh
  scripts/obfi.sh
Due: generate-pot

Disable solr_restarter
  compose.production.yaml
Due: none

Add RESET option to patchdeploy.sh + switch to service names
  scripts/deployment/patchdeploy.sh
Due: none

Add last_modified, seed_count fields to solr for lists
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/types_generator.py
  openlibrary/solr/updater/list.py
Due: generate-pot

Add ebook_provider field to solr
  conf/solr/conf/managed-schema.xml
  openlibrary/book_providers.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Use WorkSolrUpdater logic to create fake work for orphans
  openlibrary/solr/update.py
Due: generate-pot

fix: support "dummy" works for orphaned editions (#11089)
  openlibrary/solr/update.py
Due: generate-pot

fix -d
  scripts/deployment/deploy.sh
Due: none

fix tag_release
  scripts/deployment/deploy.sh
Due: none

fix auth token issue
  openlibrary/fastapi/authors.py
Due: generate-pot

create new docker fastapi service
  compose.override.yaml
  compose.yaml
Due: none

method to get user
  openlibrary/asgi_app.py
  openlibrary/fastapi/authors.py
Due: generate-pot

update languages endpoint to .json
  openlibrary/fastapi/languages.py
Due: generate-pot

initial search.json setup
  openlibrary/asgi_app.py
  openlibrary/fastapi/search.py
Due: generate-pot

async search.json
  openlibrary/asgi_app.py
  openlibrary/fastapi/async_land.py
  openlibrary/fastapi/coauthors.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/solr.py
Due: generate-pot

one worker
  compose.yaml
Due: none

authors search working fast
  openlibrary/fastapi/search.py
  openlibrary/fastapi/templates/search/authors.html.jinja
Due: generate-pot

fixed query param passing
  openlibrary/fastapi/search.py
Due: generate-pot

fixes deploys, cleandirs
  scripts/deployment/deploy.sh
Due: none

fix tag_release (#11143)
  scripts/deployment/deploy.sh
Due: none

Fix bugs in preference migration script
  scripts/migrations/write_prefs_to_store.py
Due: generate-pot

Update `get_users_settings()` to source from `preferences()`
  openlibrary/plugins/upstream/models.py
Due: generate-pot

Use store as primary source of truth for preferences
  openlibrary/core/models.py
Due: generate-pot

Update `save_preferences` call in script
  scripts/migrations/write_prefs_to_store.py
Due: generate-pot

Updates query for `pd` fulfillment stats
  openlibrary/core/pd.py
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/templates/admin/pd_dashboard.html
Due: generate-pot, detect-missing-i18n

Remove preferences from store on account anonymization
  openlibrary/accounts/model.py
Due: generate-pot

Prevent DB deletes if account anonymization fails
  openlibrary/accounts/model.py
Due: generate-pot

Apply suggestions from code review
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/templates/search/sort_options.html
Due: generate-pot, detect-missing-i18n

Added feature for sorting authors (#11154)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/templates/search/sort_options.html
Due: generate-pot, detect-missing-i18n

Fix: Preserve list notes when resolving redirects (#11122)
  openlibrary/core/lists/model.py
Due: generate-pot

Update to latest solr, 9.9
  compose.yaml
  conf/solr/conf/solrconfig.xml
  scripts/solr_builder/compose.yaml
Due: none

Disable ol-solr0 solr service while testing the new version
  compose.production.yaml
Due: none

Add ISFDB (Internet Speculative Fiction Database) identifiers support (#11146)
  openlibrary/plugins/openlibrary/config/author/identifiers.yml
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
  openlibrary/plugins/openlibrary/config/work/identifiers.yml
Due: none

Allow author records with just 'death_date' to count as "dated" (#11150)
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/catalog/utils/tests/test_catalog_utils.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
