Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

move property above class method
  openlibrary/core/yearly_reading_goals.py
Due: generate-pot

remove integration test
  tests/integration/test_yearly_reading_goals.py
Due: generate-pot

remove excessive docs
  openlibrary/fastapi/yearly_reading_goals.py
Due: generate-pot

remove current that's not needed
  openlibrary/fastapi/yearly_reading_goals.py
Due: generate-pot

Refactor link-box component: replace .less imports with inline .css imports and delete the link-box.less file to streamline CSS usage.
  static/css/components/link-box.css
  static/css/components/link-box.less
  static/css/components/work.less
  static/css/legacy.less
  static/css/less/index.less
  static/css/page-subject.less
Due: none

Remove migration comment from link-box CSS file after transitioning from .less to native CSS.
  static/css/components/link-box.css
Due: none

Add CSS Custom Properties for caching in head.html and remove migration comment from index.less
  openlibrary/templates/site/head.html
  static/css/less/index.less
Due: generate-pot, detect-missing-i18n

Fixed fastapi requires only one Query in route
  openlibrary/fastapi/search.py
Due: generate-pot

Add helper for access env vars
  openlibrary/core/env.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Apply code review feedback
  openlibrary/fastapi/models.py
  openlibrary/fastapi/search.py
Due: generate-pot

Fix env var check
  openlibrary/fastapi/search.py
Due: generate-pot

Fix #11695: Replace dynamic Solr field declarations with explicit ones (cover_i, ebook_count_i, last_modified_i)
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
Due: generate-pot

refactor: streamline OLReadMore component by removing line-based truncation and updating default max-height
  openlibrary/components/lit/OLReadMore.js
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/site/head.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

feat: Add Open Library as a pyopds2 data provider and improve document key tracking in `copydocs.py`.
  openlibrary/book_providers.py
Due: generate-pot

feat: introduce pyopds2 Open Library data provider, enhance IA download file retrieval with MOBI support, and improve `copydocs` script's saved document handling.
  openlibrary/book_providers.py
Due: generate-pot

feat: Add 'ebooks' mode to OPDS search to automatically filter results for borrowable ebooks.
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

feat: add ebook mode to search, automatically filtering for borrowable ebooks
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Update OlPagination styles to use CSS variables for font family, border width, and focus outline, enhancing consistency and maintainability.
  openlibrary/components/lit/OlPagination.js
Due: none

Revert "Update OlPagination styles to use CSS variables for font family, border width, and focus outline, enhancing consistency and maintainability."
  openlibrary/components/lit/OlPagination.js
Due: none

Add plugin to regenerate CSS custom properties from LESS variables before each build
  webpack.config.css.js
Due: none

Add CSS custom properties link for improved caching in head template
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Update generated CSS custom properties with new border-radius values and adjusted line-height settings
  static/css/less/generated-custom-properties.css
Due: none

Add error handling for CSS custom properties generation in webpack config
  webpack.config.css.js
Due: none

Remove timestamp from generated CSS custom properties files to ensure consistency across builds
  scripts/generate-css-custom-properties.js
  static/css/less/generated-custom-properties.css
Due: none

Update openlibrary/templates/site/head.html
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Refine ol-read-more fallback styles to avoid CLS
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

feat: Load custom properties CSS file and auto-generate on change (#11827)
  openlibrary/templates/site/head.html
  scripts/generate-css-custom-properties.js
  static/css/less/generated-custom-properties.css
  webpack.config.css.js
Due: generate-pot, detect-missing-i18n

update partials endpoint format
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

revert: restore branch to state of f0f85c18b
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Switch to using async_bridge.wrap instead of functools.wraps
  openlibrary/utils/solr.py
Due: generate-pot

Remove sync Solr.session ; no longer used!
  openlibrary/utils/solr.py
Due: generate-pot

Make all async functions for solr class (#11772)
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/utils/solr.py
Due: generate-pot

Expose solr edismax params for testing
  .gitignore
  compose.override.yaml
  compose.staging.yaml
  openlibrary/fastapi/models.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/fastapi/test_models.py
Due: generate-pot

move more validation to model and add tests
  openlibrary/fastapi/models.py
  openlibrary/tests/fastapi/test_models.py
  openlibrary/tests/fastapi/test_solr_internals_security.py
Due: generate-pot

create get_solr_internals_params
  openlibrary/fastapi/models.py
  openlibrary/fastapi/search.py
Due: generate-pot

adjust heading levels for github issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/design_proposal.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/post_mortem.md
  .github/ISSUE_TEMPLATE/question_template.md
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
