Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

remote_ids will never be empty in script
  scripts/providers/import_wikisource.py
Due: generate-pot

attempt unit tests
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  scripts/providers/import_wikisource.py
Due: generate-pot

irrelevant
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

update comment
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

unnecessary change
  openlibrary/core/models.py
Due: generate-pot

Update openlibrary/components/AuthorIdentifiers.vue
  openlibrary/components/AuthorIdentifiers.vue
Due: none

Add Locate Button
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/LocateButton.html
Due: generate-pot, detect-missing-i18n

Add external link styling to locate button
  openlibrary/macros/LocateButton.html
Due: generate-pot, detect-missing-i18n

Add i18n to locate button
  openlibrary/macros/LocateButton.html
Due: generate-pot, detect-missing-i18n

Add internationalization wrapper for dropdown buttons
  openlibrary/macros/ReadButton.html
Due: generate-pot, detect-missing-i18n

suggested rename
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  scripts/providers/import_wikisource.py
Due: generate-pot

why did changing remote_ids to identifiers break tests?
  openlibrary/catalog/add_book/load_book.py
Due: generate-pot

fix import key
  openlibrary/catalog/add_book/load_book.py
  scripts/providers/import_wikisource.py
Due: generate-pot

identifiers
  openlibrary/components/AuthorIdentifiers.vue
Due: none

Add config to disable lending buttons
  conf/openlibrary.yml
  openlibrary/core/lending.py
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/UnavailableButton.html
Due: generate-pot, detect-missing-i18n

remove sponsorship
  conf/openlibrary.yml
  openlibrary/core/civicrm.py
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/core/sponsorships.py
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SponsorCarousel.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/admin/menu.html
  openlibrary/templates/admin/sponsorship.html
  openlibrary/templates/books/mybooks_breadcrumb_select.html
  openlibrary/tests/core/test_sponsors.py
  scripts/sponsor_update_prices.py
Due: generate-pot, detect-missing-i18n

Initial draft IdentifiersInput Vue component
  openlibrary/components/AuthorIdentifiers.vue
  openlibrary/components/IdentifiersInput.vue
  openlibrary/components/IdentifiersInput/utils/utils.js
  openlibrary/components/README.md
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/type/author/edit.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

unbreak OL when IA lending is WAF'd
  openlibrary/core/lending.py
Due: generate-pot

Fixed Read More Button Display Logic to Avoid Unnecessary Display
  openlibrary/plugins/openlibrary/js/readmore.js
Due: none

fix get_user_waiting_loans
  openlibrary/core/lending.py
Due: generate-pot

unbreak OL when IA lending is WAF'd (#9958)
  openlibrary/core/lending.py
Due: generate-pot

fix ground_truth WAF fallback
  openlibrary/core/lending.py
Due: generate-pot

fix ground_truth WAF fallback (#9960)
  openlibrary/core/lending.py
Due: generate-pot

volume mount prod web
  compose.production.yaml
Due: none

volume mount prod web (#9961)
  compose.production.yaml
Due: none

Add docker olbase GHA flow
  .github/workflows/olbase.yaml
Due: none

limited availability banner
  openlibrary/templates/site/body.html
Due: generate-pot, detect-missing-i18n

Add flash messages to login, registration views
  openlibrary/templates/account/create.html
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

Edition table styling
  openlibrary/macros/LoanStatus.html
  static/css/components/generic-dropper.less
Due: generate-pot, detect-missing-i18n

Unescape search title and set via `textContent`
  openlibrary/plugins/openlibrary/js/search.js
Due: none

adding super librarians and 2024 fellows (#9933)
  openlibrary/templates/about/team.json
Due: none

Bump bundlesize
  bundlesize.config.json
Due: none

fix cover image loading on author page
  openlibrary/book_providers.py
Due: generate-pot

Temporarily disable erroring network requests
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/AffiliateLinks.html
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Add Search Inside
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  static/css/components/generic-dropper.less
Due: generate-pot, detect-missing-i18n

Update search inside CSS in dropper
  static/css/components/generic-dropper.less
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
