Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

updated changes
  openlibrary/templates/merge_request_table/table_row.html
Due: generate-pot, detect-missing-i18n

enable RUF012
  pyproject.toml
Due: none

fix a few new ruff rule breakages
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/worksearch/schemes/lists.py
  scripts/partner_batch_imports.py
Due: generate-pot

fix codeblock languages in docker docs
  docker/README.md
Due: none

move facet_fields and default_fetched_fields to be class variables
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

fix typo
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

Fix: remove extra dot #10812
  openlibrary/macros/StarRatingsStats.html
Due: generate-pot, detect-missing-i18n

Add basic print-disability access dashboard
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/pd_dashboard.html
Due: generate-pot, detect-missing-i18n

Open print disability access help link in new tab (#10800)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/forms.py
Due: generate-pot

Remove ACS code and configuration from `lending.py` (#10791)
  openlibrary/core/lending.py
Due: generate-pot

whitespace fix
  openlibrary/templates/history/sources.html
Due: generate-pot, detect-missing-i18n

Move styling to `less`
  openlibrary/templates/admin/pd_dashboard.html
  static/css/page-admin.less
Due: generate-pot, detect-missing-i18n

Add admin menu link
  openlibrary/templates/admin/menu.html
Due: generate-pot, detect-missing-i18n

test: navigation menus
  test/e2e/addBook.spec.ts
  test/e2e/book.spec.ts
  test/e2e/login.spec.ts
  test/e2e/navigation.spec.ts
  test/helper-config.ts
  test/pages/BookPage.ts
  test/pages/LoginPage.ts
  test/pages/NavigationPage.ts
Due: none

Add some title-based exclusions to wikisource import
  scripts/providers/import_wikisource.py
Due: generate-pot

remove unused Deprecated lib
  requirements.txt
Due: none

Limit /books/add from robots.txt
  static/robots.txt
Due: none

Add `rel="noreferrer"` to book page "add book" link
  openlibrary/templates/type/work/editions_datatable.html
Due: generate-pot, detect-missing-i18n

Block more endpoints in robots.txt
  static/robots.txt
Due: none

Block more suspicious reqeusts
  docker/web_nginx.conf
Due: none

remove unused DBUtils lib
  requirements.txt
Due: none

Restrict some suspicious traffic (#10825)
  docker/web_nginx.conf
  static/robots.txt
Due: none

switch noreferrer to nofollow
  openlibrary/templates/type/work/editions_datatable.html
Due: generate-pot, detect-missing-i18n

Add `rel="nofollow"` to book page "add book" link (#10826)
  openlibrary/templates/type/work/editions_datatable.html
Due: generate-pot, detect-missing-i18n

Fix tagging and add release link
  scripts/deployment/deploy.sh
Due: none

fix script path when in tmp
  scripts/deployment/deploy.sh
Due: none

Streamline deploy.sh
  scripts/deployment/deploy.sh
Due: none

improve flow
  scripts/deployment/deploy.sh
Due: none

Change author and publish_date unknown values
  scripts/providers/EbookFoundationFPB/import_fpb.py
Due: generate-pot

use db directly for cover dimensions
  openlibrary/core/models.py
Due: generate-pot

cover error fixed
  openlibrary/core/models.py
  openlibrary/coverstore/config.py
Due: generate-pot

Adjust key ordering
  openlibrary/templates/history/sources.html
Due: generate-pot, detect-missing-i18n

use info for smaller diff
  openlibrary/core/models.py
Due: generate-pot

use double quote for smaller diff
  openlibrary/core/models.py
Due: generate-pot

Remove f-string literals from template
  openlibrary/templates/history/sources.html
Due: generate-pot, detect-missing-i18n

i have some questions
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

Don't rate limit internal requests
  docker/nginx.conf
Due: none

update tests
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
Due: generate-pot

update tests
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot
