Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

remove olmemcache and use new MemcacheClient
  openlibrary/core/cache.py
  openlibrary/coverstore/oldb.py
  openlibrary/data/db.py
  openlibrary/olbase/events.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/compress.py
  openlibrary/utils/olcompress.py
  openlibrary/utils/olmemcache.py
Due: generate-pot

use python-memcache directly everywhere
  openlibrary/core/cache.py
  openlibrary/coverstore/oldb.py
  openlibrary/data/db.py
  openlibrary/olbase/events.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

update pre-commit versions to match
  .pre-commit-config.yaml
Due: none

remove deleted file from i18n skip list
  scripts/detect_missing_i18n.py
Due: generate-pot

add missing i18n strings
  openlibrary/i18n/messages.pot
  openlibrary/templates/admin/pd_dashboard.html
  openlibrary/templates/admin/sync.html
  openlibrary/templates/history/sources.html
  scripts/detect_missing_i18n.py
Due: generate-pot, detect-missing-i18n

update fastapi test
  tests/integration/test_fastapi_auth.py
Due: generate-pot

fix: Block duplicate OCAIDs in edition editor
  openlibrary/components/IdentifiersInput.vue
Due: none

autocomplete.js changed
  openlibrary/plugins/openlibrary/js/autocomplete.js
Due: none

Make bot monitoring only check user agent portion of log
  scripts/monitoring/tests/sample_covers_nginx_logs.log
  scripts/monitoring/utils.sh
  scripts/obfi.sh
Due: none

Update partners/bots monitors
  scripts/monitoring/monitor.py
  scripts/obfi.sh
Due: generate-pot

Update to node 24 LTS
  .github/workflows/javascript_tests.yml
  .github/workflows/new_pr_labeler.yml
  .github/workflows/weekly_status_report.yml
  scripts/install_nodejs.sh
Due: none

Make node version required strict
  .npmrc
  package-lock.json
  package.json
Due: none

Add OLChip component and update facet templates
  openlibrary/components/lit/OLChip.js
  openlibrary/components/lit/index.js
  openlibrary/templates/search/work_search_facets.html
  openlibrary/templates/search/work_search_selected_facets.html
  static/css/components/ol-chip.less
  static/css/legacy.less
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

Refactor OLChip component and update styles
  openlibrary/components/lit/OLChip.js
  openlibrary/templates/search/work_search_facets.html
  static/css/components/ol-chip.less
Due: generate-pot, detect-missing-i18n

remove from exclude list
  scripts/detect_missing_i18n.py
Due: generate-pot

migrate facets partial to fastapi
  openlibrary/asgi_app.py
  openlibrary/fastapi/partials.py
  openlibrary/i18n/__init__.py
  openlibrary/plugins/openlibrary/partials.py
  test_search_facets_comparison.py
  test_search_facets_partial.py
Due: generate-pot

remove temp config change
  .pre-commit-config.yaml
Due: none

cleanup parsing
  openlibrary/fastapi/partials.py
Due: generate-pot

add FulltextSearchSuggestion partial
  .pre-commit-config.yaml
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_fulltext_suggestions_comparison.py
  test_fulltext_suggestions_partial.py
Due: generate-pot

add partials for BPListsSection
  openlibrary/conftest.py
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/tests/core/test_i18n.py
  test_book_page_lists_comparison.py
  test_book_page_lists_partial.py
  test_search_facets_partial.py
Due: generate-pot

migrate BPListsSection partial
  .pre-commit-config.yaml
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
  test_affiliate_links_comparison.py
  test_affiliate_links_partial.py
Due: generate-pot

remove readin goal tests
  test_reading_goal_progress_comparison.py
  test_reading_goal_progress_partial.py
Due: generate-pot

fix BPListsSection
  openlibrary/fastapi/partials.py
  test_affiliate_links_comparison.py
  test_affiliate_links_partial.py
  test_book_page_lists_comparison.py
  test_book_page_lists_partial.py
Due: generate-pot

add reading goal tests
  test_reading_goal_progress_comparison.py
  test_reading_goal_progress_partial.py
Due: generate-pot

simplify params
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

no more marking async
  openlibrary/fastapi/partials.py
Due: generate-pot

remove two self.i
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

docs: Update comment for BPListsSection to add TODO regarding logged-in user functionality.
  openlibrary/fastapi/partials.py
Due: generate-pot

only show in schema for local dev
  openlibrary/fastapi/partials.py
Due: generate-pot

create individual partial endpoints
  openlibrary/fastapi/partials.py
  test_affiliate_links_partial.py
  test_book_page_lists_partial.py
  test_fulltext_suggestions_partial.py
  test_search_facets_partial.py
Due: generate-pot

better variable naming
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Update Croatian translation
  openlibrary/i18n/hr/messages.po
Due: none

Update Croatian translations for ebook editions
  openlibrary/i18n/hr/messages.po
Due: none

feat: Pagination web component (#11811)
  openlibrary/components/lit/OlPagination.js
  openlibrary/components/lit/index.js
  openlibrary/i18n/messages.pot
  openlibrary/templates/design.html
  static/css/page-design.less
Due: generate-pot, detect-missing-i18n

feat: Enhance OLChip component and documentation
  openlibrary/components/lit/OLChip.js
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

Fix regex errors
  scripts/monitoring/utils.sh
  scripts/obfi.sh
Due: none

Add some types
  scripts/monitoring/monitor.py
Due: generate-pot

style: Update OLChip selected state color and remove unused examples
  openlibrary/components/lit/OLChip.js
  openlibrary/templates/design.html
  static/css/base/headings.less
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Add solr fields needed for editions table
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

refactor: Update OlPagination event name and enhance design documentation
  openlibrary/components/lit/OlPagination.js
  openlibrary/templates/design.html
  static/css/page-design.less
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
