Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Small fixes
  openlibrary/templates/covers/add.html
  static/css/page-form.less
Due: generate-pot, detect-missing-i18n

Lint fix
  static/css/page-form.less
Due: none

Use `hidden` class to hide upload button
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Remove `is:issue` from links in "Recent Comments" section
  scripts/gh_scripts/weekly_status_report.mjs
Due: none

tweak sanitize_query func and add tests to test_works.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
  openlibrary/solr/query_utils.py
Due: generate-pot

change func name, and definition to close open double quote and edit tests
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/solr/query_utils.py
Due: generate-pot

add sanitize_query util func and add test
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
  openlibrary/solr/query_utils.py
Due: generate-pot

WIP - need to tweak sanitize func
  openlibrary/solr/query_utils.py
Due: generate-pot

fix import
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

remove unnecessary test file
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
Due: generate-pot

remove unnecessary query util func, edit double-quote escaping in q_to_solr_params [ln 484] and edit tests
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/query_utils.py
Due: generate-pot

streamline code
  openlibrary/solr/query_utils.py
Due: generate-pot

rename func to more general name and changed it to be open to other symbols and logic
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/solr/query_utils.py
Due: generate-pot

delete empty line
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

Some changes to buttonCta.less file
  static/css/components/buttonCta.less
Due: none

Refactor buttonGhost.less and small changes to buttonCta.less
  static/css/components/buttonBtn.less
  static/css/components/buttonCta.less
  static/css/components/buttonGhost.less
Due: none

Capture Wikidata API errors in Sentry
  openlibrary/core/wikidata.py
Due: generate-pot

Fix for linter
  openlibrary/core/wikidata.py
Due: generate-pot

header contribution
  openlibrary/macros/RelatedSubjects.html
  openlibrary/macros/SubjectTags.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/type/author/view.html
  static/css/components/link-box.less
Due: generate-pot, detect-missing-i18n

Open Source Header Contributions
  openlibrary/macros/RelatedSubjects.html
  openlibrary/macros/SubjectTags.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/type/author/view.html
  static/css/components/link-box.less
Due: generate-pot, detect-missing-i18n

Open Source Header Contributions, h6 -> h3
  openlibrary/macros/RelatedSubjects.html
  openlibrary/macros/SubjectTags.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/type/author/view.html
  static/css/components/link-box.less
Due: generate-pot, detect-missing-i18n

Updated headers from h6 to h3
  openlibrary/macros/RelatedSubjects.html
  openlibrary/macros/SubjectTags.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/type/author/view.html
  static/css/components/link-box.less
Due: generate-pot, detect-missing-i18n

Delete static/images/Screenshots/TrendingMobile.jpg
  static/images/Screenshots/TrendingMobile.jpg
Due: none

Delete static/images/Screenshots/ListsMobile.jpg
  static/images/Screenshots/ListsMobile.jpg
Due: none

Delete static/images/Screenshots/MainPageMobile.jpg
  static/images/Screenshots/MainPageMobile.jpg
Due: none

Delete static/images/Screenshots/SearchMobile.jpg
  static/images/Screenshots/SearchMobile.jpg
Due: none

Delete static/images/Screenshots/StudentLibraryMobile.jpg
  static/images/Screenshots/StudentLibraryMobile.jpg
Due: none

Delete static/images/Screenshots/MainPageDesktop.jpeg
  static/images/Screenshots/MainPageDesktop.jpeg
Due: none

Add files via upload
  static/images/Screenshots/ListsMobile.png
  static/images/Screenshots/MainPageDesktop.png
  static/images/Screenshots/MainPageMobile.png
  static/images/Screenshots/SearchMobile.png
  static/images/Screenshots/StudentLibraryMobile.png
  static/images/Screenshots/TrendingMobile.png
Due: none

Update manifest.json
  static/manifest.json
Due: none

Fix issue #2723: Improve list search functionality
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/templates/search/lists.html
Due: generate-pot, detect-missing-i18n

reduce edition match score if one edition is missing a date closes #10461
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/match.py
Due: generate-pot

placate type checker
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/match.py
Due: generate-pot

use type alias for threshold results
  openlibrary/catalog/add_book/match.py
Due: generate-pot

added python script for parsing authors
  data_analysis_authors.py
Due: generate-pot

increase penalty for date mismatch on editions
  openlibrary/catalog/add_book/match.py
Due: generate-pot

add gh pages deploy action
  .github/workflows/docs_gh_pages.yml
Due: none

vitepress
  .github/workflows/docs_gh_pages.yml
Due: none

Simplify handling of default values for BookByline
  openlibrary/core/helpers.py
  openlibrary/macros/BookByline.html
Due: generate-pot, detect-missing-i18n
