Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

add script to download all pr comments by year
  scripts/audit_prs/audit_prs.sh
Due: none

Use trending=0 as default when sorting
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Sort homepage by trending
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Add trending sort to LibraryExplorer
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
Due: none

Rename 'daily' sort to trending_points_today to better reflectnew calculation
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

[trending] limit minimum allowed start date
  scripts/solr_updater/tests/test_trending_updater_init.py
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

Solidify trending updater on prod
  compose.override.yaml
  compose.production.yaml
  docker/ol-solr-updater-start.sh
  openlibrary/solr/updater/work.py
Due: generate-pot

Tweak homepage trending carousels
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Use different environment for solr-next-updater sentry
  compose.production.yaml
  openlibrary/utils/sentry.py
Due: generate-pot

reveal image whenc complete
  openlibrary/plugins/openlibrary/js/loading-gradient.js
Due: none

fix loading gradient for carousel load
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/openlibrary/js/loading-gradient.js
Due: none

Update docker/web_nginx.conf
  docker/web_nginx.conf
Due: none

adds sqlfluff linting for dev
  .pre-commit-config.yaml
  .sqlfluff
  requirements.txt
Due: none

adds newlines (squash)
  .pre-commit-config.yaml
  .sqlfluff
Due: none

apply noref nginx rules only if logged out (#10988)
  docker/web_nginx.conf
Due: none

Delete scripts/seeddb.sh
  scripts/seeddb.sh
Due: none

rm personal gitignore excludes (squash)
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

use uv in github actions
  .github/workflows/python_tests.yml
Due: none

github actions install to system
  .github/workflows/python_tests.yml
Due: none

uv pip install more tools
  .github/workflows/python_tests.yml
Due: none

try uv install python
  .github/workflows/python_tests.yml
Due: none

move python install before cache
  .github/workflows/python_tests.yml
Due: none

move UV_SYSTEM_PYTHON up
  .github/workflows/python_tests.yml
Due: none

enable uv cache
  .github/workflows/python_tests.yml
Due: none

remove actions cache
  .github/workflows/python_tests.yml
Due: none

remove pip
  .github/workflows/python_tests.yml
Due: none

remove alt option for better errors
  .github/workflows/python_tests.yml
Due: none

changes v1
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Children's carousels showing non-children's books
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Update setup_olserver.sh w trending + nexus instructions
  scripts/setup_olserver.sh
Due: none

add missing docker volumes to reset command
  docker/README.md
Due: none

migrating lists/partial.json functionality to partials.json
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

requested changes implemented for #10986
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Create import_webbook.js
  static/bookmarklets/import_webbook.js
Due: none

Apply suggestion from @Copilot
  static/bookmarklets/import_webbook.js
Due: none

Update import_webbook.js
  static/bookmarklets/import_webbook.js
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
