Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.2
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.19
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.11.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Remove localhost changes, only refresh when online in prod
  static/offline.html
Due: generate-pot, detect-missing-i18n

update ruff python version
  pyproject.toml
Due: none

fixed the signin with google button problem
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

Centered the Google Login button
  openlibrary/templates/account/ia_thirdparty_logins.html
Due: generate-pot, detect-missing-i18n

Mac M2 Air docker support
  docker/README.md
Due: none

css fix
  static/css/components/read-panel.less
Due: none

readme file fix
  docker/README.md
Due: none

removed the content from readme file
  docker/README.md
Due: none

beginning of work
  openlibrary/core/wikidata.py
  scripts/populate_author_identifiers.py
Due: generate-pot

prestash
  scripts/populate_author_identifiers.py
Due: generate-pot

fixed the overlapping issue
  static/css/components/read-panel.less
Due: none

Move yearly reading goal to sidebar
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/view.html
  openlibrary/templates/check_ins/reading_goal_form.html
  openlibrary/templates/check_ins/reading_goal_progress.html
  static/css/components/check-in.less
Due: generate-pot, detect-missing-i18n

Update wordtypes.txt
  conf/solr/conf/wordtypes.txt
Due: none

remove extra space
  conf/solr/conf/wordtypes.txt
Due: none

Set up `requests` environment variables for affiliate server.
  scripts/affiliate_server.py
Due: generate-pot

fix the issue comment bot mypy bug
  scripts/gh_scripts/issue_comment_bot.py
Due: generate-pot

run isort on scripts folder
  scripts/_init_path.py
  scripts/affiliate_server.py
  scripts/copydocs.py
  scripts/delete_import_items.py
  scripts/detect_missing_i18n.py
  scripts/generate-api-docs.py
  scripts/gh_scripts/issue_comment_bot.py
  scripts/import_open_textbook_library.py
  scripts/import_pressbooks.py
  scripts/import_standard_ebooks.py
  scripts/lc_marc_update.py
  scripts/mail_bad_author_query.py
  scripts/obfi/hide.py
  scripts/obfi/mktable.py
  scripts/oclc_to_marc.py
  scripts/oldump.py
  scripts/partner_batch_imports.py
  scripts/pr_slack_digest.py
  scripts/promise_batch_imports.py
  scripts/providers/isbndb.py
  scripts/pull-templates.py
  scripts/solr_builder/setup.py
  scripts/solr_builder/solr_builder/fn_to_cli.py
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/solr_builder/tests/test_fn_to_cli.py
  scripts/solr_dump_xisbn.py
  scripts/solr_updater.py
  scripts/tests/test_affiliate_server.py
  scripts/tests/test_copydocs.py
  scripts/tests/test_import_open_textbook_library.py
  scripts/tests/test_import_standard_ebooks.py
  scripts/tests/test_isbndb.py
  scripts/update-loans.py
Due: generate-pot

set up import pipeline to leverage wikidata
  openlibrary/catalog/add_book/load_book.py
  openlibrary/core/models.py
  openlibrary/core/wikidata.py
  scripts/backfill_author_identifiers.py
  scripts/providers/import_wikisource.py
Due: generate-pot

first draft
  requirements.txt
  scripts/providers/import_wikisource.py
Due: generate-pot

is this deprecated too?
  scripts/providers/import_wikisource.py
Due: generate-pot

use a class for imports
  scripts/providers/import_wikisource.py
Due: generate-pot

more linting
  scripts/providers/import_wikisource.py
Due: generate-pot

mypy fixes
  scripts/providers/import_wikisource.py
Due: generate-pot

linting
  scripts/providers/import_wikisource.py
Due: generate-pot

improved data model
  requirements.txt
  scripts/providers/import_wikisource.py
Due: generate-pot

uncomment
  scripts/providers/import_wikisource.py
Due: generate-pot

unstash
  scripts/providers/import_wikisource.py
Due: generate-pot

remove unnecessary print
  scripts/providers/import_wikisource.py
Due: generate-pot

publishers?
  scripts/providers/import_wikisource.py
Due: generate-pot

reduce image calls
  scripts/providers/import_wikisource.py
Due: generate-pot

different wiki markup strip
  scripts/providers/import_wikisource.py
Due: generate-pot

reformat name formatter
  scripts/providers/import_wikisource.py
Due: generate-pot

uncomment imports
  scripts/providers/import_wikisource.py
Due: generate-pot

better template check:
  scripts/providers/import_wikisource.py
Due: generate-pot

fix array
  scripts/providers/import_wikisource.py
Due: generate-pot

unused import
  scripts/providers/import_wikisource.py
Due: generate-pot

ruff fix
  scripts/providers/import_wikisource.py
Due: generate-pot

improve infobox fetching
  scripts/providers/import_wikisource.py
Due: generate-pot
