Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Try combining the manifests of the amd and arm images
  .github/workflows/olbase.yaml
Due: none

Switch to GitHub Arm64 olbase build + DRY yaml
  .github/workflows/olbase.yaml
Due: none

update issue 9023
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/templates/type/list/edit.html
  static/css/page-list-edit.less
Due: generate-pot, detect-missing-i18n

Remove unused adapter.py web app (#10774)
  openlibrary/plugins/upstream/adapter.py
  scripts/upstream-adapter
Due: generate-pot

Delete openlibrary/plugins/upstream/adapter.py
  openlibrary/plugins/upstream/adapter.py
Due: generate-pot

restore adapter.py from master
  openlibrary/plugins/upstream/adapter.py
Due: generate-pot

fix enum to increment monotonically
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Remove references to urllib.request and replace with requests library refs (#10759)
  openlibrary/plugins/openlibrary/tests/test_listapi.py
  openlibrary/plugins/openlibrary/tests/test_ratingsapi.py
  scripts/obfi/hide.py
  scripts/obfi/mktable.py
  scripts/solr_updater.py
  scripts/tests/test_obfi.py
Due: generate-pot

Document how to test olbase.yaml
  .github/workflows/olbase.yaml
Due: none

revert changes to schemes files
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

(RUF012) Fixed mutable class Defaults- Task 1 (#10283)
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  pyproject.toml
  scripts/partner_batch_imports.py
Due: generate-pot

add test to validate template files are compileable (#2900)
  openlibrary/i18n/messages.pot
  openlibrary/templates/admin/permissions.html
  openlibrary/templates/books/year_breadcrumb_select.html
  openlibrary/tests/test_templates.py
Due: generate-pot, detect-missing-i18n

fix RUF012 for schemes
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

remove extra typehints for authors
  openlibrary/plugins/worksearch/schemes/authors.py
Due: generate-pot

remove extra typehints for all schemes
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

remove extra frozenset
  openlibrary/plugins/worksearch/schemes/subjects.py
Due: generate-pot

Update account on special access fulfillment
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Modify function name for clarity
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Add `FULFILLED` special access status (#10899)
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Add basic print-disability access dashboard
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/pd_dashboard.html
Due: generate-pot, detect-missing-i18n

Move styling to `less`
  openlibrary/templates/admin/pd_dashboard.html
  static/css/page-admin.less
Due: generate-pot, detect-missing-i18n

Add admin menu link
  openlibrary/templates/admin/menu.html
Due: generate-pot, detect-missing-i18n

Change privs for adding web books
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

Experiment with TOC in solr
  conf/solr/conf/managed-schema.xml
  openlibrary/macros/ReadMore.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
  openlibrary/templates/work_search.html
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

Fix undefined variable in work_search
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Fix TOC with authors not being indexed correctly
  openlibrary/solr/updater/edition.py
Due: generate-pot

Exclude stopword-only highlights from appearing as matches
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Fix solr highlights trimming to 100 chars breaking long chapters
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Sort highlights by most matches
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Experiment with storing edition olid in chapters string in solr
  openlibrary/i18n/messages.pot
  openlibrary/macros/SearchResultsWork.html
  openlibrary/solr/updater/work.py
Due: generate-pot, detect-missing-i18n

fix mypy issue
  openlibrary/solr/updater/edition.py
Due: generate-pot

Add IA option for import ui
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/import_ui.py
Due: generate-pot

Experiment with Raw MARC import preview
  openlibrary/plugins/importapi/import_ui.py
Due: generate-pot

Fix circular dependency
  openlibrary/plugins/importapi/import_ui.py
Due: generate-pot

Add support for wikidata data dump link
  openlibrary/plugins/upstream/data.py
Due: generate-pot

Expand web book editing privileges
  openlibrary/templates/books/edit/edition.html
Due: generate-pot, detect-missing-i18n

Add hamburger link to `/admin` page
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

Include OCLC ids on the Add Book page (#10006)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/add-book.js
  openlibrary/plugins/openlibrary/js/idValidation.js
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

Update query for better performance
  openlibrary/core/pd.py
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/pd_dashboard.html
  scripts/detect_missing_i18n.py
  static/css/page-admin.less
Due: generate-pot, detect-missing-i18n

Return summary to dashboard view
  openlibrary/core/pd.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/templates/admin/pd_dashboard.html
  static/css/components/pd-dashboard.less
  static/css/page-admin.less
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
