Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Add new monitoring service for prod services
  compose.production.yaml
  docker/ol-monitoring-start.sh
  scripts/monitoring/Dockerfile
  scripts/monitoring/monitor.py
  scripts/monitoring/requirements.txt
  scripts/monitoring/utils.py
  scripts/monitoring/utils.sh
Due: generate-pot

Fix monitoring container build on prod
  compose.production.yaml
  scripts/monitoring/Dockerfile
Due: none

Install nc in monitoring image + fix py-spy
  compose.production.yaml
  scripts/monitoring/Dockerfile
Due: none

Run build steps during deploy + also copy scripts dir
  scripts/deployment/deploy.sh
Due: none

Add some monitoring unit tests
  scripts/monitoring/tests/test_utils.py
  scripts/monitoring/utils.py
Due: generate-pot

Limit monitoring service logsize
  compose.production.yaml
Due: none

Add testing for monitoring utils.sh
  requirements.txt
  scripts/monitoring/requirements.txt
  scripts/monitoring/tests/sample_covers_nginx_logs.log
  scripts/monitoring/tests/test_utils.py
  scripts/monitoring/tests/test_utils_sh.py
  scripts/monitoring/utils.py
  scripts/monitoring/utils.sh
Due: generate-pot

Rename test_utils.py to avoid naming conflict
  scripts/monitoring/tests/test_utils_py.py
Due: generate-pot

Fix failing test
  scripts/monitoring/tests/test_utils_py.py
Due: generate-pot

Fix schema.org ratings microdata by adding required ratingCount property - Fixes #10511
  openlibrary/macros/StarRatingsByline.html
  openlibrary/macros/StarRatingsStats.html
Due: generate-pot, detect-missing-i18n

Update openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/load_book.py
Due: generate-pot

Update openlibrary/core/models.py
  openlibrary/core/models.py
Due: generate-pot

Update scripts/providers/import_wikisource.py
  scripts/providers/import_wikisource.py
Due: generate-pot

imports
  openlibrary/core/models.py
Due: generate-pot

commtents
  openlibrary/core/models.py
Due: generate-pot

bracket fixes
  openlibrary/catalog/add_book/load_book.py
Due: generate-pot

update script instructions
  scripts/providers/import_wikisource.py
Due: generate-pot

rm thrillers from test
  openlibrary/plugins/openlibrary/tests/test_home.py
Due: generate-pot

add back thrillers
  openlibrary/plugins/openlibrary/tests/test_home.py
Due: generate-pot

move to block w/o test requirement
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

rm thrillers + textbooks from tests → using querycarousel
  openlibrary/plugins/openlibrary/tests/test_home.py
Due: generate-pot

update docker architecture build instructions
  docker/README.md
Due: none

Update README.md
  docker/README.md
Due: none

update docker architecture build instructions (#10538)
  docker/README.md
Due: none

update textbooks query
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Change Thriller + Textbooks query carousels (homepage) (#10532)
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Add multiple platform support for olbase build
  .github/workflows/olbase.yaml
Due: none

fixup!
  .github/workflows/olbase.yaml
Due: none

Send all Sentry events before script exits
  scripts/cron_wrapper.py
Due: generate-pot
