Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

refactor: refactor `solr_editions` parsing and `RequestContextVars` setup for web.py and FastAPI so it can work in templates too.
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/utils/async_utils.py
Due: generate-pot

refactor: consolidate `RequestContextVars` setup into a reusable pytest fixture for tests.
  openlibrary/conftest.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/tests/core/test_fulltext.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

refactor: streamline request context fixture usage in tests
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/tests/core/test_fulltext.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

refactor: remove middleware for parsing `solr_editions` preference from `asgi_app.py`.
  openlibrary/asgi_app.py
Due: generate-pot

docs: Remove redundant docstrings from publisher, subject, and language FastAPI endpoints.
  openlibrary/fastapi/languages.py
  openlibrary/fastapi/publishers.py
  openlibrary/fastapi/subjects.py
Due: generate-pot

remove extra comments
  openlibrary/utils/async_utils.py
Due: generate-pot

Close tagger and clear selections on book page subject edit
  openlibrary/plugins/openlibrary/js/bulk-tagger/BulkTagger.js
  openlibrary/plugins/openlibrary/js/ile/index.js
  openlibrary/plugins/openlibrary/js/index.js
Due: none

Capture book page edits in statsd
  openlibrary/plugins/openlibrary/bulk_tag.py
  openlibrary/plugins/openlibrary/js/bulk-tagger/BulkTagger.js
Due: generate-pot

refactor: Pre-compute `is_bot` into `RequestContextVars` and centralize its detection logic in `async_utils`.
  openlibrary/conftest.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/core/test_lending.py
  openlibrary/utils/async_utils.py
Due: generate-pot

appease linter
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/index.js
Due: none

silence noisey pytest output
  pyproject.toml
Due: none

Extend `store_counts` to gather recent login counts
  scripts/store_counts.py
Due: generate-pot

delete ai generated docs
  FASTAPI_AUTHENTICATION_SYSTEM.md
  LOGIN_SYSTEM_REPORT.md
Due: none

adjust worker counts and request limits
  compose.production.yaml
Due: none

restrict paywalled useragents; use dumps
  docker/web_nginx.conf
Due: none

move auth tests to python
  test_fastapi_auth.sh
  tests/integration/test_fastapi_auth.py
Due: generate-pot

tests don't run in Ci now
  pyproject.toml
  tests/integration/test_fastapi_auth.py
Due: generate-pot

feat: Fixed height with internal scroll
  static/bookmarklets/isbn_importer_prototype.js
  static/css/page-import-bulk.less
Due: none

Refactor: Split bulk import JS into 3 modules
  openlibrary/templates/account/import_bulk.html
  static/bookmarklets/bulk-import-ui.js
  static/bookmarklets/isbn-utils.js
  static/bookmarklets/isbn_importer_prototype.js
  static/bookmarklets/list-api.js
Due: generate-pot, detect-missing-i18n

Add quality score metrics to solr
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Implement 2026 Baseline Metrics (Retention & Participation) #11714
  openlibrary/admin/numbers.py
  openlibrary/admin/stats.py
  openlibrary/admin/tests/__init__.py
  openlibrary/admin/tests/test_numbers.py
Due: generate-pot

Add 2026 baseline metrics tracking
  docker/ol-cron-start.sh
  docs/2026_baseline_metrics.md
  requirements_scripts.txt
  scripts/2026_baseline_metrics.py
  tests/unit/test_2026_baseline_metrics.py
Due: generate-pot

style: fix db import and finalize linting corrections
  scripts/2026_baseline_metrics.py
  tests/unit/test_2026_baseline_metrics.py
Due: generate-pot

add auth verification to fastapi (#11704)
  openlibrary/accounts/model.py
  openlibrary/asgi_app.py
  openlibrary/fastapi/account.py
  openlibrary/fastapi/auth.py
  pyproject.toml
  requirements.txt
  tests/integration/test_fastapi_auth.py
Due: generate-pot

style: Update nav-bar styles for improved layout and alignment
  static/css/components/nav-bar.less
Due: none

style: Simplify nav-bar padding and remove unnecessary media query
  static/css/components/nav-bar.less
Due: none

style: Adjust nav-bar padding for consistency and improved layout
  static/css/components/nav-bar.less
Due: none

feat: Add Open Library as a pyopds2 data provider and improve document key tracking in `copydocs.py`.
  openlibrary/book_providers.py
Due: generate-pot

feat: introduce pyopds2 Open Library data provider, enhance IA download file retrieval with MOBI support, and improve `copydocs` script's saved document handling.
  openlibrary/book_providers.py
Due: generate-pot

feat: remove mobi download option from IA download file retrieval
  openlibrary/book_providers.py
Due: generate-pot

style: Remove height property from nav-bar list items for improved flexibility
  static/css/components/nav-bar.less
Due: none

test: Significantly refactor and expand WaitingLoan unit tests
  openlibrary/tests/core/test_waitinglist.py
Due: generate-pot

remove ils_search
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/tests/test_code_ils.py
  openlibrary/records/functions.py
  openlibrary/records/tests/test_functions.py
Due: generate-pot

remove unused records package
  openlibrary/records/__init__.py
  openlibrary/records/driver.py
  openlibrary/records/functions.py
  openlibrary/records/matchers.py
  openlibrary/records/tests/__init__.py
  openlibrary/records/tests/test_functions.py
Due: generate-pot

ils search removal (#11735)
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/tests/test_code_ils.py
  openlibrary/records/__init__.py
  openlibrary/records/driver.py
  openlibrary/records/functions.py
  openlibrary/records/matchers.py
  openlibrary/records/tests/__init__.py
  openlibrary/records/tests/test_functions.py
Due: generate-pot

remove old test_py3.sh script that uses safety
  renovate.json
  requirements_test.txt
  scripts/test_py3.sh
Due: none

add tests to test_ratings
  openlibrary/tests/core/test_ratings.py
Due: generate-pot

fix typo
  pyproject.toml
Due: none

show warnings also from scripts folder
  pyproject.toml
Due: none

disable ruff RUF059
  pyproject.toml
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
