Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

remove pytest cov
  requirements_test.txt
Due: none

fix broken markdown parsing
  openlibrary/core/olmarkdown.py
  openlibrary/tests/core/test_olmarkdown.py
Due: generate-pot

Remove unused method from `SaveBookHelper` (#11776)
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

remove deprecated borrow and read pages
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/templates/home/loans.html
  openlibrary/templates/home/stats.html
  openlibrary/templates/search/work_search_selected_facets.html
Due: generate-pot, detect-missing-i18n

updated pytest syntax
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

fix unneeded lambdas
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/plugins/openlibrary/sentry.py
Due: generate-pot

two more small syntax fixes
  openlibrary/core/imports.py
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

fix UP042
  scripts/detect_missing_i18n.py
Due: generate-pot

allow ASYNC240
  scripts/solr_updater/trending_updater.py
Due: generate-pot

update pre-commit to match packagejson
  .pre-commit-config.yaml
Due: none

enable ruff typechecking rule
  openlibrary/fastapi/services/subject_service.py
  pyproject.toml
Due: generate-pot

migrate to stylelint v17
  .pre-commit-config.yaml
  .stylelintrc.json
  static/css/components/generic-dropper.less
Due: none

add prettier dependency for ci
  .pre-commit-config.yaml
Due: none

Remove stylelint-prettier from pre-commit
  .pre-commit-config.yaml
  .stylelintrc.json
Due: none

Remove stylelint-declaration-strict-value plugin
  .pre-commit-config.yaml
  .stylelintrc.json
Due: none

Remove unimplemented stats functions
  openlibrary/admin/numbers.py
  openlibrary/admin/stats.py
Due: generate-pot

Update misleading comments
  openlibrary/admin/numbers.py
Due: generate-pot

Updates functions which count bot and human edits
  openlibrary/admin/numbers.py
Due: generate-pot

run ./scripts/i18n-messages update
  openlibrary/i18n/ar/messages.po
  openlibrary/i18n/as/messages.po
  openlibrary/i18n/bn/messages.po
  openlibrary/i18n/cs/messages.po
  openlibrary/i18n/de/messages.po
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/hi/messages.po
  openlibrary/i18n/hr/messages.po
  openlibrary/i18n/id/messages.po
  openlibrary/i18n/it/messages.po
  openlibrary/i18n/ja/messages.po
  openlibrary/i18n/pl/messages.po
  openlibrary/i18n/pt/messages.po
  openlibrary/i18n/ro/messages.po
  openlibrary/i18n/ru/messages.po
  openlibrary/i18n/sc/messages.po
  openlibrary/i18n/te/messages.po
  openlibrary/i18n/tr/messages.po
  openlibrary/i18n/uk/messages.po
  openlibrary/i18n/zh/messages.po
Due: none

Add types to vendors.py (#11433)
  openlibrary/core/vendors.py
Due: generate-pot

remove spacing change
  static/manifest.json
Due: none

update screenshot locations
  static/images/screenshots/desktop/ListsDesktop.png
  static/images/screenshots/desktop/MainPageDesktop.png
  static/images/screenshots/desktop/SearchBooksDesktop.png
  static/images/screenshots/desktop/StudentLibraryDesktop.png
  static/images/screenshots/desktop/TrendingDesktop.png
  static/images/screenshots/mobile/ListsMobile.png
  static/images/screenshots/mobile/MainPageMobile.png
  static/images/screenshots/mobile/SearchMobile.png
  static/images/screenshots/mobile/StudentLibraryMobile.png
  static/images/screenshots/mobile/TrendingMobile.png
  static/manifest.json
Due: none

use screenshots from mockup file
  static/images/screenshots/mobile/BorrowMobile.png
  static/images/screenshots/mobile/ExplorerMobile.png
  static/images/screenshots/mobile/ListsMobile.png
  static/images/screenshots/mobile/MainPageMobile.png
  static/images/screenshots/mobile/SearchMobile.png
  static/images/screenshots/mobile/StudentLibraryMobile.png
  static/images/screenshots/mobile/TrendingMobile.png
  static/manifest.json
Due: none

update screenshot sizes
  static/manifest.json
Due: none

remove vue-web-component-wrapper from package json
  package-lock.json
  package.json
Due: none

refactor: Upgrade to vue 3's native web component support (#11475)
  openlibrary/components/rollupInputCore.js
  package-lock.json
  package.json
Due: none

Update Croatian translation
  openlibrary/i18n/hr/messages.po
Due: none

Migrate Yearly Reading Goals to FastAPI (#11816)
  openlibrary/accounts/__init__.py
  openlibrary/asgi_app.py
  openlibrary/fastapi/yearly_reading_goals.py
  openlibrary/plugins/upstream/yearly_reading_goals.py
  openlibrary/utils/request_context.py
Due: generate-pot

testing infogami auth change
  .gitmodules
Due: none

Add fast_web service to infogami compose
  compose.infogami-local.yaml
Due: none

remove method_memoize to DRY caching (#11684)
  openlibrary/core/cache.py
  openlibrary/core/models.py
  openlibrary/tests/core/test_cache.py
Due: generate-pot

Select all entries by default, and wrap all content in checkbox label
  openlibrary/templates/merge/authors.html
Due: generate-pot, detect-missing-i18n

Search up the tree for the entry container rather than assuming the structure
  openlibrary/plugins/openlibrary/js/merge.js
Due: none

Add quality score metrics to solr
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Add experimental edition scorecard UI
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/scorecard.html
Due: generate-pot, detect-missing-i18n

use modern datetime syntax
  openlibrary/accounts/model.py
  openlibrary/core/admin.py
  openlibrary/core/edits.py
  openlibrary/core/imports.py
  openlibrary/core/lending.py
  openlibrary/core/statsdb.py
  openlibrary/core/waitinglist.py
  openlibrary/coverstore/db.py
  openlibrary/data/db.py
  openlibrary/data/sitemap.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/openlibrary/infobase_hook.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/tests/core/test_waitinglist.py
  openlibrary/utils/bulkimport.py
Due: generate-pot

Fix: Use integer division for cover image URL generation
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_code.py
Due: generate-pot

better test format
  openlibrary/coverstore/tests/test_code.py
Due: generate-pot
