Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Get cover URL or failback to default
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

Make activity feed card image a clickable link
  openlibrary/macros/LoadingIndicator.html
  openlibrary/plugins/openlibrary/js/activity-feed/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/activity_feed.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/cards/multi_image_card.html
  openlibrary/templates/lists/list_follow.html
  static/css/components/list-follow.less
Due: generate-pot, detect-missing-i18n

Apply suggestions from `Copilot` review
  openlibrary/core/follows.py
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

Lint `less` files
  static/css/components/activity-feed.less
  static/css/components/multi-image-card.less
Due: none

Implement suggestions from review
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/activity_feed.html
  openlibrary/templates/cards/multi_image_card.html
  static/css/components/activity-feed.less
Due: generate-pot, detect-missing-i18n

Render multi-image cards on book pages
  openlibrary/templates/cards/multi_image_card.html
  openlibrary/templates/lists/list_follow.html
  static/css/components/list-follow.less
  static/css/page-book.less
Due: generate-pot, detect-missing-i18n

Update bookcover URL
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

Add caching prethread to `memcache_memoize` calls
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

Update cover url
  openlibrary/templates/account/activity_feed.html
Due: generate-pot, detect-missing-i18n

Make magic numbers disappear
  static/css/components/multi-image-card.less
Due: none

feat: Add Continue Reading carousel to homepage
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Update pyopds2_openlibrary dependency version
  requirements.txt
Due: none

Add follow button to activity feed cards
  openlibrary/macros/Follow.html
  openlibrary/plugins/openlibrary/js/activity-feed/index.js
  openlibrary/templates/account/activity_feed.html
  static/css/components/activity-feed.less
Due: generate-pot, detect-missing-i18n

feat: call `set_context_from_legacy_web_py` in home plugin
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

feat: Add call to `set_context_from_legacy_web_py` after fakeload.
  openlibrary/core/lending.py
Due: generate-pot

feat: enable prethreading for IA carousel book caching
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

migrate search inside api to fastapi (#11454)
  openlibrary/asgi_app.py
  openlibrary/conftest.py
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/tests/core/test_fulltext.py
  openlibrary/tests/core/test_lending.py
  openlibrary/utils/async_utils.py
  requirements.txt
  requirements_test.txt
Due: generate-pot

Disable subject page facets
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

migrate languages.json to fastapi
  openlibrary/asgi_app.py
  openlibrary/core/cache.py
  openlibrary/fastapi/languages.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/utils/solr.py
Due: generate-pot

Refine TODO comment in get_languages function
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

refactor: Update `get_languages` to use `async_utils.site.get()` for site context.
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

test: add async memoization tests covering signatures, cache behavior, tuple keys, and sync/async parity.
  openlibrary/tests/core/test_cache.py
Due: generate-pot

fix: Add `web.ctx.site` as fallback for `site` retrieval in `get_languages`.
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

made the delete work and all editions button functional; successfully deletes all editions as well as a work
  openlibrary/plugins/upstream/addbook.py
  openlibrary/templates/books/edit.html
Due: generate-pot, detect-missing-i18n

Added delete-confirmation.js file in plugins to trigger and generate delete confirmation dialogue when either delete button is pressed, called in ol.js, and resume delete function when user confirms
  openlibrary/plugins/openlibrary/js/delete-confirm.js
  openlibrary/plugins/openlibrary/js/ol.js
Due: none

fixed overflow issue
  openlibrary/templates/books/edit/edition.html
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

refactor: use standard breakpoint variable
  static/css/page-user.less
Due: none

Added sqlfluff to pre-commit config
  .pre-commit-config.yaml
  .sqlfluff
Due: none

Testing linter
  .sqlfluff
  test.sql
Due: none

Testing L052
  .sqlfluff
Due: none

Testing L052 again
  test.sql
Due: none

Testing recurse option
  .sqlfluff
Due: none

Testing specific config final
  .sqlfluff
  test.sql
Due: none

Testing L052 allowlist
  .sqlfluff
  test.sql
Due: none

Testing nocolor option
  .sqlfluff
  test.sql
Due: none

issue fixed
  test.sql
Due: none

fix: improve UX and clarity for Bulk Search (#11358)
  openlibrary/components/BulkSearch/components/BookCard.vue
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/components/MatchRow.vue
Due: none

fix: Implement Solr update retry
  docker/ol-solr-updater-start.sh
  openlibrary/core/schema.sql
  openlibrary/solr/update.py
  openlibrary/solr/utils.py
  scripts/solr_updater/solr_retry_worker.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
