Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.2
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.19
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.11.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

wip
  openlibrary/catalog/add_book/load_book.py
  openlibrary/plugins/importapi/import_edition_builder.py
  openlibrary/plugins/openlibrary/types/author.type
  scripts/providers/import_wikisource.py
Due: generate-pot

addresses most PR comments
  scripts/providers/import_wikisource.py
Due: generate-pot

wikisource script goes in other PR
  scripts/providers/import_wikisource.py
Due: generate-pot

unnecessary change
  .gitignore
  openlibrary/plugins/openlibrary/types/author.type
Due: none

unnecessary change
  scripts/backfill_author_identifiers.py
Due: generate-pot

this code goes in the other PR
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/components/AuthorIdentifiers.vue
  openlibrary/plugins/importapi/import_edition_builder.py
  requirements.txt
Due: generate-pot

Revert "this code goes in the other PR"
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/components/AuthorIdentifiers.vue
  openlibrary/plugins/importapi/import_edition_builder.py
  requirements.txt
Due: generate-pot

move this code
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/components/AuthorIdentifiers.vue
  openlibrary/plugins/importapi/import_edition_builder.py
  requirements.txt
Due: generate-pot

/
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

unused imports
  scripts/providers/import_wikisource.py
Due: generate-pot

?
  openlibrary/catalog/add_book/tests/test_load_book.py
  scripts/backfill_author_identifiers.py
Due: generate-pot

First draft ILE conversion to Vue
  openlibrary/components/IntegratedLibrarianEnvironment.vue
  openlibrary/components/IntegratedLibrarianEnvironment/components/StatusImage.vue
  openlibrary/components/IntegratedLibrarianEnvironment/utils/classes.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/site/body.html
  static/css/components/SelectionManager.less
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

fix generated code
  openlibrary/solr/types_generator.py
Due: generate-pot

fix files without py extension
  scripts/coverstore-server
  scripts/i18n-messages
  scripts/openlibrary-server
  scripts/upstream-adapter
Due: none

requirements.txt doesnt need to change here
  requirements.txt
Due: none

this got moved out by accident
  requirements.txt
Due: none

wtf?
  requirements.txt
Due: none

Support for ?
  conf/solr/conf/managed-schema.xml
  conf/solr/conf/wordtypes.txt
Due: none

Update read-panel.less
  static/css/components/read-panel.less
Due: none

Add Project Runeberg as a trusted book provider
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/templates/book_providers/runeberg_download_options.html
  openlibrary/templates/book_providers/runeberg_read_button.html
Due: generate-pot, detect-missing-i18n

Copy/Paste Option for adding Book Covers
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Copy/Paste Option for adding Book Covers solving #9993
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

clear search results on tab
  openlibrary/plugins/openlibrary/js/SearchBar.js
  tests/unit/js/SearchBar.test.js
Due: none

stop rerending on focus of input
  openlibrary/plugins/openlibrary/js/SearchBar.js
  tests/unit/js/SearchBar.test.js
Due: none

fixed tabbing when on search results + working test
  openlibrary/plugins/openlibrary/js/SearchBar.js
  tests/unit/js/SearchBar.test.js
Due: none

changed the innerHTML with textContent for security reasons
  openlibrary/plugins/openlibrary/js/team.js
Due: none

Change `/contact` links to `mailto` links
  openlibrary/templates/account.html
  openlibrary/templates/lib/nav_foot.html
Due: generate-pot, detect-missing-i18n

Remove `support.py`
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/support.py
Due: generate-pot

Added lazy loading & minimum height for edition snippet and works cover images
  openlibrary/components/MergeUI/EditionSnippet.vue
  openlibrary/components/MergeUI/MergeRowField.vue
Due: none

Apply IdentifiersInput component to work identifiers
  openlibrary/components/IdentifiersInput.vue
  openlibrary/plugins/openlibrary/config/work/identifiers.yml
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/edit.html
Due: generate-pot, detect-missing-i18n

add another exclusion
  scripts/providers/import_wikisource.py
Due: generate-pot

merge
  openlibrary/core/models.py
Due: generate-pot

Update openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
Due: generate-pot

Update scripts/backfill_author_identifiers.py
  scripts/backfill_author_identifiers.py
Due: generate-pot

.
  openlibrary/catalog/add_book/load_book.py
  openlibrary/core/models.py
  openlibrary/core/wikidata.py
  scripts/backfill_author_identifiers.py
Due: generate-pot

dont need this
  scripts/backfill_author_identifiers.py
Due: generate-pot

author identifiers in import
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/core/models.py
Due: generate-pot
