Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix(accounts): send OTP to xauthn as 'password' field, not 'otp'
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

fix(coverstore): fix 3 bugs in cover archival script
  openlibrary/coverstore/archive.py
Due: generate-pot

fix(carousel): source i18n strings from data-config
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/templates/books/custom_carousel.html
  tests/unit/js/carousel.test.js
Due: generate-pot, detect-missing-i18n

docs(carousel): correct stale loadMore JSDoc
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Due: none

fix(search): fix recent searches rendering and add unselected indicator to availability filter
  openlibrary/components/lit/OlAvailabilityFilter.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
Due: none

Render compoinent in light DOM using portal pattern
  openlibrary/components/lit/OpenLibraryOTP.js
Due: none

feat: open BookReader with search panel visible on Preview
  openlibrary/macros/BookPreview.html
Due: generate-pot, detect-missing-i18n

fix: HTML-escape & as &amp; in data-iframe-src attribute
  openlibrary/macros/BookPreview.html
Due: generate-pot, detect-missing-i18n

feat(accounts): add OTP (passwordless) login support via xauthn (#12681)
  conf/openlibrary.yml
  openlibrary/accounts/model.py
  openlibrary/components/lit/OpenLibraryOTP.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/login.html
  package-lock.json
  package.json
Due: generate-pot, detect-missing-i18n

fix(css): migrate .coverEbook to --z-index-dropdown before removing level-6
  static/css/js-all.css
  static/css/tokens/z-index.css
Due: none

refactor(css): systematize z-index with semantic tokens (#12751)
  static/css/js-all.css
  static/css/tokens/z-index.css
Due: none

feat(community): add OLWeeklyPrompt Lit component for homepage
  openlibrary/components/lit/OLWeeklyPrompt.js
  openlibrary/components/lit/index.js
  openlibrary/templates/home/index.html
  openlibrary/templates/home/weekly_prompt.html
Due: generate-pot, detect-missing-i18n

polish(search): keyboard-aware modal sizing, recent-search rows, retina covers
  openlibrary/components/lit/OlAvailabilityFilter.js
  openlibrary/components/lit/OlDialog.js
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/availability_i18n.html
  openlibrary/templates/search/search_modal_i18n.html
  static/css/components/header-bar--desktop.css
  static/css/components/header-bar.css
  static/css/legacy.css
  static/css/page-user.css
Due: generate-pot, detect-missing-i18n

create LibrarianDep
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/importapi.py
  openlibrary/tests/fastapi/test_auth.py
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

migrate import_preview_json to FastAPI (#12745)
  openlibrary/asgi_app.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/importapi.py
  openlibrary/plugins/importapi/import_ui.py
  openlibrary/tests/fastapi/test_auth.py
  openlibrary/tests/fastapi/test_importapi.py
Due: generate-pot

remove extra alias
  openlibrary/fastapi/lists.py
Due: generate-pot

restore response models
  openlibrary/fastapi/lists.py
Due: generate-pot

fix ip bug
  openlibrary/fastapi/lists.py
Due: generate-pot

improve tests
  openlibrary/fastapi/lists.py
  openlibrary/tests/fastapi/test_list_seeds.py
Due: generate-pot

add deprecation decorator
  openlibrary/plugins/openlibrary/lists.py
Due: generate-pot

feat: migrate list and series seeds json endpoints to FastAPI (#12753)
  openlibrary/fastapi/lists.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/tests/fastapi/test_list_seeds.py
Due: generate-pot

add formatter, remove old template, add test, and i18n
  .pre-commit-config.yaml
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/AffiliateLinks.html
  openlibrary/macros/AffiliateLinks.html.jinja
  openlibrary/tests/core/test_jinja.py
  pyproject.toml
Due: generate-pot, detect-missing-i18n

get rid of opts and explicitly pass values
  openlibrary/fastapi/partials.py
  openlibrary/macros/AffiliateLinksLoadingIndicator.html
  openlibrary/plugins/openlibrary/js/affiliate-links.js
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

i18n: add translator notes to stopped reading shelf strings (#12850)
  openlibrary/i18n/messages.pot
  openlibrary/macros/StarRatingsStats.html
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/readinglog_shelf_name.html
  openlibrary/templates/my_books/dropdown_content.html
Due: generate-pot, detect-missing-i18n

history: link dates to revisions, normalize rev number style, underline links
  openlibrary/templates/history.html
  static/css/components/page-history.css
Due: generate-pot, detect-missing-i18n

vite: pin build.target to es2019/safari13 after legacy-plugin removal
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
Due: none

fix(home): prevent text clipping in onboarding cards
  static/css/components/home.css
Due: none

Simplify solr builder jenkins params
  scripts/solr_builder/Jenkinsfile
Due: none

update cython version
  scripts/solr_builder/Dockerfile.olpython
Due: none

Add offset CLI option to subjects indexer for debugging
  scripts/solr_builder/solr_builder/index_subjects.py
Due: generate-pot

Remove solr insert documents timeout + log errors
  openlibrary/solr/utils.py
  scripts/solr_builder/solr_builder/index_subjects.py
Due: generate-pot

Make index_subjects async
  openlibrary/solr/update.py
  openlibrary/solr/utils.py
  openlibrary/tests/solr/test_utils.py
  openlibrary/utils/retry.py
Due: generate-pot

Use separate httpx client to avoid loading config from solrbuilder
  openlibrary/solr/utils.py
  openlibrary/tests/solr/test_utils.py
Due: generate-pot

Make subjects solr indexing not fail if one bad apple
  openlibrary/solr/utils.py
  scripts/solr_builder/solr_builder/index_subjects.py
Due: generate-pot

Add some docs
  openlibrary/solr/utils.py
Due: generate-pot

docs(ai): consolidate browser support policy into AI guide
  docs/ai/README.md
  docs/ai/css.md
Due: none

Make monkeytime support asyncio
  openlibrary/conftest.py
  openlibrary/tests/solr/test_utils.py
Due: generate-pot

build: update browserslist db (caniuse-lite 1.0.30001764 -> 1.0.30001793)
  package-lock.json
  package.json
Due: none

build: update browserslist db (caniuse-lite 1.0.30001764 -> 1.0.30001793) (#12866)
  package-lock.json
  package.json
Due: none

fix: replace fixed height with min-height and use gap for tutorial cards
  static/css/components/home.css
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
