Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

restore datetime
  openlibrary/core/imports.py
  openlibrary/core/statsdb.py
  openlibrary/data/sitemap.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/infobase_hook.py
Due: generate-pot

Update authors.html
  openlibrary/templates/merge/authors.html
Due: generate-pot, detect-missing-i18n

Add `frontend` target to Makefile
  Makefile
Due: none

fix edge case
  openlibrary/fastapi/models.py
Due: generate-pot

fix my books dropper icon
  static/css/components/generic-dropper.css
Due: none

Update `diff_objects`
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Use multiple commits for author updates
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Small fixes
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Migrate public_observations endpoint to FastAPI
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/tests/fastapi/test_public_observations.py
  tests/integration/temporary/test_observation.sh
Due: generate-pot

refactor: Extract pre-hydration web component styles into dedicated CSS file
  openlibrary/templates/site/head.html
  static/css/components/pre-hydration.css
  webpack.config.css.js
Due: generate-pot, detect-missing-i18n

Fix: Update test
  openlibrary/tests/fastapi/test_public_observations.py
Due: generate-pot

Use sessionStorage for search facet persistence
  openlibrary/plugins/openlibrary/js/SearchUtils.js
  package-lock.json
  tests/unit/js/SearchBar.test.js
  tests/unit/js/SearchUtils.test.js
Due: none

Fix PubSub.get_feed() exposing private reading log entries
  openlibrary/core/follows.py
  openlibrary/tests/core/test_follows.py
Due: generate-pot

refactor: Narrow exception scope in lending.py
  openlibrary/core/lending.py
Due: generate-pot

style: fix ruff lint import sorting in lending.py
  openlibrary/core/lending.py
Due: generate-pot

Update model.py
  openlibrary/accounts/model.py
Due: generate-pot

Add inline preview button for identifiers in edit page
  openlibrary/components/IdentifiersInput.vue
Due: none

Update IdentifiersInput.vue
  openlibrary/components/IdentifiersInput.vue
Due: none

Fix edge cases and improve robustness in LibraryExplorer app state handling
  openlibrary/components/MergeUI.vue
Due: none

Update actions where needed
  openlibrary/accounts/model.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/models.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/bulk_tag.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/addtag.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/covers.py
  scripts/update_stale_ocaid_references.py
Due: generate-pot

simplify endpoint and remove test script
  openlibrary/fastapi/internal/api.py
  tests/integration/temporary/test_observation.sh
Due: generate-pot

Add Matomo retention dimension: Days Since Registration (issue #12144)
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/tests/test_patron_status.py
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

simplify tests
  openlibrary/tests/fastapi/test_public_observations.py
Due: generate-pot

Updated browse endpoint to use parse_comma_separated_list
  openlibrary/fastapi/internal/api.py
Due: generate-pot

Updated sorts to always be a list
  openlibrary/fastapi/internal/api.py
Due: generate-pot

update docs to better align with new docs site
  CONTRIBUTING.md
  Readme.md
  docker/README.md
Due: none

fix a few broken docs links
  CONTRIBUTING.md
  docker/README.md
Due: none

Update pre-commit stylelint version to 17.6.0
  .pre-commit-config.yaml
Due: none

Update stylelint version to 17.6.0
  package.json
Due: none

Update .stylelintrc.json configuration
  .stylelintrc.json
Due: none

Update package.json
  package.json
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

feat(search): Add query intent preprocessing layer
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/intent.py
Due: generate-pot

Fix My Books mobile header spacing and left alignment
  static/css/page-user.css
Due: none

update package.json
  package-lock.json
  package.json
Due: none

Address review: use user.preferences() and fix test mock shape
  openlibrary/core/follows.py
  openlibrary/tests/core/test_follows.py
Due: generate-pot

update the styleint config
  .pre-commit-config.yaml
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

re remove prettier plugin that's not working with v17
  .stylelintrc.json
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
