Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Retire cbox.css: move its remaining rules to their owners
  static/css/components/cover-form.css
  static/css/components/native-dialog.css
  static/css/js-all.css
Due: none

Fix the My Books header's Following, Followers and Share links
  openlibrary/templates/account/view.html
  static/css/components/buttonCta.css
  static/css/components/mybooks-details.css
Due: generate-pot, detect-missing-i18n

feat: split import/export UI and routes (#13774) (#13791)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/file-dropzone.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account.html
  openlibrary/templates/account/export.html
  openlibrary/templates/account/import.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/topmenu.html
  openlibrary/templates/books/breadcrumb_select.html
  openlibrary/templates/books/mybooks_breadcrumb_select.html
  static/css/page-user.css
  static/icons/src/lucide/upload.svg
Due: generate-pot, detect-missing-i18n

feat(lenny): the grant lives in provider_tokens again, and schema.sql has it
  openlibrary/core/provider_tokens.py
  openlibrary/core/schema.sql
  openlibrary/plugins/upstream/tests/test_lenny.py
  openlibrary/tests/core/test_provider_tokens.py
Due: generate-pot

docs(lenny): the deploy facts a host needs, next to the config it needs them for
  conf/openlibrary.yml
  openlibrary/plugins/upstream/tests/test_lenny.py
Due: generate-pot

Simplify dialog and observations modal wiring
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/modals/index.js
Due: none

Move JS lint/format to oxlint and oxfmt, keep eslint for Vue only (#13844)
  .babelrc
  .github/copilot-instructions.md
  .oxlintrc.json
  .pre-commit-config.yaml
  AGENTS.md
  docs/ai-coding-guide.md
  eslint.config.cjs
  package-lock.json
  package.json
  renovate.json
Due: none

Find the observations dialog by its wrapper, not its sibling
  openlibrary/macros/ObservationsModal.html
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/modals/index.js
Due: generate-pot, detect-missing-i18n

Fix lint script and oxlint disable comment
  openlibrary/components/BulkSearch/utils/classes.js
  package.json
Due: none

Keep @babel packages, .babelrc and renovate.json unchanged
  .babelrc
  package-lock.json
  package.json
  renovate.json
Due: none

Save /contribute answers to the record; librarians only
  openlibrary/first_edits/save.py
  openlibrary/first_edits/scope.json
  openlibrary/first_edits/scope.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/templates/contribute/dashboard.html.jinja
  openlibrary/templates/contribute/done.html.jinja
  openlibrary/templates/contribute/task.html.jinja
  static/css/components/contribute.css
Due: generate-pot

Split an over-long playbook string
  openlibrary/first_edits/playbooks.py
Due: generate-pot

Show the record and other editions' values on /contribute tasks
  openlibrary/components/__tests__/OlOptionsPopover.a11y.test.js
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/first_edits/playbooks.py
  openlibrary/first_edits/save.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/templates/contribute/task.html.jinja
  openlibrary/templates/design/components/options-popover.html.jinja
  static/css/components/contribute.css
Due: generate-pot

Drop the First Edits planning docs from the branch
  docs/first-edits/dev-setup.md
  docs/first-edits/identifiers.md
  docs/first-edits/plan.md
Due: none

Update the first_edits docstring
  openlibrary/first_edits/__init__.py
Due: generate-pot

Rename First Edits to contribute throughout
  openlibrary/contribute/__init__.py
  openlibrary/contribute/identifiers.py
  openlibrary/contribute/playbooks.py
  openlibrary/contribute/ranking.py
  openlibrary/contribute/save.py
  openlibrary/contribute/scope.json
  openlibrary/contribute/scope.py
  openlibrary/contribute/siblings.py
  openlibrary/contribute/supply.py
  openlibrary/contribute/tasks.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/templates/contribute.html
  openlibrary/templates/contribute/dashboard.html.jinja
  openlibrary/templates/contribute/done.html.jinja
  openlibrary/templates/contribute/nothing.html.jinja
  openlibrary/templates/contribute/task.html.jinja
  openlibrary/tests/contribute/__init__.py
  openlibrary/tests/contribute/test_identifiers.py
  openlibrary/tests/contribute/test_supply_ranking.py
  static/css/components/contribute.css
  static/css/page-contribute.css
Due: generate-pot, detect-missing-i18n

Condense the contribute dashboard
  openlibrary/contribute/identifiers.py
  openlibrary/contribute/playbooks.py
  openlibrary/contribute/ranking.py
  openlibrary/contribute/save.py
  openlibrary/contribute/scope.json
  openlibrary/contribute/scope.py
  openlibrary/contribute/siblings.py
  openlibrary/contribute/supply.py
  openlibrary/contribute/tasks.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/templates/contribute/dashboard.html.jinja
  openlibrary/templates/contribute/done.html.jinja
  openlibrary/tests/contribute/test_identifiers.py
  openlibrary/tests/contribute/test_supply_ranking.py
  openlibrary/tests/contribute/test_tasks.py
  openlibrary/utils/oclc.py
  static/css/components/contribute.css
  static/icons/src/lucide/circle-alert.svg
  static/icons/src/lucide/circle-help.svg
  static/icons/src/lucide/lock.svg
Due: generate-pot

Cache /contribute's Solr lists and drop the rail counts
  openlibrary/contribute/supply.py
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/templates/contribute/dashboard.html.jinja
  openlibrary/utils/solr.py
  static/css/components/contribute.css
Due: generate-pot

Link /contribute covers to the edition, like the title
  openlibrary/macros/contribute/parts.html.jinja
  static/css/components/contribute.css
Due: none

feat: sidebar redesign - move headers out of ul, add mobile popover, reading goal progress inline, li-count flex
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/reading_goals/reading_goal_progress.html.jinja
  static/css/components/mybooks-details.css
  static/css/components/mybooks-menu.css
  static/css/components/reading-goal.css
Due: generate-pot, detect-missing-i18n

feat: remove disabled toggle on Load Books button
  openlibrary/plugins/openlibrary/js/file-dropzone.js
Due: none

feat: add feature interest tracking for import page
  openlibrary/asgi_app.py
  openlibrary/core/patron_feature_interest.py
  openlibrary/core/schema.sql
  openlibrary/fastapi/feature_interest.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

fix: remove checkmark from interest recorded button text
  openlibrary/templates/account/import.html
Due: generate-pot, detect-missing-i18n

test: add tests for feature interest tracking
  openlibrary/tests/core/test_patron_feature_interest.py
  openlibrary/tests/fastapi/test_feature_interest.py
Due: generate-pot

fix: add DEFAULT CURRENT_TIMESTAMP to yearly_reading_goals DDL for test fixture
  openlibrary/tests/core/test_db.py
Due: generate-pot

Fix TestYearlyReadingGoals async calls, DDL default, and add delete_by_username
  openlibrary/core/yearly_reading_goals.py
  openlibrary/tests/core/test_db.py
Due: generate-pot

test: fix empty feature test to expect 422 (Pydantic validation)
  openlibrary/tests/fastapi/test_feature_interest.py
Due: generate-pot

test: add @pytest.mark.asyncio to integration test methods
  openlibrary/tests/core/test_patron_feature_interest.py
Due: generate-pot

fix(tests): remove obsolete TestYearlyReadingGoals from test_db.py that failed without async db pool
  openlibrary/tests/core/test_db.py
Due: generate-pot

refactor(header): convert dropdown and browse popover to explicit macros
  openlibrary/core/layout.py
  openlibrary/templates/lib/browse_popover.html.jinja
  openlibrary/templates/lib/header_dropdown.html.jinja
  openlibrary/templates/lib/nav_head.html.jinja
  openlibrary/tests/core/test_layout.py
  openlibrary/tests/test_link_track_attribute_escaping.py
Due: generate-pot

Revert "Keep @babel packages, .babelrc and renovate.json unchanged"
  .babelrc
  package-lock.json
  package.json
  renovate.json
Due: none

test(head): clear shared infogami context before rendering the head
  openlibrary/tests/core/test_jinja.py
Due: generate-pot

Run oxlint/oxfmt on mjs, cjs and ts; keep Vue formatting rules in eslint
  .oxfmtrc.json
  .oxlintrc.json
  .pre-commit-config.yaml
  eslint.config.cjs
  package.json
Due: none

feat(home): back "Browse the stacks" with a genre-explorer JSON model
  openlibrary/plugins/openlibrary/home_genres.json
  openlibrary/plugins/openlibrary/home_genres.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  scripts/generate_home_genres.py
Due: generate-pot

Add view/edit shortcuts to /contribute and retitle it Librarian Dashboard
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/templates/contribute/dashboard.html.jinja
  static/css/components/contribute.css
  static/css/tokens/colors.css
Due: generate-pot

Add "Save and next" to /contribute tasks
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/templates/contribute/done.html.jinja
  openlibrary/templates/contribute/task.html.jinja
  static/css/components/contribute.css
Due: generate-pot

Scope the skip-link focus rule to the skip target
  static/css/components/skip-link.css
Due: none

Drop the how-it-works box from the contribute dashboard
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/templates/contribute/dashboard.html.jinja
  static/css/components/contribute.css
Due: none

Rename /contribute route to /tasks
  openlibrary/plugins/openlibrary/contribute.py
Due: generate-pot
