Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Enhance FastAPI app metadata for better OpenAPI documentation (#13374)
  openlibrary/asgi_app.py
Due: generate-pot

books-display: keep only the component, and carry readable-only into search
  CAROUSEL-ACTIONS-PLAN.md
  compose.yaml
  openlibrary/asgi_app.py
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/core/bookshelves.py
  openlibrary/core/ratings.py
  openlibrary/fastapi/books_display.py
  openlibrary/fastapi/services/books_display.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/QueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/design/components/_books_display_data.html.jinja
  openlibrary/templates/design/components/books-display.html.jinja
  openlibrary/templates/subjects.html
  openlibrary/tests/fastapi/test_books_display.py
  static/css/components/carousel.css
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot, detect-missing-i18n

Simplify strings to a plain object; remove template wrappers
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
Due: none

Remove `notify_slack` workflow
  .github/workflows/notify_slack.yml
  .github/workflows/pm_on_call_notification.yml
Due: none

Rebuild the /status Testing Environment panel as a live UI (#13311)
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/PersonCell.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/composables/useTestingStatus.js
  openlibrary/components/TestingEnvironment/composables/useToast.js
  openlibrary/components/TestingEnvironment/styles.css
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/fastapi/status.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/jenkins.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/fastapi/test_testing_status.py
  static/css/page-user.css
  static/css/tokens/colors.css
  tests/unit/js/testing-status.test.js
Due: generate-pot, detect-missing-i18n

Change configuration to align with current on-call schedule
  .github/workflows/config/pm_config.json
Due: none

Add undo (restore) button for deleted PRs on the testing-env status panel
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/styles.css
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
Due: none

Remove closed (not merged) PRs from the testing set on deploy with a locked indicator
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/styles.css
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Use ⏪ for the undelete action and trim comments
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/styles.css
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Restore the SVG icon for the undelete action
  openlibrary/components/TestingEnvironment/TestingRow.vue
Due: none

Add pending_removal field to TestingPR for staged removals
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Add FastAPI mutation endpoints for testing environment
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Switch frontend to new REST PATCH endpoints for PR actions
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/utils.js
Due: none

Add CSS for staged removal indicator
  openlibrary/components/TestingEnvironment/styles.css
Due: none

Add tests for pending_removal and new FastAPI endpoints
  openlibrary/fastapi/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/unit/js/testing-status.test.js
Due: generate-pot

Extract shared service functions to eliminate duplicated business logic
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Fix mock paths in tests and add comprehensive web.py behavioral tests
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Add statusApiUrl helper so mutation endpoints use /_fast on testing
  openlibrary/components/TestingEnvironment/composables/useActions.js
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

Fix search facets fallback
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/search.js
  openlibrary/templates/search/work_search_facets.html
  tests/unit/js/search.test.js
Due: generate-pot, detect-missing-i18n

Remove deprecated web.py endpoints migrated to FastAPI (#13371)
  openlibrary/fastapi/lists.py
  openlibrary/plugins/importapi/import_ui.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_followsapi.py
  openlibrary/plugins/openlibrary/tests/test_likes.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/fastapi/test_list_seeds.py
Due: generate-pot

Handle invalid search facets markup
  openlibrary/plugins/openlibrary/js/search.js
  tests/unit/js/search.test.js
Due: none

Stop evicting drift cache on enable/disable/remove/pull-latest
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

books-display: hover card on the cover, year beside every title
  CAROUSEL-ACTIONS-PLAN.md
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/BooksDisplay.html
  openlibrary/templates/design/components/books-display.html.jinja
  static/css/components/ol-books-display.css
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot, detect-missing-i18n

Add the ol-books-display and ol-book-actions components
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/index.js
  openlibrary/components/lit/utils/book-icons.js
  openlibrary/components/lit/utils/books-api.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/BooksDisplay.html
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/_books_display_data.html.jinja
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/books-display.html.jinja
  static/css/components/ol-books-display.css
  static/css/ol-components.css
  tests/unit/js/OlBookActions.test.js
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot, detect-missing-i18n

Move the books-display components out to their own PR
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/index.js
  openlibrary/components/lit/utils/book-icons.js
  openlibrary/components/lit/utils/books-api.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/BooksDisplay.html
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/_books_display_data.html.jinja
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/books-display.html.jinja
  static/css/components/ol-books-display.css
  static/css/ol-components.css
  tests/unit/js/OlBookActions.test.js
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot, detect-missing-i18n

Tighten the comments on collections layout and token parsing
  openlibrary/plugins/openlibrary/design_tokens.py
  openlibrary/plugins/openlibrary/tests/test_design_tokens.py
  openlibrary/plugins/upstream/utils.py
  static/css/components/collections-page.css
Due: generate-pot

fix: add FastAPI route alias for .json note POSTs to match legacy web.py behavior
  openlibrary/fastapi/internal/api.py
  openlibrary/tests/fastapi/test_booknotes.py
Due: generate-pot

Fetch a collection's lists in one request and tidy the new CSS
  openlibrary/components/lit/OlPopover.js
  openlibrary/macros/databarView.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/type/page/view.html
  static/css/components/collections-page.css
  static/css/components/edit-toolbar--tablet.css
  static/css/components/ol-button.css
  static/css/components/page-history.css
  static/css/legacy.css
  static/css/tokens/font-families.css
Due: generate-pot, detect-missing-i18n

fix: add FastAPI route alias for .json note POSTs to match legacy web.py behavior (#13382)
  openlibrary/fastapi/internal/api.py
  openlibrary/tests/fastapi/test_booknotes.py
Due: generate-pot

fix nginx regex generator anchoring and verify combined output
  scripts/gen_nginx_regex.py
Due: generate-pot

add script to generate nginx regex for fastapi
  scripts/gen_nginx_regex.py
Due: generate-pot

don't add comments
  scripts/gen_nginx_regex.py
Due: generate-pot

include schema-hidden FastAPI routes in nginx regex
  scripts/gen_nginx_regex.py
Due: generate-pot

gen_nginx_regex: stop excluding /account prefix; individually blacklist test/demo endpoints
  scripts/gen_nginx_regex.py
Due: generate-pot

gen_nginx_regex: include docs, redoc, and openapi.json routes
  scripts/gen_nginx_regex.py
Due: generate-pot

Route ratings and list-creation JSON posts to FastAPI in dev
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/plugins/openlibrary/deprecated_handler.py
Due: generate-pot

gen_nginx_regex: auto-wildcard all /partials/*.json endpoints
  scripts/gen_nginx_regex.py
Due: generate-pot

Dismiss ol-tooltip on scrolls inside shadow-root scrollers
  openlibrary/components/lit/OlTooltip.js
  tests/unit/js/OlTooltip.test.js
Due: none

chore: remove remaining deprecated web.py endpoints migrated to FastAPI
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/upstream/checkins.py
  openlibrary/plugins/upstream/tests/test_checkins.py
  openlibrary/tests/fastapi/test_hide_banner.py
  openlibrary/tests/fastapi/test_link.py
  openlibrary/tests/fastapi/test_monthly_logins.py
  openlibrary/tests/fastapi/test_qrcode.py
  openlibrary/tests/fastapi/test_work_bookshelves.py
  openlibrary/tests/fastapi/test_work_editions_author_works.py
Due: generate-pot

Remove dead `get_works_data` wrapper and `unlink_ia_ol` stub
  openlibrary/fastapi/internal/api.py
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
