Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

update eslint command
  package.json
Due: none

cleanup duplicate ignores
  eslint.config.cjs
Due: none

undo ignore changes
  eslint.config.cjs
Due: none

Use class-based selectors for advanced search mobile CSS
  openlibrary/templates/search/advancedsearch.html
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

Update static/css/legacy.css
  static/css/legacy.css
Due: none

fix: change beforeinstallprompt handler to save event instead of discarding
  openlibrary/plugins/openlibrary/js/service-worker-init.js
Due: none

feat: add PWA install prompt for mobile users
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/pwa-install-prompt.js
  static/css/components/pwaInstallPrompt.css
  static/css/js-all.css
Due: none

[feat]: script to detect duplicate author; #10438
  scripts/find_duplicate_author.py
Due: generate-pot

fix: correct getDeferredInstallPrompt typo, move and resize close button to top-right, and revise file comment
  openlibrary/plugins/openlibrary/js/pwa-install-prompt.js
  openlibrary/plugins/openlibrary/js/service-worker-init.js
  static/css/components/pwaInstallPrompt.css
Due: none

fix: resolve lint errors in PWA install prompt files
  openlibrary/plugins/openlibrary/js/pwa-install-prompt.js
  openlibrary/plugins/openlibrary/js/service-worker-init.js
  static/css/components/pwaInstallPrompt.css
Due: none

[lint]: ran lint on `find_duplicate_author.py`;
  scripts/find_duplicate_author.py
Due: generate-pot

fix: address Copilot review comments on PWA install prompt
  openlibrary/plugins/openlibrary/js/pwa-install-prompt.js
Due: none

Mark test as expected failure
  openlibrary/plugins/upstream/tests/test_account.py
Due: generate-pot

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Apply suggestion from @RayBB
  openlibrary/core/lending.py
Due: generate-pot

undo functools
  openlibrary/utils/async_utils.py
Due: generate-pot

refactor: move LazyCarousel data-fetch to Python layer with caching (issue #12288)
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/tests/fastapi/test_partials.py
Due: generate-pot, detect-missing-i18n

move doctests into makefile and fix broken ones
  .github/workflows/python_tests.yml
  Makefile
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/form.py
  openlibrary/utils/schema.py
  scripts/run_doctests.sh
Due: generate-pot

add conftest for scripts and run them during CI
  Makefile
  scripts/conftest.py
Due: generate-pot

address copilot feedback
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/schema.py
Due: generate-pot

feat: Add loan history to Continue Reading carousel
  openlibrary/i18n/messages.pot
Due: none

simplify one test
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

remove extra line
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

restore quote value
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

add carousel_error
  openlibrary/i18n/messages.pot
  openlibrary/macros/RawQueryCarousel.html
Due: generate-pot, detect-missing-i18n

undo template changes and restore data directly for testing
  openlibrary/i18n/messages.pot
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot, detect-missing-i18n

try calling render macro
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

scripts: add fully_reset_environment.sh and update docker/README.md
  docker/README.md
  scripts/fully_reset_environment.sh
Due: none

Create `transaction_details` table in local instances
  openlibrary/core/infobase_schema.sql
  scripts/dev-instance/dev_db.pg_dump
Due: none

Enable writes to `transaction_details` in local instances
  conf/infobase.yml
Due: none

feat: add OlDrawer Lit component and update header bar navigation
  openlibrary/components/lit/OlDrawer.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/design.html
  openlibrary/templates/design/drawer.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/site/head.html
  package-lock.json
  package.json
  static/css/components/header-bar--desktop.css
  static/css/components/header-bar.css
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

feat: refine OlDrawer component and integrate with header navigation
  openlibrary/components/lit/OlDrawer.js
  openlibrary/templates/design/drawer.html
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar.css
Due: generate-pot, detect-missing-i18n

style: improve readability of hamburgerLinks list formatting
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

refactor: hardcode drawer menu links for readability
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

fix: password reflected in DOM on failed login
  openlibrary/templates/login.html
  openlibrary/tests/test_templates.py
Due: generate-pot, detect-missing-i18n

test: make password reflection regression test more robust
  openlibrary/tests/test_templates.py
Due: generate-pot

fix: focus first slotted element on drawer open to fix tab order
  openlibrary/components/lit/OlDrawer.js
Due: none

Update openlibrary/templates/lib/nav_head.html
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

Update openlibrary/components/lit/OlDrawer.js
  openlibrary/components/lit/OlDrawer.js
Due: none

docker: make home wait for solr via healthcheck in compose.override.yaml
  compose.override.yaml
  docker/ol-home-start.sh
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
