Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.2
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.19
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.11.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

add icons
  openlibrary/core/wikidata.py
  openlibrary/templates/authors/infobox.html
  static/images/identifier_icons/google_scholar.svg
  static/images/identifier_icons/wikidata.svg
  static/images/identifier_icons/wikipedia.svg
Due: generate-pot, detect-missing-i18n

move css to less
  openlibrary/core/wikidata.py
  openlibrary/templates/authors/infobox.html
  static/css/components/author-infobox.less
Due: generate-pot, detect-missing-i18n

reoganize method names
  openlibrary/core/wikidata.py
  openlibrary/templates/authors/infobox.html
  openlibrary/tests/core/test_wikidata.py
Due: generate-pot, detect-missing-i18n

only render hr if we have wikidata
  openlibrary/templates/authors/infobox.html
Due: generate-pot, detect-missing-i18n

add tests
  openlibrary/core/wikidata.py
  openlibrary/tests/core/test_wikidata.py
Due: generate-pot

address unused imports feedback
  openlibrary/core/waitinglist.py
  openlibrary/i18n/__init__.py
  openlibrary/i18n/validators.py
  scripts/tests/test_affiliate_server.py
Due: generate-pot

remove all unused imports of web
  openlibrary/admin/numbers.py
  openlibrary/catalog/add_book/match.py
  openlibrary/core/edits.py
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/worksearch/bulk_search.py
  scripts/update_stale_work_references.py
Due: generate-pot

remove all unused imports where there are multiple imports from the same file
  openlibrary/core/models.py
  openlibrary/coverstore/code.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/admin/tests/test_code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/stats.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/bulk_search.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/plugins/worksearch/publishers.py
  openlibrary/utils/sentry.py
  scripts/delete_import_items.py
  scripts/oldump.py
  scripts/promise_batch_imports.py
  scripts/pull-templates.py
  scripts/solr_updater.py
  scripts/store_counts.py
Due: generate-pot

make it one line
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Apply suggestions from code review
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/worksearch/bulk_search.py
  openlibrary/plugins/worksearch/publishers.py
  scripts/promise_batch_imports.py
Due: generate-pot

Remove unused imports
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

Add logout processor
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

Remove unused import
  openlibrary/plugins/upstream/covers.py
Due: generate-pot

Remove prod volume mount; no longer needed
  compose.production.yaml
  compose.yaml
Due: none

Update to fix view on image validation failure
  openlibrary/plugins/upstream/covers.py
Due: generate-pot

rm unused dependency
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

add back from ReadableUrlProcessor; needed by code.py
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

Remove no longer used br params/cookies (#9989)
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
Due: generate-pot

Preliminary work on hourly update script
  scripts/calculate_trending_scores_hourly.py
Due: generate-pot

Added support for trending score fields to Solr.
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/work.py
Due: generate-pot

First draft of new trending scores for solr.
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
  openlibrary/solr/update.py
  openlibrary/solr/updater/work.py
  openlibrary/utils/solr.py
  scripts/calculate_trending_scores_daily.py
  scripts/calculate_trending_scores_hourly.py
Due: generate-pot

Added updater cron file
  conf/solr_updater_crons
Due: none

Removed accidentally duplicated files.
  conf/solr_cron
  openlibrary/solr/solr_types.py
  openlibrary/solr/solr_updater_crons
Due: generate-pot

Added a floor to z-score algorithm, and a cron file
  conf/solr_cron
  openlibrary/solr/solr_types.py
  openlibrary/solr/solr_updater_crons
  scripts/calculate_trending_scores_daily.py
  scripts/calculate_trending_scores_hourly.py
Due: generate-pot

Require login for stale session cookie holders (#10005)
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Due: generate-pot

Fix data dump endpoints erroring due to WAF
  openlibrary/plugins/upstream/data.py
Due: generate-pot

Make debug=true use the features config in openlibrary.yml
  conf/openlibrary.yml
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/admin/people/view.html
  openlibrary/templates/type/list/edit.html
Due: generate-pot, detect-missing-i18n

Wrapped existing _get_blog_feeds functionality into a closure
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Disable cover management via UI
  openlibrary/templates/covers/change.html
Due: generate-pot, detect-missing-i18n

Restrict Locate Button usage
  openlibrary/macros/LoanStatus.html
Due: generate-pot, detect-missing-i18n

Remove extraneous CSS, adjust Locate Button locations (again)
  openlibrary/macros/LoanStatus.html
  static/css/components/generic-dropper.less
Due: generate-pot, detect-missing-i18n

Fixed the issue#9946
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Add filtered romance books data
  romance_books.json
Due: none

Enable registration
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

Help slow down bots hitting /authors
  docker/nginx.conf
  docker/web_nginx.conf
Due: none

renovate to auto merge requirements_test.txt
  renovate.json
Due: none

renovate to auto merge requirements_test.txt (#10024)
  renovate.json
Due: none

Revert renovate.json changes -- causing too much auto-merging
  renovate.json
Due: none

Move error message
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n
