Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

fix styling for Filter button
  static/css/components/buttonGhost.css
Due: none

fix pre-commit.ci
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/tests/test_account.py
Due: generate-pot

adding backend solr processing
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/home/filter_panel.html
  static/js/preferences.js
  tests/unit/js/preferences.test.js
Due: generate-pot, detect-missing-i18n

fix: ruff import ordering and quote style (pre-commit)
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

chore: bump bundlesize limits for alert.css (global filter panel)
  bundlesize.config.json
Due: none

fix: address Copilot review findings
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/site/alert.html
  static/css/components/alert.css
  static/js/preferences-handler.js
Due: generate-pot, detect-missing-i18n

fix(pr-11331): revert migration artifacts, fix whitespace + Carousel.js defaultPrefs bug
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/templates/site/alert.html
  static/css/base/headings.css
  static/css/components/buttonsAndLinks.css
  static/css/components/cbox.css
  static/css/components/chart.css
  static/css/components/flash-messages.css
  static/css/components/generic-dropper.css
  static/css/components/illustration.css
  static/css/components/jquery.autocomplete.css
  static/css/components/link-box.css
  static/css/components/lists-page-cta.css
  static/css/components/search-result-item.css
  static/css/components/ui-dialog.css
  static/css/legacy-tools.css
  static/css/legacy.css
  static/css/page-plain.css
Due: generate-pot, detect-missing-i18n

feat(activity-feed): ten switchable layout treatments + design gallery
  openlibrary/components/lit/OlSocialFeed.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/activity_feed.html
  tests/e2e/activity-feed.spec.ts
Due: generate-pot, detect-missing-i18n

feat(activity-feed): add list likes as a fourth event type
  openlibrary/components/lit/OlSocialFeed.js
  openlibrary/core/activity.py
  openlibrary/core/likes.py
  openlibrary/core/tests/test_activity.py
  openlibrary/fastapi/activity.py
  openlibrary/tests/fastapi/test_activity_feed.py
  scripts/dev-instance/seed_social_feed.py
Due: generate-pot

docs(activity-feed): document where patron activity actually lives
  docs/ai/README.md
  docs/ai/subsystems/activity-feed.md
Due: none

fix(activity-feed): let the gallery be opened from another device
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/tests/test_design.py
Due: generate-pot

fix(activity-feed): carry the endpoint override across gallery links
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/tests/test_design.py
  openlibrary/templates/design/activity_feed.html
  tests/e2e/activity-feed.spec.ts
Due: generate-pot, detect-missing-i18n

refactor(activity-feed): one card container for every activity type
  docs/ai/subsystems/activity-feed.md
  openlibrary/components/lit/OlSocialFeed.js
  scripts/dev-instance/seed_social_feed.py
Due: generate-pot

feat(activity-feed): three card types, and a showcase row that pages
  docs/ai/subsystems/activity-feed.md
  openlibrary/components/lit/OlSocialFeed.js
  openlibrary/core/activity.py
  openlibrary/core/likes.py
  openlibrary/core/tests/test_activity.py
  openlibrary/fastapi/activity.py
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/tests/test_design.py
  openlibrary/templates/design/activity_feed.html
  openlibrary/tests/fastapi/test_activity_feed.py
  tests/e2e/activity-feed.spec.ts
Due: generate-pot, detect-missing-i18n

feat(activity-feed): tabbed Discover / Following / Popular column
  docs/ai/subsystems/activity-feed.md
  openlibrary/components/lit/OlSocialFeed.js
  openlibrary/core/activity.py
  openlibrary/core/tests/test_activity.py
  openlibrary/fastapi/activity.py
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/tests/test_design.py
  openlibrary/templates/design/activity_feed.html
  tests/e2e/activity-feed.spec.ts
Due: generate-pot, detect-missing-i18n

fix(activity-feed): visual QA pass across all twelve treatments
  docs/ai/subsystems/activity-feed.md
  openlibrary/components/lit/OlSocialFeed.js
Due: none

refactor: replace raw z-index values with semantic tokens (#12363)
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlTooltip.js
  openlibrary/components/lit/OpenLibraryOTP.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.css
Due: none

Add SubjectSearch macro with accessible label for /subjects wiki page
  openlibrary/macros/SubjectSearch.html
Due: generate-pot, detect-missing-i18n

test(a11y): render real components instead of HTML snapshots
  .github/workflows/javascript_tests.yml
  openlibrary/components/__tests__/OlOptionsPopover.a11y.test.js
  openlibrary/components/__tests__/OlPopover.a11y.test.js
  openlibrary/components/__tests__/OlToast.a11y.test.js
  openlibrary/components/__tests__/a11y-helpers.js
  package-lock.json
  package.json
Due: none

test(a11y): keep Jest defaults, widen axe coverage
  eslint.config.cjs
  openlibrary/components/__tests__/OlOptionsPopover.a11y.test.js
  openlibrary/components/__tests__/OlPopover.a11y.test.js
  openlibrary/components/__tests__/OlToast.a11y.test.js
  openlibrary/components/test-utils/a11y.js
  package.json
Due: none

feat(a11y): wire @axe-core/playwright into the e2e suite
  .gitignore
  package-lock.json
  package.json
  tests/e2e/README.md
  tests/e2e/a11y.spec.ts
  tests/e2e/a11y.ts
Due: none

docs(e2e): document --ui and --headed, which are not the same thing
  tests/e2e/README.md
Due: none

feat(core): read-only Matomo client, plus a mock so it is testable offline
  conf/openlibrary.yml
  docker/mockservices/main.py
  docker/mockservices/tests/conftest.py
  docker/mockservices/tests/test_e2e.py
  docker/mockservices/tests/test_matomo_inprocess.py
  openlibrary/core/matomo.py
  openlibrary/tests/core/test_matomo.py
Due: generate-pot

fix(z-index): contain merge table stacking, finish token sweep, add guards
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/dev/serve-component.js
  openlibrary/components/lit/OlSegmentedControl.js
  static/css/tokens/z-index.css
  tests/e2e/z-index.spec.ts
Due: none

fix(pre-commit): stop stylelint failing when every staged file is ignored
  .pre-commit-config.yaml
Due: none

refactor(z-index): contain internal layering with isolation + local tokens
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/lit/OLMarkdownEditor.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlSegmentedControl.js
  static/css/components/carousel--js.css
  static/css/components/illustration.css
  static/css/components/list-follow.css
  static/css/components/list-showcase.css
  static/css/components/mybooks-details.css
  static/css/components/rating-form.css
  static/css/components/search-result-item.css
  static/css/components/work.css
  static/css/tokens/z-index.css
  tests/e2e/z-index.spec.ts
Due: none

refactor(z-index): drop the unused zero tokens
  static/css/tokens/z-index.css
  tests/e2e/z-index.spec.ts
Due: none

fix: resolve missing Matomo events for Book Preview and Search Inside
  openlibrary/plugins/openlibrary/js/dialog.js
Due: none

test(z-index): drop the e2e stacking guards
  tests/e2e/z-index.spec.ts
Due: none

chore: gitignore playwright output dirs
  .gitignore
Due: none

refactor: replace raw z-index values with semantic tokens (#13247)
  .gitignore
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/dev/serve-component.js
  openlibrary/components/lit/OLMarkdownEditor.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/OlTooltip.js
  openlibrary/components/lit/OpenLibraryOTP.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.css
  static/css/components/carousel--js.css
  static/css/components/illustration.css
  static/css/components/list-follow.css
  static/css/components/list-showcase.css
  static/css/components/mybooks-details.css
  static/css/components/rating-form.css
  static/css/components/search-result-item.css
  static/css/components/work.css
  static/css/tokens/z-index.css
Due: none

fix(js): resolve console errors on book, work, author, and search pages
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
Due: none

feat: reading-focused design for curated collections pages
  openlibrary/i18n/messages.pot
  openlibrary/macros/databarView.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/lib/history.html
  openlibrary/templates/type/page/view.html
  static/css/components/collections-page.css
  static/css/components/edit-toolbar--tablet.css
  static/css/components/edit-toolbar.css
  static/css/components/ol-button.css
  static/css/components/page-history.css
  static/css/fonts/literata.css
  static/css/fonts/source-sans-3.css
  static/css/legacy.css
  static/css/page-collections.css
  static/css/tokens/font-families.css
  static/fonts/literata/OFL.txt
  static/fonts/literata/literata-cyrillic-ext.woff2
  static/fonts/literata/literata-cyrillic.woff2
  static/fonts/literata/literata-greek-ext.woff2
  static/fonts/literata/literata-greek.woff2
  static/fonts/literata/literata-latin-ext.woff2
  static/fonts/literata/literata-latin.woff2
  static/fonts/literata/literata-vietnamese.woff2
  static/fonts/source-sans-3/OFL.txt
  static/fonts/source-sans-3/source-sans-3-cyrillic-ext-italic.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic-ext.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic-italic.woff2
  static/fonts/source-sans-3/source-sans-3-cyrillic.woff2
  static/fonts/source-sans-3/source-sans-3-greek-ext-italic.woff2
  static/fonts/source-sans-3/source-sans-3-greek-ext.woff2
  static/fonts/source-sans-3/source-sans-3-greek-italic.woff2
  static/fonts/source-sans-3/source-sans-3-greek.woff2
  static/fonts/source-sans-3/source-sans-3-latin-ext-italic.woff2
  static/fonts/source-sans-3/source-sans-3-latin-ext.woff2
  static/fonts/source-sans-3/source-sans-3-latin-italic.woff2
  static/fonts/source-sans-3/source-sans-3-latin.woff2
  static/fonts/source-sans-3/source-sans-3-vietnamese-italic.woff2
  static/fonts/source-sans-3/source-sans-3-vietnamese.woff2
Due: generate-pot, detect-missing-i18n

Pass org as object to pd_request email template
  openlibrary/accounts/model.py
  openlibrary/plugins/openlibrary/pd.py
Due: generate-pot

fix: harden token-contrast parser and design-system localStorage
  openlibrary/plugins/openlibrary/js/design-system/index.js
  tests/unit/js/token-contrast.test.js
Due: none

fix(collections): keep the reading layout out of book carousels
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  static/css/components/collections-page.css
Due: none

fix(collections): detect collection pages behind /type/i18n_page
  openlibrary/templates/type/page/view.html
Due: generate-pot, detect-missing-i18n

fix(agentic): run PR auto-responder on fork PRs via pull_request_target
  .github/workflows/pr_autoresponder.md
  .github/workflows/pr_autoresponder.yml
Due: none

fix(analytics): report banner dismissals to Matomo, not just Athena
  openlibrary/plugins/openlibrary/js/banner-analytics.js
  tests/e2e/bannerAnalytics.spec.ts
  tests/unit/js/bannerAnalytics.test.js
Due: none

fix(analytics): server-render the Continue tracking attribute; track the resumed path
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_account.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
  openlibrary/templates/account/view.html
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n
