Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Remove work-level metadata_score/usefulness_score in favor of edition scorecards
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Fix missing solr fields causing checks to fail + small scorecard improvements
  openlibrary/edition_scorecard.py
  openlibrary/edition_scorecard.yml
  openlibrary/plugins/upstream/models.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/tests/test_scorecards.py
Due: generate-pot

Detect + surface outdated solr scorecard data
  openlibrary/components/lit/OlScorecard.js
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/types_generator.py
  openlibrary/templates/books/edit/edition.html
Due: generate-pot, detect-missing-i18n

Forward ia metadata when showing scorecard in UI
  openlibrary/plugins/upstream/models.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Small tweaks to OLScoreGauge
  openlibrary/components/lit/OlScorecard.js
Due: none

Make purchase options score also check ASIN
  openlibrary/edition_scorecard.py
  openlibrary/edition_scorecard.yml
  openlibrary/i18n/messages.pot
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
Due: generate-pot

Store normalized scorecard scores in solr
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
Due: generate-pot

Update requirements.txt
  requirements.txt
Due: none

switch bookworm to use amz creators API
  scripts/affiliate_server.py
Due: generate-pot

Store both normalized and absolute usefulness scores in solr
  conf/solr/conf/managed-schema.xml
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
Due: generate-pot

remove work level fields from editions schema
  openlibrary/schemata/edition.schema.json
Due: none

remove work level fields from editions type
  openlibrary/plugins/openlibrary/types/edition.type
Due: none

style(EditionNavBar): add responsive margins around alternatives warning banner
  openlibrary/macros/EditionNavBar.html
  static/css/components/nav-bar.css
Due: generate-pot, detect-missing-i18n

fix(lending): resolve IA provider lookup and user waitlist status in get_lending_state
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

feat: show alternatives banner on unavailable book pages (#12743)
  AGENTS.md
  openlibrary/core/lending.py
  openlibrary/macros/EditionNavBar.html
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/view.html
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/core/test_lending.py
  static/css/base/common.css
  static/css/components/work.css
  static/css/page-book.css
Due: generate-pot, detect-missing-i18n

feat(analytics): track related books carousel discovery and banner clicks
  openlibrary/macros/EditionNavBar.html
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Fix & improve banner analytics tracking and guards
  openlibrary/macros/EditionNavBar.html
  openlibrary/plugins/openlibrary/js/banner-analytics.js
  openlibrary/plugins/openlibrary/js/banner/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/templates/account/view.html
Due: generate-pot, detect-missing-i18n

fix(styles): update related books carousel styles to include lazy-carousel
  static/css/components/work.css
Due: none

refactor: optimize lending state resolution and avoid duplicate network/db calls
  openlibrary/core/lending.py
  openlibrary/macros/EditionNavBar.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/account/view.html
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
Due: generate-pot, detect-missing-i18n

refactor(view.html): update rendering of related works carousel
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

feat(lending): align waitlist precedence with LoanStatus and fix banner tracking attribution
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/tests/core/test_lending.py
  static/css/components/work.css
Due: generate-pot

ci(js): prevent concurrent npm ci race conditions by touching node_modules
  .github/workflows/javascript_tests.yml
Due: none

fix(rebase): restore get_lending_state removal dropped during master rebase conflict resolution
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

remove classification code from Edition classifications belong on Works
  openlibrary/plugins/upstream/models.py
Due: generate-pot

feat: show alternatives banner on unavailable book pages (#12910)
  .github/workflows/javascript_tests.yml
  AGENTS.md
  openlibrary/core/lending.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/EditionNavBar.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/banner-analytics.js
  openlibrary/plugins/openlibrary/js/banner/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/view.html
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
  openlibrary/tests/core/test_lending.py
  static/css/base/common.css
  static/css/components/nav-bar.css
  static/css/page-book.css
Due: generate-pot, detect-missing-i18n

fix(ci): pass Slack channel as a secret, not a with: input
  .github/workflows/notify_slack.yml
  .github/workflows/pm_on_call_notification.yml
Due: none

fix(ci): stop wrapping secrets.channel in toJson()
  .github/workflows/notify_slack.yml
Due: none

fix(ci): pass Slack channel as a secret, not a with: input (#13175)
  .github/workflows/notify_slack.yml
  .github/workflows/pm_on_call_notification.yml
Due: none

fix(rebase): regenerate messages.pot after rebasing onto master
  openlibrary/i18n/messages.pot
Due: none

feat(books): rename Locate button to Check WorldCat and use Check Options for search/carousels
  openlibrary/macros/CheckWorldcat.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  openlibrary/macros/databarWork.html
  openlibrary/templates/books/edition-sort.html
Due: generate-pot, detect-missing-i18n

Improve accessibility of preview and search inside elements
  openlibrary/macros/PreviewSearchInside.html
Due: generate-pot, detect-missing-i18n

fix(rebase): resolve LoanStatus.html conflict and regenerate messages.pot after rebasing onto master
  openlibrary/i18n/messages.pot
Due: none

feat: Migrate Book Preview & Search Inside to ol-dialog
  openlibrary/macros/BookPreview.html
  openlibrary/macros/BookPreviewFloater.html
  openlibrary/macros/BookSearchInside.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/PreviewSearchInside.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/index.html
  static/css/components/buttonCta.css
Due: generate-pot, detect-missing-i18n

chore: increase page-admin.css bundlesize maxSize to 28KB
  bundlesize.config.json
Due: none

feat: Consolidate sidebar buy options into unified Buy dropdown button (closes #12867)
  openlibrary/i18n/messages.pot
  openlibrary/macros/AffiliateLinks.html.jinja
  openlibrary/macros/AffiliateLinksLoadingIndicator.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/databarWork.html
  openlibrary/templates/type/edition/view.html
  static/css/components/read-panel.css
  static/css/components/work.css
Due: generate-pot, detect-missing-i18n

fix(ci): touch node_modules to prevent concurrent npm ci runs and speed up docker builds
  docker/Dockerfile.olbase
Due: none

chore(ci): increase page-admin.css bundlesize maxSize to 28KB
  bundlesize.config.json
Due: none

fix: resolve download record bar overflowing containers globally (#13091)
  static/css/components/page-history.css
Due: none

docs: clarify OlCarousel gesture-tuning comments in plain terms
  openlibrary/components/lit/OlCarousel.js
Due: none

Volume mount `olsystem` in read-only mode in `cron-jobs` service
  compose.production.yaml
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
