Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Update openlibrary/utils/open_syllabus_project.py
  openlibrary/utils/open_syllabus_project.py
Due: generate-pot

enable ruff rule
  pyproject.toml
Due: none

enable ruff rule
  openlibrary/solr/update.py
  scripts/partner_batch_imports.py
Due: generate-pot

Enable Ruff Rule: Remove unneeded occurrences of the global keyword (#10232)
  openlibrary/core/stats.py
  openlibrary/plugins/openlibrary/stats.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/solr/update.py
  openlibrary/utils/open_syllabus_project.py
  pyproject.toml
  scripts/partner_batch_imports.py
  scripts/solr_updater.py
Due: generate-pot

Removed unused functions.
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Update Croatian translation
  openlibrary/i18n/hr/messages.po
Due: none

Fix some small HTML errors
  openlibrary/i18n/hr/messages.po
Due: none

feat: use @contextmanager to keep file open until caller is done
  openlibrary/data/dump.py
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Review changes
  openlibrary/data/dump.py
Due: generate-pot

Update dump.py
  openlibrary/data/dump.py
Due: generate-pot

Add to Want to Read list button enabled for registered users
  openlibrary/components/BarcodeScanner.vue
  openlibrary/components/BarcodeScanner/components/LazyBookCard.vue
  openlibrary/templates/barcodescanner.html
Due: generate-pot, detect-missing-i18n

implement changes(2)
  scripts/partner_batch_imports.py
  scripts/providers/isbndb.py
Due: generate-pot

Refactor seed retrieval to use seed strings from already defined functions
  openlibrary/core/lists/model.py
Due: generate-pot

add read stats in addition to borrows
  openlibrary/plugins/upstream/borrow.py
Due: generate-pot

dont track bots
  openlibrary/plugins/upstream/borrow.py
Due: generate-pot

fix cyclical import
  openlibrary/plugins/upstream/borrow.py
Due: generate-pot

Update openlibrary/core/lists/model.py
  openlibrary/core/lists/model.py
Due: generate-pot

Update code.py
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Increasing solr haproxy maxconn from 10 to 75
  conf/solr/haproxy.cfg
Due: none

Update scripts/calculate_trending_scores_daily.py
  scripts/calculate_trending_scores_daily.py
Due: generate-pot

fix fields
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Fix seed retrieval to use seed strings from already defined fuctions (#10348)
  openlibrary/core/lists/model.py
Due: generate-pot

implemented changes(3)
  openlibrary/plugins/openlibrary/opds.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/solr/test_update.py
  openlibrary/tests/solr/updater/test_work.py
Due: generate-pot

implemented changes (4)
  openlibrary/tests/solr/updater/test_work.py
Due: generate-pot

Implemented changes (1)
  openlibrary/core/bookshelves.py
  openlibrary/core/edits.py
  openlibrary/tests/catalog/test_get_ia.py
Due: generate-pot

move web.ctx check outside of cached function #10318
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Move web.ctx check outside of cached function #10318 (#10353)
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

Partially Implement Unified Read Button Changes
  openlibrary/macros/ReadButton.html
  static/css/components/generic-dropper.less
  static/images/icons/icon_download.png
  static/images/icons/icon_listen.png
  static/images/icons/icon_map.png
  static/images/icons/icon_search.png
Due: generate-pot, detect-missing-i18n

Add Worldcat URL to dropper
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  static/css/components/editions.less
  static/css/components/generic-dropper.less
  static/css/components/read-panel.less
Due: generate-pot, detect-missing-i18n

Add Search Inside
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  static/css/components/generic-dropper.less
Due: generate-pot, detect-missing-i18n

Remove Locate Button
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  static/css/components/editions.less
  static/css/components/generic-dropper.less
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
