Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

use vue recommended sytles
  .eslintrc.json
Due: none

Replace partials handler conditional with factory
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

feat: UX change in Author Page (#9934)
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

Fix Magic Select binding for Editions DataTable (#9888)
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/plugins/openlibrary/js/index.js
  static/css/components/editions.less
Due: none

Read DOI identifier from MARC 024 fields (#10677)
  openlibrary/catalog/marc/parse.py
Due: generate-pot

Access book `title` safely
  openlibrary/templates/books/custom_carousel_card.html
Due: generate-pot, detect-missing-i18n

Add new `QueryCarousel` options to `ListCarousel`
  openlibrary/macros/ListCarousel.html
Due: generate-pot, detect-missing-i18n

Fix author page regression
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

Update index.js
  openlibrary/plugins/openlibrary/js/index.js
Due: none

Update bundlesize.config.json (#10686)
  bundlesize.config.json
Due: none

Cast carousel `limit` to `int`
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

rm unused deploy slack method
  scripts/deployment/deploy.sh
Due: none

author api endpoint 404 returns json
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

enhanced merge record
  openlibrary/components/MergeUI/MergeTable.vue
Due: none

map explorer page
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/map_explorer.html
Due: generate-pot, detect-missing-i18n

random query with hour timestamp
  openlibrary/components/AuthorMap/utils.js
Due: none

Add countries dropdown
  openlibrary/components/AuthorMap.vue
  openlibrary/components/AuthorMap/WorldMap.vue
  openlibrary/components/AuthorMap/WorldMapRaw.vue
  openlibrary/components/dev/serve-component.js
  openlibrary/components/rollupInputCore.js
  package-lock.json
  package.json
  pyproject.toml
Due: none

Autocomplete country selector
  openlibrary/components/AuthorMap/WorldMap.vue
  openlibrary/components/dev/serve-component.js
  openlibrary/components/rollupInputCore.js
Due: none

Fix some countries not selectable
  openlibrary/components/AuthorMap/WorldMap.vue
Due: none

Fix some countries still missing
  openlibrary/components/AuthorMap/WorldMap.vue
Due: none

Update openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

Update openlibrary/templates/account/readinglog_stats.html
  openlibrary/templates/account/readinglog_stats.html
Due: generate-pot, detect-missing-i18n

Prefer non-microfiche scans when multiple exist
  openlibrary/solr/updater/work.py
Due: generate-pot

Add option to filter reading stats by year read (#10679)
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/readinglog_stats.html
Due: generate-pot, detect-missing-i18n

setup playwright framework
  test/.gitignore
  test/package-lock.json
  test/package.json
  test/playwright.config.js
  test/tests-examples/demo-todo-app.spec.js
Due: none

Ensure `pd` cookie set on login
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Update `RelatedWorksCarousel.html` to use lazy-loading QueryCarousels (#10690)
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/carousels_partials.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Update import-bot to not require MARC for ocaids
  scripts/manage-imports.py
Due: generate-pot

Script to bulk load IA batch
  scripts/bulk_load_ia_query.py
Due: generate-pot

Fix pre-commit errors
  scripts/update_stale_ocaid_references.py
Due: generate-pot

fix docs
  scripts/bulk_load_ia_query.py
Due: generate-pot

unpack query into constants
  scripts/bulk_load_ia_query.py
Due: generate-pot

Switch to using itertools.batched
  scripts/bulk_load_ia_query.py
Due: generate-pot

Fix pre-commit errors
  scripts/bulk_load_ia_query.py
Due: generate-pot

Script to bulk load IA batch (#10717)
  scripts/bulk_load_ia_query.py
  scripts/manage-imports.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
