Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix(ile): clear drag state, not just the class, on Clear Selections
  openlibrary/plugins/openlibrary/js/ile/index.js
  tests/unit/js/SelectionManager.test.js
Due: none

Gate the workbench behind an opt-in usergroup while it is vetted
  docs/librarians/librarian-workflows.md
  docs/librarians/workbench-alpha-assessment.md
  openlibrary/core/models.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/librarians.py
  openlibrary/plugins/openlibrary/librarians.py
  openlibrary/templates/lib/nav_head.html
  openlibrary/tests/core/test_models.py
  openlibrary/tests/fastapi/test_auth.py
  openlibrary/tests/fastapi/test_librarians.py
Due: generate-pot, detect-missing-i18n

test(ile): assert the dragend listener is released too
  tests/unit/js/SelectionManager.test.js
Due: none

Search all three affiliate stores by title and author when there is no ISBN (#13661)
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/core/test_vendors.py
Due: generate-pot, detect-missing-i18n

Regenerate messages.pot after merge
  openlibrary/i18n/messages.pot
Due: none

Type the cover size, separating its upper and lower spellings
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
Due: generate-pot

Type the coverstore category as books/authors/works
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
Due: generate-pot

Serve the coverstore from FastAPI instead of web.py
  compose.override.yaml
  docker/ol-covers-start.sh
  openlibrary/coverstore/asgi_app.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/server.py
  openlibrary/coverstore/tests/test_code.py
  openlibrary/coverstore/tests/test_webapp.py
  scripts/coverstore-server
Due: generate-pot

Await the coverstore's outbound HTTP instead of holding a thread
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
  openlibrary/coverstore/utils.py
Due: generate-pot

Run the coverstore's blocking calls on the loop, with fewer workers
  compose.production.yaml
  openlibrary/coverstore/asgi_app.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/utils.py
Due: generate-pot

Restore the coverstore's HEAD and OPTIONS handling
  openlibrary/coverstore/asgi_app.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
Due: generate-pot

Prevent NPE in observations `DELETE` handler (#13705)
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Harden and dedupe the Nearby Books carousel
  openlibrary/core/helpers.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/NearbyBooksLoadingIndicator.html
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/nearby-books.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/type/edition/view.html
  static/css/components/carousel.css
Due: generate-pot, detect-missing-i18n

Send X-Forwarded-Proto to the coverstore so cluster redirects stay https
  docker/covers_nginx.conf
  openlibrary/coverstore/asgi_app.py
  openlibrary/coverstore/tests/test_webapp.py
Due: generate-pot

Add read-only production checks for the coverstore migration
  tests/integration/test_coverstore_prod.py
Due: generate-pot

Only colour carousel headings as links when they link somewhere
  static/css/components/carousel.css
Due: none

Only show readable works in the Nearby Books carousel
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

Always render the Nearby Books placeholder for a work
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Attach availability to Nearby Books cards
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

Keep the archive.org cover redirect cacheable
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
  tests/integration/test_coverstore_prod.py
Due: generate-pot

Inspect the coverstore as a FastAPI worker in olspy
  scripts/monitoring/olspy.sh
  scripts/monitoring/tests/test_olspy_sh.py
Due: generate-pot

Auto-promote high-volume crawlers and API partners out of the `other` bucket (#13673)
  scripts/monitoring/monitor.py
  scripts/monitoring/promotion.py
  scripts/monitoring/tests/sample_unknown_bots_nginx_logs.log
  scripts/monitoring/tests/test_monitor.py
  scripts/monitoring/tests/test_promotion.py
  scripts/monitoring/tests/test_utils_sh.py
  scripts/monitoring/utils.py
  scripts/monitoring/utils.sh
Due: generate-pot

fix(editions-table): filter on every ISBN the record lists
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/tests/test_models.py
  openlibrary/templates/books/edition-sort.html
Due: generate-pot, detect-missing-i18n

Initialize models in test setup method
  openlibrary/plugins/upstream/tests/test_models.py
Due: generate-pot

fix(edit): restrict work reassignment to super librarians and admins
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_addbook.py
  openlibrary/templates/books/edit/edition.html
Due: generate-pot, detect-missing-i18n

fix(edit): pin the work field before process_input, and scope out orphans
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_addbook.py
Due: generate-pot

docs(edit): drop a stale clause from the work-pin comment
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

fix(editions-table): stop repeating the work's title on every edition row
  openlibrary/i18n/messages.pot
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/work/editions_datatable.html
  static/css/components/editions.css
Due: generate-pot, detect-missing-i18n

Merge commit from fork
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Restrict the coverstore's mutating routes to internal IPs
  docker/covers_nginx.conf
  docker/nginx.conf
Due: none

Trim First Edits phase 1 to one list and one wizard
  docs/first-edits/dev-setup.md
  docs/first-edits/plan.md
  openlibrary/first_edits/evidence.py
  openlibrary/first_edits/fixtures.py
  openlibrary/first_edits/fixtures/practice/1-beloved-publisher.json
  openlibrary/first_edits/fixtures/practice/2-ruptured-publisher.json
  openlibrary/first_edits/fixtures/practice/3-gatsby-publisher.json
  openlibrary/first_edits/fixtures/status.json
  openlibrary/first_edits/playbooks.py
  openlibrary/first_edits/practice.py
  openlibrary/first_edits/scope.json
  openlibrary/first_edits/scope.py
  openlibrary/first_edits/tasks.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/templates/contribute/done.html.jinja
  openlibrary/templates/contribute/index.html.jinja
  openlibrary/templates/contribute/mine.html.jinja
  openlibrary/templates/contribute/practice.html.jinja
  openlibrary/templates/contribute/review.html.jinja
  openlibrary/templates/contribute/start.html.jinja
  openlibrary/templates/contribute/task.html.jinja
  openlibrary/tests/first_edits/test_evidence.py
  openlibrary/tests/first_edits/test_practice.py
  static/css/components/contribute.css
Due: generate-pot

Tighten the First Edits list and reword the "why this book" line
  docs/first-edits/dev-setup.md
  docs/first-edits/plan.md
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/templates/contribute/index.html.jinja
  static/css/components/contribute.css
Due: none

Open First Edits to librarians, not just beta testers and admins
  openlibrary/plugins/openlibrary/contribute.py
Due: generate-pot

Add LCCN and OCLC tasks to First Edits
  docs/first-edits/identifiers.md
  docs/first-edits/plan.md
  openlibrary/first_edits/compare.py
  openlibrary/first_edits/fixtures/evidence/9780060935467.json
  openlibrary/first_edits/fixtures/evidence/9780140186390.json
  openlibrary/first_edits/fixtures/evidence/9780226458083.json
  openlibrary/first_edits/fixtures/evidence/9780385474542.json
  openlibrary/first_edits/fixtures/evidence/9780394535975.json
  openlibrary/first_edits/fixtures/evidence/9780674024700.json
  openlibrary/first_edits/fixtures/evidence/9780743273565.json
  openlibrary/first_edits/identifiers.py
  openlibrary/first_edits/playbooks.py
  openlibrary/first_edits/scope.json
  openlibrary/first_edits/scope.py
  openlibrary/first_edits/siblings.py
  openlibrary/first_edits/sources.py
  openlibrary/first_edits/tasks.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/contribute/parts.html.jinja
  openlibrary/plugins/openlibrary/contribute.py
  openlibrary/plugins/openlibrary/js/contribute.js
  openlibrary/templates/contribute/done.html.jinja
  openlibrary/templates/contribute/index.html.jinja
  openlibrary/templates/contribute/task.html.jinja
  openlibrary/tests/first_edits/test_identifiers.py
  openlibrary/utils/oclc.py
  static/css/components/contribute.css
  static/css/page-contribute.css
  static/icons/src/lucide/circle-alert.svg
  static/icons/src/lucide/triangle-alert.svg
Due: generate-pot

Use short form for bnf identifier (#13663)
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

Say what the shelf button's server helpers are for
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/js/lists/list-showcase.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/books/carousel_count.html.jinja
  openlibrary/templates/books/custom_carousel.html.jinja
  openlibrary/templates/books/mobile_carousel.html
  openlibrary/templates/books/mybooks_breadcrumb_select.html
  openlibrary/templates/design/components/shelf-button.html.jinja
  openlibrary/templates/my_books/shelf_button.html.jinja
  openlibrary/templates/trending.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
  tests/e2e/shelf-button.spec.ts
Due: generate-pot, detect-missing-i18n

Hold a shelf button until the reader's state arrives
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/plugins/openlibrary/js/book-state.js
  static/css/components/searchResultItemCta.css
  tests/unit/js/OlShelfButton.test.js
  tests/unit/js/book-state.test.js
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
