Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Add docker troubleshooting entry for npm ENOTEMPTY caused by macOS Docker VMM (beta)
  docker/README.md
Due: none

refactor: route the site layout through Jinja
  openlibrary/admin/utils.py
  openlibrary/core/jinja.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/site.html
  openlibrary/templates/site.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

simplify register_site_layout
  openlibrary/core/jinja.py
Due: generate-pot

Skip fetching a PR's head if its pinned commit is already available locally
  scripts/make-integration-branch.sh
Due: none

Log which fetch path each pinned PR commit took
  scripts/make-integration-branch.sh
Due: none

Add option to begin updates starting from an arbitrary `id`
  scripts/backfill_store_index.py
Due: generate-pot

Update log statement
  scripts/backfill_store_index.py
Due: generate-pot

fix: scan infogami files from worktrees
  openlibrary/utils/template_usage.py
  openlibrary/utils/tests/test_template_usage.py
Due: generate-pot

Prototype: Add Nearby Books carousel Lit component (#13159)
  openlibrary/components/lit/OlNearbyBooks.js
  openlibrary/components/lit/index.js
  openlibrary/core/helpers.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

feat(deploy): add partial deploy option and nginx -t gate after olsystem
  scripts/deployment/deploy.sh
Due: none

fix: simplify infogami fallback to disk union without sentinel
  openlibrary/utils/template_usage.py
  openlibrary/utils/tests/test_template_usage.py
Due: generate-pot

fix: keep normal template scan hermetic
  openlibrary/utils/template_usage.py
Due: generate-pot

Fix template scan in worktrees without submodule metadata (#13533)
  openlibrary/utils/template_usage.py
Due: generate-pot

Skip fetching a PR's head if its pinned commit is already available locally (#13532)
  scripts/make-integration-branch.sh
Due: none

refactor: route the site layout through Jinja
  openlibrary/core/jinja.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/site.html
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/layout.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

refactor: route site layout through Jinja
  openlibrary/templates/site.html
  openlibrary/templates/site/layout.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

simplify site setup
  openlibrary/core/jinja.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/core/test_jinja.py
Due: generate-pot

more accurate name
  openlibrary/core/jinja.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/core/test_jinja.py
Due: generate-pot

refactor: route site layout through Jinja (first shim step) (#13524) (#13529)
  openlibrary/core/jinja.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/site.html
  openlibrary/templates/site.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

refactor: pass request params as args to Author.get_books (#13539)
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

refactor: pass request params as args to 3 pref helpers (#13537)
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/account/ia_thirdparty_logins.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/site/donation_banner.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

fix: only forward provider_pref when non-empty to preserve default mock signature parity
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/code.py
Due: generate-pot

refactor: convert footer templates to Jinja
  openlibrary/core/jinja.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/languages/language_list.html
  openlibrary/templates/languages/language_list.html.jinja
  openlibrary/templates/lib/nav_foot.html
  openlibrary/templates/lib/nav_foot.html.jinja
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/alert.html
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/footer.html.jinja
  openlibrary/templates/site/stats.html
  openlibrary/templates/site/stats.html.jinja
  openlibrary/tests/core/test_jinja.py
Due: generate-pot, detect-missing-i18n

refactor: pass request params as args to is_spam and Recaptcha.validate (#13538)
  openlibrary/plugins/recaptcha/recaptcha.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/spamcheck.py
Due: generate-pot

fix(shelf-actions): keep focus and speak changes for screen readers
  openlibrary/components/lit/OlPopover.js
  openlibrary/components/lit/OlShelfActions.js
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/components/lit/utils/labels.js
  tests/unit/js/OlShelfActions.test.js
  tests/unit/js/OlShelfButton.test.js
Due: none

test(ol-popover): stop asserting the aria-controls that could not resolve
  openlibrary/components/__tests__/OlPopover.a11y.test.js
Due: none

feat(mockservices): support stateful lending lifecycle and availability variants
  compose.override.yaml
  docker/mockservices/main.py
  docker/mockservices/tests/test_e2e.py
Due: generate-pot

Implement error handling for user borrow history query
  docker/mockservices/main.py
Due: generate-pot

fix(fastapi): set encrypted s3 auth cookie on login
  openlibrary/accounts/model.py
  openlibrary/fastapi/account.py
  openlibrary/i18n/messages.pot
  openlibrary/tests/fastapi/test_account.py
Due: generate-pot

fix(fastapi): set encrypted s3 auth cookie on login and mirror deletion on logout
  openlibrary/accounts/model.py
  openlibrary/fastapi/account.py
  openlibrary/tests/fastapi/test_account.py
Due: generate-pot

refactor: Add PublishingHistory.html.jinja
  openlibrary/macros/PublishingHistory.html.jinja
Due: none

refactor: Render SubjectPublishingHistoryPartial via Jinja
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

feat(shelf-actions): one way off Already Read, in the check-in pane
  docs/ai/design.md
  openlibrary/components/lit/OlShelfActions.js
  static/css/components/header-bar.css
  static/icons/src/lucide/ban.svg
  tests/unit/js/OlShelfActions.test.js
Due: none

always use secure cookie
  openlibrary/fastapi/account.py
Due: generate-pot

disable secuire cookie for local dev
  openlibrary/fastapi/account.py
Due: generate-pot

Give the Search Inside band a card and one quoted-passage treatment
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltext.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltextBand.js
  openlibrary/templates/search/search_modal_i18n.html
  static/css/components/fulltext-snippet.css
  static/css/components/search-result-item.css
  static/css/tokens/colors.css
  tests/unit/js/searchModalFulltext.test.js
Due: generate-pot, detect-missing-i18n

Announce the Search Inside band and let its label be its name
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/templates/search/search_modal_i18n.html
  tests/unit/js/searchModalFulltext.test.js
Due: generate-pot, detect-missing-i18n

Add prometheus node-exporter to production servers
  compose.production.yaml
Due: none

Add prometheus node-exporter to staging (ol-dev1)
  compose.staging.yaml
  tests/test_docker_compose.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
