Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

stats: proxy Graphite charts server-side with caching
  openlibrary/core/admin.py
  openlibrary/fastapi/cdn.py
  openlibrary/templates/admin/index.html
Due: generate-pot, detect-missing-i18n

stats: cache Graphite failures and read host from config
  openlibrary/core/admin.py
  openlibrary/fastapi/cdn.py
Due: generate-pot

Serve /stats Graphite charts through a cached server-side proxy (#13840)
  openlibrary/core/admin.py
  openlibrary/fastapi/cdn.py
  openlibrary/templates/admin/index.html
Due: generate-pot, detect-missing-i18n

fix(solr): give the Solr write its own timeout and error handling
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

fix(solr): stamp the loan's event time, not the daemon's clock
  docker/mockservices/main.py
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

fix(solr): clear only marks older than the index's own currency
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
  scripts/solr_updater/tests/test_updater_integration.py
Due: generate-pot

fix(solr): write the updates in batches; one request was timing out
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

docs(solr): cut the daemon's prose from 55% of the file to 44%
  scripts/solr_updater/loan_availability_updater.py
Due: generate-pot

Soften browse-stacks motion and fix review follow-ups
  openlibrary/components/lit/OlBookCover.js
  openlibrary/components/lit/OlTabs.js
  openlibrary/components/lit/OlTooltip.js
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/home_genres.py
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/books/custom_carousel.html.jinja
  static/css/components/browse-stacks.css
  tests/unit/js/lazyCarousel.test.js
Due: generate-pot

fix(solr): AdvancedSearch is the only external call; drop the clear breaker
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

test(solr): prove the cruft reconcile against real Solr
  scripts/solr_updater/tests/test_updater_integration.py
Due: generate-pot

refactor(solr): name things what they are, and cut the comments propping up the old names
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

perf(layout): resolve the current user once per LayoutContext.build()
  openlibrary/core/layout.py
Due: generate-pot

docs(solr): trim the loan availability PR's comments to their durable reasons
  conf/solr/conf/managed-schema.xml
  docker/mockservices/main.py
  docker/mockservices/tests/test_advancedsearch_inprocess.py
  docker/mockservices/tests/test_availability_inprocess.py
  docker/mockservices/tests/test_e2e.py
  docker/ol-solr-updater-start.sh
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
  openlibrary/utils/solr.py
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
  scripts/solr_updater/tests/test_updater_integration.py
Due: generate-pot

fix(jinja): restore implicit num substitution in bare ngettext calls
  openlibrary/core/jinja.py
  openlibrary/tests/core/test_jinja.py
Due: generate-pot

test(solr): drop fixtures left over from the feed-following design
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

refactor(lending): drop get_availability_async's unused drop_errors option
  openlibrary/core/lending.py
  openlibrary/tests/core/test_lending.py
Due: generate-pot

fix(templates): keep whitespace between the dropdown's conditional attributes
  openlibrary/templates/lib/header_dropdown.html.jinja
Due: none

refactor(nav): derive popover ranks from BROWSE_FEATURED_COUNT
  openlibrary/core/layout.py
  openlibrary/templates/lib/browse_popover.html.jinja
  openlibrary/tests/core/test_layout.py
Due: generate-pot

Use Oxfmt for CSS formatting
  .oxfmtrc.json
  .pre-commit-config.yaml
  .stylelintrc.json
  package-lock.json
  package.json
  renovate.json
  static/css/tokens/icon-sizes.css
  static/css/tokens/spacing.css
  static/css/tokens/z-index.css
Due: none

Drop browse-stacks tile counts and tighten the first shelf's load
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/js/browse-stacks.js
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/browse_stacks.html.jinja
  static/css/components/browse-stacks.css
  static/css/components/carousel.css
Due: generate-pot

Fix order-dependent icon stub in genre shelf partial tests
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

feat(search): make ebook_unavailable searchable on works, accepting true/false
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Fix missing lookup-table comment, drop format scripts from package.json
  package.json
  static/css/tokens/spacing.css
Due: none

Track browse-stacks genre-row impressions, closes, rail paging, jump links, errors and load-more
  openlibrary/plugins/openlibrary/js/browse-stacks.js
  openlibrary/plugins/openlibrary/js/carousel/native.js
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/templates/home/genre_shelf.html.jinja
  tests/unit/js/lazyCarousel.test.js
Due: none

Trim browse-stacks comments and drop the unused ol-tabs component
  openlibrary/components/lit/OlBookCover.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlTabs.js
  openlibrary/components/lit/OlTooltip.js
  openlibrary/components/lit/index.js
  openlibrary/fastapi/partials.py
  openlibrary/macros/CarouselSkeleton.html.jinja
  openlibrary/macros/RawQueryCarouselPlaceholder.html.jinja
  openlibrary/plugins/openlibrary/design.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/home_genres.py
  openlibrary/plugins/openlibrary/js/browse-stacks.js
  openlibrary/plugins/openlibrary/js/carousel/native.js
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/books/custom_carousel.html.jinja
  openlibrary/templates/books/custom_carousel_card.html.jinja
  openlibrary/templates/design/components/tabs.html.jinja
  openlibrary/templates/home/browse_stacks.html.jinja
  openlibrary/templates/home/genre_shelf.html.jinja
  scripts/generate_home_genres.py
  static/css/components/browse-stacks.css
  static/css/components/buttonCta.css
  static/css/components/carousel.css
  static/css/components/header-bar.css
  static/css/components/skeleton.css
  static/css/ol-components.css
  static/css/tokens/colors.css
  static/css/tokens/spacing.css
  tests/browser/OlCarousel.browser.test.js
  tests/unit/js/OlTabs.test.js
Due: generate-pot

Expect the jump links' tracking attribute in the genre shelf test
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

Bleed the browse-stacks rail to the page edges and enlarge mobile tiles
  openlibrary/plugins/openlibrary/js/browse-stacks.js
  static/css/components/browse-stacks.css
Due: none

Use Oxfmt for CSS formatting (first step of migration to Oxfmt) (#13842)
  .oxfmtrc.json
  .pre-commit-config.yaml
  .stylelintrc.json
  package-lock.json
  package.json
  renovate.json
  static/css/tokens/icon-sizes.css
  static/css/tokens/spacing.css
  static/css/tokens/z-index.css
Due: none

Drop the Trending shelf's sort and duplicate row heading
  openlibrary/plugins/openlibrary/js/browse-stacks.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/home/browse_stacks.html.jinja
  openlibrary/templates/home/genre_shelf.html.jinja
  static/css/components/browse-stacks.css
Due: generate-pot

refactor: remove jQuery from 5 front-end files
  openlibrary/plugins/openlibrary/js/compact-title/index.js
  openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
  openlibrary/plugins/openlibrary/js/ol.analytics.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/openlibrary/js/readinglog_stats.js
Due: none

refactor(head): convert site head template to Jinja
  openlibrary/core/layout.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/site.html.jinja
  openlibrary/templates/site/head.html
  openlibrary/templates/site/head.html.jinja
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/core/test_layout.py
Due: generate-pot, detect-missing-i18n

refactor(layout): coalesce head extraction into HeadContext.build()
  openlibrary/core/layout.py
  openlibrary/templates/site/head.html.jinja
  openlibrary/tests/core/test_layout.py
Due: generate-pot

document current MARC non-sorting markers in tests
  openlibrary/catalog/marc/tests/test_marc_binary.py
Due: generate-pot

docs: replace dead OPDS and tooling references
  docs/CONTRIBUTING.md
  docs/opds/index.md
  docs/search/priorities.md
Due: none

strip C1 control characters when normalizing titles
  openlibrary/catalog/add_book/match.py
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/catalog/marc/tests/test_marc_binary.py
Due: generate-pot

update docstring
  openlibrary/catalog/add_book/match.py
  openlibrary/catalog/marc/tests/test_marc_binary.py
Due: generate-pot

Migrate FastAPI check-ins to async database
  openlibrary/core/bookshelves_events.py
  openlibrary/fastapi/checkins.py
  openlibrary/tests/core/test_bookshelves_events_async.py
  openlibrary/tests/core/test_db.py
  openlibrary/tests/fastapi/test_checkins.py
Due: generate-pot

Center the cover fan in browse-stacks tiles
  static/css/components/browse-stacks.css
Due: none

perf: cache trending now and align default limit between page and api
  openlibrary/fastapi/internal/api.py
  openlibrary/tests/fastapi/test_trending.py
  openlibrary/tests/views/test_loanstats.py
  openlibrary/views/loanstats.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
