Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Add range validation to is_valid_date for month and day (#12754)
  openlibrary/plugins/upstream/checkins.py
  openlibrary/plugins/upstream/tests/test_checkins.py
Due: generate-pot

Updating the remaining changes
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

build: remove temporary eslint exemptions for legacy JS files
  eslint.config.cjs
Due: none

Remove user-specific series API endpoints ; shouldn't exist
  openlibrary/fastapi/lists.py
Due: generate-pot

Simplify reading-log regression tests
  openlibrary/tests/fastapi/test_public_my_books.py
Due: generate-pot

Remove more unused /people/*/series endpoints
  openlibrary/fastapi/lists.py
Due: generate-pot

Remove tests for removed /people/*/series endpoints
  openlibrary/tests/fastapi/test_list_view_json.py
Due: generate-pot

fix mybooks routing bug (#12781)
  openlibrary/fastapi/lists.py
  openlibrary/tests/fastapi/test_list_view_json.py
  openlibrary/tests/fastapi/test_public_my_books.py
Due: generate-pot

Increase number of fastapi workers
  compose.production.yaml
Due: none

Update default solr10 configs with custom OL rules
  conf/solr/conf/solr10/enumsConfig.xml
  conf/solr/conf/solr10/managed-schema.xml
  conf/solr/conf/solr10/solrconfig.xml
  conf/solr/conf/solr10/wordtypes.txt
Due: none

Update to solr 10
  compose.yaml
  scripts/solr_builder/compose.yaml
Due: none

Disable solr deploys due to solr update
  compose.production.yaml
  scripts/deployment/deploy.sh
Due: none

Rename solr allowUrls param to solr10 syntax
  compose.near-prod.yaml
  compose.production.yaml
Due: none

Log ocaid on record disassociation
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Apply code review feedback
  scripts/deployment/deploy.sh
  scripts/solr_builder/compose.yaml
Due: none

refactor: remove ACS4 dead code from lending, models, borrow (#12525)
  openlibrary/core/lending.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/tests/test_models.py
  openlibrary/templates/books/daisy.html
Due: generate-pot, detect-missing-i18n

chore(docker): derive Debian codename from os-release in monitoring Dockerfile
  scripts/monitoring/Dockerfile
Due: none

chore(docker): upgrade base image from bookworm to trixie (python 3.12.13)
  docker/Dockerfile.olbase
  scripts/monitoring/Dockerfile
Due: none

enable eslint formatting for all remaining files (#12783)
  eslint.config.cjs
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/openlibrary/js/add-book.js
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
Due: none

feat: Add client and server-side A/B testing architecture
  openlibrary/asgi_app.py
  openlibrary/core/experiments.py
  openlibrary/fastapi/middleware/experiments.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/experiments.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/processors.py
  openlibrary/templates/site/head.html
  openlibrary/tests/core/test_experiments.py
Due: generate-pot, detect-missing-i18n

feat: Add URL-based overrides for active experiments in ?experiment_[name]=[group] format
  openlibrary/core/experiments.py
  openlibrary/fastapi/middleware/experiments.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/processors.py
  openlibrary/tests/core/test_experiments.py
Due: generate-pot

Avoid `AttributeError` on add book action (#12733)
  openlibrary/templates/books/check.html
Due: generate-pot, detect-missing-i18n

feat: add authorized_only parameter to A/B testing experiments
  openlibrary/core/experiments.py
  openlibrary/fastapi/middleware/experiments.py
  openlibrary/plugins/openlibrary/processors.py
  openlibrary/tests/core/test_experiments.py
Due: generate-pot

refactor: optimize experiments middleware, filter query overrides, and improve typing
  openlibrary/core/experiments.py
  openlibrary/fastapi/middleware/experiments.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
  openlibrary/tests/core/test_experiments.py
Due: generate-pot

Use trixie everywhere
  docker/Dockerfile.olbase
  scripts/solr_restarter/Dockerfile
Due: none

chore(docker): upgrade base image from bookworm to trixie (python 3.12.13) (#12719)
  docker/Dockerfile.olbase
  scripts/monitoring/Dockerfile
  scripts/solr_restarter/Dockerfile
Due: none

Remove solr_restarter service no longer needed
  compose.production.yaml
  scripts/solr_restarter/Dockerfile
  scripts/solr_restarter/index.js
Due: none

fix: avoid relying on get_many result order in mybooks
  openlibrary/plugins/upstream/mybooks.py
Due: generate-pot

feat: add daily incremental importer for Better World Books via OPDS 2.0 feed
  scripts/bwb_opds_imports.py
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

i18n: localize hardcoded JS strings in check-in and reading log components
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/templates/my_books/check_ins/check_in_prompt.html
  openlibrary/templates/my_books/dropdown_content.html
Due: generate-pot, detect-missing-i18n

Merge commit from fork
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

Apply code review feedback
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
Due: none

refactor: update publication mapping and process feed logic for improved handling of records
  scripts/bwb_opds_imports.py
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

i18n: localize hardcoded JS strings in check-in and reading log components (#12533)
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/templates/my_books/check_ins/check_in_prompt.html
  openlibrary/templates/my_books/dropdown_content.html
Due: generate-pot, detect-missing-i18n

fix: preserve selected edition when moving books between reading shelves
  openlibrary/macros/SearchResultsWork.html
Due: generate-pot, detect-missing-i18n

test: verify edition_id is preserved when moving work between shelves
  openlibrary/tests/core/test_db.py
Due: generate-pot

Apply suggestion from @cdrini
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/my_books/dropper.html
  openlibrary/tests/core/test_db.py
Due: generate-pot, detect-missing-i18n

fix(solr): detect version mismatch at startup and add make check-solr
  Makefile
  docker/ol-local-solr-start.sh
Due: none
