Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

test: simplify mybooks notes coverage
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
Due: generate-pot

refactor: keep layout helpers request-local
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

fix: part 5 #12432 — batch mybooks notes lookups (#13609)
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
Due: generate-pot

refactor: move provider preference into request context
  openlibrary/book_providers.py
  openlibrary/core/lending.py
  openlibrary/fastapi/partials.py
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/utils/request_context.py
Due: generate-pot, detect-missing-i18n

style: minimize provider preference diff
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

refactor: keep provider ordering in existing helper
  openlibrary/book_providers.py
Due: generate-pot

refactor: pass request prefs explicitly (#13537) (#13608)
  openlibrary/book_providers.py
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/js/fulltext-search-suggestion.js
  openlibrary/utils/request_context.py
Due: generate-pot

refactor: pass request params as args to is_spam and Recaptcha (#13538)
  openlibrary/plugins/recaptcha/recaptcha.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/spamcheck.py
Due: generate-pot

Show prices and condition details in the Buy popover (#13643)
  bundlesize.config.json
  openlibrary/core/vendors.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/AffiliateLinks.html.jinja
  openlibrary/plugins/openlibrary/js/affiliate-links.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/tests/core/test_jinja.py
  openlibrary/tests/core/test_vendors.py
  static/css/components/buy-popover.css
Due: generate-pot

fix(lit): restore scroll-lock offset instantly so trays don't jump to top (#13630) (#13632)
  openlibrary/components/lit/utils/scroll-lock.js
  tests/browser/scroll-lock.browser.test.js
Due: none

Drop Android >= 5 from browserslist
  docs/ai/README.md
  package.json
Due: none

Style the Buy button as an ol-button secondary (#13642)
  openlibrary/macros/databarWork.html
  static/css/components/buy-popover.css
Due: generate-pot, detect-missing-i18n

Set real browser floor (Safari 15.4); drop core-js (#13634)
  .babelrc
  docs/ai/README.md
  docs/ai/web-components.md
  eslint.config.cjs
  openlibrary/plugins/openlibrary/js/main.js
  package-lock.json
  package.json
  scripts/vite/build.mjs
Due: none

maxBy: skip null, undefined and NaN keys like lodash
  openlibrary/plugins/openlibrary/js/nonjquery_utils.js
  tests/unit/js/nonjquery_utils.test.js
Due: none

Replace lodash with native JS (#13635)
  openlibrary/components/BarcodeScanner.vue
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/MergeUI/AuthorRoleTable.vue
  openlibrary/components/MergeUI/EditionSnippet.vue
  openlibrary/components/MergeUI/ExcerptsTable.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/utils.js
  openlibrary/components/rollupInputCore.js
  openlibrary/plugins/openlibrary/js/bulk-tagger/BulkTagger.js
  openlibrary/plugins/openlibrary/js/ile/utils/ol.js
  openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
  openlibrary/plugins/openlibrary/js/nonjquery_utils.js
  openlibrary/plugins/openlibrary/js/readinglog_stats.js
  package-lock.json
  package.json
  tests/unit/js/nonjquery_utils.test.js
Due: none

Skip a work's lazy editions backreference when picking the shelf edition
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/tests/test_mybooks.py
Due: generate-pot

Build affiliate stores as one ordered list instead of primary/more
  openlibrary/macros/AffiliateLinks.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/tests/core/test_jinja.py
  openlibrary/utils/tests/test_isbn.py
Due: generate-pot

Note why the affiliate price lookup is gated on an edition key
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Lint css`` literals anywhere under openlibrary/, not just components/lit/
  .pre-commit-config.yaml
  .stylelintrc.json
  docs/ai/css.md
  package.json
Due: none

feat: db-backed read history and unified carousel (Fixes #13256, #13273)
  openlibrary/core/read_history.py
  openlibrary/core/schema.sql
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/books/custom_carousel_card.html.jinja
  openlibrary/tests/fastapi/test_unified_loans_carousel.py
  static/css/components/carousel.css
Due: generate-pot, detect-missing-i18n

Lint z-index in Lit component styles, warn on primitive tokens (#13628)
  .pre-commit-config.yaml
  .stylelintrc.json
  docs/ai/css.md
  package-lock.json
  package.json
Due: none

Build affiliate stores as one ordered list (#13641)
  openlibrary/macros/AffiliateLinks.html.jinja
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/core/test_jinja.py
  openlibrary/utils/tests/test_isbn.py
Due: generate-pot, detect-missing-i18n

Pull overlays back to 12px and give menu rows their own token
  docs/ai/design.md
  openlibrary/components/lit/OlMenuPopover.js
  openlibrary/components/lit/OlOptionsPopover.js
  openlibrary/components/lit/OlSelectPopover.js
  openlibrary/components/lit/OlShelfActions.js
  static/css/components/buy-popover.css
  static/css/components/header-bar.css
  static/css/page-design.css
  static/css/tokens/border-radius.css
Due: none

Drop cards and banners to 8px so they stop matching dialogs
  docs/ai/design.md
  static/css/tokens/border-radius.css
Due: none

Square book covers to 4px and put the home carousel on the token
  static/css/components/book.css
  static/css/tokens/border-radius.css
Due: none

Search all three affiliate stores by title and author when there is no ISBN
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/core/test_vendors.py
Due: generate-pot, detect-missing-i18n

Drop ol-web1 from the deploy/restart server lists
  scripts/deployment/deploy.sh
  scripts/deployment/restart_servers.sh
Due: none

use short form for bnf identifier
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

Drop ol-web1 from the remaining deployment/debug host lists
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/patch_test_new_memcache_server.sh
  scripts/deployment/patchdeploy.sh
  scripts/deployment/pre_deploy.sh
  scripts/get_web_error.py
Due: generate-pot

Drop ol-web1 from the deploy/restart server lists (#13662)
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/deploy.sh
  scripts/deployment/patch_test_new_memcache_server.sh
  scripts/deployment/patchdeploy.sh
  scripts/deployment/pre_deploy.sh
  scripts/deployment/restart_servers.sh
  scripts/get_web_error.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/config/edition/identifiers.yml
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

refactor(search): one OPDS2 acquisitions field, via the scheme's own mechanism
  openlibrary/core/acquisitions.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/core/test_acquisitions_weave.py
Due: generate-pot

add BnF id notes to avoid further confusion on the exact form
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Due: none

Put the filled CTA on the ol-button primary look
  static/css/components/buttonCta.css
  static/css/components/generic-dropper.css
  static/css/components/list-follow.css
Due: none

Rest the neutral controls on a warm fill instead of white
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OLChip.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/components/lit/OlToggle.js
  static/css/components/header-bar.css
  static/css/components/ol-button.css
  static/css/tokens/colors.css
Due: none

Give raised neutral controls their own border token
  openlibrary/components/lit/OLButton.js
  openlibrary/components/lit/OLChip.js
  openlibrary/components/lit/OlCarousel.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/OlShelfButton.js
  openlibrary/components/lit/OlToggle.js
  static/css/components/ol-button.css
  static/css/tokens/colors.css
Due: none

Fix #13474: Name conflicted PR on Testing Environment red-dot hover
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/macros/TestingEnvironment.html.jinja
Due: none

Fix error message formatting in utils.js
  openlibrary/components/TestingEnvironment/utils.js
Due: none

Refactor Nearby Books to Python helper & RawQueryCarousel with strict Solr DDC bounds (#13159)
  openlibrary/components/lit/OlNearbyBooks.js
  openlibrary/components/lit/index.js
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/tests/test_code.py
  openlibrary/templates/type/edition/view.html
  openlibrary/utils/ddc.py
  openlibrary/utils/tests/test_ddc.py
Due: generate-pot, detect-missing-i18n

refactor: rebuild the My Book Notes modal on ol-dialog
  openlibrary/i18n/messages.pot
  openlibrary/macros/NotesModal.html
  openlibrary/macros/NotesModalDialog.html
  openlibrary/plugins/openlibrary/js/main.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/type/edition/modal_links.html
  openlibrary/templates/type/edition/notes_modal_i18n.html
  static/css/components/metadata-form.css
  tests/unit/js/notesModalStrings.test.js
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
