Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Switch solr_builder to use docker hub image
  scripts/solr_builder/Dockerfile
  scripts/solr_builder/Jenkinsfile
Due: none

Fixes for cleanup before solr_builder jenkins run
  scripts/solr_builder/Jenkinsfile
Due: none

Add PIP_INDEX_URL option to solr_builder
  scripts/solr_builder/Dockerfile.olpython
  scripts/solr_builder/Jenkinsfile
Due: none

Manually pull openlibrary/olbase:latest in solr_builder
  scripts/solr_builder/Jenkinsfile
Due: none

Add HTTPS_PROXY to jenkins solr_builder
  scripts/solr_builder/Dockerfile.olpython
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/compose.yaml
Due: none

Copy solr configs from prod
  compose.production.yaml
Due: none

Add WIP deploy-solr-next script
  scripts/solr_builder/deploy-solr-next.sh
Due: none

Split up/re-organize solr deploy scripts
  scripts/deployment/deploy.sh
  scripts/solr_builder/deploy-solr-next.sh
  scripts/solr_builder/dump-solr.sh
  scripts/solr_builder/restore-solr.sh
  scripts/solr_builder/utils.sh
Due: none

feat: lots tidying things up and some nice CSS
  openlibrary/plugins/openlibrary/js/goodreads_import.js
  openlibrary/templates/account/import.html
  static/css/page-user.less
Due: generate-pot, detect-missing-i18n

script: seed database with some extra works - open to extension
  scripts/dev-instance/seeddb.sh
Due: none

script: change directory
  scripts/seeddb.sh
Due: none

feat: skip over unchecked books
  openlibrary/plugins/openlibrary/js/goodreads_import.js
Due: none

feat: extend BE endpoint to take in edition IDs, tweak FE to send edition IDs
  openlibrary/core/bookshelves.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/goodreads_import.js
Due: generate-pot

Lazy-load book page "Lists" section
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Lazy-load book page "Lists" section (#10654)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

Ensure OLID exists before fetching book data
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Ensure OLID exists before fetching book data (#10657)
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Access book `title` safely
  openlibrary/templates/books/custom_carousel_card.html
Due: generate-pot, detect-missing-i18n

Add `sorts` to MIT Press carousel
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

feat: automated tests
  openlibrary/core/bookshelves.py
  openlibrary/tests/core/test_batch.py
Due: generate-pot

chore: rename test file for bookshelve batch endpoint
  openlibrary/tests/core/test_bookshelves_batch_add.py
Due: generate-pot

chore: linting
  openlibrary/plugins/openlibrary/js/goodreads_import.js
Due: none

chore llinting part 2
  openlibrary/core/bookshelves.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

chore: cleaning up
  .vscode/launch.json
  compose.override.yaml
  compose.yaml
  openlibrary/i18n/messages.pot
Due: none

chore: clean up pre-commit nonsense
  openlibrary/i18n/messages.pot
  openlibrary/tests/core/test_bookshelves_batch_add.py
Due: generate-pot

chore: linting makes me crazy
  openlibrary/core/bookshelves.py
  openlibrary/i18n/messages.pot
Due: generate-pot

Fix solr_restarter build + fix solr deploy bugs
  compose.production.yaml
  scripts/solr_builder/deploy-solr-next.sh
  scripts/solr_builder/restore-solr.sh
  scripts/solr_restarter/Dockerfile
  scripts/solr_restarter/index.js
Due: none

refactor(interstitial): Remove inline JavaScript from cancel button
  openlibrary/templates/interstitial.html
Due: generate-pot, detect-missing-i18n

feat(interstitial): Implement delegated event handling
  openlibrary/plugins/openlibrary/js/interstitial.js
Due: none

adds filter by year dropdown to already read stats
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/readinglog_stats.html
  openlibrary/templates/books/stats_year_breadcrumb_select.html
Due: generate-pot, detect-missing-i18n

fixed formatting on this file that blocked previous PR
  openlibrary/i18n/messages.pot
Due: none

Update openlibrary/macros/StarRatingsByline.html
  openlibrary/macros/StarRatingsByline.html
Due: generate-pot, detect-missing-i18n

Update interstitial.html
  openlibrary/templates/interstitial.html
Due: generate-pot, detect-missing-i18n

Update openlibrary/plugins/openlibrary/js/interstitial.js
  openlibrary/plugins/openlibrary/js/interstitial.js
Due: none

Update interstitial.js
  openlibrary/plugins/openlibrary/js/interstitial.js
Due: none

Optionally hide loading indicator initially
  openlibrary/macros/LoadingIndicator.html
Due: generate-pot, detect-missing-i18n

#183 - show wikipedia style visible notification on pages when Redirect has occured
  compose.yaml
  openlibrary/data/__init__.py
  openlibrary/data/db.py
  openlibrary/data/dump.py
  openlibrary/data/mapreduce.py
  openlibrary/data/sitemap.py
  openlibrary/openlibrary_data_process.py
  openlibrary/openlibrary_data_process_chunked.py
  openlibrary/templates/type/author/view.html
  static/css/.redirect-banner.css
Due: generate-pot, detect-missing-i18n
