Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

feat(config): override infobase_server via INFOBASE_SERVER_OVERRIDE env var
  compose.production.yaml
  openlibrary/config.py
  openlibrary/tests/test_config.py
Due: generate-pot

Percent encode whitespace in `mailto` hrefs
  openlibrary/templates/account.html
  openlibrary/templates/lib/nav_foot.html
Due: generate-pot, detect-missing-i18n

Re-add missing likes import for route registration
  openlibrary/plugins/upstream/code.py
Due: generate-pot

fix(subjects): key the unavailable check off work_count, not error
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_subjects.py
Due: generate-pot

Delete openlibrary/tests/test_config.py
  openlibrary/tests/test_config.py
Due: generate-pot

fix(config): route INFOBASE_SERVER_OVERRIDE through infobase_nginx, not infobase
  compose.production.yaml
  openlibrary/config.py
Due: generate-pot

fix(config): apply INFOBASE_SERVER_OVERRIDE in the two cron paths that bypass load_config
  openlibrary/admin/stats.py
  openlibrary/asgi_app.py
  openlibrary/config.py
  scripts/openlibrary-server
Due: generate-pot

Use docker compose extra_hosts to work around ol-home0 issues
  compose.production.yaml
Due: none

fix(docker): use \${PIP_INDEX_URL:-} to guard against set -u in ol-install-missing-deps.sh
  docker/ol-install-missing-deps.sh
Due: none

feat(explore): add genre explorer UI (nav, filters, single bookcase)
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BooksCarousel.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/GenreFilterBar.vue
  openlibrary/components/LibraryExplorer/components/GenreTopNav.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/LibraryExplorer/utils.js
  openlibrary/components/vite.config.mjs
  openlibrary/i18n/messages.pot
Due: none

test(explore): add Playwright e2e coverage for genre explorer
  .gitignore
  tests/e2e/genre-explorer.spec.ts
Due: none

feat(explore): add /explore/genres route
  openlibrary/plugins/upstream/code.py
Due: generate-pot

feat(explore): add genre/subgenre classification data and generator
  openlibrary/components/LibraryExplorer/genre.json
  scripts/generate_genre_classification.py
Due: generate-pot

feat(explore): genre-mode scroll-snap and horizontal genre switch
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

feat(home): add browse-by-genre carousel
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/home/genres.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

style(explore): give genre shelves a skeuomorphic wooden ledge
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

fix(explore): stop browser swipe-nav hijacking horizontal genre switch
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

style(explore): enrich genre bookcase — recessed cubbies, wood grain, depth
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

style(explore): redesign genre explorer as a light, elegant bookcase
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/GenreTopNav.vue
Due: none

Add genre reference property to /type/tag schema
  openlibrary/plugins/openlibrary/types/tag.type
Due: none

style(explore): seat books, wooden signage titles, skeleton loading, softer chrome
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
Due: none

test(explore): add genre explorer look & feel diagnostics
  tests/e2e/genre-explorer-diagnostics.spec.ts
Due: none

feat(imports): add tbp_feed_registry table and FeedRegistry interface
  openlibrary/core/schema.sql
  openlibrary/core/tbp.py
  openlibrary/tests/core/test_tbp.py
Due: generate-pot

test(imports): verify BWB OPDS ingestion is idempotent across runs
  scripts/tests/opds_sample.json
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

feat(imports): wire BWB acquisitions into the acquisitions table
  scripts/bwb_opds_imports.py
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

style(explore): engraved-wood section signs; keep cover skeleton off loaded books
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

feat(imports): add POST /api/import/feeds/register endpoint
  openlibrary/core/tbp.py
  openlibrary/plugins/importapi/code.py
  openlibrary/tests/core/test_tbp.py
Due: generate-pot

feat(imports): make FeedRegistry cursor the source of truth for BWB
  scripts/bwb_opds_imports.py
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

feat(imports): stage BWB acquisitions for resolved editions + post-import hook
  scripts/bwb_opds_imports.py
  scripts/tests/test_bwb_opds_imports.py
Due: generate-pot

feat(mockservices): add synthetic Better World Books OPDS feed
  docker/mockservices/main.py
  docker/mockservices/tests/test_e2e.py
Due: generate-pot

style(explore): oak bookcase — wood back panel, chalkboard shelf labels, dark nav; skeleton clears on load
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/GenreTopNav.vue
  tests/e2e/genre-explorer-diagnostics.spec.ts
Due: none

style(explore): wood per-shelf (scrolls), controls out of the case, label on baseboard
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  tests/e2e/genre-explorer-diagnostics.spec.ts
Due: none

feat(explore): lift book covers off the shelf on hover (raise, scale, glow, z-front)
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

test: add tests for Bookdash import scraper
  scripts/tests/test_import_bookdash.py
Due: generate-pot

fix(explore): drop BooksCarousel min-height:90% in genre mode so cover hover-lift works
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

style(explore): give covers subtle real-book depth — page fore-edge, studio sheen, layered shadow
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
Due: none

Rename Readme.md to Readme.mdeng
  Readme.mdeng
Due: none

Removing dummy provider.
  compose.override.yaml
Due: none

feat: add statsd and matomo tracking for signup and activation funnel
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/verify.html
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Fix issue #13202: Handle URLs with parentheses in markdown links and autolinks
  openlibrary/core/olmarkdown.py
  openlibrary/tests/core/test_olmarkdown.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
