Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Add OBFI_LOG_DIR env var
  scripts/obfi.sh
Due: none

Small tweaks/fixes to trending-updater
  scripts/obfi.sh
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Add --dry-run options to all trending_updater scripts
  scripts/solr_updater/trending_updater_daily.py
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

Add solr_updater --no-trending-updater flag
  scripts/solr_updater/solr_updater.py
Due: generate-pot

Fix obfi_range at file boundaries
  scripts/obfi.sh
Due: none

Mount www0_1 to solr-next-updater
  compose.production.yaml
Due: none

Small tweaks
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Add trending_update_init start timestamp option
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

[trending] handle nginx log outages
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

Fix obfi_find_log edge case when one day before access.log
  scripts/obfi.sh
Due: none

[obfi] Fix obfi_range lexicographically comparing bug + fix obfi_find_log edge cases
  scripts/obfi.sh
Due: none

[obfi] Make obfi_previous_minute faster with tac
  scripts/obfi.sh
Due: none

[trending] fix trending init start/edge cases
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

[trending] fix trending init stopping too early
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

[obfi] Update docs
  scripts/obfi.sh
Due: none

[obfi] Fix erroring in non-docker environments
  scripts/obfi.sh
Due: none

Add some tests
  scripts/monitoring/utils.py
  scripts/solr_updater/tests/test_trending_updater_init.py
  scripts/tests/sample_nginx_access.log
  scripts/tests/test_obfi_sh.py
Due: generate-pot

[trending] fix obfi_range bugs + add method to apply after greps for better perf
  scripts/obfi.sh
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

[trending] better handle errors + handle VERY outlier spam spikes in z-score calc
  scripts/obfi.sh
  scripts/solr_updater/tests/test_trending_updater_hourly.py
  scripts/solr_updater/trending_updater_hourly.py
Due: generate-pot

[trending] add trending offset file to make more hands-off
  compose.production.yaml
  compose.yaml
  docker/ol-solr-updater-start.sh
  scripts/solr_updater/solr_updater.py
Due: generate-pot

[trending] add some more logs
  scripts/solr_updater/solr_updater.py
Due: generate-pot

[trending] move trending updater to separate file to avoid blocking solr updater during init
  compose.override.yaml
  compose.production.yaml
  compose.yaml
  docker/ol-solr-updater-start.sh
  scripts/solr_updater/solr_updater.py
  scripts/solr_updater/trending_updater.py
  scripts/solr_updater/trending_updater_init.py
Due: generate-pot

Make solr-next configurable via environment variables
  compose.override.yaml
  compose.production.yaml
  docker/ol-solr-updater-start.sh
  openlibrary/solr/utils.py
  scripts/solr_updater/solr_updater.py
  scripts/solr_updater/trending_updater.py
Due: generate-pot

Extract check-in component classes
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadDateComponents.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
Due: none

Rename file
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
Due: none

Remove HTML comment from "My Books" template (#10957)
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/mybooks.html
Due: generate-pot, detect-missing-i18n

Choose `ia_email` over `ol_email` as email source
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Replace `$.ajax` calls with `fetch`
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
Due: none

Initialize modals using `dialog.js` module
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
  openlibrary/templates/my_books/check_ins/check_in_prompt.html
Due: generate-pot, detect-missing-i18n

Fix merge table sorting sometimes inconsistent
  openlibrary/components/MergeUI/MergeTable.vue
Due: none

Fix MergeUI erroring on malformatted author record
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/utils.js
Due: none

Set edition key input in form
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
  openlibrary/templates/my_books/check_ins/check_in_form.html
Due: generate-pot, detect-missing-i18n

Update unit tests for check-in form
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
  tests/unit/js/checkIn.test.js
  tests/unit/js/html-test-data.js
  tests/unit/js/my-books.test.js
  tests/unit/js/sample-html/checkIns-test-data.js
Due: none

[solr-updater] add sentry reporting
  openlibrary/coverstore/server.py
  openlibrary/plugins/openlibrary/sentry.py
  openlibrary/utils/sentry.py
  scripts/infobase-server
  scripts/oldump.py
  scripts/solr_updater/solr_updater.py
  scripts/solr_updater/trending_updater.py
Due: generate-pot

Update openlibrary/templates/covers/external_image.html
  openlibrary/templates/covers/external_image.html
Due: generate-pot, detect-missing-i18n

Add `--batches` option
  scripts/migrations/delete_merge_debug.py
Due: generate-pot

refactor css for cleaner experience, including no-js
  openlibrary/plugins/openlibrary/js/loading-gradient.js
  openlibrary/templates/books/custom_carousel_card.html
  openlibrary/templates/site/head.html
  static/css/base/common.less
  static/css/components/carousel.less
Due: generate-pot, detect-missing-i18n

add color transparent
  static/css/base/common.less
Due: none

remove extra spacing
  static/css/components/carousel.less
Due: none

clearer function names
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
