Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Update deprecated method
  scripts/expire_accounts.py
Due: generate-pot

Removed the entire unused tests/core/conftest.py file
  openlibrary/tests/core/conftest.py
Due: generate-pot

Revert "Removed the entire unused tests/core/conftest.py file"
  openlibrary/tests/core/conftest.py
Due: generate-pot

Require `tag_description`
  openlibrary/plugins/upstream/addtag.py
  openlibrary/templates/type/tag/tag_form_inputs.html
Due: generate-pot, detect-missing-i18n

Set up `requests` for partner imports
  scripts/partner_batch_imports.py
Due: generate-pot

Removed the Expires header and not hits conditions
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Update messages.po
  openlibrary/i18n/as/messages.po
Due: none

Fixed arrow alignment
  static/css/components/nav-bar.less
Due: none

Use mock data for homepage charts to reduce initial loading time
  openlibrary/core/admin.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/js/graphs/plot.js
Due: generate-pot

import linter requires newline
  scripts/expire_accounts.py
Due: generate-pot

break imports into separate lines?
  scripts/expire_accounts.py
Due: generate-pot

enable fix flag for ruff precommit
  .pre-commit-config.yaml
Due: none

sort the imports from __all__
  openlibrary/core/cache.py
  openlibrary/core/formats.py
  openlibrary/coverstore/coverlib.py
  openlibrary/coverstore/oldb.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/utils/schema.py
Due: generate-pot

fix ruff SIM910 by fixing kwargs get
  scripts/manage-imports.py
Due: generate-pot

fix ruff chained operators RUF021
  openlibrary/core/processors/invalidation.py
  openlibrary/coverstore/db.py
  openlibrary/data/db.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/plugins/upstream/spamcheck.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/dateutil.py
  openlibrary/utils/isbn.py
Due: generate-pot

added explicit caching headers for successful responses
  openlibrary/plugins/inside/code.py
Due: generate-pot

Removed JSON based caching and added caching for partially rendered HTML
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

Changed some code structure
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

supposedly caps before lowercase
  scripts/expire_accounts.py
Due: generate-pot

Update deprecated method in `expire_accounts.py` (#10173)
  scripts/expire_accounts.py
Due: generate-pot

Fixed some grammar, added some translations
  openlibrary/i18n/cs/messages.po
Due: none

upgrade vue-muliselect
  package-lock.json
  package.json
Due: none

Remove unnecessary changes
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/openlibrary/code.py
Due: generate-pot

#10181 Fix imports with ruff --fix
  pyproject.toml
  scripts/expire_accounts.py
Due: generate-pot

Updated Sardinian translation (#10171)
  openlibrary/i18n/sc/messages.po
Due: none

update ruff and mypy precommit hook versions
  .pre-commit-config.yaml
Due: none

fix sorting __all__
  openlibrary/core/helpers.py
  openlibrary/data/db.py
Due: generate-pot

fix PLC0206
  openlibrary/accounts/model.py
  openlibrary/solr/types_generator.py
Due: generate-pot

Various fixes to deploy scripts (#10140)
  scripts/deployment/deploy.sh
  scripts/deployment/restart_servers.sh
Due: none

Fix: Persist Book IDs Across Add Book Dialogs for Regular Users
  openlibrary/templates/books/add.html
Due: generate-pot, detect-missing-i18n

Update messages.po with changes in commenting format and added a few more i18n 's
  openlibrary/i18n/as/messages.po
Due: none

Fix: Remove redundant 'Feedback' button from review_component.html (#10197)
  openlibrary/templates/observations/review_component.html
Due: generate-pot, detect-missing-i18n

#10196 Removed redundant # noqa comments
  scripts/coverstore-server
  scripts/i18n-messages
  scripts/infobase-server
  scripts/openlibrary-server
  scripts/upstream-adapter
Due: none

Added styling to the arrow and fixed clipping issue
  static/css/components/nav-bar.less
Due: none

Fixed color and z-index values
  static/css/components/nav-bar.less
Due: none

Fixed#10197: Removed redundant 'Feedback' button (#10198)
  openlibrary/i18n/messages.pot
  openlibrary/templates/observations/review_component.html
Due: generate-pot, detect-missing-i18n

add alt tag for patron's profile img
  openlibrary/macros/StarRatingsStats.html
Due: generate-pot, detect-missing-i18n

IA toolbar overflows/wraps on mobile #10063
  openlibrary/templates/site/alert.html
  static/css/components/iaBar.less
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
