Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Validate OL_DEPLOYMENT_NAME and isolate web.ctx in env tests
  openlibrary/core/env.py
  openlibrary/tests/core/test_env.py
Due: generate-pot

Fix deployment name detection at startup (#13515)
  compose.production.yaml
  compose.staging.yaml
  openlibrary/core/env.py
  openlibrary/tests/core/test_env.py
  tests/test_docker_compose.py
Due: generate-pot

Make FastAPI the primary entry point on the testing deployment
  compose.staging.yaml
  openlibrary/asgi_app.py
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/plugins/openlibrary/js/search-modal/searchFacets.js
  tests/test_docker_compose.py
  tests/unit/js/searchFacets.test.js
  tests/unit/js/testing-status.test.js
Due: generate-pot

Feed Registry & Acquisitions — v1 (acquisitions in OL + bookworm service) (#12844)
  openlibrary/bookworm/__init__.py
  openlibrary/bookworm/harvest.py
  openlibrary/bookworm/opds.py
  openlibrary/bookworm/registry.py
  openlibrary/bookworm/tests/__init__.py
  openlibrary/bookworm/tests/samples/bwb.json
  openlibrary/bookworm/tests/samples/gutenberg.json
  openlibrary/bookworm/tests/samples/lenny.json
  openlibrary/bookworm/tests/test_harvest.py
  openlibrary/bookworm/tests/test_opds.py
  openlibrary/bookworm/tests/test_registry.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book_acquisitions.py
  openlibrary/core/schema.sql
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/import_validator.py
  openlibrary/plugins/importapi/tests/test_import_validator.py
  openlibrary/schemata/import.schema.json
  scripts/bookworm_harvest.py
Due: generate-pot

feat: Add direct profile picture upload and removal via FastAPI endpoint
  openlibrary/core/models.py
  openlibrary/fastapi/account.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/user/edit.html
  openlibrary/tests/fastapi/test_account.py
Due: generate-pot, detect-missing-i18n

refactor(account): Modularize avatar endpoints, standardize S3 keys, and add proxy deprecation note
  openlibrary/accounts/model.py
  openlibrary/fastapi/account.py
Due: generate-pot

refactor(avatar): Extract inline script to avatar.js module with i18n support and CSS styling
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/avatar.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/type/user/avatar_i18n.html
  openlibrary/templates/type/user/edit.html
  static/css/components/avatar--js.css
  tests/unit/js/avatar.test.js
Due: generate-pot, detect-missing-i18n

Track fulltext band reach and settle outcomes at the modal exits
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltextBand.js
  tests/unit/js/searchModalTracking.test.js
Due: none

feat(core): read-only Matomo client, plus a mock so it is testable offline
  conf/openlibrary.yml
  docker/mockservices/main.py
  docker/mockservices/tests/conftest.py
  docker/mockservices/tests/test_e2e.py
  docker/mockservices/tests/test_matomo_inprocess.py
  openlibrary/core/matomo.py
  openlibrary/tests/core/test_matomo.py
Due: generate-pot

docs(conf): point matomo_api at the module that reads it
  conf/openlibrary.yml
Due: none

refactor(core): address adversarial review of the Matomo client
  conf/openlibrary.yml
  docker/mockservices/main.py
  docker/mockservices/tests/test_e2e.py
  docker/mockservices/tests/test_matomo_inprocess.py
  openlibrary/core/matomo.py
  openlibrary/tests/core/test_matomo.py
Due: generate-pot

Stop /search/inside narrowing sticky filters, drop stale fulltext counts
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/SearchFilterBar.js
  openlibrary/plugins/openlibrary/js/search-modal/SearchModal.js
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/plugins/openlibrary/js/search-modal/fulltextBand.js
  openlibrary/templates/search/search_modal_i18n.html
  static/css/legacy.css
  tests/unit/js/searchFilterBar.test.js
  tests/unit/js/searchModalFulltext.test.js
Due: generate-pot, detect-missing-i18n

Bump the all.js budget to 157.5KB for the search modal's band
  bundlesize.config.json
Due: none

perf(lending): avoid duplicate loan fetch in account_loans.GET
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/models.py
Due: generate-pot

remove docker compose test
  tests/test_docker_compose.py
Due: generate-pot

Fix proxy redirect Location rewrite for https (testing) deployments
  openlibrary/fastapi/proxy.py
  openlibrary/tests/fastapi/test_proxy.py
Due: generate-pot

Rewrite proxied redirects via URL rebasing instead of substring replace
  openlibrary/fastapi/proxy.py
  openlibrary/tests/fastapi/test_proxy.py
Due: generate-pot

Style Log In and Sign Up as ol-button ghost and primary
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar.css
Due: generate-pot, detect-missing-i18n

Match the auth links' type to the nav items
  static/css/components/header-bar.css
Due: none

Make FastAPI the primary entry point on the testing deployment (#13516)
  compose.staging.yaml
  openlibrary/asgi_app.py
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/fastapi/proxy.py
  openlibrary/plugins/openlibrary/js/search-modal/searchFacets.js
  openlibrary/tests/fastapi/test_proxy.py
  tests/unit/js/searchFacets.test.js
  tests/unit/js/testing-status.test.js
Due: generate-pot

Step the large control height down to 36px
  static/css/tokens/control-heights.css
Due: none

Align the header nav items and drop the dead dropdown CSS
  static/css/components/header-bar--desktop.css
  static/css/components/header-bar--tablet.css
  static/css/components/header-bar.css
Due: none

Fix doubled /static/ urls in CSS emitted from the Vite JS build
  scripts/js-build-parity.sh
  vite-asset-urls.mjs
  vite-js-iife.config.mjs
  vite-js.config.mjs
Due: none

fix(lending): handle empty availability in sync_loan
  openlibrary/core/lending.py
Due: generate-pot

Add shebang to `store_index` backfill script
  scripts/backfill_store_index.py
Due: generate-pot

Delete docs/ai/jquery-usage.md
  docs/ai/jquery-usage.md
Due: none

refactor(js): lint Vite JS configs, drop stray webpackChunkName comments, link CSS-url follow-up
  eslint.config.cjs
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/subjects.js
  vite-asset-urls.mjs
Due: none

Use faster query to find upper bound of IDs
  scripts/backfill_store_index.py
Due: generate-pot

Make FastAPI the primary entry point in production
  compose.production.yaml
  openlibrary/asgi_app.py
Due: generate-pot

fix(agentic): run PR auto-responder on fork PRs via pull_request_target
  .github/workflows/pr_autoresponder.md
  .github/workflows/pr_autoresponder.yml
Due: none

Stub web.py proxy in FastAPI tests
  openlibrary/tests/fastapi/conftest.py
  openlibrary/tests/fastapi/test_cdn.py
  openlibrary/tests/fastapi/test_hide_banner.py
  openlibrary/tests/fastapi/test_qrcode.py
Due: generate-pot

Show who started the last testing deploy on the /status page (#13472)
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/unit/js/testing-status.test.js
Due: generate-pot

Drop the ol-carousel columns attribute
  openlibrary/components/lit/OlCarousel.js
  tests/unit/js/OlCarousel.test.js
Due: none

Fold ol-carousel's item-to-page arithmetic into one helper
  openlibrary/components/lit/OlCarousel.js
Due: none

Name ol-carousel's scroll container for screen readers
  openlibrary/components/lit/OlCarousel.js
  tests/unit/js/OlCarousel.test.js
Due: none

Make the design page's focusable carousel demo real links
  openlibrary/templates/design/components/carousel.html.jinja
  static/css/page-design.css
  tests/e2e/ol-carousel.spec.ts
Due: none

fix(avatar): invalidate memcache on upload/delete and fix EXIF orientation
  openlibrary/core/models.py
  openlibrary/fastapi/account.py
  openlibrary/plugins/openlibrary/js/avatar.js
  openlibrary/tests/fastapi/test_account.py
Due: generate-pot

Drop the focusable-card carousel demo
  openlibrary/templates/design/components/carousel.html.jinja
  static/css/page-design.css
  tests/e2e/ol-carousel.spec.ts
Due: none

Update openlibrary/plugins/openlibrary/js/ol.analytics.js
  openlibrary/plugins/openlibrary/js/ol.analytics.js
Due: none

fix(avatar): resolve S3 keys on FastAPI, really delete from IA, and make dev mock honest
  openlibrary/accounts/model.py
  openlibrary/fastapi/account.py
  openlibrary/tests/accounts/test_models.py
  openlibrary/tests/fastapi/test_account.py
  tests/unit/js/avatar.test.js
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
