Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

small fix
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

fix
  openlibrary/macros/RawQueryCarousel.html
Due: generate-pot, detect-missing-i18n

Add reading log documentation
  docs/ai/features/readinglog.md
  docs/apis/readinglog.md
  static/openapi.json
Due: none

Restore "clamper" functionality for e.g. subjects, without using jQuery (#11872)
  openlibrary/plugins/openlibrary/js/clampers.js
  openlibrary/plugins/openlibrary/js/index.js
Due: none

Update script set-up for fast API changes
  scripts/migrations/write_prefs_to_store.py
Due: generate-pot

Add Solr auto-rebuild health check for local dev
  compose.override.yaml
  docker/ol-home-start.sh
  docs/ai/README.md
Due: none

fix: re-add LT05, AL09, AM05 to sqlfluff exclusions to fix CI
  .pre-commit-config.yaml
  pyproject.toml
Due: none

add prometheus monitoring for fastapi (#11893)
  openlibrary/asgi_app.py
  requirements.txt
Due: generate-pot

Add quality score metrics to solr
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Add experimental edition scorecard UI
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/scorecard.html
Due: generate-pot, detect-missing-i18n

Tweak structure of scorecards
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
  openlibrary/templates/scorecard.html
Due: generate-pot, detect-missing-i18n

Extract Solr rebuild logic into dedicated script
  docker/ol-home-start.sh
  docker/solr-rebuild.sh
Due: none

i18n: update Arabic (ar) translations
  openlibrary/i18n/ar/messages.po
Due: none

i18n: update Assamese (as) translations
  openlibrary/i18n/as/messages.po
Due: none

i18n: update Bengali (bn) translations
  openlibrary/i18n/bn/messages.po
Due: none

i18n: update Czech (cs) translations
  openlibrary/i18n/cs/messages.po
Due: none

i18n: update de translations
  openlibrary/i18n/de/messages.po
Due: none

i18n: update es translations
  openlibrary/i18n/es/messages.po
Due: none

i18n: update fr translations
  openlibrary/i18n/fr/messages.po
Due: none

i18n: update hr translations
  openlibrary/i18n/hr/messages.po
Due: none

i18n: update id translations
  openlibrary/i18n/id/messages.po
Due: none

i18n: update it translations
  openlibrary/i18n/it/messages.po
Due: none

i18n: update ja translations
  openlibrary/i18n/ja/messages.po
Due: none

i18n: update pl translations
  openlibrary/i18n/pl/messages.po
Due: none

i18n: update pt translations
  openlibrary/i18n/pt/messages.po
Due: none

i18n: update ro translations
  openlibrary/i18n/ro/messages.po
Due: none

i18n: update ru translations
  openlibrary/i18n/ru/messages.po
Due: none

i18n: update sc translations
  openlibrary/i18n/sc/messages.po
Due: none

i18n: update te translations
  openlibrary/i18n/te/messages.po
Due: none

i18n: update tr translations
  openlibrary/i18n/tr/messages.po
Due: none

i18n: update uk translations
  openlibrary/i18n/uk/messages.po
Due: none

i18n: update zh translations
  openlibrary/i18n/zh/messages.po
Due: none

Fix: Preview button on homepage does nothing when clicked
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

fix: update opds_search to include mode in search query and remove redundant ebook_access filter
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Fix test_home.py BookPreview rendering error by exposing it in template globals
  openlibrary/plugins/openlibrary/tests/test_home.py
Due: generate-pot

Fix: conditionally render Preview button to avoid UI regression on homepage
  openlibrary/macros/BookPreview.html
Due: generate-pot, detect-missing-i18n

Change Dockerfile to install packages without recommendations
  docker/Dockerfile.olbase
Due: none

Modify Dockerfile to use --no-install-recommends
  scripts/monitoring/Dockerfile
Due: none

Modify Dockerfile to use no-install-recommends for packages
  scripts/solr_restarter/Dockerfile
Due: none

Fix Dockerfile installation command order
  scripts/monitoring/Dockerfile
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
