Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix typo
  openlibrary/catalog/marc/parse.py
Due: generate-pot

fixed overlapping of logo
  static/css/components/merge-request-table.less
Due: none

Add crawl delays to robots.txt
  static/robots.txt
Due: none

rm query param rule
  static/robots.txt
Due: none

exclude debug feature from status page
  openlibrary/templates/status.html
Due: generate-pot, detect-missing-i18n

fix typos for codespell
  openlibrary/catalog/marc/tests/test_mnemonics.py
  openlibrary/core/imports.py
  openlibrary/core/processors/invalidation.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

enable RUF001 - ambiguous-unicode-character-string
  openlibrary/utils/ddc.py
  openlibrary/utils/tests/test_ddc.py
  pyproject.toml
  scripts/detect_missing_i18n.py
  scripts/tests/test_import_standard_ebooks.py
  scripts/tests/test_isbndb.py
Due: generate-pot

remove vue style scoped from mergeUI
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/MergeUI/TextDiff.vue
Due: none

library explorer scoped removed
  openlibrary/components/LibraryExplorer/components/CSSBox.vue
  openlibrary/components/LibraryExplorer/components/FlatBookCover.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
Due: none

observation form working without scoped styles
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/components/CardBody.vue
  openlibrary/components/ObservationForm/components/CardHeader.vue
  openlibrary/components/ObservationForm/components/CategorySelector.vue
  openlibrary/components/ObservationForm/components/OLChip.vue
  openlibrary/components/ObservationForm/components/SavedTags.vue
  openlibrary/components/ObservationForm/components/ValueCard.vue
Due: none

Update openlibrary/core/bookshelves.py
  openlibrary/core/bookshelves.py
Due: generate-pot

Apply suggestions from code review
  openlibrary/plugins/openlibrary/opds.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/solr/test_update.py
  scripts/providers/isbndb.py
Due: generate-pot

(RUF012) Fixed mutable class Defaults- Task 3 (#10284)
  openlibrary/core/bookshelves.py
  openlibrary/core/edits.py
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
  openlibrary/tests/catalog/test_get_ia.py
Due: generate-pot

Update openlibrary/tests/solr/test_update.py
  openlibrary/tests/solr/test_update.py
Due: generate-pot

Apply suggestions from code review
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

(RUF012) Fixed mutable class Defaults- Task 4 (#10278)
  openlibrary/plugins/openlibrary/opds.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/solr/test_update.py
  openlibrary/tests/solr/updater/test_work.py
  scripts/partner_batch_imports.py
  scripts/providers/isbndb.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
Due: generate-pot

(RUF012) Fixed mutable class Defaults- Task 5 (#10273)
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/core/booknotes.py
  openlibrary/core/follows.py
  openlibrary/core/models.py
  openlibrary/core/observations.py
  openlibrary/core/processors/readableurls.py
  openlibrary/core/ratings.py
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/upstream/forms.py
  scripts/tests/test_obfi.py
Due: generate-pot

Fix registration errors from xauthn
  openlibrary/accounts/model.py
Due: generate-pot

Add new `get_login_error` error messages
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Remove extra double quote character
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

Display errors in a `flash-message`
  openlibrary/templates/account/create.html
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

add sanitize_query util func and add test
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
  openlibrary/solr/query_utils.py
Due: generate-pot

WIP - need to tweak sanitize func
  openlibrary/solr/query_utils.py
Due: generate-pot

changes made
  openlibrary/tests/core/test_db.py
Due: generate-pot

changes made
  openlibrary/plugins/worksearch/schemes/editions.py
Due: generate-pot

instance variables
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

instance variables
  openlibrary/plugins/worksearch/schemes/__init__.py
  pyproject.toml
Due: generate-pot

instance variables
  pyproject.toml
Due: none

Added Librarian as privileged user
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

cleanup #10407 to remove redundant code
  openlibrary/templates/lib/nav_head.html
Due: generate-pot, detect-missing-i18n

Fix `cron_wrapper` bugs
  scripts/cron_wrapper.py
Due: generate-pot

Add shebang to `cron_wrapper.py`
  scripts/cron_wrapper.py
Due: generate-pot

add tags, rm builder prune, background ssh
  scripts/deployment/deploy.sh
Due: none

Update deploy.sh
  scripts/deployment/deploy.sh
Due: none

Add `Needs: Response` labels to PRs
  scripts/gh_scripts/issue_comment_bot.py
Due: generate-pot

tweak sanitize_query func and add tests to test_works.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
  openlibrary/solr/query_utils.py
Due: generate-pot

remove unnecessary test file
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
Due: generate-pot

fix import
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
