Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

pass down the variables in a more direct way
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/request_context.py
Due: generate-pot

async_bridge.wrap(run_solr_query_async)
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Restore z-index on #test-body-mobile to fix header dropdown stacking
  static/css/layout/index.css
  static/css/layout/v2.css
Due: none

Add color to shelfie output and improve reset command
  scripts/shelfie.py
Due: generate-pot

add stale PR bot
  .github/workflows/pm_stale_pr_messenger.yml
Due: none

update days before close
  .github/workflows/pm_stale_pr_messenger.yml
Due: none

Update stale PR workflow to prevent closing
  .github/workflows/pm_stale_pr_messenger.yml
Due: none

update stale message
  .github/workflows/pm_stale_pr_messenger.yml
Due: none

Add quality score metrics to solr
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Due: generate-pot

Add experimental edition scorecard UI
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/scorecard.html
Due: generate-pot, detect-missing-i18n

Tweak structure of scorecards
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/models.py
  openlibrary/scorecards.py
  openlibrary/solr/updater/edition.py
  openlibrary/templates/scorecard.html
Due: generate-pot, detect-missing-i18n

fix: enable lint rule to prevent inline imports in FastAPI directory
  pyproject.toml
Due: none

docs: clarify ruff ! negation syntax in per-file-ignores comment
  pyproject.toml
Due: none

fix: enable PLC0415 lint rule for openlibrary/fastapi/ directory
  pyproject.toml
Due: none

docs: clarify ruff ! negation applies to the ignore not the rule
  pyproject.toml
Due: none

add explicit exclusions for PLC0415
  pyproject.toml
Due: none

remove comment
  pyproject.toml
Due: none

Change Lists label to Lists & Series
  openlibrary/macros/SearchNavigation.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/lists.html
Due: generate-pot, detect-missing-i18n

Adding sorting options to list & series page
  openlibrary/templates/search/lists.html
  openlibrary/templates/search/sort_options.html
Due: generate-pot, detect-missing-i18n

Removing changes done while working on different branch
  openlibrary/macros/SearchNavigation.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/lists.html
Due: generate-pot, detect-missing-i18n

fix: move PLC0415 inline imports to top-level in 11 test/config files
  openlibrary/conftest.py
  openlibrary/plugins/admin/tests/test_services.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
  openlibrary/tests/core/test_models.py
  openlibrary/tests/fastapi/conftest.py
  openlibrary/tests/fastapi/test_search.py
  openlibrary/tests/fastapi/test_trending.py
  openlibrary/utils/tests/test_request_context.py
  pyproject.toml
Due: generate-pot

remove additional checks
  pyproject.toml
Due: none

remove additional checks
  openlibrary/conftest.py
  openlibrary/tests/fastapi/conftest.py
  pyproject.toml
Due: generate-pot

complete migration steps for eslint v9
  .eslintignore
  .eslintrc.json
  .pre-commit-config.yaml
  conf/svgo.config.js
  eslint.config.js
  openlibrary/components/MergeUI/utils.js
  openlibrary/components/dev/serve-component.js
  openlibrary/components/vite-lit.config.mjs
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/openlibrary/js/ol.js
  package-lock.json
  package.json
  static/bookmarklets/import_webbook.js
  stories/.storybook/main.js
  stories/.storybook/preview.js
  tests/unit/.eslintrc.json
  tests/unit/js/setup.js
  tests/unit/js/styleMock.js
  vue.config.js
  webpack.config.css.js
  webpack.config.js
Due: none

fix: rename eslint.config.js to eslint.config.mjs and remove "type": "module" from package.json
  eslint.config.mjs
  package.json
Due: none

convert mjs to cjs
  eslint.config.cjs
Due: none

Fix advanced search mobile overflow
  static/css/legacy.css
Due: none

Split the configuration into separate sections
  eslint.config.cjs
Due: none

use ESLint's default espree parser
  eslint.config.cjs
Due: none

move commonjs config up
  eslint.config.cjs
Due: none

remove jquery check for sure
  eslint.config.cjs
  package-lock.json
  package.json
Due: none

fix code instead of disabling rules
  eslint.config.cjs
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/edition-nav-bar/EditionNavBar.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/utils.js
Due: none

fix rule
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
Due: none

revert formatting changes
  openlibrary/components/vite-lit.config.mjs
Due: none

revert formatting changes
  openlibrary/components/vite.config.mjs
Due: none

revert formatting changes
  conf/svgo.config.js
  vue.config.js
  webpack.config.css.js
Due: none

restore jquery checker
  .pre-commit-config.yaml
  eslint.config.cjs
  package-lock.json
  package.json
Due: none

stop manually setting parser
  eslint.config.cjs
Due: none

remove duplicate ignore blocks
  eslint.config.cjs
Due: none

fix version differences
  .pre-commit-config.yaml
  package-lock.json
Due: none
