Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Fix copy authors/subjects when moving edition to new work
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_addbook.py
Due: generate-pot

TMP: Debug settings
  conf/openlibrary.yml
  docker-compose.yml
  openlibrary/macros/LoanStatus.html
  package.json
Due: generate-pot, detect-missing-i18n

Small refactor multi-item-autocomplete for better scoping
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/templates/books/author-autocomplete.html
  openlibrary/templates/books/edit/edition.html
Due: generate-pot, detect-missing-i18n

Proof of Concept: Series as Lists
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/lists/list_overview.html
  openlibrary/templates/lists/preview.html
  openlibrary/templates/type/list/edit.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/jquery.autocomplete.less
Due: generate-pot, detect-missing-i18n

Basic lists in solr
  openlibrary/plugins/upstream/addbook.py
  openlibrary/solr/data_provider.py
  openlibrary/solr/update_work.py
  scripts/solr_updater.py
Due: generate-pot

Create list via ILE
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
Due: none

Ability to view list-books as grid
  openlibrary/i18n/messages.pot
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Make style of details/grid toggle match sort dropper
  openlibrary/i18n/messages.pot
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/sort-dropper.less
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Fix list description causing tools overflow
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Fix flash message and update translation template
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/addbook.py
Due: generate-pot

Comment on possible location of the issue
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

fix(#10859): commented the Library.link due to inactive API
  openlibrary/macros/WorldcatLink.html
Due: generate-pot, detect-missing-i18n

Make layout toolbar operate via JS
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/list_books.js
  openlibrary/templates/search/layout_options.html
  static/css/components/sort-dropper.less
Due: generate-pot, detect-missing-i18n

Remember layout in cookie
  openlibrary/plugins/openlibrary/js/list_books.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Add grid view to reading log
  openlibrary/templates/account/reading_log.html
Due: generate-pot, detect-missing-i18n

Make search results toolbar consistently spaced
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Brute force solution that removes collections field from works
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Add preview option to import endpoints
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/plugins/importapi/code.py
Due: generate-pot

Add basic UI for triggering imports
  openlibrary/i18n/messages.pot
  openlibrary/plugins/importapi/import_ui.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/import_preview.html
Due: generate-pot, detect-missing-i18n

Limit import preview UI to librarians/etc
  openlibrary/plugins/importapi/import_ui.py
Due: generate-pot

Remove unimplemented IA/Google Books import previews
  openlibrary/plugins/importapi/import_ui.py
Due: generate-pot

Addressed review comments
  openlibrary/macros/WorldcatLink.html
Due: generate-pot, detect-missing-i18n

Library.link removed as per suggestion
  openlibrary/macros/WorldcatLink.html
Due: generate-pot, detect-missing-i18n

fix(#10859): commented the Library.linkd (#10884)
  openlibrary/i18n/messages.pot
  openlibrary/macros/WorldcatLink.html
Due: generate-pot, detect-missing-i18n

Use OL for more homepage carousels (#9972)
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Don't save number of pages 0 from Amazon
  openlibrary/core/vendors.py
  openlibrary/tests/core/test_vendors.py
Due: generate-pot

Adds post-login handler and new `FULFILLED` `rpd` status
  openlibrary/plugins/openlibrary/js/ia_thirdparty_logins.js
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Fix + extend deploy script
  scripts/deployment/deploy.sh
Due: none

Remove code that stores author merge debug data in DB
  openlibrary/plugins/upstream/merge_authors.py
Due: generate-pot

Fix trending API error by changing 'collections' to return list instead of a set
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Return api.py to its original form
  openlibrary/plugins/openlibrary/api.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/tests/test_ratingsapi.py
  openlibrary/plugins/openlibrary/tests/test_ratingsapi.py
Due: generate-pot

Update openlibrary/plugins/openlibrary/tests/test_listapi.py
  openlibrary/plugins/openlibrary/tests/test_listapi.py
Due: generate-pot

Update openlibrary/plugins/upstream/adapter.py
  openlibrary/plugins/upstream/adapter.py
Due: generate-pot

Apply suggestions from code review
  openlibrary/plugins/openlibrary/tests/test_listapi.py
Due: generate-pot

Also check language aliases when checking for language names
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Small fixes
  openlibrary/catalog/add_book/__init__.py
  openlibrary/plugins/importapi/import_ui.py
Due: generate-pot

Add multiple platform support for olbase build
  .github/workflows/olbase.yaml
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
