Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

refactor(css): replace hardcoded spacing values with semantic tokens
  openlibrary/i18n/messages.pot
  static/css/base/common.css
  static/css/base/dl.css
  static/css/base/headings.css
  static/css/base/helpers-common.css
  static/css/base/helpers-misc.css
  static/css/components/admin-table.css
  static/css/components/author-infobox.css
  static/css/components/book.css
  static/css/components/buttonBtn.css
  static/css/components/buttonCta.css
  static/css/components/buttonGhost.css
  static/css/components/buttonLink.css
  static/css/components/buttonsAndLinks.css
  static/css/components/carousel.css
  static/css/components/category-item.css
  static/css/components/cbox.css
  static/css/components/chart-stats.css
  static/css/components/chart.css
  static/css/components/check-in.css
  static/css/components/compact-title.css
  static/css/components/diff.css
  static/css/components/edit-toolbar--tablet.css
Due: none

Fixing minor issues
  static/css/components/author-infobox.css
  static/css/components/buttonGhost.css
  static/css/components/carousel.css
  static/css/components/cbox.css
Due: none

Fix advanced search mobile overflow (#12308)
  openlibrary/templates/search/advancedsearch.html
  static/css/legacy.css
Due: generate-pot, detect-missing-i18n

merge from master
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.css
Due: generate-pot, detect-missing-i18n

Fixed CSS lint errors: use z-index variables and fix selector ordering
  static/css/components/search-result-item.css
Due: none

Fixed CSS lint errors again
  static/css/components/search-result-item.css
Due: none

resolve
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.css
  static/css/tokens/border-radius.css
Due: generate-pot, detect-missing-i18n

rebase
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.css
  static/css/tokens/border-radius.css
Due: generate-pot, detect-missing-i18n

Add obfi_top_user_agents + update botlist (#12248)
  scripts/obfi.sh
Due: none

migrate /api/books and /api/volumes to fastapi (#11922)
  openlibrary/asgi_app.py
  openlibrary/fastapi/books.py
  openlibrary/fastapi/models.py
  openlibrary/plugins/books/code.py
  openlibrary/tests/fastapi/test_books.py
  openlibrary/tests/fastapi/test_models.py
Due: generate-pot

Add new agents to monitoring list
  scripts/monitoring/monitor.py
Due: generate-pot

fix: disable homepage caching in local development environment (#12324) (#12335)
  openlibrary/plugins/openlibrary/home.py
Due: generate-pot

fix: password reflected in DOM on failed login (#12328)
  openlibrary/templates/login.html
  openlibrary/tests/test_templates.py
Due: generate-pot, detect-missing-i18n

Add human verification endpoint to help with high botnet traffic (#11807)
  openlibrary/accounts/model.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
  openlibrary/plugins/openlibrary/tests/test_verification.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/verify_human.html
  openlibrary/utils/request_context.py
Due: generate-pot, detect-missing-i18n

scripts: add fully_reset_environment.sh and update docker/README.md (#12318)
  docker/README.md
  scripts/fully_reset_environment.sh
Due: none

Replace postgres wait loop with Docker healthcheck (#12339)
  compose.override.yaml
  docker/ol-home-start.sh
  docker/ol-local-solr-start.sh
Due: none

Add dev carousel to homepage (#12330)
  openlibrary/i18n/messages.pot
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

move doctests into makefile and fix broken ones (#12316)
  .github/workflows/python_tests.yml
  Makefile
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/form.py
  openlibrary/utils/schema.py
  scripts/conftest.py
  scripts/run_doctests.sh
Due: generate-pot

Fix AttributeError in bulk_tag when tagging from search results
  openlibrary/plugins/openlibrary/bulk_tag.py
  openlibrary/plugins/openlibrary/tests/test_bulk_tag.py
Due: generate-pot

Created indices for bookshelves_books, community_edits_queue (#12106)
  openlibrary/core/schema.sql
Due: none

Fix Goodreads importer (#12185)
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/tests/test_account.py
Due: generate-pot

Fix empty keys crash in solr update (#12344)
  openlibrary/solr/update.py
Due: generate-pot

docker: make home wait for solr via healthcheck in compose.override.yaml (#12325)
  compose.override.yaml
  docker/ol-home-start.sh
Due: none

Simplify cover preview CSS: use design tokens and drop :where()
  static/css/components/search-result-item.css
Due: none

Double nginx worker connections
  docker/nginx.conf
Due: none

fix: Add solr health check to prevent race condition on startup (#11013)
  compose.override.yaml
Due: none

Rename preview-covers to BEM single-class selectors to fix specificity
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.css
Due: generate-pot, detect-missing-i18n

fix: isolate stacked cover z-index to prevent overlap with dropdowns (#12353)
  static/css/components/search-result-item.css
Due: none

Verify Human: Include maps and proxy header(s) (#12347)
  docker/web_nginx.conf
Due: none

Add `transaction_details` table to local instances (#12319)
  conf/infobase.yml
  openlibrary/core/infobase_schema.sql
  scripts/dev-instance/dev_db.pg_dump
Due: none

Adjust Gunicorn worker settings in production config
  compose.production.yaml
Due: none

Default request context lang to 'en' to silent unhelpful error logs (#12336)
  openlibrary/utils/request_context.py
Due: generate-pot

Fix #12137: Reverting a user's edits now also removes lists they created
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/admin/tests/test_code.py
Due: generate-pot

fix: add noopener noreferrer to external links with target blank
  openlibrary/macros/AffiliateLinks.html
  openlibrary/macros/DonateModal.html
  openlibrary/macros/EditButtons.html
  openlibrary/macros/LocateButton.html
  openlibrary/macros/ShareModal.html
  openlibrary/templates/account/create.html
  openlibrary/templates/book_providers/read_button.html
  openlibrary/templates/books/add.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/covers/external_image.html
  openlibrary/templates/covers/saved.html
  openlibrary/templates/lib/exports.html
  openlibrary/templates/lists/lists.html
  openlibrary/templates/merge_request_table/table_row.html
  openlibrary/templates/reading_goals/reading_goal_form.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/type/tag/form.html
  openlibrary/templates/widget.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

feat: auto-sync docs wiki into docs/wiki/ on container start (#12351)
  .gitignore
  docker/ol-home-start.sh
Due: none

Merge pull request #12024 from Saad259/fix-list-search-relevance
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/tests/test_lists.py
Due: generate-pot

Merge pull request #12186 from Harshul23/12153/hotfix/series-position-sorting
  openlibrary/core/lists/model.py
  openlibrary/tests/core/lists/test_model.py
Due: generate-pot

rebase
  openlibrary/tests/test_templates.py
Due: generate-pot

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
