Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

Delete 21 templates verified unused (no references in code, database, or production) (#13358)
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/delete.html
  openlibrary/templates/account/not_verified.html
  openlibrary/templates/account/password/forgot.html
  openlibrary/templates/account/password/reset.html
  openlibrary/templates/account/password/reset_success.html
  openlibrary/templates/account/password/sent.html
  openlibrary/templates/account/verify/activated.html
  openlibrary/templates/account/verify/failed.html
  openlibrary/templates/account/verify/success.html
  openlibrary/templates/account/yrg_banner.html
  openlibrary/templates/email/account/verify.html
  openlibrary/templates/email/case_created.html
  openlibrary/templates/email/case_notification.html
  openlibrary/templates/email/password/reminder.html
  openlibrary/templates/email/spam_report.html
  openlibrary/templates/email/support_case.html
  openlibrary/templates/email/waitinglist_people_waiting.html
  openlibrary/templates/home/loans.html
  openlibrary/templates/languages/notfound.html
  openlibrary/templates/lists/list_overview.html
  openlibrary/templates/search/snippets.html
Due: generate-pot, detect-missing-i18n

Add static-analysis test for unused templates and macros
  openlibrary/tests/test_unused_templates.py
  openlibrary/utils/template_usage.py
Due: generate-pot

Add books-display JSON endpoints for the ol-books-display component
  openlibrary/asgi_app.py
  openlibrary/core/bookshelves.py
  openlibrary/core/ratings.py
  openlibrary/fastapi/books_display.py
  openlibrary/fastapi/services/books_display.py
  openlibrary/tests/fastapi/test_books_display.py
Due: generate-pot

Use ol-books-display for the subject page carousel
  openlibrary/macros/BooksDisplay.html
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/book-actions.html.jinja
  openlibrary/templates/design/components/books-display.html.jinja
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

Add ol-books-display and ol-book-actions components
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/index.js
  openlibrary/components/lit/utils/book-icons.js
  openlibrary/components/lit/utils/books-api.js
  static/css/components/ol-books-display.css
  static/css/ol-components.css
  tests/unit/js/OlBookActions.test.js
  tests/unit/js/OlBooksDisplay.test.js
Due: none

Proxy books-display endpoints in dev; prefer the work's cover
  compose.yaml
  openlibrary/fastapi/services/books_display.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/tests/fastapi/test_books_display.py
Due: generate-pot

Test the ol-books-display fallback query
  tests/unit/js/OlBooksDisplay.test.js
Due: none

ol-books-display: retry with a wider query when the language-filtered one is empty
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/macros/BooksDisplay.html
Due: generate-pot, detect-missing-i18n

Polish ol-book-actions popover and add the carousel-actions plan doc
  CAROUSEL-ACTIONS-PLAN.md
  openlibrary/components/lit/OlBookActions.js
  openlibrary/components/lit/OlBooksDisplay.js
  openlibrary/components/lit/OlSegmentedControl.js
  openlibrary/components/lit/utils/book-icons.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/BooksDisplay.html
  openlibrary/plugins/openlibrary/deprecated_handler.py
  static/css/components/ol-books-display.css
  tests/unit/js/OlBookActions.test.js
  tests/unit/js/OlBooksDisplay.test.js
Due: generate-pot, detect-missing-i18n

Regenerate messages.pot for the BooksDisplay macro strings
  openlibrary/i18n/messages.pot
Due: none

Regenerate messages.pot after merging with subject masthead
  openlibrary/i18n/messages.pot
Due: none

Harden the /status testing panel: alignment, toggle truth, and asset versioning
  bundlesize.config.json
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/status.html
  openlibrary/tests/fastapi/test_testing_status.py
  tests/unit/js/testing-status.test.js
Due: generate-pot, detect-missing-i18n

Build testing status once, typed, and render page + API from it
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot, detect-missing-i18n

Add watch:components script to watch Vue components in dev (#10372)
  openlibrary/components/README.md
  package.json
Due: none

Fix unused-template analyzer: vacuous macro check, hermetic corpus, structural guard
  openlibrary/tests/test_unused_templates.py
  openlibrary/utils/template_usage.py
Due: generate-pot

Build testing status once, typed, and render page + API from it (#13367)
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot, detect-missing-i18n

Add FastAPI testing-environment status API (maintainer-gated) (#13278)
  .gitignore
  openlibrary/asgi_app.py
  openlibrary/core/models.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/deprecated_handler.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  openlibrary/tests/fastapi/test_auth.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot, detect-missing-i18n

Keep failed deploy triggers from persisting staged changes
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Drop deleted RecentChangesAdmin.html from the Actions string reference
  openlibrary/i18n/messages.pot
Due: none

Trim the /status testing panel per code review
  openlibrary/components/TestingEnvironment.vue
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Remove the /status testing panel activity toast
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  tests/unit/js/testing-status.test.js
Due: none

Add watch:components script to watch Vue components in dev (#10372) (#13368)
  openlibrary/components/README.md
  package.json
Due: none

Bring back the Refresh button with a plain CSS spinner
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
Due: none

Simplify unused-template analyzer: mask macro defs at index time, trim prose
  openlibrary/tests/test_unused_templates.py
  openlibrary/utils/template_usage.py
Due: generate-pot

Regenerate messages.pot after merging master and books-display work
  openlibrary/i18n/messages.pot
Due: none

Surface add failures with a toast and an in-flight spinner
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Give the Deploy button the same in-flight spinner
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
Due: none

Report real Jenkins deploy results with relative timestamps
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/fastapi/status.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  tests/unit/js/testing-status.test.js
Due: generate-pot

Make the Jenkins deploy-status fetch async via httpx
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Update Spanish translation
  openlibrary/i18n/es/messages.po
Due: none

Make the GitHub status fetches async via httpx and the async bridge
  openlibrary/fastapi/status.py
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Fetch GitHub drift for all PRs concurrently
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Fetch GitHub drift and Jenkins status concurrently
  openlibrary/fastapi/status.py
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot

Shorten GitHub drift cache from 5 minutes to 1 minute
  openlibrary/plugins/openlibrary/status.py
Due: generate-pot

Revert static_url to match master
  openlibrary/plugins/upstream/code.py
Due: generate-pot

Batch IA availability requests in get_sorted_editions; only do expensive check on editions page
  openlibrary/macros/databarWork.html
  openlibrary/plugins/upstream/models.py
Due: generate-pot, detect-missing-i18n

Show a red live-dot for PRs whose deploy merge conflicted
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/TestingRow.vue
  openlibrary/components/TestingEnvironment/utils.js
  openlibrary/fastapi/status.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/TestingEnvironment.html.jinja
  openlibrary/plugins/openlibrary/status.py
  openlibrary/tests/fastapi/test_testing_status.py
  static/css/tokens/colors.css
Due: generate-pot

Auto-refresh the testing panel every minute and on tab focus
  openlibrary/components/TestingEnvironment.vue
Due: none

Match the deploy script's merge-conflict message for the red dot
  openlibrary/plugins/openlibrary/status.py
  openlibrary/templates/status.html
  openlibrary/tests/fastapi/test_testing_status.py
Due: generate-pot, detect-missing-i18n

Tick the relative deploy labels with the panel poll
  openlibrary/components/TestingEnvironment.vue
  openlibrary/components/TestingEnvironment/DeploySection.vue
  openlibrary/components/TestingEnvironment/utils.js
  tests/unit/js/testing-status.test.js
Due: none

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
