Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

remove unused vars from ol/coverstore
  openlibrary/coverstore/archive.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/tests/test_webapp.py
Due: generate-pot

remove unused vars for pugins/admin
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/admin/mem.py
Due: generate-pot

remove unused vars from plugins/books
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
Due: generate-pot

remove unused vars in plugins/openlibrary
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/opds.py
Due: generate-pot

remove unused vars misc
  openlibrary/accounts/model.py
  openlibrary/book_providers.py
  openlibrary/i18n/__init__.py
  openlibrary/olbase/events.py
Due: generate-pot

remove final unused vars and enable rule
  openlibrary/plugins/openlibrary/tests/test_bestbookapi.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/openlibrary/tests/test_listapi.py
  pyproject.toml
Due: generate-pot

Ability to view list-books as grid
  openlibrary/i18n/messages.pot
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Fix list description causing tools overflow
  openlibrary/templates/type/list/view_body.html
Due: generate-pot, detect-missing-i18n

Make style of details/grid toggle match sort dropper
  openlibrary/i18n/messages.pot
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  static/css/components/sort-dropper.less
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Make layout toolbar operate via JS
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/list_books.js
  openlibrary/templates/search/layout_options.html
  static/css/components/sort-dropper.less
Due: generate-pot, detect-missing-i18n

Remember layout in cookie
  openlibrary/plugins/openlibrary/js/list_books.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/search/layout_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Due: generate-pot, detect-missing-i18n

Add grid view to reading log
  openlibrary/templates/account/reading_log.html
Due: generate-pot, detect-missing-i18n

Make search results toolbar consistently spaced
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Make font-sizes more consistent for cta-btn
  openlibrary/macros/AffiliateLinks.html
  openlibrary/templates/my_books/dropdown_content.html
  static/css/base/common.less
  static/css/components/buttonCta.less
  static/css/components/generic-dropper.less
  static/css/components/mybooks-dropper.less
  static/css/components/read-panel.less
  static/css/components/read-statuses.less
Due: generate-pot, detect-missing-i18n

Tweak cta-dropper to be more responsive
  openlibrary/macros/ReadButton.html
  static/css/base/common.less
  static/css/components/buttonCta.less
  static/css/components/editions.less
  static/css/components/generic-dropper.less
  static/css/components/nav-bar.less
  static/css/components/read-panel.less
  static/css/legacy-tools.less
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Use shorter cookie name for LIST_BOOKS_LABEL
  openlibrary/plugins/openlibrary/js/list_books.js
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

fix makefile for arm machines
  Makefile
Due: none

Fix summary arrow showing on new safari versions
  openlibrary/components/BarcodeScanner.vue
  openlibrary/components/LibraryExplorer/components/ShelfLabel.vue
  static/css/components/generic-dropper.less
  static/css/components/header-bar.less
  static/css/components/language.less
Due: none

setup docker to use uv for installation
  docker/Dockerfile.olbase
  docker/Dockerfile.oldev
Due: none

Small css tweaks
  openlibrary/macros/LocateButton.html
  openlibrary/templates/books/custom_carousel_card.html
  static/css/components/book.less
  static/css/components/buttonCta.less
  static/css/components/generic-dropper.less
  static/css/components/nav-bar.less
  static/css/components/read-panel.less
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

Prevent markdown styles from leaking to all #contentBody's
  openlibrary/templates/type/about/view.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/object/view.html
  openlibrary/templates/type/page/view.html
  openlibrary/templates/type/user/view.html
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

remove mention of architecture specific issues from docker docs
  docker/README.md
Due: none

add temp space to rerun ci
  openlibrary/catalog/add_book/tests/test_add_book.py
Due: generate-pot

remove unused css
  static/css/components/read-panel.less
  static/css/components/work.less
  static/css/legacy.less
Due: none

remove more unused css
  static/css/legacy.less
Due: none

remove unused spacer css
  openlibrary/templates/publishers/view.html
  openlibrary/templates/subjects.html
  static/css/legacy.less
Due: generate-pot, detect-missing-i18n

add more ia types 3
  openlibrary/core/ia.py
Due: generate-pot

add typehints to ia model
  openlibrary/core/ia.py
Due: generate-pot

add more ia types
  openlibrary/core/ia.py
Due: generate-pot

add more ia types 2
  openlibrary/core/ia.py
Due: generate-pot

add some types to lending.py 3
  openlibrary/core/lending.py
Due: generate-pot

remove breaking typehints
  openlibrary/core/lending.py
Due: generate-pot

fix copilot complaints
  openlibrary/core/lending.py
Due: generate-pot

add some types to lending.py
  openlibrary/core/lending.py
Due: generate-pot

add __future__ for typehints
  openlibrary/core/lending.py
Due: generate-pot

add some types to lending.py 2
  openlibrary/core/lending.py
Due: generate-pot

add some types to lending.py 4
  openlibrary/core/lending.py
Due: generate-pot

changes to makefile and compose.yaml file for fixing issue in arm64 machines
  Makefile
  compose.yaml
Due: none

Fix small grid view bugs
  openlibrary/templates/type/author/view.html
  openlibrary/templates/work_search.html
  static/css/components/read-panel.less
Due: generate-pot, detect-missing-i18n
