Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

remove temp config change
  .pre-commit-config.yaml
Due: none

remove readin goal tests
  test_reading_goal_progress_comparison.py
  test_reading_goal_progress_partial.py
Due: generate-pot

delete unused method
  openlibrary/core/edits.py
Due: generate-pot

fix BPListsSection
  openlibrary/fastapi/partials.py
  test_affiliate_links_comparison.py
  test_affiliate_links_partial.py
  test_book_page_lists_comparison.py
  test_book_page_lists_partial.py
Due: generate-pot

cleanup parsing
  openlibrary/fastapi/partials.py
Due: generate-pot

Enhance bot detection - add recognized bot check and improve suspicious visitor logic
  openlibrary/plugins/openlibrary/code.py
  openlibrary/utils/request_context.py
Due: generate-pot

Refactor search logic - simplify expensive query detection and focus on specific terms
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

simplify params
  openlibrary/fastapi/partials.py
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Remove redundant tests for expensive search detection
  openlibrary/plugins/worksearch/tests/test_verification.py
Due: generate-pot

remove two self.i
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

refactor: Migrate `work_search` to an async-bridged implementation with highlight support and update request context access to `site.get()`.
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Refactor design patterns in HTML and CSS; update Pager macro for pagination display and enhance design documentation with examples.
  openlibrary/macros/Pager.html
  openlibrary/templates/design.html
  static/css/page-design.less
Due: generate-pot, detect-missing-i18n

Refactor Pager macro by removing redundant pagination examples and cleaning up HTML structure for improved maintainability and clarity.
  openlibrary/macros/Pager.html
Due: generate-pot, detect-missing-i18n

Remove obsolete Vite configuration file for Lit components, streamlining the build process and eliminating legacy support code.
  openlibrary/components/lit-vite.config.js
Due: none

docs: Update comment for BPListsSection to add TODO regarding logged-in user functionality.
  openlibrary/fastapi/partials.py
Due: generate-pot

Apply suggestion from @mekarpeles
  openlibrary/accounts/model.py
Due: generate-pot

Update design.html to enhance 'ol-read-more' component examples with i18n support for button text and add a new example for height-based truncation.
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

Refactor OLReadMore component registration in index.js to use export syntax, and update design.html examples to improve styling and consistency for the ol-read-more component.
  openlibrary/components/lit/index.js
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

Apply suggestion from @Copilot
  openlibrary/asgi_app.py
Due: generate-pot

Merge pull request #11789 from cdrini/dev/fastapi-debugger
  .vscode/launch.json
  compose.override.yaml
  compose.yaml
  openlibrary/asgi_app.py
Due: generate-pot

add fastapi to mypy types (#11805)
  .pre-commit-config.yaml
  openlibrary/asgi_app.py
  openlibrary/fastapi/account.py
  openlibrary/fastapi/search.py
Due: generate-pot

Expose solr edismax params for testing
  .gitignore
  compose.override.yaml
  compose.staging.yaml
  openlibrary/fastapi/models.py
  openlibrary/fastapi/search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/tests/fastapi/test_models.py
Due: generate-pot

feat: add CSS to hide unstyled ol-read-more content before component definition
  openlibrary/templates/site/head.html
Due: generate-pot, detect-missing-i18n

Enable debugging for all code in FastAPI container
  .vscode/launch.json
Due: none

get_current_user works from fastapi
  openlibrary/accounts/__init__.py
  openlibrary/utils/request_context.py
Due: generate-pot

add single-character author search frontend validation
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/searchbox.html
Due: generate-pot, detect-missing-i18n

Remove redundant description for the ol-colors component in design.html to streamline content and improve clarity.
  openlibrary/templates/design.html
Due: generate-pot, detect-missing-i18n

migrate yearly reading goals to fastapi
  openlibrary/asgi_app.py
  openlibrary/fastapi/yearly_reading_goals.py
  tests/integration/test_yearly_reading_goals.py
Due: generate-pot

refactor: remove padding-left property from OLReadMore component and update styles
  openlibrary/components/lit/OLReadMore.js
  openlibrary/macros/SearchResultsWork.html
  static/css/components/search-result-item.less
Due: generate-pot, detect-missing-i18n

style: adjust padding and add media query for toggle button in OLReadMore component
  openlibrary/components/lit/OLReadMore.js
  static/css/components/search-result-item.less
Due: none

style: refine padding in OLReadMore component for improved layout
  openlibrary/components/lit/OLReadMore.js
Due: none

cleanup tests
  openlibrary/fastapi/yearly_reading_goals.py
  openlibrary/plugins/upstream/yearly_reading_goals.py
  tests/integration/test_yearly_reading_goals.py
Due: generate-pot

add json to tests
  tests/integration/test_yearly_reading_goals.py
Due: generate-pot

fix tests
  tests/integration/test_yearly_reading_goals.py
Due: generate-pot

format tests
  tests/integration/test_yearly_reading_goals.py
Due: generate-pot

set default 'current' when getting reading goals
  openlibrary/plugins/upstream/yearly_reading_goals.py
Due: generate-pot

remove all outdated code related to 'current' for reading goals
  openlibrary/core/yearly_reading_goals.py
  openlibrary/plugins/upstream/yearly_reading_goals.py
  openlibrary/tests/core/test_db.py
Due: generate-pot

refactor reading goals to use dataclass
  openlibrary/core/yearly_reading_goals.py
  openlibrary/plugins/upstream/yearly_reading_goals.py
  openlibrary/templates/reading_goals/reading_goal_progress.html
Due: generate-pot, detect-missing-i18n

Enhance webpack configuration to support both .less and .css files for gradual migration to native CSS. Update entry file discovery and add rules for processing CSS files.
  webpack.config.css.js
Due: none

simplify dataclass
  openlibrary/core/yearly_reading_goals.py
Due: generate-pot
