Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

enable uv cache
  .github/workflows/python_tests.yml
Due: none

github actions install to system
  .github/workflows/python_tests.yml
Due: none

use uv in github actions
  .github/workflows/python_tests.yml
Due: none

Refactoring the /reading-goals/partials.json to /partials.json
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/checkins.py
Due: generate-pot

Fix preview icon path not absolute
  static/css/components/read-panel.less
  static/css/components/search-result-item.less
Due: none

fix comparison (squash)
  openlibrary/core/bookshelves.py
Due: generate-pot

Use UTC for deploy tag date
  scripts/deployment/deploy.sh
Due: none

use /tmp/openlibrary_deploy as DEPLOY_DIR (squash)
  scripts/deployment/deploy.sh
Due: none

DRY tag_release
  scripts/deployment/deploy.sh
Due: none

rewrite as set comprehension
  openlibrary/core/bookshelves.py
Due: generate-pot

Closes #10965; fix resolve redirect chain in export
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Update account.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Closes #10965; fix resolve redirect chain in export (#11038)
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Update openlibrary/core/bookshelves.py
  openlibrary/core/bookshelves.py
Due: generate-pot

Make site BG warmer + use system default fonts
  static/css/base/common.less
  static/css/less/colors.less
  static/css/less/font-families.less
Due: none

--amend
  static/css/components/iaBar.less
Due: none

add ability to deploy.sh reset
  scripts/deployment/deploy.sh
Due: none

Apply suggestions from code review
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/partials.py
Due: generate-pot

Update `buildPartialUrl` parameters
  openlibrary/plugins/openlibrary/js/affiliate-links.js
  openlibrary/plugins/openlibrary/js/book-page-lists.js
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/js/fulltext-search-suggestion.js
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/js/search.js
  openlibrary/plugins/openlibrary/js/utils.js
Due: none

Make it possible to ILE-select books in carousels
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/openlibrary/js/carousel/index.js
  openlibrary/plugins/openlibrary/js/ile/index.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html
  openlibrary/templates/site/body.html
  static/css/components/carousel.less
Due: generate-pot, detect-missing-i18n

Add ILE options to quick-edit works/editions
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
Due: none

force chatgpt to user search tool
  static/bookmarklets/import_webbook.js
Due: none

Only include tagging-menu.less with ILE js
  openlibrary/plugins/openlibrary/js/bulk-tagger/BulkTagger.js
  static/css/components/tagging-menu.less
  static/css/legacy.less
Due: none

use set comprehension syntax
  openlibrary/core/bookshelves.py
Due: generate-pot

Add edit button to usergroup pages
  openlibrary/templates/type/usergroup/view.html
Due: generate-pot, detect-missing-i18n

Feature: show Sentry error ID to patrons
  openlibrary/plugins/openlibrary/code.py
  openlibrary/utils/sentry.py
Due: generate-pot

Make autocomplete edition-aware
  openlibrary/plugins/openlibrary/js/SearchBar.js
Due: none

Use higher quality images in autocompete + some style tweaks
  openlibrary/plugins/openlibrary/js/SearchBar.js
  static/css/components/header-bar.less
Due: none

I've implemented adds specific spacing for carousel items when they have the slick-slide class applied. This ensures that:
  static/css/components/carousel--js.less
Due: none

Make autocomplete link edition-aware
  openlibrary/plugins/openlibrary/js/SearchBar.js
Due: none

Handle infogami client exceptions gracefully
  scripts/migrations/delete_merge_debug.py
Due: generate-pot

Handle shutdown signals gracefully
  scripts/migrations/delete_merge_debug.py
  scripts/utils/graceful_shutdown.py
Due: generate-pot

Fix author pages not showing Read button for direct book provider
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

DRY up rendering of book provider buttons
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/book_providers/cita_press_read_button.html
  openlibrary/templates/book_providers/direct_read_button.html
  openlibrary/templates/book_providers/gutenberg_read_button.html
  openlibrary/templates/book_providers/librivox_read_button.html
  openlibrary/templates/book_providers/openstax_read_button.html
  openlibrary/templates/book_providers/read_button.html
  openlibrary/templates/book_providers/runeberg_read_button.html
  openlibrary/templates/book_providers/standard_ebooks_read_button.html
  openlibrary/templates/book_providers/wikisource_read_button.html
Due: generate-pot, detect-missing-i18n

Fix read button not working for TBP
  openlibrary/book_providers.py
Due: generate-pot

Improve author debug data deletion script (#11049)
  scripts/migrations/delete_merge_debug.py
  scripts/utils/graceful_shutdown.py
Due: generate-pot

scaffolding for 102626 ol registration
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot
