Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

generate-pot:
  name: Generate POT
  description: This hook generates the .pot file for internationalization.
  entry: python ./scripts/i18n-messages extract --skip-untracked
  language: python
  pass_filenames: false
  additional_dependencies:
  - Babel==2.12.1
  - multipart==0.2.4
  ...

detect-missing-i18n:
  name: Detect missing i18n
  description: This hook checks .html files for i18n strings that might be missing.
  entry: python ./scripts/detect_missing_i18n.py
  language: python
  verbose: true
  require_serial: true

fix clicktrack properties
  openlibrary/templates/book_providers/cita_press_download_options.html
  openlibrary/templates/book_providers/gutenberg_download_options.html
  openlibrary/templates/book_providers/ia_download_options.html
  openlibrary/templates/book_providers/librivox_download_options.html
  openlibrary/templates/book_providers/openstax_download_options.html
  openlibrary/templates/book_providers/standard_ebooks_download_options.html
  openlibrary/templates/book_providers/wikisource_download_options.html
Due: generate-pot, detect-missing-i18n

fix: UX change in Author Page
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/author/view.html
Due: generate-pot, detect-missing-i18n

better internalerror page
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/internalerror.html
Due: generate-pot, detect-missing-i18n

fix internal error msg
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/internalerror.html
Due: generate-pot, detect-missing-i18n

fix previous typo
  openlibrary/i18n/messages.pot
  openlibrary/templates/internalerror.html
Due: generate-pot, detect-missing-i18n

add tags, rm builder prune, background ssh (#10410)
  scripts/deployment/deploy.sh
Due: none

fix typo
  openlibrary/i18n/messages.pot
  openlibrary/templates/internalerror.html
Due: generate-pot, detect-missing-i18n

Added link tracks to all download options (#9837)
  openlibrary/templates/book_providers/cita_press_download_options.html
  openlibrary/templates/book_providers/gutenberg_download_options.html
  openlibrary/templates/book_providers/ia_download_options.html
  openlibrary/templates/book_providers/librivox_download_options.html
  openlibrary/templates/book_providers/openstax_download_options.html
  openlibrary/templates/book_providers/standard_ebooks_download_options.html
  openlibrary/templates/book_providers/wikisource_download_options.html
Due: generate-pot, detect-missing-i18n

updated manifest
  static/images/Screenshots/ListsDesktop.png
  static/images/Screenshots/ListsMobile.jpg
  static/images/Screenshots/MainPageDesktop.jpeg
  static/images/Screenshots/MainPageMobile.jpg
  static/images/Screenshots/SearchBooksDesktop.png
  static/images/Screenshots/SearchMobile.jpg
  static/images/Screenshots/StudentLibraryDesktop.png
  static/images/Screenshots/StudentLibraryMobile.jpg
  static/images/Screenshots/TrendingDesktop.png
  static/images/Screenshots/TrendingMobile.jpg
  static/manifest.json
Due: none

simplify post login follow flow
  openlibrary/core/follows.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

fixed stylelint errors (#9912)
  static/css/components/form.olform.less
  static/css/page-edit.less
Due: none

Add post login action - follow (#10365)
  openlibrary/core/follows.py
  openlibrary/macros/Follow.html
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/login.html
Due: generate-pot, detect-missing-i18n

replaced push_scope with new_scope in sentry.py
  openlibrary/utils/sentry.py
Due: generate-pot

add read stats in addition to borrows (#10349)
  openlibrary/plugins/upstream/borrow.py
Due: generate-pot

Fix empty brackets after author name when birth/death dates contain non-numeric characters
  openlibrary/core/helpers.py
  openlibrary/macros/BookByline.html
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/people/view.html
Due: generate-pot, detect-missing-i18n

Fix: Display correct author dates when birth/death years contain non-numeric characters
  openlibrary/core/helpers.py
  openlibrary/macros/BookByline.html
Due: generate-pot, detect-missing-i18n

scripts
  scripts/providers/import_wikisource.py
Due: generate-pot

Comments added
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Change initialization order of ILE and editions datatable for magic select
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/plugins/openlibrary/js/index.js
  static/css/components/editions.less
Due: none

Fix edge case for magic select interaction with edition table
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/plugins/openlibrary/js/index.js
Due: none

fix: Developer Quickstart Guide link takes to contributing page now
  Readme.md
Due: none

Update logging statements to avoid `UnboundLocalError`s
  openlibrary/data/dump.py
Due: generate-pot

Revert `xopen` change
  openlibrary/data/dump.py
Due: generate-pot

Permit `Needs: Response` labeling for PRs
  .github/workflows/new_comment_digest.yml
Due: none

(RUF012) Fixed mutable class Defaults- Task 2 (#10286)
  openlibrary/tests/core/test_db.py
  openlibrary/utils/schema.py
Due: generate-pot

fix import
  openlibrary/plugins/worksearch/schemes/__init__.py
Due: generate-pot

add sanitize_query util func and add test
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
  openlibrary/solr/query_utils.py
Due: generate-pot

remove unnecessary test file
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
Due: generate-pot

WIP - need to tweak sanitize func
  openlibrary/solr/query_utils.py
Due: generate-pot

change func name, and definition to close open double quote and edit tests
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/solr/query_utils.py
Due: generate-pot

tweak sanitize_query func and add tests to test_works.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/tests/test_SearchScheme.py
  openlibrary/solr/query_utils.py
Due: generate-pot

rename func to more general name and changed it to be open to other symbols and logic
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/solr/query_utils.py
Due: generate-pot

Fix broken jump link
  docker/README.md
Due: none

streamline code
  openlibrary/solr/query_utils.py
Due: generate-pot

Update openlibrary/templates/internalerror.html
  openlibrary/templates/internalerror.html
Due: generate-pot, detect-missing-i18n

Update messages.po
  openlibrary/i18n/sc/messages.po
Due: none

Fix: Updated helpers, BookByline, and test_helpers
  openlibrary/core/helpers.py
  openlibrary/macros/BookByline.html
  openlibrary/tests/core/test_helpers.py
Due: generate-pot, detect-missing-i18n

Update openlibrary/templates/covers/add.html
  openlibrary/templates/covers/add.html
Due: generate-pot, detect-missing-i18n

Implemented suggestions
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/covers/add.html
  static/css/page-form.less
Due: generate-pot, detect-missing-i18n

Path conditions:
  generate-pot: any of: \.py$, \.(html|htm|xhtml)$
  detect-missing-i18n: any of: \.(html|htm|xhtml)$
