Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.4.1
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson
          - fastapi

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.7.0
          - eslint-plugin-vue@9.32.0
          - "@babel/eslint-parser@7.28.0"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.29.0"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@16.22.0
        - stylelint-declaration-strict-value@1.10.11
        - postcss-less@6.0.0
        - stylelint-prettier@5.0.3
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"
        - fastapi==0.119.0 # annoyingly, these three needed to be added when we started using contextvars in i18n files
        - simplejson==3.19.1
        - requests==2.32.4

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

feat(a11y): declare lang on edition titles when the edition language is known
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/edition/compact_title.html
  openlibrary/templates/type/edition/title_and_author.html
  openlibrary/templates/type/edition/view.html
Due: generate-pot, detect-missing-i18n

test(solr): pin that a poll mark and its stamp are ONE write, not two
  scripts/solr_updater/tests/test_loan_availability_updater.py
Due: generate-pot

fix: add extract_numeric_id_from_olid import to borrow.py
  openlibrary/plugins/upstream/borrow.py
Due: generate-pot

fix: add missing YEARLY_READING_GOALS_DDL constant for ruff-check
  openlibrary/tests/core/test_db.py
Due: generate-pot

test(solr): execute the shipped entrypoint, not only main() in-process
  scripts/solr_updater/loan_availability_updater.py
  scripts/solr_updater/tests/test_loan_availability_updater.py
  scripts/solr_updater/tests/test_updater_integration.py
Due: generate-pot

fix: absolutely position progress bar text overlay so it renders inside the bar
  static/css/components/reading-goal.css
Due: none

docs(solr): drop the last three claims that the clear breaker still gates
  docs/ai/solr/index.md
  scripts/solr_updater/loan_availability_updater.py
Due: generate-pot

fix: position separator at exact center of progress bar
  static/css/components/reading-goal.css
Due: none

Lead the stacks with a pinned Trending shelf
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/home_genres.py
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/openlibrary/tests/test_partials.py
Due: generate-pot

Keep the open stack in the URL so it survives a trip to a book
  openlibrary/plugins/openlibrary/js/browse-stacks.js
  openlibrary/templates/home/browse_stacks.html.jinja
Due: none

Rest the shelf rows' first cover on the headings' left edge
  static/css/components/browse-stacks.css
Due: none

migrate all infobase entities to fastapi
  openlibrary/asgi_app.py
  openlibrary/fastapi/entities.py
  openlibrary/tests/fastapi/test_entities.py
Due: generate-pot

update put api access for bots/admins
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/entities.py
  openlibrary/tests/fastapi/test_entities.py
Due: generate-pot

rename entity -> thing; rename require_can_write -> require_api_permissions
  openlibrary/asgi_app.py
  openlibrary/fastapi/auth.py
  openlibrary/fastapi/things.py
  openlibrary/tests/fastapi/test_things.py
Due: generate-pot

add reverse test: schema required fields must exist on model
  openlibrary/tests/fastapi/test_things.py
Due: generate-pot

add all optional schema fields to response models; add coverage test
  openlibrary/fastapi/things.py
  openlibrary/tests/fastapi/test_things.py
Due: generate-pot

add test ensuring response model fields exist in JSON schemas
  openlibrary/tests/fastapi/test_things.py
Due: generate-pot

Use fq directly for list carousel terms filter
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Add genres, subgenres and audiences to WorkResponse to match work schema
  openlibrary/fastapi/things.py
Due: generate-pot

Use a terms filter for list carousel Solr queries (#13408)
  openlibrary/plugins/worksearch/code.py
Due: generate-pot

Retire the onboarding carousel's librarian card
  openlibrary/i18n/messages.pot
  openlibrary/templates/home/welcome.html
  static/images/onboarding/librarian.png
Due: generate-pot, detect-missing-i18n

Set the call-out's facts in a side column and drop the stats card's 28-day link
  openlibrary/i18n/messages.pot
  openlibrary/templates/home/library_row.html.jinja
  static/css/components/library-row.css
  static/css/tokens/spacing.css
Due: none

Add the librarian call-out and a compact stats card to the home page
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/index.html
  openlibrary/templates/home/library_row.html.jinja
  openlibrary/templates/home/stats.html
  static/css/components/home.css
  static/css/components/library-row.css
  static/css/page-home.css
  static/css/tokens/colors.css
  static/icons/src/lucide/landmark.svg
Due: generate-pot, detect-missing-i18n

Raise the home page CSS budget to 9KB
  bundlesize.config.json
Due: none

Merge pull request #13749 from cdrini/provision-ubuntu
  scripts/deployment/provision_olserver.sh
  tests/test_docker_compose.py
Due: generate-pot

feat: sidebar redesign - reading goal, profile pill, lists card, share button
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/topmenu.html
  openlibrary/templates/account/view.html
  openlibrary/templates/reading_goals/reading_goal_progress.html.jinja
  static/css/components/mybooks-details.css
  static/css/components/mybooks-menu.css
  static/icons/src/lucide/lock.svg
Due: generate-pot, detect-missing-i18n

feat(components): ol-tag-picker type-ahead Tag picker (#13815)
  openlibrary/components/lit/OlTagPicker.js
  openlibrary/components/lit/index.js
Due: none

test(components): ol-tag-picker unit + axe a11y tests (#13815)
  openlibrary/components/__tests__/OlTagPicker.a11y.test.js
  openlibrary/components/lit/OlTagPicker.js
  tests/unit/js/OlTagPicker.test.js
Due: none

feat(design): register ol-tag-picker on /design (#13815)
  openlibrary/plugins/openlibrary/design.py
  openlibrary/templates/design/components/tag-picker.html.jinja
Due: generate-pot

State the stats card's time window in its heading
  openlibrary/i18n/messages.pot
  openlibrary/templates/home/library_row.html.jinja
  static/css/components/library-row.css
Due: none

fix(design): correct genres demo keys; drop chevron on the + Add trigger (#13815)
  openlibrary/components/lit/OlTagPicker.js
  openlibrary/templates/design/components/tag-picker.html.jinja
Due: none

fix(components): address adversarial review of ol-tag-picker (#13815)
  openlibrary/components/lit/OlTagPicker.js
  tests/unit/js/OlTagPicker.test.js
Due: none

chore: fix typos and trim codespell ignore list
  .github/workflows/pr_autoresponder.yml
  docs/imports/bookworm-import-contract.md
  docs/search/text-analysis.md
  openlibrary/plugins/openlibrary/js/search-modal/constants.js
  openlibrary/tests/core/test_acquisitions_weave.py
  pyproject.toml
  scripts/solr_builder/solr_builder/solr_builder.py
  tests/unit/js/searchModalConstants.test.js
Due: generate-pot

chore(agentic): switch Claude auth to openlibrary-bot subscription token
  .github/workflows/code_review_action.yml
  .github/workflows/issue_enrichment.yml
  .github/workflows/pr_autoresponder.yml
Due: none

Restore two rules #13828 removed that are still live
  static/css/components/tagging-menu.css
  static/css/page-edit.css
Due: none

Keep the tagger badge classes searchable
  openlibrary/plugins/openlibrary/js/bulk-tagger/BulkTagger/MenuOption.js
  static/css/components/tagging-menu.css
  static/css/page-edit.css
Due: none

docs: KB rules + fix wrong dev-port facts and stale links (#13835)
  docs/CONTRIBUTING.md
  docs/client-and-bots/README.md
  docs/core/README.md
  docs/features/activity-feed.md
  docs/search/index.md
Due: none
