Repository internetarchive/openlibrary: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-pot, detect-missing-i18n

.pre-commit-config.yaml:

# To enable this pre-commit hook run:
# `pip install pre-commit` or `brew install pre-commit`
# Then run `pre-commit install`

# Learn more about this config here: https://pre-commit.com/
default_language_version:
  python: python3.12

ci:
  submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        types_or: [python]
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black  # See pyproject.toml for args

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli
        args: ["--skip", "*.mjs"]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    - id: cython-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy  # See pyproject.toml for args
        additional_dependencies:
          - types-PyYAML
          - types-aiofiles
          - types-python-dateutil
          - types-requests
          - types-simplejson

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        types: [file]
        types_or: [javascript, vue]
        additional_dependencies:
          - eslint@8.49.0
          - eslint-plugin-no-jquery@2.6.0
          - eslint-plugin-vue@9.17.0
          - "@babel/eslint-parser@7.22.15"
          - "@babel/plugin-syntax-dynamic-import@7.8.3"
          - "@babel/preset-env@7.22.20"
        args: [--fix]

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      files: \.(css|less)$
      additional_dependencies:
        - stylelint@15.10.1
        - stylelint-declaration-strict-value@1.9.2
        - postcss-less@3.1.4
      args: [--fix]

  - repo: local
    hooks:
    - id: generate-pot
      name: Generate POT
      description: This hook generates the .pot file for internationalization.
      entry: python ./scripts/i18n-messages extract --skip-untracked
      types_or: [python, html]
      language: python
      pass_filenames: false
      # Dependencies must be manually updated to match versions in requirements.txt
      additional_dependencies:
        - Babel==2.12.1
        - multipart==0.2.4
        - "git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382"

  - repo: local
    hooks:
    - id: detect-missing-i18n
      name: Detect missing i18n
      description: This hook checks .html files for i18n strings that might be missing.
      entry: python ./scripts/detect_missing_i18n.py
      types: [html]
      language: python
      verbose: true
      require_serial: true

Fix tagging and add release link
  scripts/deployment/deploy.sh
Due: none

only serve availability for non-bots
  openlibrary/core/lending.py
Due: generate-pot

change to function call
  openlibrary/core/lending.py
Due: generate-pot

avoid circular dependency
  openlibrary/core/lending.py
Due: generate-pot

Update JS tests
  tests/unit/js/signup.test.js
Due: none

Fix JS errors
  openlibrary/plugins/openlibrary/js/signup.js
Due: none

Fix for linter
  openlibrary/plugins/upstream/account.py
Due: generate-pot

updated merge
  openlibrary/components/MergeUI/MergeTable.vue
Due: none

Serve solr-based availability for bots
  openlibrary/book_providers.py
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/schemes/works.py
Due: generate-pot

Updates from pair programming session
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/create.html
  openlibrary/templates/email/account/pd_request.html
Due: generate-pot, detect-missing-i18n

Ensure `pda` cookie set on account creation
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Render qualifying authority selector on form submission failure
  openlibrary/plugins/upstream/account.py
Due: generate-pot

removed waitingloan table in infobase_schema and schema and associated code in core/lending.py and core/models.py
  openlibrary/core/infobase_schema.sql
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/core/schema.py
Due: generate-pot

Added phase 1 of feedback widget feature. Included testing for api as well.
  openlibrary/core/feedback.py
  openlibrary/core/schema.sql
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/feedback-widget.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/tests/test_feedback.py
  openlibrary/templates/subjects.html
  static/css/components/feedback-widget.less
  static/css/js-all.less
Due: generate-pot, detect-missing-i18n

Fixing lint and pre commit ci errors
  openlibrary/plugins/openlibrary/api.py
  openlibrary/templates/subjects.html
  package-lock.json
  static/css/components/feedback-widget.less
  static/css/js-all.less
Due: generate-pot, detect-missing-i18n

Add i18n tags to feedback widget
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

Fixed i18n tags templator to feedback widget
  openlibrary/templates/subjects.html
Due: generate-pot, detect-missing-i18n

i think this is working?
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

oops
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

is this passing for real???
  openlibrary/catalog/add_book/tests/test_add_book.py
Due: generate-pot

extraneous space
  openlibrary/catalog/add_book/__init__.py
Due: generate-pot

Avoid setting `rpd` cookie on first login
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Show PDA selector when box checked on page load
  openlibrary/plugins/openlibrary/js/signup.js
Due: none

Update utils.py
  openlibrary/plugins/upstream/utils.py
Due: generate-pot

Update index.html
  openlibrary/templates/home/index.html
Due: generate-pot, detect-missing-i18n

Update custom_ia_carousel.html
  openlibrary/templates/home/custom_ia_carousel.html
Due: generate-pot, detect-missing-i18n

Update QueryCarousel.html
  openlibrary/macros/QueryCarousel.html
Due: generate-pot, detect-missing-i18n

Add email advisory to account create view
  openlibrary/templates/account/create.html
  static/css/page-signup.less
Due: generate-pot, detect-missing-i18n

Update checkbox copy
  openlibrary/plugins/upstream/forms.py
Due: generate-pot

Move PD queries to new module
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Add informational flash message to `pd` requesters on initial login
  openlibrary/plugins/upstream/account.py
Due: generate-pot

Set fallback pda value for `unqualified` patrons
  openlibrary/plugins/upstream/account.py
Due: generate-pot

test: add new book
  test/e2e/addBook.spec.ts
  test/e2e/login.spec.ts
  test/e2e/signup.spec.ts
  test/helper-config.ts
  test/pages/AddBookPage.ts
  test/pages/LoginPage.ts
  test/pages/SignupPage.ts
  test/playwright.config.js
Due: none

Remove label for `pd_program` select element
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

Add client-side validation for `pda` selection
  openlibrary/plugins/openlibrary/js/signup.js
  openlibrary/templates/account/create.html
  static/css/page-signup.less
Due: generate-pot, detect-missing-i18n

Add fall-back return value to `get_pd_org`
  openlibrary/plugins/openlibrary/pd.py
Due: generate-pot

Update copy
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n

Update pd_request.html
  openlibrary/templates/email/account/pd_request.html
Due: generate-pot, detect-missing-i18n

update copy
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
Due: generate-pot, detect-missing-i18n
